[2020-01-19 04:26] anubh-v opened #1006 "User Guide: Errors in "Tool Bar" section"
(1) The UG mentions that the `Sort Groups by` and `Sort within groups by` features have an option to sort by `Repo / Branch`, which is not true.

(2) The instructions for the `Sort within groups by` feature use the term "sub-group", which is a little unclear. Instead, we can use the phrase "the entities within the group will be sorted by..."

![image](https://user-images.githubusercontent.com/3562

[2020-01-19 07:41] anubh-v opened #1007 "Refactor JS code used for the adjustable center divider"
This is a suggestion; need some input from those who've worked more on frontend if this is a good idea.

Currently, it seems that the logic used for the center divider is quite independent from the other code in `main.js`. Perhaps we can separate it into its own file?

Relevant code snippet:
https://github.com/reposense/RepoSense/blob/f1e78063acc0178e9bd22ba8e6a78c9de46beb0d/frontend/src/static/js

[2020-01-19 08:12] anubh-v commented on #1007
@fzdy1914, may I get your thoughts?

[2020-01-19 08:24] jamessspanggg commented on #1005
Instead of making the file paths scrollable, how bout just break the path text into next line when it overflows?

[2020-01-19 08:49] jamessspanggg opened #1009 "Appveyor CI is failing"
Appveyor CI is current failing in all PRs with the following lines:

<img width="815" alt="Screen Shot 2020-01-20 at 12 42 20 PM" src="https://user-images.githubusercontent.com/32864116/72699196-6258de80-3b82-11ea-9446-4c13d110b8e6.png">
<img width="836" alt="Screen Shot 2020-01-20 at 12 42 42 PM" src="https://user-images.githubusercontent.com/32864116/72699198-6422a200-3b82-11ea-8566-055f8d3f36a7

[2020-01-19 09:01] jamessspanggg opened #1010 "Code Panel: long lines of code takes up large horizontal space"
Currently, every line of code takes up a single line of space, no matter how long it is.

Lines of code that are long will then take up large horizontal space:
![Kapture 2020-01-19 at 16 59 14](https://user-images.githubusercontent.com/32864116/72678031-21f35500-3add-11ea-87c5-d6877a05340b.gif)

[2020-01-19 09:03] jamessspanggg commented on #1010
GitHub currently breaks every line into the next when it overflows:

<img width="691" alt="Screen Shot 2020-01-19 at 5 01 12 PM" src="https://user-images.githubusercontent.com/32864116/72678069-6bdc3b00-3add-11ea-84ac-c16a8673bd3c.png">

Prof @damithc, should we follow GitHub's way of displaying every line of code?

[2020-01-19 10:13] fzdy1914 commented on #1007
If we are not abstracting out tab wrapper from the index, I don't think there is a need to separate it in an own file.

[2020-01-19 10:41] #181 closed

[2020-01-19 11:43] jamessspanggg commented on #1009
May be due to AppVeyor's recent Windows image update: https://www.appveyor.com/updates/

[2020-01-19 11:53] damithc commented on #1010
Yes, that seem like a good idea.

[2020-01-19 15:38] anubh-v commented on #1005
That will work as well.
Another option is to shorten the displayed file path by omitting the intermediate directories in the filepath.

Instead of showing:
[code]
we could show

`src/test/.../require_trailing_whitespaces/repoconfig_redundantLines_test.csv`

[2020-01-19 19:47] Tejas2805 commented on #994
@anubh-v Didn't get this issue exactly. All seems to be fine locally. I believe the User Guide isn't updated on the repo. Could you check that once? If you think the issue still persists, do elaborate a bit on it for my clearer understanding.

[2020-01-19 20:19] Tejas2805 opened #1012 "`Sort groups by` and `Sort within groups by`: Repo/Branch"
Based on Issue #1006 we have realized that there is no option to `sort groups by` and `sort within groups by` by Repo/Branch. Let's implement it.

[2020-01-20 02:29] jamessspanggg commented on #1012
If the `Repo/Branch` is selected for the `group by` option, then `group title` for `sort groups by` option is `Repo/Branch`. If the `Author` is selected for the `group by` option, then `group title` for `sort within groups by` option is `Repo/Branch`.

[2020-01-20 02:33] jamessspanggg commented on #1006
(1)

You can refer here for more on our last discussion: https://github.com/reposense/RepoSense/pull/668

[2020-01-20 04:06] 0blivious commented on #1009
I feel the failed test is actually the 2 below. However, I am unable to reproduce them locally.
![image](https://user-images.githubusercontent.com/39231750/72697952-fde75080-3b7c-11ea-8aea-e64700a595bc.png)
![image](https://user-images.githubusercontent.com/39231750/72697999-2ff8b280-3b7d-11ea-87e0-b8dd1456704c.png)

[2020-01-20 04:21] fzdy1914 commented on #1009
@reposense/devs Please help with this issue and try to get it solved quickly.

[2020-01-20 04:24] Tejas2805 commented on #1012
Alright, it makes sense. Closing this issue down.

[2020-01-20 04:24] #1012 closed

[2020-01-20 05:43] fzdy1914 commented on #1009
![image](https://user-images.githubusercontent.com/35621726/72701590-c67fa080-3b8a-11ea-9057-0cec4a576f03.png)

[2020-01-20 07:28] jamessspanggg commented on #1009
With the update, using `git checkout` to a branch with illegal window file names will incur an exception...

[2020-01-20 07:40] jylee-git commented on #1009
I actually think that these two test cases are no longer relevant and can be removed.

Reason: in windows, repos and branches that are to be analyzed would have been checked for illegal filenames via gitlstree (from the bare clone) before they are checked out from the bare repo to the actual ones

[2020-01-20 09:41] jylee-git commented on #1009
Investigating further, the test cases worked on Git 2.23 but not any versions beyond that.

Current version is 2.25 and that's the version that the AppVeyor is now on with the latest update

[2020-01-20 12:13] anubh-v opened #1014 "RepoConfiguration: Several methods are unused"
The following methods in `RepoConfiguration` class are unused:

- `getIgnoredAuthorsList`
- `isIgnoredAuthorsListOverriding`
- `addAuthor`
- `setAuthorConfiguration`
- `containsAuthor`
- `setGroups`
- `getOrganization`

I'm still trying to determine whether these should be removed.
Will update this issue when I have a better idea.
If anyone has more information about why these methods have been ke

[2020-01-20 13:32] 0blivious commented on #1009
As updated from Git v2.24, Git for windows would print error for illegal file name and prevent it from adding into index. As in our test cases we run the command `git checkout someInvalidName`, an exception is expected to be thrown, and since we do not catch it, the test fail. An work around in local machine is to disable `core.protectNTFS`.

The doc for `protectNTFS` can be found here. It is set

[2020-01-20 13:55] yong24s commented on #1009
Let's remove the two outdated tests.

Well done in the prompt investigation and thank you for the effort 👍.

[2020-01-20 17:54] Tejas2805 commented on #873
Based on what we discussed with Prof in class, removing the label `s.ToDiscuss` and making it a issue to be worked on

[2020-01-20 17:55] Tejas2805 commented on #996
Part of #873

[2020-01-20 17:58] Tejas2805 commented on #719
@eugenepeh How would you prefer to separate them out ?

[2020-01-20 20:58] Tejas2805 opened #1016 "Add link to author's profile for `group by` Author"
Since we are aiming for consistency among the different views, we can think of implementing a link to the author's profile when `merge Group` and `group by Author` options are selected. As working on #873, will add octocat icon for merge Group for `group by Repo/Branch`

[2020-01-20 23:15] Tejas2805 commented on #956
Based on a bit of what I researched regarding this, I agree with @fzdy1914 that it is possible. We can run several builds together in a single build command, which will help us in deploying both the dashboard and the MarkBind site together.

Regarding viewing of PRs, there are two ways which I think can be used to handle this:

1) To create a repository inside reposense which handles the documenta

[2020-01-21 03:56] damithc commented on #956
I like this option as it ensures code and docs get updated together.

[2020-01-21 04:01] anubh-v commented on #469
@damithc, what do you mean by "code taken over" ?
Does it mean a new author has become responsible for some code snippet?

[2020-01-21 04:46] damithc commented on #469
The author of the line as per RepoSense dashboard was not the person who added that line to begin with.

[2020-01-21 05:13] #1009 closed

[2020-01-21 05:43] #940 closed

[2020-01-21 08:29] Tejas2805 commented on #1016
@damithc @fzdy1914 @jamessspanggg require your feedback.

[2020-01-21 08:49] fzdy1914 commented on #1016
I think it is a good idea.

[2020-01-21 12:38] damithc commented on #1016
No objections from me. :+1:

[2020-01-22 06:15] Tejas2805 commented on #1014
Maybe you can look into the PR which added them and understand why were they added? And we can discuss from there?

[2020-01-22 11:31] #879 closed

[2020-01-22 12:27] 0blivious opened #1019 "Fail to analyse repo"
After merge PR #969, Reposense fail to analyse repo that was once working before the commit. And Intellij report that is due to java.lang.ArrayIndexOutOfBoundsException at CommitInfoAnalyzer.

Arguments to reproduce `-Dargs="--repos https://github.com/CS2103-AY1819S2-W15-2/main.git --output output_path/ --since 21/10/2017 --until 21/11/2019 --view"`

![image](https://user-images.githubusercontent.

[2020-01-22 15:03] eugenepeh commented on #719
My bad, should've included more context.
What I meant was to increase the level of abstractions and to extract out all the static calculations etc to separate js files.

For e.g. [v_summary.js](https://github.com/reposense/RepoSense/blob/master/frontend/src/static/js/v_summary.js)
It has too many static functions lying around such as `dateRounding`, and many of the calculations can be refactor int

[2020-01-23 07:37] #885 closed

[2020-01-23 14:51] jamessspanggg commented on #1019
Did an investigation. Apparently the bug is due to commits that have no changes (i.e. empty commits with `git commit --allow-empty`).

With these commits, the `ref names` in GitLog will be empty. The regex then fails to split the git log result to also obtain the ref name, hence accessing the ref name index will incur an ArrayOutOfBoundsException.

[2020-01-24 01:31] Tejas2805 opened #1021 "Make base URL a variable"
As discussed in PR #1017 , `https://gtihub.com` is used at several points in our js files.
Let's keep the base URL as a variable.

[2020-01-24 04:09] anubh-v opened #1022 "FileInfoAnalyzer: Deprecate the "//@reused" tag"
Currently, `FileInfoAnalyzer` will not analyse a file if the first line of the file has the `//@reused` string.
The file will not be included in the final Code Panel view.

May I check what is the meaning of this `//@reused` mechanism?
Is it meant as a way to omit files?

Relevant code snippets:
https://github.com/reposense/RepoSense/blob/6fe782466dc827ab5c37c095000dfaba6e2ee3db/src/main/java/repo

[2020-01-24 06:58] anubh-v commented on #1022
@fzdy1914, may I check with you about this? Thanks for your time.

[2020-01-24 08:56] anubh-v commented on #823
I investigated this bug.
The problem seems to lie in `AnnotatorAnalyzer#aggregateAnnotationAuthorInfo`.

Code snippet:
https://github.com/reposense/RepoSense/blob/6fe782466dc827ab5c37c095000dfaba6e2ee3db/src/main/java/reposense/authorship/analyzer/AnnotatorAnalyzer.java#L25-L46

The bug arises because:
(1) When `@@author some-randomuser` is used in the file, `AnnotatorAnalyzer` considers this anno

[2020-01-24 10:35] eugenepeh commented on #1022
@anubh-v the `@@reused` is a syntax used in CS2103 by [Collate](https://github.com/se-edu/collate) for students to self-declare that the specific chuck of code was taken from peers or other developers, and do not wish to include them into their contribution (in case of any issues arise due to plagiarism).

[2020-01-24 10:38] eugenepeh commented on #1022
If i am not mistaken, the correct syntax should begin with `@@` like author.
For some reason, we have forgotten to include it in the user guide.
@anubh-v could you help us to put up or rename this issue to highlight a fix?
Thanks!

[2020-01-24 10:48] anubh-v commented on #1022
Thanks for the response @eugenepeh.
I have a few clarifications:

I think the syntax being used is `//@reused`, as seen in the code snippet below:
https://github.com/reposense/RepoSense/blob/6fe782466dc827ab5c37c095000dfaba6e2ee3db/src/main/java/reposense/authorship/FileInfoAnalyzer.java#L27-L33

In the current code, this mechanism is being used to omit *files*, rather than *code blocks*.
I can ad

[2020-01-24 11:03] eugenepeh commented on #1022
Yes, I think its a typo.

Do we plan to use both `@@author` and `//@reused` for this purpose?

@damithc , for your input.

[2020-01-24 14:25] damithc commented on #1022
The way we used in the collate tool (a predecessor to RepoSenes) `@@reused` has no special meaning. It it treated as just another author. By giving the code to a fictitious author named `reused` the user can indicate which code was reused from elsewhere.

[2020-01-24 14:42] damithc commented on #1022
Sorry, I meant `@@author reused`, not `@@reused`. This `//@reused` thing seems to be some internal detail that I was unaware of.

[2020-01-25 06:37] yash-chowdhary commented on #1021
I'd like to take up this issue.
There are a few instances where functions return strings (like in `frontend/src/static /js/main.js`) -

[code]

There is also an instance where `http://reposense.org` is returned.
Would it be favourable to create a new `constants.js` file to avoid the use of magic variables?

[2020-01-25 11:50] 0blivious opened #1023 "Authorship Panel: expand all button always appear when first open the page"
Currently, the `expand all` button will always appear on the authorship panel when we first open the page or when refresh the page, until the loading is complete. The button to display is supposed to be `collapse all` as we are to display all the file details initially.

![Screenshot (14)](https://user-images.githubusercontent.com/39231750/73120597-5d919180-3fab-11ea-8d6e-40f3e9082f6e.png)

After

[2020-01-25 11:51] 0blivious commented on #1023
@damithc @fzdy1914 your opinion?

[2020-01-25 12:17] damithc commented on #1023
From the user POV, this seems like a good thing to do. 👍

[2020-01-25 12:21] fzdy1914 commented on #1023
Can, if only need to change the initial value.

[2020-01-25 14:28] anubh-v commented on #1022
Thanks @eugenepeh, and @damithc for the response.

From the code, my understanding is that RepoSense does not analyze files which have `//@reused` on their first line.

I verified this, by testing on [this repository](https://github.com/anubh-v/reposenseTest-alpha).
The repository contains the following file:
[code]
To generate a report for this repo,
run RepoSense with this command:
`--repo https

[2020-01-25 15:55] damithc commented on #1022
I don't remember such a feature but it is possible the feature was implemented without my knowledge (or I simply forgot about it). Feels like half-baked, given that `//` might not even be considered a comment in some languages.

[2020-01-26 08:04] 0blivious commented on #1023
A easy fix is to change the data's initial value to be 1. After looking through the code I feel it is unnecessary to keep the number and we can change this to a boolean variable. How do you feel about this?

[2020-01-27 11:17] eugenepeh commented on #1022
@anubh-v good finding, could you help me to verify something?
If the tag was replaced by an `@@author reused`, would the report spawn a ramp chart for an author named `reused`?

I think moving forward, we can probably either remove it (since it was added unknowingly by the original author), or we can modify it and make it another feature. E.g. `@@exclude` to exclude code from showing up on the rep

[2020-01-27 14:01] damithc commented on #1022
Agreed. I prefer removing as if in doubt we should go with the simpler solution.

[2020-01-27 15:33] Tejas2805 commented on #1021
Hey sorry for the late reply. If possible could you first give a small list of magic variables actually used? In case, they turn out to be a lot, we can then think of creating a new `constant.js` file?

[2020-01-29 08:40] #1001 closed

[2020-01-29 08:56] #984 closed

[2020-01-29 09:19] damithc opened #1024 "User Guide: broken formatting"
![image](https://user-images.githubusercontent.com/1673303/73343329-66d87200-42bb-11ea-8451-7d60ebffda07.png)

[2020-01-29 10:25] #988 closed

[2020-01-29 11:17] anubh-v commented on #1024
I think this is the same issue as #994 ?  Please let me know if this is not the case.
It is being tackled in PR #907

[2020-01-29 16:51] jamessspanggg opened #1026 "Zoom view's ramp chart changes according to summary view's settings"
While trying to fix #830, the following behaviour was found:

When toggling between settings such as `granularity` and `sinceDate` and `untilDate`, the zoom view's ramp chart updates itself accordingly. Is this intended? Or should the zoom view's ramp chart not be affected by the changes in summary?

![Kapture 2020-01-30 at 0 47 38](https://user-images.githubusercontent.com/32864116/73377563-34019

[2020-01-29 20:40] Tejas2805 commented on #1024
Tackling in #907

[2020-01-30 01:29] anubh-v commented on #1022
@eugenepeh, sorry for the late reply. There is an existing bug in the behaviour of the `@@author` tag (documented in #823), hence I needed a bit more time to respond. I will confirm the behaviour and respond by tonight.

[2020-01-30 02:12] fzdy1914 commented on #892
Or we can change the color beside the file type into a radio button with the corresponding color?

I believe the color is  repeated in all group because it is inconvenient to check each time on top to determine the file type for the color .

[2020-01-30 02:15] fzdy1914 opened #1027 "Weird arrangement with overlonged tag list in Zoom tab"
![image](https://user-images.githubusercontent.com/35621726/73414336-7c947880-4349-11ea-86b4-eace429e0053.png)

[2020-01-30 05:33] Tejas2805 commented on #1027
Is there a possibility of such a case?

[2020-01-30 12:04] fzdy1914 commented on #1026
From my experiment, only granularity will result in this error?

[2020-01-30 12:12] fzdy1914 commented on #1026
The inner reason is the `user` inside `info` property got updated when changing the granularity.
Sending a deep clone of the `info` when opens the tab should solve the problem.

[2020-01-30 12:13] fzdy1914 commented on #1027
Yes, when viewing the zoom tab of merged groups.

[2020-01-30 12:15] fzdy1914 commented on #1026
But I am not sure if it is better to correct it or not.

[2020-01-30 12:22] fzdy1914 commented on #1026
@damithc @eugenepeh  Can I know your idea if we need to synchronize the summary and tab?

For now, we allow the setting of summary and tab to be separated. For example, we may first open the authorship in the default view and then click the merged group. Then, the setting is different in two parts of our report.

If we synchronize the settings, we ensure that those settings can be synchronized to

[2020-01-30 12:23] eugenepeh commented on #1026
I think we can leave it for now, its not _exactly_ a bug that we need to rush in to fix it.
Just to check, does merge ramp affects this behavior?

[2020-01-30 12:28] fzdy1914 commented on #1026
However, if we need to restore the zoom tab, we need to decide what exact page we want to reproduce. So maybe we can get the answer here and then modify it gradually to the target during the development.

[2020-01-30 12:32] eugenepeh commented on #1026
For now, I would think the having the correct date range and the last opened (the author) zoom tab would be sufficient. It is normal to have some non-important controls get reset back to default upon refresh etc, especially for a non-critical component like zoom tab

Can seek @damithc 's opinion too

[2020-01-30 13:25] jamessspanggg opened #1029 "Contribution bar UI error"
May be a regression due to PR #1003.

<img width="778" alt="Screen Shot 2020-01-30 at 9 24 33 PM" src="https://user-images.githubusercontent.com/32864116/73453411-e98a2b80-43a6-11ea-84d1-9317ee827a0f.png">

[2020-01-30 13:35] jamessspanggg commented on #1026
Modifying `since date` and `until date` in summary will also result to this error. However, the error will only exist when the updated since/until date does not contain the commits in the zoom tab. I suspect it's because the `filteredUser` in zoom tab is updated such that it does not contain the previous commits anymore.

![Kapture 2020-01-30 at 21 32 55](https://user-images.githubusercontent.com/

[2020-01-30 13:48] damithc commented on #1026
Yes, let's go with that.

[2020-01-30 13:51] damithc commented on #1029
Need to fix quickly as I'm using the master branch for CS2113.

[2020-01-30 14:05] jamessspanggg commented on #1029
@damithc noted prof.

[2020-01-30 14:23] 0blivious opened #1031 "Commits panel: ramp appears outside row"
In Commits panel, the left part of the ramp goes out of the blue rectangle as shown in the image below. It should be cropped like what we did for the Chart panel.

![image](https://user-images.githubusercontent.com/39231750/73457629-ee52dd80-43ae-11ea-93aa-c6dd28207363.png)

[2020-01-30 15:11] anubh-v commented on #1022
@eugenepeh I tested running RepoSense on a file with a `@@author reused tag`.
There will be no separate ramp chart created for the author named `reused`.

![image](https://user-images.githubusercontent.com/35621759/73461759-a3889400-43b5-11ea-8536-9a3b9a9020ad.png)

The above chart was generated by running RepoSense on [this repo](https://github.com/anubh-v/reposenseTest-alpha).

[2020-01-30 15:38] eugenepeh commented on #1022
Thanks @anubh-v , looks like that is also something needed to be fixed

[2020-01-30 16:27] anubh-v commented on #1022
To clarify: if the user marks code with
`@@author random-user`, where `random-user` is **not** a git author name present in the standalone config, author-config csv or the list of authors that have contributed to the repo in the specified time period,

do we want a ramp chart for the `random-user` author?

Also, should I go ahead and remove the `//@reused` tag functionality?

[2020-01-30 20:41] Tejas2805 commented on #1029
Yup. I just checked. It's due to my PR #1003 Sorry about that.

[2020-01-31 01:47] damithc commented on #1022
I think the answer is no. If we want to track reused code, we can instruct students to use a specific author name to tag reused code e.g. `@@author reused` and also include `reused` as an author in config files.

[2020-01-31 02:26] anubh-v commented on #1022
@damithc, thanks for the response.

It was mentioned in #823 that `@@author random-user` is a means of disowning code.

So if we have the following file committed by a legitimate author with the the `anubh-v` git author name,
[code]

then:
- we do not want the lines in this file to be attributed to `anubh-v` (as discussed in #823)

- we do not want a ramp chart for the `random-user` author

Effect

[2020-01-31 03:09] anubh-v opened #1032 "Author: Copy constructor assigns `authorAliases` to `ignoreGlobList`"
In the `Author` class' copy constructor, we are assigning the copied instance's `authorAliases` to the original instance's `ignoreGlobList`.

See line 65 below:

https://github.com/reposense/RepoSense/blob/5b1fb323dc18c52e930158a4cdd184232dd8a826/src/main/java/reposense/model/Author.java#L60-L67

Is this intended? I think there might be a mistake here.

[2020-01-31 03:11] anubh-v commented on #1032
@jylee-git, @fzdy1914, may I check this with you?

[2020-01-31 03:54] yash-chowdhary commented on #1021
I suppose there aren't a lot of them to create a `constants.js` file.

For the current issue, the 2 files that could use the `baseUrl` variable are `frontend/src/static/js/v_summary.js` and `frontend/src/static/js/main.js`. Should I go ahead with this?

[2020-01-31 03:56] Tejas2805 commented on #1021
Yes, can go ahead.

[2020-01-31 04:40] damithc commented on #1022
Yes, unless random-user is listed in our configs as a legit author or RepoSense is configured to show all authors (IIRC, we have such a setting).

[2020-01-31 06:11] fzdy1914 commented on #1032
I think it should be a mistake.

[2020-01-31 09:58] anubh-v commented on #1022
Ok, understood.

What should be the resolution for the `//@reused` tag feature?
In my view, it serves the same purpose as the existing mechanism of ignoring files (by specifying in standalone and config csvs).

[2020-01-31 10:54] damithc commented on #1022
I vote to remove it.

[2020-01-31 11:21] anubh-v commented on #1032
@fzdy1914, in that case I'll submit a fix for this.
This isn't a very serious issue as this copy constructor is only used by 3 test cases, and even those are unaffected by this problem.

[2020-01-31 13:48] eugenepeh commented on #1022
Can be removed, we can bring it back in future if there's a need

Anyway back to the `@@author reused` in the earlier example, I would say without any config files, a ramp chart should be generated for `reused` by default so that users can troubleshoot it if there is any problem.

E.g. `Author A` labels all his code as `Author a`. The code didn't show up in the end because of the typo error (case-

[2020-01-31 14:21] damithc commented on #1022
That's a fair point but in some cases we only want to track certain authors. For example, tracking external contribution of CS3281&2 students in which hundreds of other authors could be contributing to the repo in the same period. Perhaps we can include a list of omitted authors in the log file or in the report in some other non-obtrusive way?

[2020-01-31 14:35] ccyccyccy opened #1037 "Summary Page: Error message extends out of red box if box is too thin"
![image](https://user-images.githubusercontent.com/32454748/73548501-db5a0f00-447b-11ea-8d90-36ed32e3d633.png)

The issue happens when the right panel is shortened too much.

[2020-01-31 16:52] eugenepeh commented on #1022
I just realized I word it wrongly. By `including those that did not contribute to the repo` ~in the specified time period~, I actually meant the "virtual" authors that were created by the `@@author` tag.

What I suggested is that, if no author configuration exist, we should also create a ramp chart displaying these "virtual" authors' contribution if it exist in the code base assuming that the chan

[2020-02-01 02:21] damithc commented on #1022
Yes, that is a good idea (if it can be done without much extra effort).

[2020-02-02 11:17] 0blivious opened #1041 "Authorship panel: date range not reactive"
When changing date settings such as sinceDate and untilDate in Chart panel, the corresponding date range in Authorship page is not updated. The date range will not updated even after closing and reopen the tab. It will only change after we reload the page.

May be we should make it reactive. At least the date should be updated when we reopen the tab.

[2020-02-02 13:39] #1029 closed

[2020-02-02 14:11] eugenepeh opened #1042 "Include deletion in contribution"
RepoSense should include all form of work done (including deletion). This is because deletion can be removing redundant codes, logic or refactoring etc. It is still a form of contribution as it may be introducing better code quality, project management and/or making product more efficient.

However, at the same time, we can't simply add the deletion into the the teams' contribution because it woul

[2020-02-02 15:39] jamessspanggg opened #1043 "Commit's date does not match with the real committed date"
When merge group is checked, some commits are seen with dates that does not match with its real committed date. Note that the commit says `[2018-05-06]`, but the real commit date is `2018-06-18`.
![Kapture 2020-02-02 at 23 28 04](https://user-images.githubusercontent.com/32864116/73610566-d760f500-4613-11ea-98af-a66195440165.gif)

When merge group is not checked, the exact commit shows the correct

[2020-02-02 16:10] jamessspanggg opened #1044 "Reset date range does not update the since and until date hashes"
To reproduce: modify the link since/until date url hashes. Reload the page. Click the reset date range button. Reload again to see that the dates are not updated. [link](https://deploy-preview-1008--reposense.netlify.com/#search=&sort=groupTitle&sortWithin=title&since=2017-10-09&timeframe=commit&mergegroup=false&groupSelect=groupByRepos&breakdown=false&until=2019-01-20)

![Kapture 2020-02-03 at 0

[2020-02-02 20:45] Tejas2805 opened #1046 "Duplicate code in v_summary.js"
There is duplicate code in v_summary.js.

![Screen Shot 2020-02-03 at 4 42 08 AM](https://user-images.githubusercontent.com/35946746/73615036-bdd5a280-463f-11ea-8530-fdb36030eddd.png)

![Screen Shot 2020-02-03 at 4 41 53 AM](https://user-images.githubusercontent.com/35946746/73615033-b4e4d100-463f-11ea-96b0-fc23b9a37976.png)

[2020-02-02 21:18] Tejas2805 commented on #1044
It seems to be working fine on mine.

[2020-02-03 01:46] jamessspanggg commented on #1044
@Tejas2805 can you try to following the steps to see if the same bug can be reproduced?

[2020-02-03 04:54] #964 closed

[2020-02-03 05:20] ang-zeyu commented on #927
Hi, I've investigated the issue and the problem seems to be an issue with the backend.

Briefly, its due to the commit extraction process, where the 2nd 300 line commit is extracted twice under 2 the usernames.

I'm interested in fixing this, but was there a reason this issue was tagged as `frontEnd`?

[2020-02-03 05:37] yash-chowdhary commented on #1046
I can work on this if it's still up for grabs.

[2020-02-03 05:40] Tejas2805 commented on #1046
Please go ahead.

[2020-02-03 05:45] openorclose opened #1047 "Hard to understand code snippet in v_summary.js"
https://github.com/reposense/RepoSense/blob/b98f31eaa04839fa7d3883b684f933bd51241a93/frontend/src/static/js/v_summary.js#L412-L415

This code checks to see if there exists at least one search term inside `user.searchPath`, which
can be easier to understand if changed to:

[code]

[2020-02-03 07:30] jylee-git opened #1049 "Inconsistent thickness of different contribution bars despite PR fix"
Following issue #181 and PR #976 , the issue of different thickness still exists

![image](https://user-images.githubusercontent.com/35756209/73633498-cf4b9880-4699-11ea-9075-2a543c09fb00.png)

https://github.com/reposense/RepoSense/blob/b98f31eaa04839fa7d3883b684f933bd51241a93/frontend/src/static/css/v_summary.scss#L168-L174

The height is reverted to `rem` for some reason.

[2020-02-03 10:44] fzdy1914 commented on #1049
It should be the same reason for #1003. It is my bad for not carefully check the merged content.

[2020-02-03 11:55] fzdy1914 commented on #1047
Yes, I think it is a good suggestion.

[2020-02-03 15:09] Tejas2805 commented on #1049
Sorry about this. :'(

I will fix this in #1017 ? If okay with both of you?

[2020-02-04 03:53] anubh-v commented on #1022
@eugenepeh, @damithc, would this be a single ramp chart that collates all work done by all virtual authors, or a separate ramp chart for each virtual author?

I think a single ramp chart is sufficient? Users could open the Code Panel and see all the files that have code attributed to the virtual authors.

[2020-02-04 04:49] yash-chowdhary opened #1052 "Add Issue Selector and Templates"
An issue selector looks something like [this](https://github.com/facebook/react/issues/new/choose). The purpose of this is to direct the user to different templates that they can follow to file the issues. Some users may forget to add information that _they_ might think is not relevant but _could_ potentially be relevant in the eyes of the developers. This would also help developers get a clearer

[2020-02-04 06:01] anubh-v commented on #823
@jylee-git, could we rename this issue's title so that bug is more understandable to other devs?

Perhaps the title can be: `AnnotatorAnalyzer: Bug in code disowning mechanism`
I can help to edit it, but I do not have the permissions currently.

[2020-02-04 06:40] jylee-git commented on #823
Done!

[2020-02-04 07:57] fzdy1914 commented on #1049
Yes, since it is a small change, just sneak it in #1017.

[2020-02-04 08:07] #1032 closed

[2020-02-04 08:55] Tejas2805 commented on #1052
I think this is a good idea. Let's wait for the senior devs to respond.

[2020-02-04 09:48] ccyccyccy commented on #1044
I believe this bug only happens you do not specify since and until date in the command line to generate the report, which as a result sets the `hasModifiedSinceDate`  and  `hasModifiedUntilDate` to false on initial loading of the page.

I can do a PR to bypass the check below, but I believe we can remove the `hasModifiedSinceDate` and `hasModifiedUntilDate` all together? I'm not too sure if they s

[2020-02-04 11:02] Tejas2805 opened #1054 "Large number of repos not analyzed"
There was a large number of repos which were not analyzed. Let's try to understand why.

![Screen Shot 2020-02-04 at 7 01 05 PM](https://user-images.githubusercontent.com/35946746/73739194-bc5fc380-4780-11ea-9417-a140e8b8448a.png)

[2020-02-04 11:44] anubh-v commented on #1054
Do you have the configs / exact command used for this?

[2020-02-04 12:21] damithc commented on #1054
It's here https://github.com/nus-cs2103-AY1920S2/ip-dashboard
Seems previously it was using the release version. I changed it just now to use master branch instead.
Output is here https://nus-cs2103-ay1920s2.github.io/ip-dashboard/
Can check after some time to see if using the master branch fixed the problem.

[2020-02-04 13:24] anubh-v commented on #1054
I've taken a look at the current dashboard. There are 5 repos that cannot be analyzed.

Here is what I found so far (will update as I identify the issues)

- Repo: https://github.com/TheElectricBlender/duke.git
  There is a file which has a name following this pattern: `$FILE_NAME$`.
  When we perform `git blame`, this file name is interpreted as `$` and an exception is thrown since
  there isn't

[2020-02-04 13:52] Tejas2805 commented on #1054
I have found out the issues for the rest. Have updated Prof

[2020-02-04 14:25] Tejas2805 commented on #1054
Closing this issue as it seems to be solved. Thanks for the help @anubh-v

[2020-02-04 14:25] #1054 closed

[2020-02-05 06:16] 0blivious commented on #1044
The code here did serve a purpose. It stores the date range and help restore the page when refresh. Pls dont remove it.

[2020-02-05 06:18] 0blivious commented on #1041
@fzdy1914 Can I ask your opinion on this?

[2020-02-05 06:27] ccyccyccy commented on #1044
Oops I mean removing the if() statements.
So instead of
[code]
We can change it to
[code]

[2020-02-05 06:38] ccyccyccy commented on #1044
I believe that the `hasModifiedSinceDate` indicates whether a value has been specified in the command line argument to generate the report, as written in the line
`hasModifiedSinceDate: window.app.isSinceDateProvided`
in `v_summary.js`, but is currently interpreted as whether a filter is set by the user on the dashboard.

[2020-02-05 07:13] 0blivious commented on #1044
I feel we should not add the hash if there is no need to do so. Maybe you should change the reset date function to rectify the behavior.

[2020-02-05 07:48] #1016 closed

[2020-02-05 09:32] #1019 closed

[2020-02-05 09:44] Tejas2805 commented on #1049
Fixed in #1017

[2020-02-05 09:44] #1049 closed

[2020-02-05 09:49] #1027 closed

[2020-02-05 10:04] fzdy1914 commented on #1041
I got a similar question before. I don't think the data range of authorship will be updated even we reload the page.

It is due to the inner design of splitting v_summary and v_authorship. Prof and other seniors believes that it is better to have separate controls for v_summary and v_authorship.

However, it may be a feature in the future to support this. :)

[2020-02-05 10:56] #920 closed

[2020-02-05 15:06] damithc commented on #1022
Feels like they should be separate i.e., the code will likely to be simper that way as there is less 'special' handling to do.

[2020-02-06 03:26] damithc opened #1058 "Provide a way to use GitHub actions to auto-generate the dashboard"
Current: users need to use Travis to auto-generate the dashboard periodically
Suggested: explore if GitHub actions can be given as an alternative

[2020-02-06 15:17] eugenepeh opened #1060 "Add time taken for analysis in report"
I think we should add a hidden time taken value in the report for our own benchmark purposes.
This allows us to do a rough gauge on the RepoSense's performance from e.g. automated nightly build of dashboard demo or CS2113 dashboard etc.

[2020-02-07 03:00] anubh-v commented on #1060
I'll attempt this

[2020-02-07 07:14] fzdy1914 commented on #1060
@eugenepeh How would you like the hidden time to be displayed? An attribute can be viewed in the Vue developer tool or a value hidden in the DOM?

[2020-02-07 07:39] anubh-v commented on #1060
Sorry, @eugenepeh, I might have mis-understood.
I understood this to be about adding a footnote indicating the time taken.

i.e. something like this:
![image](https://user-images.githubusercontent.com/35621759/74010219-ebb04380-49bf-11ea-8e97-7763d58cbb9a.png)

Is this what you meant?

[2020-02-07 09:31] anubh-v commented on #528
Compared with #18, I think this style will be better for user experience as it results in fewer rows.

However, suppose a user works on multiple repos and has different file paths for **ignore glob list** for each repo.

In that case, would they have to use the existing method of specifying one repo-location per row?

Or do we want to support some special syntax such that multiple sets of **ignore

[2020-02-07 15:51] eugenepeh commented on #950
I afraid the issue have arised again. We've used up 511/1000 build minutes in less than half a month. There might be a possibility where they will charge us $7 for every additional 500 build minutes.

We probably need to source for an alternative or slim down the build process so that it uses lesser time

![image](https://user-images.githubusercontent.com/19277206/74043224-effe5000-4a03-11ea-9f41-

[2020-02-07 15:54] eugenepeh commented on #1060
hidden in the dom will be preferred, so that it is not necessary to install the vue dev tool.

The time measured here is the time taken for cloning + analysis + generating json files, (excluding zipping the files).

Yes, something like that but this field should probably be hidden as the info is not particularly important to the readers.

[2020-02-07 16:00] eugenepeh opened #1061 "Netlify: slim down the build time"
This is related to https://github.com/reposense/RepoSense/issues/950; our build minutes usage are rather high and would be nice if anyone can look into gradle config and see what can we slim down from there that wouldn't cost us any loss of functionalities

This is the build command used in netlify fyi
[code]

[2020-02-07 16:10] eugenepeh commented on #528
This is complicating things. We shouldn't implement complicated logic for some unusual use cases, not to mention that this is also not very user friendly. We can assume that the `ignore glob list` entered will be applied to all the repos. If the user have differing requirements for different repos, they should key in as separate rows.

[2020-02-08 03:15] damithc commented on #950
Is it possible to get travis (better yet, GitHub actions) to push the site generated from each PR to gh-pages branch but to a different folder? e.g., `<gh-pages>/previews/123` `<gh-pages>/previews/124` ...

[2020-02-08 04:30] Tejas2805 commented on #950
https://medium.com/onfido-tech/travis-surge-github-auto-deploy-every-pr-branch-and-tag-a6c8c790831f

It looks like using Travis it might be possible. But I will have to try it though.

[2020-02-08 04:35] damithc commented on #950
Give it a try. Even better if we can push to gh-pages rather than another third party service surge.sh but that can be the next step. A further step would be to port the CI task from Travis to GitHub actions.

[2020-02-08 04:36] damithc commented on #950
It will be useful to get some inputs from our dev-ops expert @yong24s too

[2020-02-08 13:07] fzdy1914 commented on #950
I think it is a good idea.

[2020-02-09 05:58] anubh-v commented on #528
Thanks for the response @eugenepeh

Will proceed with this:

[2020-02-10 13:08] #942 closed

[2020-02-10 14:23] #838 closed

[2020-02-10 16:31] yong24s commented on #950
This is a good guide to base our solution on.

Some of my thoughts:
1. Netlify has a CLI tool that can do what surge does. Since we are on Netlify's open source plan, there is no incentive to use surge.

2. The above guide doesn't use [GitHub Check](https://developer.github.com/v3/checks/) but instead comments for notification, which is noisy.

3. Other than [GitHub Pages usage limits](https://hel

[2020-02-10 17:46] ccyccyccy commented on #1044
Thanks for the suggestion. I implemented a simple fix (#1044) that would solve the issue but I feel that it's not very maintainable.

@jamessspanggg Can you help verify this? I'm not too certain if this is the case. The code was authored by you in #757

[2020-02-10 23:52] Tejas2805 opened #1069 "Regression after merging #943"
The UI for Commit Panel has changed after merging #943

Initial UI:
![Screen Shot 2020-02-11 at 7 32 44 AM](https://user-images.githubusercontent.com/35946746/74200073-e6454880-4ca0-11ea-9710-c3726cdefbba.png)

New UI:
![Screen Shot 2020-02-11 at 7 31 09 AM](https://user-images.githubusercontent.com/35946746/74200084-ee9d8380-4ca0-11ea-9890-45216790afa7.png)

[2020-02-11 06:33] jylee-git opened #1071 "Provide a way to highlight the commit"
Current: clicking a tag jumps to a list of commits full of tags. Users may not be able to find the commit with that tag easily.

![image](https://user-images.githubusercontent.com/35756209/74215140-072a8f80-4cdb-11ea-8e4b-357ad258b89b.png)

Suggested: provide a way to highlight the resulting commit with that particular tag (something like the image below - notice the "comment" highlighted in blue

[2020-02-11 15:19] jamessspanggg commented on #1044
@0blivious is correct. The purpose of `hasModifiedSinceDate` and `hasModifiedUntilDate` was to indicate whether the dates are specified in the CLI. This is because prof wants a way to always display the latest since/until date, if he did not specify the since/until date in the CLI. With this, prof does not need to always send a new link whenever he updates the analysis, but students can use the sa

[2020-02-11 15:44] jamessspanggg opened #1073 "Use ES6+ way for string interpolation"
In the front end pug files, strings are concatenated with variables using the `+` operator. This might be messy for lines with a lot of variables concatenated together. Let's use ES6's way for string interpolation: title="\`${fileType}: ${user.fileTypeContribution[fileType]} lines, ...\`"

https://github.com/reposense/RepoSense/blob/61f1fc4f4f854a176ab1f6672f6759c42712c9c3/frontend/src/index.pug#L

[2020-02-11 15:49] jamessspanggg commented on #1073
Update: realise that some parts of the code uses ES6 string interpolation but some don't, let's standardise it.

https://github.com/reposense/RepoSense/blob/61f1fc4f4f854a176ab1f6672f6759c42712c9c3/frontend/src/ramp.pug#L10

[2020-02-11 20:11] Tejas2805 commented on #993
Closing this issue as solved #943

![Screen Shot 2020-02-12 at 4 10 25 AM](https://user-images.githubusercontent.com/35946746/74274787-a8522e00-4d4d-11ea-8fa4-61ed24fe9027.png)

[2020-02-11 20:11] #993 closed

[2020-02-12 05:02] damithc commented on #950
Does it reduce build minute usage, compared to normal netlify PR previews? What are the limits of using the CLI tool?

[2020-02-12 15:05] #1021 closed

[2020-02-13 04:43] anubh-v opened #1076 "Author: Add a `isIgnoringFile` method"
Currently, there are a few instances where we obtain the `ignoreGlobMatcher` from an `Author` instance and then manually check if this matches with a given file path.

We could simplify the design by allowing the `Author` instance to tell clients if it is ignoring a particular file (given a filepath) - instead of giving clients the `ignoreGlobMatcher` and letting clients figure out the answer on t

[2020-02-13 04:47] jamessspanggg opened #1077 "ChartPanel: Total LoC contribution does not match with the commits"
In the CS3281 dashboard, the following author is seen with 0 code contribution, however, there is a commit that has 180 lines of contribution. The code panel does not show any code changes as well.

Link to reproduce: [here](https://nus-cs3281.github.io/2020-dashboard/#search=nbrian&sort=groupTitle&sortWithin=title&timeframe=commit&mergegroup=false&groupSelect=groupByAuthors&breakdown=false&since=

[2020-02-13 05:11] damithc commented on #1077
That commit was reverted later. That's why there is no net contribution.

[2020-02-13 05:12] jamessspanggg commented on #1077
Ah I see. Then would the current behaviour be appropriate to reflect reverted commits?

[2020-02-13 05:18] damithc commented on #1077
Yes, if there is no net effect, there should not be any contribution (as per our current definition of contribution).

[2020-02-13 05:23] jamessspanggg commented on #1077
Ok. Will be closing this issue.

[2020-02-13 05:23] #1077 closed

[2020-02-13 12:58] anubh-v commented on #1076
@fzdy1914 @jylee-git what do you think?
Thanks for your time

[2020-02-13 18:35] niqiukun commented on #1058
Working on this. Tried update GitHub pages on push using GitHub actions and it works.

![image](https://user-images.githubusercontent.com/5328196/74466613-88984280-4ed2-11ea-9d42-9bb1c42eec7d.png)

Will work on scheduled trigger and documentation soon.

[2020-02-14 13:05] fzdy1914 commented on #1076
OK to me.

[2020-02-14 14:50] jylee-git commented on #1076
Yes; can go ahead to refactor

[2020-02-15 11:15] 0blivious opened #1081 "Authorship view: bug in `hide all file details` button"
As raised by @Tejas2805 in #1040, the file detail will be automatically displayed after untick->tick the file type, though it is supposed to be hidden.

Step to reproduce:
1) Click on `hide all file details`
2) Untick `frontend`
3) Tick `frontend`
4) Scroll all the way to the bottom

Expected result: Files should still be hidden due to Step 1
Actual result: Files affected by Step 3 are not hidden

[2020-02-15 12:22] anubh-v opened #1082 "Create ramp chart(s) for "virtual authors""
Users are able to disown code by using author tags like `@@author some-randomuser`.

As discussed in #1022, we can add ramp chart(s) for authors like `some-randomuser`, so that users can easily access all code that has been disowned.

This will also benefit users who meant to claim certain code blocks but made typos in the author tags.

Note: this issue should preferably be tackled after #823 is f

[2020-02-15 12:45] anubh-v opened #1083 "RepoConfiguration: remove `annotationOverwrite` flag"
The `RepoConfiguration` class has a `annotationOverwrite` attribute that controls whether the `@@author` tags are applied / ignored.

However, this attribute is always true.
Do we plan to have any cases where `@@author` tags are ignored?
If not, would it be preferable to remove `annotationOverwrite` attrbute to simplify the `RepoConfiguration` class?

Relevant code snippets:
https://github.com/rep

[2020-02-15 13:27] Tejas2805 opened #1084 "Authorship view: Sort by FileType"
When files are sorted by `fileType`, the following occurs where `java` test files are not in order...

<img width="776" alt="Screen Shot 2020-02-15 at 2 37 37 PM" src="https://user-images.githubusercontent.com/32864116/74583306-bda2b300-5000-11ea-8e2c-576f7b3893f1.png">

[Link to reproduce](https://deploy-preview-1074--reposense.netlify.com/#search=&sort=groupTitle&sortWithin=title&since=2017-10-0

[2020-02-15 13:30] Tejas2805 commented on #1081
Better name for issue might be - bug in `hide all file details`?

[2020-02-15 18:04] anubh-v commented on #1083
@fzdy1914 @jylee-git may I check this with you? Thanks alot for your time.

[2020-02-16 06:49] anubh-v opened #1086 "AuthorConfigCsvParser has some similar code as AuthorConfiguration"
Within the `processLine` method of `AuthorConfigCsvParser`, we call the methods `setEmails`, `setDisplayName`, `setAliases` and `setAuthorIgnoreGlobList`.

The `setEmails`, `setDisplayName` and `setAliases` method will update some internal data structures in the `AuthorConfiguration` class.

However, `AuthorConfiguration` also has an `addAuthor` method that accepts an `Author` and then updates the

[2020-02-16 07:06] eugenepeh opened #1087 "README: update netlify badge"
Starting April 14, 2020, sites without a custom domain are being moved from your-site.netlify.com to your-site.netlify.app. As the badge icon on our readme is a customed icon, it would not work after 14 April. See if netlify have its own badge icon now that we can implement or update the current badge on 14 April.

[2020-02-16 13:29] 0blivious commented on #1084
They are sorted in order, the reason here is that in the code we define fileType to be the custom group. So in the page you shown the actual file type used are `tests`, `frontend`, `backend`, etc.

If we want to make this more explicit, maybe we should rename the sort option to `customised group` and add another option to sort by the real file type (the naming after the dot). However, in the Chart

[2020-02-16 14:48] fzdy1914 commented on #1084
That's an interesting finding.  We should aim to find a `noun` to replace `file type` which can stand for both `file extension` and `customized group`?

[2020-02-16 16:13] Tejas2805 commented on #1084
If we do rename the buttons, might as well do the changes in #1074 , since I am already touching this logic in it?

[2020-02-17 14:07] jylee-git commented on #1083
If i recall correctly, I think it was used for test cases previously but not utilized in the main code at all.

I don't think it's used anywhere now. So we should remove the usage of `annotationOverwrite`

[2020-02-17 14:24] Tejas2805 commented on #1084
@damithc Your opinion on this.

[2020-02-17 14:36] damithc commented on #1084
I think `file type` means exactly that i.e., If groups have bee defined, `type` is used to mean the group. Else, it is used to mean type as implied by the file extension.

However, we can visually indicate the type of each file, to avoid this kind of confusion. For example, as a text label, or using colors.

[2020-02-17 17:37] Tejas2805 commented on #1084
We can explain this in the UG for better understanding?

We can implement this for better understanding.

[2020-02-17 18:06] Tejas2805 commented on #1084
@0blivious You want to take up this issue or is it okay if I do it in #1074

[2020-02-18 02:46] jamessspanggg commented on #1061
I would think that the bulk of the time is because the analysis is run with `--since d1`, which analyses all the commits from the beginning. Would this be necessary?

[2020-02-18 04:41] Tejas2805 commented on #1073
Regarding this. I was thinking that we should convert most of our JS code to follow ES6+ way and not just for String interpolation. This could be done slowly through a number of PRs.

Your POV on this.

[2020-02-18 05:43] jamessspanggg commented on #1073
Hmm my view on we should only convert it when it will improve the readability/efficiency.

[2020-02-18 06:37] Tejas2805 opened #1092 "Repo not analyzed"
Even though a student has commits for the given time period, the chart panel shows no contribution.

![Screen Shot 2020-02-18 at 12 06 43 PM](https://user-images.githubusercontent.com/35946746/74710284-3dba5a00-5247-11ea-92b9-b48f04834b3a.png)

![Screen Shot 2020-02-18 at 12 06 32 PM](https://user-images.githubusercontent.com/35946746/74710264-3004d480-5247-11ea-9228-e36e31a57270.png)

CS2103 AY19

[2020-02-18 06:38] fzdy1914 commented on #1092
Please include a reproduce link if possible.

[2020-02-18 07:42] 0blivious commented on #1084
Actually I was thinking trying sth like a colored background (like #1025) for the file title since now we have too many icons appended at the back? Also I feel the name can be changed to sth like `file group` which sounds less misleading for me. I think you can change the UG in your PR first. I will try some UI adjustment and paste it here.

[2020-02-18 08:13] 0blivious commented on #1092
It works fine on my computer when I try to analyse the master repo. Can we get the argument file used?

![image](https://user-images.githubusercontent.com/39231750/74716472-98fd4400-5269-11ea-8ecb-8e3fc3319073.png)

[2020-02-18 09:05] anubh-v commented on #1086
@fzdy1914, @jylee-git may I get your thoughts on this?
Thanks for your time

[2020-02-18 09:34] jylee-git commented on #1092
Note that the author used a different Git ID to commit his work than the one that was provided in (I presume CS21X3, when students are required to provide their GitHub ID).

[2020-02-18 14:13] Tejas2805 commented on #1092
Thanks for helping @jylee-git .

[2020-02-18 14:13] #1092 closed

[2020-02-18 14:14] Tejas2805 commented on #1084
Better to keep both in one PR. You should proceed with both.

[2020-02-18 15:51] 0blivious commented on #1084
I propose this new UI, how do you feel? @damithc @fzdy1914 @Tejas2805
![image](https://user-images.githubusercontent.com/39231750/74752307-6ffca380-52a9-11ea-8d35-a889453d23f4.png)

[2020-02-18 17:57] Tejas2805 commented on #1084
If the color of breakdown by file type matches with the colors for the files on the chart panel, I am okay with it.

But, I feel the file headers will take a lot of space, and not sure if that is required.

Let's wait for the Prof's comment.

[2020-02-19 01:29] damithc commented on #1084
Generally OK but I don't want to dedicate two lines for each header is we can help it. Perhaps we can simply add the color tag to the end of the current header?
![image](https://user-images.githubusercontent.com/1673303/74793112-60597b00-52fa-11ea-83d8-0100768b4877.png)

[2020-02-19 04:31] 0blivious commented on #1084
My justification is, usually the path can be very long and without the new color tag, it already occupy 2 lines.
![image](https://user-images.githubusercontent.com/39231750/74801916-2c3e8400-5313-11ea-8916-291ceb5ff54f.png)

So my suggestion is we display only the file name in the title. If you dont like 2 lines, we can hide the path in the code section.
![image](https://user-images.githubusercont

[2020-02-19 04:43] damithc commented on #1084
In rare cases, yes, but usually it doesn't. It's fine to spill over to a second line if the file name is long, but we shouldn't force it. Besides, a user can always widen the code panel to make room for longer file paths.

That doesn't save space, plus it is less informative than before.

[2020-02-19 05:50] #1031 closed

[2020-02-19 05:59] fzdy1914 commented on #1086
One is setting the info for Author and another one is setting the info for configuration? It seems to be different from my view.

[2020-02-19 06:07] fzdy1914 commented on #1084
I agrees that a color is enough.

[2020-02-19 10:18] 0blivious commented on #1081
Can be solved by #1065

[2020-02-20 05:44] #1022 closed

[2020-02-21 12:59] jylee-git commented on #1086
I guess it's a form of abstraction? Especially in `setEmails`, `setDisplayName` and `setAliases` method of `AuthorConfigCsvParser`.

[2020-02-21 17:46] #522 closed

[2020-02-22 08:06] #999 closed

[2020-02-22 09:22] #941 closed

[2020-02-22 11:38] anubh-v commented on #1086
Thanks very much for the response.
I'm still a little unclear.

Let me know if I'm wrong here - but I think the program would be unaffected if it was written as follows ?
- Do not update the `AuthorConfiguration` instance in the `setEmails`, `setDisplayName` and `setAliases` methods. Only update the `Author` instance.
- Call `setEmails`, `setDisplayName`, `setAliases`, `setIgnoreGlobsList`  **befo

[2020-02-22 13:49] #906 closed

[2020-02-22 13:54] Tejas2805 commented on #1024
#907 Merged

[2020-02-22 13:54] #1024 closed

[2020-02-22 13:55] Tejas2805 commented on #1006
Solved in #907

[2020-02-22 13:55] #1006 closed

[2020-02-22 13:55] Tejas2805 commented on #994
Solved in #907

[2020-02-22 13:55] #994 closed

[2020-02-22 14:06] eugenepeh commented on #950
It seems like we've burst the netlify usage for the month and it is likely that our subscription will be cancelled if we dont make the payment for the excess usage.

![image](https://user-images.githubusercontent.com/19277206/75093709-25d43480-55bf-11ea-9c96-31753ee19c88.png)
![image](https://user-images.githubusercontent.com/19277206/75093723-4d2b0180-55bf-11ea-87d0-d942ddabab1b.png)

[2020-02-22 14:13] eugenepeh commented on #1061
Gradlew run seems to include the tests for some reason, can we exclude that or make a new function just for netlify build?

[code]

[2020-02-22 14:35] #1023 closed

[2020-02-22 16:58] eugenepeh commented on #950
From what was described on [medium](https://medium.com/onfido-tech/travis-surge-github-auto-deploy-every-pr-branch-and-tag-a6c8c790831f), it seems like this surge thing taps on travis to perform the static webpage deployment. They seems to have crafted a [script](https://github.com/onfido/onfido-sdk-ui/blob/master/deploy.sh) to automate their deployment.

We would need a developer to evaluate and

[2020-02-22 17:44] jamessspanggg commented on #1061
@eugenepeh don't think its due to `./gradlew run` but its due to `./gradlew clean build`

[2020-02-22 17:56] eugenepeh commented on #1061
yeah you're right, let me see if i can exclude the test with `gradle build -x test`

[2020-02-22 18:15] eugenepeh commented on #1061
With `gradle build -x test`

I think we also need to look into removing redundant plugins and etc

[code]

[2020-02-23 07:28] jamessspanggg commented on #1061
@eugenepeh I think the dependency `'com.github.javaparser', name: 'javaparser-core', version: '3.0.1'` seems to be redundant as in PR [here](https://github.com/reposense/RepoSense/commit/ec45509189bf4a07654e16b2466ad7fedb1d56bc) uses `'net.sourceforge.argparse4j'` for the parsing functionalities. Have run the without the `'com.github.javaparser', name: 'javaparser-core', version: '3.0.1'` dependen

[2020-02-23 07:33] jamessspanggg commented on #1061
@yong24s May I get your confirmation on this as you authored the PR for using `argparse4j`?

[2020-02-23 08:16] Tejas2805 commented on #1061
@jamessspanggg I have confirmed its a redundant dependency. And have therefore accordingly, create a PR.

Based on what I saw, this is the only existing redundant dependency.

[2020-02-23 08:18] fzdy1914 commented on #950
@reposense/stage0-reviewers Please have a look at this issue.

[2020-02-23 08:36] damithc commented on #950
I think we need to move away from Netlify. Their new free quota is not enough for an active project.

[2020-02-23 08:40] Tejas2805 commented on #950
We have a PR on GitHub Actions. Maybe we can explore that.

[2020-02-23 08:48] anubh-v opened #1097 "RepoLocation: `convertStringsToLocations` method is unused"
The method `convertStringsToLocations` is not used in the codebase.

It was introduced in [this PR](https://github.com/reposense/RepoSense/pull/425).

https://github.com/reposense/RepoSense/blob/cd9e636fec6c7919fc50ed040da195e699760fa3/src/main/java/reposense/model/RepoLocation.java#L109-L126

Let's decide if this method should be kept?

[2020-02-23 16:01] anubh-v commented on #528
I've started a draft implementation in #1098

Here is a breakdown of the new `author-config.csv` format:

1. The `Repository Location` column accepts a list of repository locations. The list of locations can contain both git URLs or paths to git repositories
2. For the git URLs provided in the `Repository Location` column, users can **optionally** append the branch name to the URL, (as shown below

[2020-02-23 17:00] jamessspanggg commented on #950
Tried to deploy RepoSense using surge. Just have to modify their `deploy.sh` script slightly and modify our `travis.yml` file. It works fine, but the web page generated seems to be significantly slower than netlify's.

Note: I tried setting the deployment on my forked RepoSense in this [PR](https://github.com/jamessspanggg/RepoSense/pull/1), the generated surge link is: https://1-pr-RepoSense-jame

[2020-02-24 01:07] damithc commented on #950
Nice. We can live with 'slow'.

This is a bit of a bummer. Perhaps GitHub actions can do better on this front?

[2020-02-24 01:10] damithc commented on #528
What's the reason for this restriction?

[2020-02-24 03:34] jamessspanggg commented on #950
Just have to add-on that the links generated by surge are of this format:
For PRs: `<PR-num>-pr-<repo-name><repo-owner>.surge.sh`
For Branches: `<branch-name>-branch-<repo-name>-<repo-owner>.surge.sh`

We can also use the script to automatically comment on the PR with the link tho.

[2020-02-24 04:09] jamessspanggg commented on #950
The automatic comment may also be an option, if GitHub actions does not work out.

<img width="796" alt="Screen Shot 2020-02-24 at 12 08 11 PM" src="https://user-images.githubusercontent.com/32864116/75128299-62f31080-56fe-11ea-9267-1b4714f21d00.png">

[2020-02-24 17:57] anubh-v commented on #528
Thanks for the response @damithc

I wanted to confirm whether we would like to allow users to append the branch name to the git repository file paths, before proceeding with the implementation.

In the current PR, users can provide a list of file paths to git repos, but the branch name for all of these is taken from the `Branch` column.

In my view, allowing users to append the branch name to file

[2020-02-25 01:30] damithc commented on #528
It is better to support the feature for both types.

Can we find a syntax that works for both? e.g., `#`

[2020-02-25 07:28] #1071 closed

[2020-02-25 07:34] fzdy1914 commented on #950
It would be nicer if this comment will always appear only once at the most top of the list. Otherwise, it will be troublesome to find the link or get spammed by the auto comment.

[2020-02-25 12:05] anubh-v commented on #528
Can we find a syntax that works for both? e.g., #

Ok. I will propose a common syntax for URLs / file paths.

[2020-02-26 06:44] #1043 closed

[2020-02-27 04:00] jamessspanggg commented on #950
Ok. Will find a way to only post the comment once.

For the comment to be at the top of the list, what I can only do is to execute the deployment script earlier on during the travis build. But there still might be a chance where users comment even before the deployment script is finished. If only GitHub PRs have a pin comment functionality...

[2020-02-27 04:01] damithc commented on #950
Append to the PR description?

[2020-02-27 05:46] #960 closed

[2020-02-27 05:52] fzdy1914 commented on #950
I agrees it is a good idea.  Meanwhile, since the style is fixed, maybe we can insert a template in the default PR description or a GitHub action to do this so we do not need travis.

[2020-02-28 05:35] damithc opened #1102 "Deploying dashboard as a part of an existing gh-pages site"
The documentation explains how to set up Travis to auto-deploy the dashboard to a gh-pages site. Can we also give an option to add the dashboard as a sub-folder in an existing gh-pages site so that the dashboard doesn't always have to be a separate site?

[2020-02-28 14:52] jamessspanggg opened #1103 "Clicking on ramp does not link to GitHub with correct date range"
When clicking on ramps with granularity `day` or `week`, instead of redirecting the user to the commits that within date range, all commits are shown.

![Kapture 2020-02-28 at 22 48 42](https://user-images.githubusercontent.com/32864116/75558257-827e9600-5a7c-11ea-815f-e996c9ff2f97.gif)

May be due to the date format of our link.

[2020-02-28 14:57] jamessspanggg commented on #1103
Note: #1101 may be changing the functionality where clicking on ramps will show the commits in the zoom tab instead. So putting this issue on hold.

[2020-02-29 11:43] eugenepeh commented on #950
Let's make use of the travis for now, once its up then we can move the deployment to github action instead so that they can be performed in parallel.

The downside is that github action also seems to have its own fixed number of build minutes

[2020-02-29 11:53] eugenepeh commented on #528
How about this:
* We support this syntax https://github.com/reposense/RepoSense/tree/master in the repo list configuration.
* In the event that the user does not provide a branch in the url, e.g. just https://github.com/reposense/RepoSense, we will either take the value from branch column or use the default branch

For file path, we shall assume the current checkout branch by default - unless spec

[2020-02-29 13:48] anubh-v commented on #528
@eugenepeh, thanks for the response.

I have some clarifications:

That is similar to Prof's original suggestion, which was to support URLs of the form:
`https://github.com/reposense/reposense.git/master`  (i.e. the branch appended to the **git** URL)

Are you suggesting that we use the web URL instead?
We do need the **git** URL subsequently to clone the repository.

Yes, my current implementatio

[2020-02-29 14:04] eugenepeh commented on #528
We do need the git URL subsequently to clone the repository.

Even though its not clone-able, it is still a legitimate url on github which can be more intuitive and easier for users to remember. It will also easier for us to reuse it on other part of the program, e.g. repo url.

Do you see a reason not to allow this behaviour?

iirc when you clone a local repo, you will only get the current workin

[2020-03-01 03:58] anubh-v commented on #528
Thanks for the reply @eugenepeh.

There are no implementation issues if we want to use the repo's web url in the `author-config.csv` file, since the git url is present in the `repo-config.csv`.

However, I want to clarify the following:
- Would this mean we only accept a repository's web url in the location field of `author-config.csv`, or we accept **either** the git url or web url? We may need t

[2020-03-01 04:25] anubh-v commented on #1082
Prof @damithc, @eugenepeh , may I confirm if we can create a single ramp chart that captures the work attributed to all virtual authors (as opposed to 1 ramp chart per each virtual author) ?

This decision will influence the implementation for the bugfix in #1067
Prof @damithc, I recall you mentioned that we should adopt the path that takes lesser development effort.

My view is that creating a si

[2020-03-01 05:06] Tejas2805 commented on #946
@damithc How do you want this to be implemented based on the discussion we have already had in #1084

[2020-03-01 06:54] damithc commented on #1082
Sure. Go ahead.

[2020-03-01 07:55] damithc commented on #946
What are my choices?

[2020-03-01 14:28] eugenepeh commented on #1082
I would prefer not because that is sort of making `//@@author` a half baked feature. If it is possible to attribute them as `UNKNOWN_AUTHOR` then it shouldn't cost much extra code to separate them into individual identities given that the value is already provided together with the tag.

If it would cost you a lot more to implement that change, then it implies that there's a problem in the underly

[2020-03-01 14:39] jamessspanggg opened #1107 "File type does not match with the contribution"
The filetype `docs` is shown but there are no contribution to docs in the contribution bar, as well as the code panel:

<img width="1767" alt="Screen Shot 2020-03-01 at 10 34 45 PM" src="https://user-images.githubusercontent.com/32864116/75627651-04052e00-5c0d-11ea-8fb9-339b12030647.png">

[Link to reproduce](https://deploy-preview-1068--reposense.netlify.com/#search=delta&sort=totalCommits&sortWi

[2020-03-01 14:48] eugenepeh commented on #528
Either would be nice, we should be able to extract the org and repo name from the url easily given that they have similar structure.

The reason for url implementation is that it is easy for user to copy and paste from the address bar itself. If we change the implementation to force user to enter organisation name and reponame, they may need to key them in manually, which can be not very user-frie

[2020-03-02 09:36] #1069 closed

[2020-03-02 12:29] #1044 closed

[2020-03-03 02:48] jamessspanggg commented on #1107
The reason due to this issue is that the user has already specified the group file types beforehand, that is why the filetype is shown in the summary panel. It might be useful to view the filetype, even though 0 contribution is made for that particular filetype.

<img width="1000" alt="Screen Shot 2020-03-03 at 10 46 27 AM" src="https://user-images.githubusercontent.com/32864116/75738084-4c6f3980-

[2020-03-03 02:49] jamessspanggg commented on #1107
@ang-zeyu look at my comment above. I think your PR may not be necessary.

[2020-03-03 02:53] anubh-v commented on #528
Thanks for the response. I will proceed with this.

[2020-03-03 05:23] anubh-v commented on #1097
@fzdy1914 may I confirm that this is suitable to remove?
We could collate all the issues involving unused code, if that is more organised?

[2020-03-03 07:03] ang-zeyu commented on #1107
Thanks for the follow up as well! I'll close the PR then

[2020-03-03 07:21] fzdy1914 commented on #1097
It seems not used. It is OK to remove them one by one. However, it is encouraged to remove more at one time.

[2020-03-03 07:29] fzdy1914 opened #1109 "Add/Replace recent active authors of RepoSense in default configuration"
As title.

@jamessspanggg Can be a good candidate.

Reason: the authors in the preview are quite old from now and their commits will not be updated anymore.

Introduce a recent active author may reveal potential bugs.

@eugenepeh @damithc Your idea?

[2020-03-03 08:41] Tejas2805 opened #1110 "Links to cross-origin destinations are unsafe"
Links to cross-origin destinations are unsafe. Let's move the links to open on the same webpage.

[2020-03-03 08:42] Tejas2805 commented on #1110
@fzdy1914 What do you think?

@damithc Since this might affect User Experience, what do you suggest?

[2020-03-03 08:49] Tejas2805 opened #1111 "Webpage might go to quirks mode"
We currently don't have a `DOCTYPE` and neither a language mentioned. This causes the page to go to [quirk mode](https://stackoverflow.com/questions/1695787/what-is-quirks-mode) some times and as a result the page might not get rendered correctly.

Sggestion: Let's add a `DOCTYPE` and specify the language, to make sure the page goes to standard mode and renders correctly.

[2020-03-03 10:52] jamessspanggg commented on #1110
I don't think this is necessary as we are only linking to GitHub...?

[2020-03-03 11:11] #1107 closed

[2020-03-03 12:49] ang-zeyu commented on #719
Would it better to move such functions used only in one component into the methods of the components instead?
For global functions used in multiple places, we could then extract them to utility files.

[2020-03-03 14:48] damithc commented on #675
@myteo did some exploration on this front. It seems the cost is too high to achieve this, in terms of processing time as well as storage space.

[2020-03-04 06:27] damithc commented on #1109
No objections from me

[2020-03-04 08:06] anubh-v commented on #1082
@eugenepeh, ok, I will implement the bugfix in #1067, with the view that we eventually want separate ramp charts for virtual authors.

[2020-03-04 14:21] damithc opened #1115 "Investigate case of @@author tag not being honored"
Shouldn't this code block be skipped as it is attributed to a different author?
![image](https://user-images.githubusercontent.com/1673303/75888439-53926680-5e66-11ea-9ab3-428517da3975.png)

https://nus-cs2113-ay1920s2.github.io/tp-dashboard/#search=&sort=groupTitle&sortWithin=title&since=2020-03-01&timeframe=commit&mergegroup=false&groupSelect=groupByRepos&breakdown=false&tabOpen=true&tabType=aut

[2020-03-04 15:18] jylee-git commented on #1115
I think this issue is identical to #823

[2020-03-04 15:22] damithc commented on #1115
I see. Yes, looks like it. We need to fix it soon as it affects the current usage in ongoing modules.

[2020-03-04 15:45] jamessspanggg opened #1116 "Code Panel: weird syntax highlighting"
[Link to reproduce](https://deploy-preview-1106--reposense.netlify.com/#search=&sort=groupTitle&sortWithin=title&since=2017-10-09&timeframe=commit&mergegroup=false&groupSelect=groupByRepos&breakdown=false&tabOpen=true&tabType=authorship&tabAuthor=ongspxm&tabRepo=reposense%2FRepoSense%5Bmaster%5D)

<img width="464" alt="Screen Shot 2020-03-04 at 11 43 55 PM" src="https://user-images.githubuserconte

[2020-03-05 01:58] anubh-v commented on #1115
I have been working on this bugfix.
The progress was slightly delayed as I increased the scope of the PR in order to cater for the "ramps for virtual authors" (#1082) feature.

I'll postpone that work to another PR, since the bugfix is urgent.

[2020-03-05 05:22] #658 closed

[2020-03-05 08:54] Tejas2805 commented on #1116
Based on my investigation its looks like, `hljs` is picking it up as regex and that's why the wrong highlighting.

[2020-03-05 12:52] jamessspanggg commented on #1116
@Tejas2805 I've looked into it and I think the issue is because -

``${(pos - offset) * 100 / base}%`; is an ES6 way for string interpolation, while the code highlighted is based on javascript instead of ES6:
<img width="899" alt="Screen Shot 2020-03-05 at 8 50 29 PM" src="https://user-images.githubusercontent.com/32864116/75983188-00cab480-5f23-11ea-9413-40fa83d5a061.png">

Have tried switching t

[2020-03-05 13:09] #1047 closed

[2020-03-06 04:53] anubh-v opened #1118 "Use less restrictive regex for author name in @@author tags"
Currently, the regex used to validate names in `@@author some-randomeuser` tags is:
`[a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]`

 This regex ensures the author name has at least 2 consecutive alphanumeric characters.

As discussed in this [comment](https://github.com/reposense/RepoSense/pull/1067#discussion_r382583692), we can consider using a less restrictive regex, so that tags such as `@@author --myn

[2020-03-06 06:01] anubh-v opened #1119 "Author: class attribute 'NAME_FAILED_TO_CLONE_OR_CHECKOUT' is unused"
Relevant code snippet:
https://github.com/reposense/RepoSense/blob/4d38d298cc0b7e0e03f9a8b0d7e88e2f46a31ad5/src/main/java/reposense/model/Author.java#L11-L13

Let's remove this if it is un-intentional?

[2020-03-06 07:29] 0blivious commented on #675
I found the github API that will return the commit diff, sth like the image below, and there are open source diff parser but havnt tested. If we only make the api query when clicking the ramp I guess the cost might be ok? The problem is we need to import the parser and deal with cors issue.
![image](https://user-images.githubusercontent.com/39231750/76061682-07a70500-5fbf-11ea-92f9-f7a04caa00c2.pn

[2020-03-06 07:46] damithc commented on #675
Unauthenticated users have severe API quota limitations though.

[2020-03-06 11:48] jylee-git commented on #1119
That should have been deprecated after the introduction of #743 . Let's remove that

[2020-03-06 12:13] ang-zeyu opened #1121 "Explore using an external date picker library with cross-browser support"
Currently, there's quite a bit of safari-specific logic to make the html5 datepicker work in the code.

We could explore some external date picker components that could help with this, allowing us to reduce such logic for cleaner code
- https://vcalendar.io/
- https://github.com/charliekassel/vuejs-datepicker
- https://bootstrap-vue.js.org/docs/components/form-datepicker/ ( contains a lot of other

[2020-03-06 13:41] Tejas2805 commented on #1121
Let's keep this on hold for now, since we are trying to reduce the build time. Once we are able to solve the Netlify issue, we can think of using other libraries.

[2020-03-06 13:55] Tejas2805 opened #1122 "Gradle build fails at line 187"
![Screen Shot 2020-03-06 at 9 54 38 PM](https://user-images.githubusercontent.com/35946746/76089726-30e28800-5ff5-11ea-9a6f-65d34510f2ea.png)

Gradle build is failing at line 187. Wanted to know if someone could help me understand why?

[2020-03-06 14:32] #1076 closed

[2020-03-06 16:05] anubh-v commented on #1122
When do you encounter this? (how to replicate?)

[2020-03-06 16:05] Tejas2805 commented on #1122
Running it on my own repo using Github Actions. Wanted to know why will it fail at line 186?

[2020-03-06 16:41] anubh-v commented on #923
Conversely, if we do not want to support other git repo hosting services (at this point in time),
perhaps our repo location verification should be stronger and we should throw an error when GitLab or Bitbucket repo urls are used?

[2020-03-07 12:13] jamessspanggg commented on #1122
@Tejas2805 it's hard for other developers to diagnose the situation when details are not fully given, please provide more info such as:
- the exact build command
- link to the repo
- any other necessary info

[2020-03-07 14:02] niqiukun commented on #1102
From my understanding, the deployment of the dashboard to an existing gh-pages site largely depends on how the existing gh-pages site is deployed, whether the site content is updated manually or by auto-deploy scripts, and whether the site is deployed from `master` or `gh-pages` branch.

In the case where the existing gh-pages site is deployed based on auto-deploy scripts, the situation is a bit c

[2020-03-07 15:09] damithc commented on #1102
RepoSense provides the script for this (in https://github.com/reposense/publish-RepoSense). Hence, we just need to update that one script to support this possibility.

[2020-03-07 15:31] niqiukun commented on #1102
I mean before adding RepoSense's deployment script, the existing gh-pages site may have its own script to publish its content (for example, using asciidoctor to convert `adoc` files to `html` files and publish them, just as AB3). Running RepoSense's script potentially interferes with this.

[2020-03-07 16:36] damithc commented on #1102
You are right. Each scripts needs to be aware of the other and work accordingly.
The deploy script of the host site needs to be able to maintain certain sub folders without touching their content (i.e., sub-folders used by sub sites).
The deploy script of the sub site needs to be able to deploy to a designated folder without touching other folders.

[2020-03-08 09:28] Tejas2805 commented on #1110
Agree with you on that. But thought better to clarify and discuss it.

Closing this.

[2020-03-08 09:28] #1110 closed

[2020-03-08 09:39] jamessspanggg commented on #911
Fixed by [PR](https://github.com/reposense/dashboard-demo/pull/19#event-3108291425). Closing this.

[2020-03-08 09:39] #911 closed

[2020-03-08 09:50] Tejas2805 opened #1124 "Files beginning with `.` are not displayed"
![Screen Shot 2020-03-08 at 5 49 02 PM](https://user-images.githubusercontent.com/35946746/76160412-2515d380-6165-11ea-8236-667177fcbf4c.png)

As seen it shows 2 new lines but counting on top shows 26.

[Link to reproduce](https://nus-cs3281.github.io/2020-dashboard/#search=tej&sort=groupTitle&sortWithin=title&timeframe=commit&mergegroup=false&groupSelect=groupByAuthors&breakdown=true&since=2019-1

[2020-03-08 09:54] Tejas2805 commented on #1124
Update: The remaining 24 lines are of `.pug-lintrc.json` which are not shown in code panel.

[2020-03-08 11:47] 0blivious opened #1126 "Make Zoom Panel consistent with Authorship Panel"
In authorship we click on the file title to expand the file detail and use the fa-user icon to open the github page for the blame view.

However in authorship we click on the commit title to open the github page while use the fa button besides to  expand the commit message body.

Let's make them the same for consistency, clicking on the title on both panel will either expand the message body or op

[2020-03-09 05:42] anubh-v opened #1128 "GitTestTemplate: Remove code for setting file formats in BeforeClass method"
In both the `Before` and `BeforeClass` method, we are setting the file formats for the config.
See line 65 and line 72 in the snippet below:

https://github.com/reposense/RepoSense/blob/33e24b8d009acfe69932b8b8ceb4427778c5195c/src/test/java/reposense/template/GitTestTemplate.java#L61-L74

Is it necessary to set the file formats in both?

[2020-03-09 05:53] anubh-v opened #1129 "RepoSense crashes too late if there are 0 valid locations in `--repo` argument"
To replicate, run the command:
`./gradlew run -Dargs="--repo abc.git"`

Output:
[code]

As seen in the stack trace, RepoSense tries to proceed with report generation even though there are no valid repo locations.

Expected: RepoSense should not proceed with report generation if there are no valid locations.

To solve: Check that there is at least one valid location

[2020-03-09 07:09] Tejas2805 commented on #1126
Discussed this with Prof today. He said better to keep it the way it is for rn. And once all current UI PR's are merged, then can take this up to make it consistent.

[2020-03-09 07:11] Tejas2805 commented on #1129
So the **too late** is more of a location thing than a time thing?

[2020-03-09 07:17] Tejas2805 commented on #1129
Working on something related to this in #905 will solve this issue in the same.

[2020-03-09 07:22] Tejas2805 commented on #1129
Actually, how about making this a first-timer issue?

[2020-03-09 07:35] anubh-v commented on #1129
I guess it's more of a "logic thing"  ?
The report generation should not be triggered if there isn't a single valid repo location.

Sure

[2020-03-09 08:34] fzdy1914 opened #1130 "Make a release for v1.11"
I believe it is a good time to make a release to conclude what we have done in the first half of the semester.

@reposense/stage0-reviewers Please discuss between yourselves and come up with a release plan and make a release.

[2020-03-09 08:37] #1005 closed

[2020-03-09 09:10] anubh-v commented on #1128
@jylee-git, may I check this with you?

[2020-03-09 09:21] jylee-git commented on #1128
No I don't think it's necessary. Can help to remove this when refactoring.

[2020-03-09 09:53] anubh-v opened #1131 "GitTestTemplate: `generateTestFileInfo` method is not reusable due to side effects"
I wish to clarify why the `generateTestFileInfo` method (a utility method in the test code) also updates the RepoConfiguration object used in the tests.

https://github.com/reposense/RepoSense/blob/145a1b4dda02ac9fdc42554835e7be98a534b0a0/src/test/java/reposense/template/GitTestTemplate.java#L90-L100

Shouldn't each test case update the RepoConfiguration on its own, if needed?
I.e., if a test case

[2020-03-09 11:20] anubh-v commented on #1131
@jylee-git, may I check this with you?

One implication of this is whenever we extend `GitTestTemplate` and form a new subclass for testing, we have to be aware that `generateTestFileInfo` will modify the RepoConfiguration

[2020-03-09 12:19] Tejas2805 opened #1132 "mbdf files not counted and displayed"
Though this [PR](https://github.com/MarkBind/markbind/pull/1063) was merged, the mbdf files are not displayed.

I checked repo-config.csv mbdf is there. Any other reason?

![Screen Shot 2020-03-09 at 5 29 05 PM](https://user-images.githubusercontent.com/35946746/76200008-d54e0f80-622b-11ea-8b95-7f523f1447f9.png)

[Link to reproduce](https://nus-cs3281.github.io/2020-dashboard/#search=tejas&sort=gr

[2020-03-09 14:18] anubh-v commented on #1131
Two test cases are affected if we remove line 96 and 97.
They are `FileAnalyzerTest#blameTest` and `FileAnalyzerTest#blameTestDateRange`

I'll check if these tests could be refactored

[2020-03-09 14:36] niqiukun commented on #1102
Hi Prof, after some experimenting I have figured out a way to do this. But I'm not sure in what way should we teach the users to deploy on an existing gh-pages site.

I have edited some scripts in the `publish-RepoSense` repo so that they can be used to deploy the dashboard on an existing gh-pages site. The edited scripts are placed into `publish-reposense` folder. The user can attach the folder t

[2020-03-09 14:39] jamessspanggg commented on #1132
This is because the author for this commit is `marvinchin` on GitHub.

<img width="346" alt="Screen Shot 2020-03-09 at 10 36 19 PM" src="https://user-images.githubusercontent.com/32864116/76223558-676b0d80-6256-11ea-81c4-6b4312c0bdaa.png">

[2020-03-09 14:54] damithc commented on #1102
Good progress @niqiukun
Is it possible to generalize your approach independent of RepoSense. The general problem:
* Use GitHub pages as the deployment target and travis as the CI to publish a site that gets updated from multiple source repos. One source repo will deploy the outer site (e.g., CS3281 site) while a number of other repos will deploy sub-sites (e.g., reposense dashboard), each onto a s

[2020-03-09 14:58] jamessspanggg commented on #1132
Closing this, as it is not an issue/bug that is related to RepoSense.

[2020-03-09 14:58] #1132 closed

[2020-03-09 15:08] niqiukun commented on #1102
I see. I will look into this. But just to check, there are still multiple repos but the GitHub page is only deployed to the main repo right? If I understand correctly, only the main repo runs CI, and changes made to other repos would not be able to automatically trigger CI of the main repo (but it won't be a problem if deployment is scheduled by cron job).

[2020-03-09 15:16] jamessspanggg commented on #1122
@Tejas2805 any updates on this? If not can close?

[2020-03-09 15:17] Tejas2805 commented on #1132
Thanks for looking into it.

[2020-03-09 15:19] jamessspanggg commented on #1010
Fixed in #1008

[2020-03-09 15:19] #1010 closed

[2020-03-09 15:21] jamessspanggg commented on #947
Closing this as fixed by #948

[2020-03-09 15:21] #947 closed

[2020-03-09 15:22] damithc commented on #1102
Yes. But I should be able to update this main site without wiping out the sub-sites.

I was thinking both main and sub sites should support cron jobs or auto-deploy site if the main branch is updated.

Example scenario: CS3281 is the main site, but it has a sub-site named dashboard deployed by a repo named dashboard-repo.
* When I push a commit to the CS3281 repo, it triggers Travis, which deploys

[2020-03-09 15:23] jamessspanggg commented on #921
This issue no longer occurs as code panel is no longer scrollable. Closing this.

[2020-03-09 15:23] #921 closed

[2020-03-09 15:26] #691 closed

[2020-03-09 18:39] shuiyao-sg opened #1133 "Build Failure when setting up project"
Hi I'm planning to contribute to this project and was trying to set up the project locally following this [developer guide](https://github.com/reposense/RepoSense/blob/master/docs/DeveloperGuide.md#verifying-the-setup). I actually successfully imported the project into IntelliJ after following the instructions. The initial build was successful. But when I tried to verify my build as suggested in t

[2020-03-09 18:41] shuiyao-sg commented on #1133
Sorry...forgot to mention that here's the link to my forked repo https://github.com/shuiyao-sg/RepoSense

[2020-03-10 04:36] 0blivious commented on #1133
This is due to the fail in deletion of the certain file in `repos` folder. For your case, you can try to run the `RepoConfigurationTest` directly. If it passes, you may ignore the failure for now and continue your development.

[2020-03-10 04:44] 0blivious opened #1134 "Weird behaviour of RepoConfigurationTest"
As stated, this test cause `gradle clean build` to fail on windows. When run independently, it will fail for the first execution and pass for all the following tries. The fail is due to java io exception when trying to delete certain files in `repos`
![Screenshot (21)](https://user-images.githubusercontent.com/39231750/76280406-ba7fa780-62cc-11ea-8f19-320bb780d539.png)

[2020-03-10 08:37] shuiyao-sg commented on #1133
When I run `RepoConfigurationTest`, it shows me the same error but the rest all passed.
![image](https://user-images.githubusercontent.com/46176136/76294138-430e4000-62ed-11ea-815b-43f2247bfaf4.png)

Is this ok to proceed?

[2020-03-10 12:37] 0blivious commented on #1133
I meant to find the `RepoConfigurationTest.java` file, right click and run it (don't use gradle command). You may also try to run Reposense directly using the argument given in our Developer Guide. If the report is generated successfully, it is alright to proceed.

[2020-03-10 19:45] Tejas2805 opened #1135 "Invalid Location in example for config files in DG"
The example that we show for the location of config files in the Developer Guide is invalid. There are no config files in that location to run.

![Screen Shot 2020-03-11 at 3 32 23 AM](https://user-images.githubusercontent.com/35946746/76352497-19cfcd00-634a-11ea-9958-46e6d0506d74.png)

**Suggestion:** Since we display it as an example, let's either update the location or add config files in that

[2020-03-11 05:47] 0blivious commented on #1135
Can update the since/until date also? I remembered that the date range actually display nothing when I tried.

[2020-03-11 10:49] ang-zeyu opened #1137 "Npm lint fails in windows command shell"
![Untitled](https://user-images.githubusercontent.com/3306138/76409127-ef712480-63c8-11ea-9151-e83b18bdf187.png)

`pug-lint frontend/src/*.pug frontend/src/tabs/*.pug` fails in windows as pug-lint does not expand globs, instead relying on bash wildcard expansion to do so.

[2020-03-11 11:04] ang-zeyu opened #1138 "eslint in npm lint script malformed and uses the --fix option"
`eslint -- --fix frontend/src/**/*js frontend/cypress/**.js`

causes `--fix` to be treated as a file ( tested ) and auto-fixable errors to be unfixed.

The main `lint` script should not have `--fix` either so that the errors get reported in CI.

I've searched the eslint documentation as well, and could not find mention of an empty `--` option anywhere. Was this a typo in https://github.com/reposen

[2020-03-12 02:24] jamessspanggg commented on #1138
@eugenepeh

[2020-03-12 03:55] Tejas2805 commented on #1122
Ya sorry for the delay. I was confused a bit myself, now have some clarity.

I was exploring using Github Actions for CI/CD.

I tried to build using the command: gradle build

This command works for other gradle porjects but seems to fail for Reposense at line 187. Wished to know if I need to add anything to the command for it to pass that line?

[2020-03-12 03:56] Tejas2805 commented on #1130
We have started working on it already. Will try finishing the release by this Sunday hopefully.

[2020-03-12 04:11] jamessspanggg commented on #1122
@Tejas2805 Can you give the exact lines that you added in order to run Github Actions? How are we supposed to know what is causing the failure if we can't replicate the situation?

Currently running `gradlew build` does not fail on that line. I have also tried Github Actions previously and running the build command runs fine as well.

[2020-03-12 07:39] #1109 closed

[2020-03-12 12:51] fzdy1914 opened #1139 "Investigate multiple npm lint warning"
When running `npm lint` under `frontend` several warnings are output like following.

`warning  Assignment to property of function parameter 'user' no-param-reassign`

Let's investigate if there are more elegant way of doing the same thing.

[2020-03-12 23:04] Tejas2805 commented on #1139
You want the warning to not show up or do actual change in code>

[2020-03-13 04:44] fzdy1914 commented on #1139
Do actual change in code

[2020-03-13 06:41] jamessspanggg commented on #1087
Do you mean netlify badges from this link? https://www.netlify.com/press/#badges

Our README currently uses one of these badges tho.

[2020-03-13 07:00] jamessspanggg opened #1140 "Clicking on show ramp chart in this period does not update date hashes"
When clicking on show ramp chart in this period button, the date hashes sometimes does not update to reflect the latest since date and until date. Hence, reloading the page won't bring back the summary with the correct since and until date.

Can reproduce in any PR preview.

![Kapture 2020-03-13 at 16 47 07](https://user-images.githubusercontent.com/32864116/76604828-67b32380-654a-11ea-840b-3b829d

[2020-03-13 08:57] jamessspanggg opened #1142 "Display message for empty commits panel"
For code panel that has zero contribution, a message is displayed `nothing to see here :(`

<img width="868" alt="Screen Shot 2020-03-13 at 4 54 26 PM" src="https://user-images.githubusercontent.com/32864116/76605413-620a0d80-654b-11ea-9194-2b49077a1784.png">

For empty commit panel, should we also find a way to tell the user that the commit panel is empty?
<img width="868" alt="Screen Shot 2020-0

[2020-03-13 10:12] Tejas2805 commented on #1142
Seeing the empty ramp chart on the summary panel, I think the user can figure out that the commits panel is empty in most probably. But, we can still display something.

[2020-03-13 10:14] Tejas2805 commented on #1135
@fzdy1914 What do you think? Should I update the location to `--config ./` or add config files in the config folder?

[2020-03-13 12:15] Tejas2805 opened #1143 "Commit message title indicator is too light"
![Screen Shot 2020-03-13 at 8 12 54 PM](https://user-images.githubusercontent.com/35946746/76620027-3dbc2a00-6567-11ea-9d51-ca9dc4f8c319.png)

The line indicating 50 characters for commit message title is not seen too properly in the background. Let's make it a bit darker?

[2020-03-13 12:16] Tejas2805 commented on #1143
@jamessspanggg What do you think?

[2020-03-13 12:31] jamessspanggg commented on #1143
It is actually intended to be subtle while bringing across the point. We don't want the border to take away too much attention from the title.

[2020-03-13 12:35] jamessspanggg commented on #1142
@damithc may I get your opinion on this?

- follow current way of displaying an empty ramp or
- display a message without the empty ramp and controls below it or
- display a message with the empty ramp and controls below it

[2020-03-13 13:02] fzdy1914 commented on #1135
I personally prefer the latter. @eugenepeh Your inputs?

[2020-03-13 14:17] damithc commented on #1142
Let's keep it as it is if the payoff for changing is not high.

[2020-03-13 14:18] jamessspanggg commented on #1142
Ok noted. Closing this issue.

[2020-03-13 14:18] #1142 closed

[2020-03-13 16:25] ang-zeyu commented on #1138
`npm run lint -- --fix frontend/src/**/*js && npm run stylelint`
🤦‍♂ Apologies, looked at the command again, realised its `npm run lint -- --fix` and not `eslint -- --fix` ( what was merged ). ( arguments are provided to npm scripts via a `--` separator )

[2020-03-13 20:51] Tejas2805 commented on #1143
Agree on that but I still feel it could be a tinge darker

[2020-03-13 21:18] Tejas2805 opened #1144 "Change example pictures in UG"
The example pictures in UG still have a grey background for the right panel.

Let's update the pictures to  show the new white background.

[2020-03-14 02:51] jamessspanggg commented on #1144
Let's wait until  #1025 gets merged and create a PR that updates all diagrams in the UG. Reason being #1025 also updates the UI of the report, in this way we only need to update once.

[2020-03-14 08:26] Tejas2805 commented on #1144
Agreed. Will keep the PR on hold till then.

[2020-03-14 08:55] jamessspanggg opened #1145 "Reactivity of zoom tab with changes in summary"
The zoom tab is currently reactive to changes in summary (such as granularity changes). However, when merge group is checked, the zoom tab is no longer reactive to the changes in summary.

To replicate, any PR preview will do.
![Kapture 2020-03-14 at 16 50 24](https://user-images.githubusercontent.com/32864116/76678571-1f603800-6614-11ea-8d2d-9f5550e42345.gif)

Should we make the zoom tab totally

[2020-03-14 08:56] jamessspanggg commented on #1145
@fzdy1914 @0blivious your thoughts on this?

[2020-03-14 09:56] 0blivious commented on #1145
I am ok with it. What is the initial consideration for making this reactive though?

[2020-03-14 09:56] jamessspanggg commented on #1145
I am actually unsure of the reason as well.

[2020-03-14 12:29] eugenepeh commented on #1087
I mean this badge ^

[2020-03-14 12:32] eugenepeh commented on #1138
is this issue still valid? if not please close it, thanks

[2020-03-14 12:34] jamessspanggg commented on #1087
The deploy status badge can be found in the netlify website.

<img width="728" alt="Screen Shot 2020-03-14 at 8 34 04 PM" src="https://user-images.githubusercontent.com/32864116/76681995-28143680-6633-11ea-970d-0ae351c7e7c6.png">

[2020-03-14 12:37] eugenepeh commented on #1087
holding this issue for now as we owe netlify some overusage fee and they may soon cancel our subscription.

meanwhile I am getting them to waive off the charges.

[2020-03-14 12:50] ang-zeyu commented on #1138
The problem still exists, only that it wasn't a typo here https://github.com/reposense/RepoSense/pull/803#discussion_r304482267 but a mistake made when translating the command given in it

[2020-03-14 13:50] damithc commented on #1145
Best not to go down paths that can cause unnecessary grief later on. If we can't make everything reactive, might as well not make anything reactive so that there is no confusion to the user. It is fine the right-side panel to not be reactive to the left-side panel, across the entire application.

[2020-03-14 14:09] ccyccyccy opened #1146 "Not intuitive that authorship file detail is collapsible"
Currently it is not clear that the title is clickable to collapse the code view.

![image](https://user-images.githubusercontent.com/32454748/76683574-2a30c200-6640-11ea-805d-76bf419db679.png)

Let's add a small arrow such that it is clear that the panel is collapsible, similar to github's one

![image](https://user-images.githubusercontent.com/32454748/76683570-1e450000-6640-11ea-820f-0de046f8c8a

[2020-03-14 14:57] fzdy1914 commented on #1145
This may be related to what  #967 .

[2020-03-14 15:16] jamessspanggg commented on #1146
@damithc your opinion on this?

[2020-03-14 16:22] #1060 closed

[2020-03-14 16:33] damithc commented on #1146
Yes, it is good to have.

[2020-03-14 20:51] Tejas2805 opened #1147 "Colour repetition in breakdown by filetype"
When many file types are provided, colors begin to repeat themselves.

![Screen Shot 2020-03-15 at 4 48 26 AM](https://user-images.githubusercontent.com/35946746/76690169-80215c00-6678-11ea-9c36-d275221642a9.png)

[Link to reproduce](https://nus-cs3281.github.io/2020-dashboard/#search=&sort=groupTitle&sortWithin=title&timeframe=commit&mergegroup=false&groupSelect=groupByAuthors&breakdown=true&sinc

[2020-03-15 02:48] jamessspanggg commented on #1147
Currently, the colours are chosen through a rotation of the predefined colour values. So if the number of filetype exceeds the number of predefined colours, they start to repeat.

I think we can either randomise the colour selection (which have low chances or having colours that repeat), or stick with the current implementation to add more predefined colours (perhaps we can make use of our mui-col

[2020-03-15 02:59] jamessspanggg commented on #1147
The randomised colour selection may not be a good option as the discussion in #487 prefers colours with higher contrast against one another. So perhaps we can stick with our current implementation and utilise the `mui-colors` instead of the current predefined values.

[2020-03-15 04:11] damithc commented on #1147
It is fine to use randomized colors _after_ the standard selection of colors have been exhausted. There is a range of usage in which the software works optimally. Allowing to exceed that range is already a bonus (instead of limiting the number of categories, in this case); we don't have to provide an _optimal_ experience beyond that range.

[2020-03-15 06:54] ccyccyccy commented on #1146
@damithc Should we only allow clicking of the arrow to collapse the code panel, or clicking either the title or the arrow would collapse the panel?

[2020-03-15 07:09] damithc commented on #1146
No harm allowing both I guess.

[2020-03-15 18:13] #1143 closed

[2020-03-15 18:32] shuiyao-sg commented on #1133
I re-run the test and it passed. Thank you for your help!

[2020-03-15 18:32] #1133 closed

[2020-03-16 04:24] 0blivious opened #1150 "Consistency between Code panel and Chart panel for file type selection"
When a user clicks on the </> icon, we can auto-set the file types of the code panel to match the file type selection of the ramp chart.

_Originally posted by @damithc in https://github.com/reposense/RepoSense/pull/1025#issuecomment-599303582_

[2020-03-16 04:33] #1140 closed

[2020-03-16 05:51] #892 closed

[2020-03-16 06:08] #850 closed

[2020-03-16 07:37] Tejas2805 commented on #1150
Also, file type selection can be encoded in the URL so that a specific file selection can be shared through the URL.

@0blivious Is it okay if take this part? I don't have any other open PR right now. So I have some bandwidth.

I am okay with taking the first one, if you want to do the second one.

[2020-03-16 08:24] 0blivious opened #1151 "Restore Code Panel"
With the new filter by file type feature, file type selection should be encoded in the URL so that a specific file selection can be shared through the URL.

[2020-03-16 08:25] 0blivious commented on #1150
I opened a new issue for you for better management.

[2020-03-17 14:42] eugenepeh commented on #1061
https://community.netlify.com/t/common-issue-how-can-i-optimize-my-netlify-build-time/3907

[2020-03-17 14:45] #1145 closed

[2020-03-17 15:05] eugenepeh commented on #950
Netlify has agreed to waive off the charges this time round but the condition is that we'll be liable for future charges. Payment method also has to be input into the system so that we won't be able to avoid the payment next time round.

![image](https://user-images.githubusercontent.com/19277206/76869693-a24af200-68a3-11ea-8028-a2fdffe3f3e5.png)

[2020-03-17 15:57] jamessspanggg opened #1156 "Netlify preview not showing in PR checks tab"
As described in title.

The recent pushes to PRs does not have netlify preview in the PR checks tab.

PRs:
https://github.com/reposense/RepoSense/pull/1148
https://github.com/reposense/RepoSense/pull/830

[2020-03-17 16:08] jamessspanggg commented on #1156
@eugenepeh is this possibly due to the waiver?

[2020-03-17 16:10] Tejas2805 commented on #1156
I think they won't allow us to use netlify till we agree to the plan.

[2020-03-18 05:55] jamessspanggg commented on #1026
Closing this as this issue no longer occurs.

[2020-03-18 05:55] #1026 closed

[2020-03-18 07:05] jamessspanggg commented on #1156
Netlify preview showing up now, closing this.

[2020-03-18 07:05] #1156 closed

[2020-03-18 09:12] Tejas2805 opened #1160 "Zero contribution despite large number of commits"
![Screen Shot 2020-03-18 at 5 11 27 PM](https://user-images.githubusercontent.com/35946746/76944219-990d6400-693b-11ea-9216-1e505a48c12e.png)

[Link to reproduce](https://nus-cs2103-ay1920s2.github.io/tp-dashboard/#search=f10-2&sort=variance&sortWithin=totalCommits&since=2020-02-14&timeframe=commit&mergegroup=false&groupSelect=groupByRepos&breakdown=false&tabOpen=true&tabType=authorship&tabAuthor=

[2020-03-18 10:13] 0blivious commented on #1160
I guess coz they revert everything in the master according to their new workflow.
![image](https://user-images.githubusercontent.com/39231750/76949782-1341e680-6944-11ea-9caf-7f50396a46ee.png)

[2020-03-18 10:22] jamessspanggg commented on #1160
hmmm yeah, they seem to revert everything from Internship Diary back to AB3

[2020-03-18 10:44] 0blivious opened #1161 "Have a common util file for global constant and function"
Currently global functions and constants are registered in multiple js files which make them hard to trace. We can have a common util.js file for now to make the code more readable and easier to refactor in the future.

[2020-03-18 12:53] anubh-v opened #1163 "GitLsTreeTest: improve testing in `unix_cloneInvalidWindowsFilePaths_success` test case"
I am referring to this test:
https://github.com/reposense/RepoSense/blob/bf77c18fd41e53676458e80fd07922a215c7472c/src/test/java/reposense/git/GitLsTreeTest.java#L73-L79

Shouldn't the test call `validateFilePaths(config)` after setting the branch?

For comparison, here is the test for Windows OS
https://github.com/reposense/RepoSense/blob/bf77c18fd41e53676458e80fd07922a215c7472c/src/test/java/repo

[2020-03-18 12:54] anubh-v commented on #1163
@fzdy1914  may I check this with you?

[2020-03-18 13:35] fzdy1914 commented on #1163
Not clear about the logic here also, can you git blame to see who wrote that part of code?

[2020-03-18 14:02] anubh-v commented on #1163
The test was introduced in [this PR](https://github.com/reposense/RepoSense/pull/564)
@yong24s, may we get clarify this issue with you? Thanks for your time

[2020-03-18 18:41] Tejas2805 commented on #1160
I saw the revert commits too but I didn't think it was fully reverted. Thought it was just few  commits.

[2020-03-18 18:51] Tejas2805 opened #1166 "Setup Github Actions for first time contributors"
First-time contributors have a difficult time matching RepoSense's contribution guidelines and it becomes the onus of the senior developers to manually check and guide them. Though this is a good practice, I think we should automate the first level of interaction.

Suggestion: Setup Github Actions to reply to first-time developers whenever they open a new PR, to guide them related to the checks an

[2020-03-18 18:52] Tejas2805 commented on #1166
@damithc Your opinion on this?

[2020-03-19 01:42] damithc commented on #1166
Sure. give it a try.
While we are are it, we can also automate other housekeeping tasks such as auto-closing inactive PRs?

[2020-03-19 01:49] Tejas2805 commented on #1166
Surely. Will look into it.

[2020-03-19 09:17] 0blivious commented on #1161
@fzdy1914 can I get your opinion on this?

[2020-03-19 12:44] fzdy1914 commented on #1161
Can. Better to move all windows.function first, and then put them back to a class method if applicable.

[2020-03-19 18:39] ccyccyccy opened #1167 "Authorship / Zoom tab bug from regressions introduced by PR #967"
The PR #967 caused some regressions because it did not re-render the component, causing the previous state to be preserved.

This caused the following bugs
1. Duplicate values getting pushed into `fileTypes`, causing filter selections to not work properly. This occurs even when the same authorship icon is clicked multiple times.
![image](https://user-images.githubusercontent.com/32454748/77102496-

[2020-03-20 04:58] jamessspanggg commented on #1167
Resetting the values of `fileTypes` and `selectedFileTypes` when calling `initiate()` will work. However, note that other values such as `toReverseSortFiles` will also persist after selecting new authors.

Seems like this issue is because `filesLinesObj` is not initialised within `data()`, so Vue is not watching it.

[2020-03-20 05:16] jamessspanggg commented on #1167
actually, we can just use `v-bind:key=...` to re-render the authorship component, right? Whenever the key changes, the entire authorship component will be re-rendered. The key can be the `repoName + authorName`. This will be much cleaner than the previous way of re-rendering the authorship component (setting `isTabActive` to false and true).

@fzdy1914 with the implementation introduced in #967, y

[2020-03-20 06:24] jamessspanggg commented on #1167
This issue happens to zoom tab as well.

[2020-03-20 06:53] jamessspanggg opened #1170 "Total line contribution not updated when filetypes are unchecked"
When filetypes are unchecked, the contribution bar length adjusts to the correct length, while the total line contribution of each group does not (shown in diagram below).

Hence, when toggling sorting controls to decreasing order of contribution, groups with higher total contribution are seen to be in lower position than groups with lower contribution (as they are sorted based on total contributi

[2020-03-20 06:54] jamessspanggg commented on #1170
@damithc should we update the total contribution to reflect the total contribution among those file types that are checked?

[2020-03-20 08:19] damithc commented on #1170
I think we should.

[2020-03-20 08:43] jamessspanggg commented on #1167
Some other weird behaviour: some code segments show codes that are not in correct order.

![Kapture 2020-03-20 at 16 39 49](https://user-images.githubusercontent.com/32864116/77147966-80cb4f80-6ac9-11ea-8f9c-d812d61fd8d4.gif)

To reproduce, click on the code view button of Jun An first, then click on code view button of Yong Hao.
[Link to reproduce](https://reposense.netlify.com/)

[2020-03-20 12:52] #1124 closed

[2020-03-20 13:02] fzdy1914 commented on #1167
From my experience, it is not so ideal to re-render the whole component. If some value is computed just by the `info` passed in, we should make it `computed` or at least `watched` instead of just re-render it.

Correct me if what I thought is not applicable here.

[2020-03-20 13:46] ccyccyccy commented on #1167
Yes I agree that converting the fields to `computed` values is more appropriate.

However, it is quite an intensive change to do so, and this is quite a breaking bug. So I feel that we can force the re-render for now, and then do the conversion in another PR?

[2020-03-21 04:34] damithc commented on #1115
Guys, this is urgent as this is central to how RepoSense is being used.

[2020-03-21 07:56] jamessspanggg commented on #1167
There are also properties that are not tied to the `info` being passed in, such as `filterSearch`, `toReverseSortFiles`, `filesSortType` and more in authorship tab. Same goes for zoom tab as well. Without re-rendering the whole component, these values need to be reset when a new author is toggled.

Re-rendering the component maybe much more simpler and cleaner, since the logic to reset the values

[2020-03-21 08:15] fzdy1914 commented on #1167
Maybe we can revert #967 first? Just keep the cloned user feature?

@eugenepeh Need your input here.

[2020-03-21 08:16] jamessspanggg commented on #1167
Agree with this.

[2020-03-21 08:19] eugenepeh commented on #1167
Seems that there are more than 1 breaking point, perhaps revert will be a better choice for now while we investigate.

Meanwhile do take note of the broken features, we need to add cypress tests for those area

[2020-03-21 08:47] anubh-v commented on #1163
@eugenepeh, may we clarify this issue with you? Thanks for your time

[2020-03-21 13:18] anubh-v commented on #1115
The bugfix is ready to merge

[2020-03-21 13:34] ang-zeyu opened #1173 "Compon-ify tab resizer"
1. The tab resize element logic currently resides within `main.js`.
   - We can make the resizer a component instead, passing the tab/summary wrapper as the `left/right` slots of this resizer component, allowing us to encapsulate resize logic within it

2. The resize component currently uses a tab-resize-guide. We could change the resizing to be instant for a more responsive feel.

Would like to t

[2020-03-21 13:48] fzdy1914 commented on #1173
We freeze the resize because of performance.

[2020-03-21 13:58] #823 closed

[2020-03-21 13:58] #981 closed

[2020-03-21 13:58] #1115 closed

[2020-03-21 14:26] ang-zeyu commented on #1173
Noted, thanks!
I'll just go with the compon-ifying portion then 😁

[2020-03-22 02:42] jamessspanggg opened #1174 "Travis fails with macOS 10.13.6 JDK8"
Travis is failing with the following log:
<img width="1007" alt="Screen Shot 2020-03-22 at 10 37 47 AM" src="https://user-images.githubusercontent.com/32864116/77241158-67411980-6c29-11ea-92ef-3aee2a84d0c4.png">

This occurs for several PRs:
#1165 #1153 #1168 #1104 #1053, #1171 and #1172

[2020-03-22 06:25] jamessspanggg commented on #1174
It seems like all PRs are having the same issue.

I've tried creating a PR to my forked repo, with travis setup and running the same `.travis.yml` file. The `macOS` build seems to work fine. [Link to the successful macOS build](https://travis-ci.com/github/jamessspanggg/RepoSense/jobs/300804860)

@eugenepeh would it happen to be some changes to the configurations/settings in the team's travis?

[2020-03-22 06:33] jamessspanggg commented on #1174
Update:

Don't think the problem is due to our side as there are several forum posts about the similar events:
[Link 1](https://travis-ci.community/t/macos-build-fails-with-an-error-occurred-while-generating-the-build-script/7695)
[Link 2](https://travis-ci.community/t/macos-build-an-error-occurred-while-generating-the-build-script/7684)

[2020-03-22 06:43] jamessspanggg commented on #1122
Closing this due to inactivity and unable to reproduce.

[2020-03-22 06:43] #1122 closed

[2020-03-22 06:44] Tejas2805 commented on #1174
Travis is under maintainance

[2020-03-22 06:47] jamessspanggg commented on #1174
@Tejas2805 do u mean this [maintenance](https://blog.travis-ci.com/Database-Maintenance-21st-of-March-2020)? They are already done with the maintenance. [link](https://twitter.com/travisci/status/1241411541150433281)

[2020-03-22 06:48] Tejas2805 commented on #1174
Yup.

[2020-03-22 07:18] jamessspanggg commented on #996
@Tejas2805 How's the progress of this? If you haven't started, may I try to attempt this?

[2020-03-22 11:48] yong24s commented on #1163
On hindsight, it may be missed out.

`GitLsTreeTest#unix_cloneInvalidWindowsFilePaths_success` should call `GitLsTreeTest#validateFilePaths` regardless for a more complete testing.

[2020-03-22 12:46] fzdy1914 commented on #1174
But the issue is still not solved

[2020-03-22 12:52] jamessspanggg commented on #1174
Yes. I don't think the problem is on our side, but Travis. There are several forum posts on Travis with the same problem.

[2020-03-22 16:37] jamessspanggg commented on #1174
Just confirmed that it's an issue on Travis' side. [Link to comment](https://travis-ci.community/t/macos-build-an-error-occurred-while-generating-the-build-script/7684/16) They will be fixing the issue.

[2020-03-22 17:45] jamessspanggg commented on #1174
I think they fixed the issue already. The Travis builds for macOS are running fine now!

[2020-03-23 02:28] jamessspanggg commented on #1174
They issued an [official statement](https://www.traviscistatus.com/incidents/7mbxh26jk3sl) saying that the issue is resolved. The builds are running fine as well. Closing this.

[2020-03-23 02:28] #1174 closed

[2020-03-23 13:34] fzdy1914 commented on #950
We can watch how surge works for 10 days. If it is OK, then, we can stop Netlify related status in our PR.

[2020-03-23 13:39] jamessspanggg commented on #950
sounds good to me

[2020-03-23 15:10] ccyccyccy opened #1178 "UI for viewing repo confusing"
Currently we have an octocat icon to redirect users to the respective repos, as well as the same ocotcat icon directing users to github profiles when grouped by `Authors` and `merge group` selected.

This icon is duplicated multiple times in the default setting of grouping by `Repo/Branch`, with them all pointing to the same repo.

![image](https://user-images.githubusercontent.com/32454748/773308

[2020-03-23 15:32] Tejas2805 commented on #1178
I agree with you but I believe the icon keeps it neat and succinct. Allowing all the names to be a clickable link might make navigation bit of an issue. Users might end up clicking them while just trying to scroll. So, I think better to keep as is.

Let's see what senior devs think.

[2020-03-23 15:49] ang-zeyu commented on #1178
How about shifting the icon to the right? Personally, I was confused when coming across this the first time as an external link typically wouldn't be in the middle of the two internal icons.

I think this is a nice addition either way though

[2020-03-23 18:16] Tejas2805 commented on #1160
Closing as solved.

[2020-03-23 18:16] #1160 closed

[2020-03-23 23:37] Tejas2805 commented on #1178
This is a better idea, I feel.

[2020-03-24 00:53] Tejas2805 commented on #1004
@damithc Anything else required for this issue?

[2020-03-24 04:46] damithc commented on #1004
I think we can do more. For example, font sizes seems inconsistent between the two panels.
![image](https://user-images.githubusercontent.com/1673303/77389102-110cdb80-6dcd-11ea-9bd6-8fde7d466350.png)

Another one: the way groups are shown
![image](https://user-images.githubusercontent.com/1673303/77389140-34378b00-6dcd-11ea-91b4-50823fb99b73.png)

[2020-03-24 07:54] Tejas2805 commented on #1004
Will look into it and get back.

[2020-03-24 08:24] #1167 closed

[2020-03-24 08:58] ccyccyccy commented on #1178
I don't think people would accidentally click on things while scrolling? Never had that experience before...  I feel like people are already quite used to having everything being clickable. Also, since we open a new tab when clicking on a link, it should be quite easy to just close the new tab.

Hmm that might help, I'm not sure if that would be enough. There's still the problem of the repo link b

[2020-03-24 09:45] jylee-git opened #1180 "Weird highlighting of commits in commits panel"
This occurs when the commits take up more than one line (buttons, tags and everything included).

![image](https://user-images.githubusercontent.com/35756209/77411228-09622c80-6df7-11ea-9db6-12b0427dee97.png)

To replicate: go to commits panel, and click on any commits that take up more than one line when commit message body is collapsed.

[2020-03-24 12:03] damithc commented on #1178
I like that linking names eliminates the need for certain icons, which saves space and makes the UI cleaner. It's not without a cost though.
e.g.,
* bigger clickable areas could make it harder to use for touch interfaces users? (I'm not sure as I don't use a touch interface myself).
* When text is clickable, we typically use blue color to indicate that they are clickable, which upsets the UI balan

[2020-03-24 12:15] Tejas2805 commented on #1178
Let's go ahead with:

1) Octocat icons beside repo name (same for merge group).
2) No octocat icon for profiles or repo within the group.
3) A new icon (we can decide which) for author repos.

Sounds good?

[2020-03-24 15:07] ccyccyccy commented on #1178
@damithc I don't think these are hard issues to solve though.

Actually I think it's the opposite? Touch interface users generally need a bigger clickable surface.

We can implement in CSS `:hover` selector to make the text become blue color **only** on hover to indicate that they are clickable, and making the cursor become a pointer. This way the UI balance is still preserved.

<br />

Otherwise

[2020-03-24 15:11] jamessspanggg commented on #1180
Note that this issue only occurs for chrome but not safari

[2020-03-24 16:11] damithc commented on #1178
True, that does work but I think it's best not to depend entirely on hover as we cannot expect users to hover their mouse  over the entire page to discover all clickable areas, and then remember those later? I guess we can use a different visual cue for linked text that does not depend on hover and does not upset the UI balance. Having said that, let's try the option of reorganizing icons to overc

[2020-03-25 06:35] #1083 closed

[2020-03-25 07:18] #1046 closed

[2020-03-25 09:52] Tejas2805 commented on #1178
@ccyccyccy Are you taking this up or can I try?

[2020-03-25 09:57] ccyccyccy commented on #1178
I will be taking this up, since I kind of need some PRs going on.

@damithc So something like this? Maybe change the icons a little.

![image](https://user-images.githubusercontent.com/32454748/77524255-ff593000-6ec1-11ea-851e-c6bee3a73879.png)

[2020-03-25 11:19] damithc commented on #1178
Not sure it's worth breaking up the icon group like that though. Visually, neater to keep the icons together?

[2020-03-26 01:23] anubh-v commented on #1014
@fzdy1914 would it be suitable if we remove these unused methods?
We can always re-introduce them if they are needed in future?

[2020-03-26 02:25] damithc opened #1181 "Filter ramps by file type"
Current: all ramps are shown even when some file types have been filtered out
![image](https://user-images.githubusercontent.com/1673303/77603798-f2811e80-6f4b-11ea-8658-67b0f920b7b4.png)

Suggestion: show ramps that are relevant to the selected file types only

[2020-03-26 04:31] jamessspanggg commented on #1181
Some ramps have contribution to multiple file types. Should we only remove them if all of the filetypes within the ramp are removed?

[2020-03-26 04:33] anubh-v opened #1182 "StandaloneConfigTest: standaloneConfig_validJson_success test does not verify the author list?"
I am referring to this test:

https://github.com/reposense/RepoSense/blob/ac0909a177c043183807bb4cea027eab111ba931/src/test/java/reposense/model/StandaloneConfigTest.java#L48-L52

After calling `config.update(standaloneConfig)`, shouldn't the test verify that the author list in `config` is  as expected?

[2020-03-26 04:33] jylee-git opened #1183 "Consider adding the number of commits over a particular day, week and as a whole in the commits panel"
![image](https://user-images.githubusercontent.com/35756209/77610471-c373a880-6f5d-11ea-8e9e-fc776a49c1f8.png)

[2020-03-26 04:34] anubh-v commented on #1182
@jylee-git, @fzdy1914 may I check this with you?

[2020-03-26 04:38] jamessspanggg commented on #1183
@damithc where would be an appropriate location to place the number of commits?

Perhaps for total commits, it should be placed beside/after the date range? i.e. `34 commits from 2017-10-09 to 2020-03-23...`

For commits within a single granularity duration, we can add beside the date? i.e. `2019-12-24 [1 commit(s)]`

[2020-03-26 05:32] damithc commented on #1183
Shall we put this on hold for now? I can't remember a time I wanted to find how many commits in a period. As a high number of commits can mean either lot of good work or a lot of spam commits caused by sloppy work, I don't usually pay attention to that number.

[2020-03-26 05:52] anubh-v opened #1184 "GitTestTemplate: Method of asserting file analysis correctness can be improved"
Currently, it is difficult to change the test files used in some tests of `FileAnalyzerTest`.

Reason: the underlying method `assertFileAnalysisCorrectness` only asserts whether each line in the test file is / is not attributed to a dummy author called `FAKE_AUTHOR`

It doesn't actually assert against the expected author of each line

Relevant snippet:
 https://github.com/reposense/RepoSense/blob/

[2020-03-26 06:31] anubh-v commented on #1118
@jylee-git after some thought, I do not really see a reason we might need a regex validation at all for the author name given in `@@author` tags.

(if no author name is provided, the tag is consider an *end tag* )

Do you see any need for a regex validation?

[2020-03-26 06:32] ccyccyccy commented on #1178
Ok no problem. So we will have the following changes.

1. Reorder the icon corresponding to the repo or the author profile to be the leftmost icon.
2. Add icon beside the parent group ( the option selected by `group by`)
3. Change where the icons link to. Icon beside author will link to author github profile. Icon beside repo name will link to the repo.

@damithc Is that right?

[2020-03-26 06:52] damithc commented on #1178
OK for me.

[2020-03-26 07:02] anubh-v commented on #1131
@jylee-git @fzdy1914, I think we should remove the modifications to `config` in the `generateTestFileInfo` method (i.e. remove line 96 and 97)

Reason: I think the config setup should be done outside of `generateTestFileInfo` so that `generateTestFileInfo` can be used by more tests.

Currently, we cannot use `generateTestFileInfo` in a test if these modifications to `config` affect the test.

Shal

[2020-03-26 09:14] #1119 closed

[2020-03-26 12:39] ccyccyccy opened #1185 "Link to author profile not working when config.json not provided"
When `group by` Author and `merge group` is selected, the author profile linked by the octocat icon is shown. However, when `config.json` is not provided by the target repo, the hyperlink does not work.

This is due to the `name` of the author being the same as the `displayName` of the author when the config file is not provided, where the `name` is supposed to be the github id of the author.

[2020-03-26 14:04] anubh-v commented on #1184
@fzdy1914 would you agree with this?

[2020-03-26 16:30] anubh-v opened #1188 "AuthorConfiguration: all authors' information reset when ignored authors are removed"
In the snippet below, we see that the `resetAuthorInformation` method is called after ignored authors are removed.

`resetAuthorInformation` will re-populate the `AuthorConfiguration` with the information of all authors except the ignored authors.

I wish to clarify:
- Is there a reason we reset **all** authors' information, rather than only removing the ignored authors' information?
- It seems th

[2020-03-26 16:48] anubh-v commented on #923
Prof @damithc , may I check what the expected behaviour should be when a git URL of a repo hosted on other services is used (e.g. GitLab) ?

Currently, RepoSense is able to clone, run analysis and generate the report. However, the links in the report do not work (as expected).

[2020-03-26 21:20] Tejas2805 commented on #1188
On a closer look, I have come to realize that it is not easier to remove the ignored author's information. This is because we put the author as a `value` in the `authorEmailsAndAliasesMap` and not as a key. Therefore, to remove it we will have to write this logic and it might be a tedious to do so. This is why we clear everything and then just the new author's list again.

[2020-03-26 21:43] Tejas2805 commented on #1188
I have created a PR #1189 which kind of modifies the logic to what we wanted. If all looks good, maybe we can merge this first and then the duplicate alias warning PR.

[2020-03-26 21:45] Tejas2805 commented on #1188
Doesn't seem to be the case. Cause based on the current implementation, running the function `resetAuthorInformation` without any authors to ignore is redundant.

[2020-03-27 05:25] anubh-v opened #1190 "RepoLocation: ftp protocol is accepted in repo url"
To observe this, run RepoSense with the command
`./gradlew run -Dargs="--repo ftp://github.com/reposense/RepoSense.git"`

RepoSense does not treat this as an invalid location, but tries to clone the repository (and fails):
![image](https://user-images.githubusercontent.com/35621759/77724425-e53c6080-702d-11ea-99f2-4d635b82bd5d.png)

Is this intended?
Currently, we only use repo URLs for repos host

[2020-03-27 05:33] anubh-v commented on #923
Here is another example of the loophole in our verification:
If we run RepoSense with the command `./gradlew run -Dargs="--repo https://some-random-text.git"`,
RepoSense will try to clone this repository, instead of detecting it as an invalid location.

Output:
![image](https://user-images.githubusercontent.com/35621759/77725086-8677e680-702f-11ea-8051-37e026e2cadc.png)

[2020-03-27 05:42] anubh-v commented on #1190
From the git man pages (git version 2.17.1):

`Git supports ssh, git, http, and https protocols (in addition, ftp, and ftps can be used for fetching, but this is inefficient and deprecated; do not use it).`

[2020-03-27 07:08] ccyccyccy opened #1191 "Vue reactivity not working with fontawesome icons"
Currently fontawesome icons do not work well with Vue's reactivity system, and there are some indeterministic behaviours when used with `v-if`. Several PR (e.g. [here](https://github.com/reposense/RepoSense/pull/1186) and [here](https://github.com/reposense/RepoSense/pull/1175#issuecomment-604523377)) implemented a workaround to force the icons to re-render, but that is not ideal.

We could explor

[2020-03-27 09:15] fzdy1914 commented on #1014
We can remove them, but I believe leaving most of them in the codebase won't make it more difficult to understand the codebase and will not complicate the codebase much. For each class attribute, it is fine to have one set method and get methods.

[2020-03-27 09:41] yash-chowdhary commented on #1014
In that case, I will leave these methods in the codebase and not include them in #1177.

[2020-03-27 09:47] fzdy1914 commented on #1182
Not sure it is checking if we can parse a valid json file only or what. Can double-check with code owner.

[2020-03-27 09:52] fzdy1914 commented on #1131
Not sure though.  Many test code are written in early stage of RepoSense, so it is possible to have code that is not so sound.

If we remove the two lines in this helper method, then, it seems to be a bit meanless to have this one line code method.

[2020-03-27 10:58] 0blivious commented on #1181
I feel this will cause confusion as the size of ramp is related to LoC. If you remove the ramp according to file types, this gives the user intuition that LoC of each file types matters and they will expect the other ramp size to change also.

[2020-03-27 11:05] jamessspanggg commented on #1181
Hmm so you are suggesting that the ramp should be adjusted (if part of the filetypes are unchecked) or removed (if all filetypes unchecked) accordingly?

@damithc may i get ur opinion here?

[2020-03-27 11:16] jamessspanggg commented on #1181
Btw, I have implemented the one where it will remove ramps if only all of their file types are unchecked. Can test the dashboard preview out in #1192. Will modify accordingly if it is unintuitive.

[2020-03-27 11:25] damithc commented on #1181
Ideally, yes, but not sure if it worth it. Also, I believe the ramp size doesn't _really_ match the contribution size, for example, it could be the same lines that are being modified over and over, and even can be claimed by someone else later.

[2020-03-27 11:28] damithc commented on #1181
Seems OK to me. 👍

[2020-03-27 14:54] damithc commented on #923
Our state of support for non-github repos at the moment is 'if it works, then it works; if it doesn't work; then it doesn't work'. Nothing is guaranteed as we have not declared support for non-github repos yet. Adding support for other hosting services is something we need not worry about at the moment. When we have solid support for GitHub to the level that other people also start using RepoSense

[2020-03-28 14:25] anubh-v commented on #1014
Thanks for the responses. I'll close this issue then

[2020-03-28 15:07] anubh-v commented on #1182
The test seems to be have been introduced in [this PR](https://github.com/reposense/RepoSense/pull/283/files).

@eugenepeh, may we check this with you?

[2020-03-28 15:13] anubh-v opened #1193 "Replace direct comparison with "-" git author name with helper method"
As discussed [here](https://github.com/reposense/RepoSense/pull/1175#discussion_r399670750), there are a few instances in the frontend code where we are comparing an author name against the name `-` (which represents an unknown author).

Let's place this comparison in a method such as `isUnknownAuthor` to improve readability

[2020-03-28 15:33] eugenepeh commented on #1087
can proceed with changing to this badge

[![Netlify Status](https://api.netlify.com/api/v1/badges/260983b3-589e-4619-a2e8-0bfb7a2b4422/deploy-status)](https://app.netlify.com/sites/reposense/deploys)

[2020-03-29 08:06] #779 closed

[2020-03-29 08:42] jamessspanggg opened #1195 "Combine zoom hashes into single hash using base64 encoding"
This is to centralize the use of aliases, to limit the appearance of e.g. `zU` in our code

_Originally posted by @eugenepeh in [link](https://github.com/_render_node/MDIzOlB1bGxSZXF1ZXN0UmV2aWV3VGhyZWFkMjQzMzIzMjkxOnYy/pull_request_review_threads/discussion)_

With #830 merged, quite a number of zoom hashes are used to restore the zoom tab after reloading. Let's combine them to a single hash usin

[2020-03-29 09:18] eugenepeh commented on #1182
Yes, the unit test was created to ensure that a proper json won't throw any error. Otherwise it may cost extra work to identify the failing point should the execution fails at `.update`. Checking of values are done in subsequent tests.

[2020-03-29 09:51] jamessspanggg commented on #956
Any updates on this?

Since we are currently using surge, we can run the markbind build command and deploy to surge site separately from our RepoSense dashboard. We can then add the another Github Status that links to the deployed markbind surge site.

@damithc opinion on this?

[2020-03-29 12:12] jamessspanggg opened #1196 "Change preview link in our GitHub home page"
Our GitHub home page contains a link that navigates to the dashboard generated by [reposense/dashboard-demo](https://github.com/reposense/dashboard-demo). The link normally shows the dashboard that is out-of-date as we need to update the generated files in the dashboard-demo repo.

<img width="916" alt="Screen Shot 2020-03-29 at 8 07 08 PM" src="https://user-images.githubusercontent.com/32864116/7

[2020-03-29 13:06] #1087 closed

[2020-03-29 14:47] damithc commented on #956
I'm all for moving to MarkBind as I'm keen to have a proper https://reposense.org website. As long as you guys can figure out a worflow that is not harder than the current workflow, and still can do PR previous for changes to docs, I'm fine with it.

[2020-03-29 14:52] Tejas2805 commented on #956
I don't think it should be an issue. Once James deploys to a new site, we can use the link in the footer to go to it, and review PR through it. Or, if I understood surge correctly, we can review the docs independently.

I already have a PR for this conversion ready.

[2020-03-30 01:53] anubh-v commented on #1196
What was the original purpose for the dashboard-demo? I suppose it pre-dates the Netlify preview?

[2020-03-30 11:08] #1135 closed

[2020-03-30 11:08] #1144 closed

[2020-03-30 11:53] #1058 closed

[2020-03-30 12:06] Tejas2805 commented on #1004
@damithc Are you referring to - left panel having color background and the right panel not having it?

[2020-03-30 12:47] damithc commented on #1004
Yes.

[2020-03-30 15:05] jylee-git commented on #1131
Not sure the reason behind it either, seconding what @fzdy1914 said about test codes being written in the early stages.

But I agree that the config of authors and its' respective aliases should be done on individual test case itself.

And probably call respective `generateFileInfo` methods directly instead of going through `GitTestTemplate#generateTestFileInfo` and/or `GitTestTemplate#getFileResu

[2020-03-31 02:41] jamessspanggg commented on #1196
I guess it's to demonstrate to the people on how RepoSense works, while the netlify preview is sort of for the PR previews?

Yes I think we can replace with the netlify preview of the master branch

[2020-03-31 08:13] Tejas2805 opened #1198 "Use @mixin for fonts"
We are duplicating fonts in a large number of places.

![Screen Shot 2020-03-31 at 4 11 19 PM](https://user-images.githubusercontent.com/35946746/78002937-8008a800-736a-11ea-8e35-1ce602f42189.png)

**Suggestion**: Let's create a mixin for fonts (and any other such style)

**Pros:** Our pug files will clear up to some extent and all css will be in one place.

As suggested by @jamessspanggg in PR #1

[2020-03-31 10:02] anubh-v opened #1199 "Checkstyle: Consider enforcing naming convention of exceptions in catch blocks"
Currently, it seems we have an undocumented naming convention that the names of exceptions in catch blocks should consist only of lower case letters.

Example of existing convention:
[code]

But our Checkstyle config also allows `camelCase` names for the exceptions, and hence we have to catch violations of this convention manually during review.

We can consider using the [CatchParameterName check

[2020-03-31 12:32] Tejas2805 commented on #1199
Good idea. I think it would be nice to enforce this.

[2020-03-31 12:41] Tejas2805 opened #1200 "Add Contribution Guide"
Since we are now moving towards our own MarkBind website, we should include our own contribution guide instead of redirecting the new developers to different pages, as it will
also help them understand the way to contribute better.

[2020-03-31 20:48] Tejas2805 commented on #1198
@fzdy1914 @jylee-git Can I get your review on this?

[2020-03-31 21:19] Tejas2805 commented on #1111
@jylee-git @fzdy1914 Need your take on this. Thank you for your time.

[2020-04-01 03:29] jylee-git commented on #1198
Yes, I think it can be done and doing so should reduce the clutters in the pug file

[2020-04-01 03:45] anubh-v commented on #1199
@fzdy1914 @jylee-git may I get your thoughts on this suggestion?

Currently, there is only one instance where we do not follow this convention in our code:

In the snippet below, the name `actualException` uses camel case

https://github.com/reposense/RepoSense/blob/e963b68a890175fbba4c57910008de9599ea4591/src/test/java/reposense/util/AssertUtil.java#L27-L38

[2020-04-01 10:09] niqiukun opened #1201 "Wrong repo name displayed and invalid links to commits when merging by author"
When `group by` is set to `author` and `merge group` is selected, the commits panel still shows the name of the first repo, although the commits do not belong to it. Also, clicking on commits which do not belong to the repo being shown directs to a GitHub 404 page because of wrong URL.

![image](https://user-images.githubusercontent.com/5328196/78125420-99315780-7443-11ea-96b2-c001c8cc2ca9.png)

C

[2020-04-01 11:46] Tejas2805 commented on #436
Removed `FirstTimers` label as it wasn't as easy as it looked.

[2020-04-01 11:49] Tejas2805 opened #1202 "Missing javadoc for functions"
There are many methods in the backend which don't have any javadoc This makes it difficult for first-time developers to understand the backend code.

Suggestion: Let's add javadoc for missing functions so that it becomes easier for someone reading the code to do it.

[2020-04-01 11:50] Tejas2805 commented on #1202
Let's make this a `FirstTimer issue`? It will help them understand backend better.

[2020-04-01 11:55] Tejas2805 commented on #1200
@damithc Need your opinion on this.

[2020-04-01 12:45] anubh-v commented on #1202
Which methods are these? (any specific class / package ? )

[2020-04-01 14:08] #576 closed

[2020-04-01 14:44] #1014 closed

[2020-04-01 15:01] anubh-v opened #1204 "Usage of AuthorConfiguration#resetAuthorInformation can be made more readable"
I'm referring to the following snippet:

https://github.com/reposense/RepoSense/blob/1a34084e5379a86bd685c1f35847c1038a1c37de/src/main/java/reposense/model/RepoConfiguration.java#L385-L392

Line 390 can be confusing because it appears like we are
wiping out the author list that was set on the previous line (although the reader will realise this is not the case *if* they read the `resetAuthorInform

[2020-04-01 15:10] anubh-v commented on #1131
Ok, I'll take a look and see if we should remove `GitTestTemplate#generateTestFileInfo` and
`GitTestTemplate#getFileResult`

[2020-04-01 16:09] Tejas2805 commented on #1204
Looks like a good idea. Since, we have already removed one use case for the method.

[2020-04-01 16:14] Tejas2805 commented on #1202
The `addAuthorEmailsAndAliasesMapEntry` in AuthorConfiguration for example doesn't have it. Though it is not something too important to add, such methods when edited, cause an error in Travis, due to having no javadoc. Therefore, I feel it is better to find such methods and add them.

[2020-04-02 08:41] jamessspanggg opened #1205 "Provide help page in dashboard"
The current workflow of RepoSense is that users can setup a RepoSense dashboard and share the link to his/her peers or students.

However, the people that are shared to may not understand how to interpret the report (such as what does the ramp size and ramp position represent etc). They are also highly unlikely to go to our User Guide to find out how to interpret the report.

Perhaps we can provid

[2020-04-02 08:43] jamessspanggg commented on #1205
@damithc what do you think? since you are sharing to hundreds of students every semester, would this addition be good?

[2020-04-02 09:02] damithc commented on #1205
Yes, that's a good idea @jamessspanggg

[2020-04-02 09:59] damithc commented on #1200
I have no objections. We don't want to duplicate the same thing in every project either, but that's battle we can fight another time.

[2020-04-02 11:55] Tejas2805 commented on #1200
How about, we add a Contribution guide to the NUS-OSS Webpage? And all our Contribution guides can link to that one? With sections for the individual projects, regarding guidelines just for that project? Then no duplicates required.

Something like:

NUS-OSS Contribution Guide
[x] General Guidelines
[x] Code of Conduct
........
.......

RepoSense:
[x] How to contribute to reposense
........

MarkB

[2020-04-02 12:48] damithc commented on #1200
For the moment, let's forget the duplication and improve each project separately. We can unify the common parts sometime in the distant future.

[2020-04-02 14:17] 0blivious opened #1206 "Duplicate keys detected when open Zoom"
1. open any recent surge preview based on latest master
2. open zoom for Eugene Peh (Eugene Peh) in reposense/testrepo-Alpha[master]
3. observe the commit result for each commit. same commit result appear twice

possible regression from #779

error message in console: Duplicate keys detected: '136c6713fc00cfe79a1598e8ce83c6ef3b878660'. This may cause an update error.

[2020-04-02 16:21] ang-zeyu commented on #1206
Would be fixed by #1050!

[2020-04-02 16:27] #1206 closed

[2020-04-02 16:28] 0blivious commented on #1206
A fix is already being implemented

[2020-04-03 03:56] jamessspanggg opened #1207 "Better naming of authorEmailsAndAliasesMap"
According to the discussion between me and @Tejas2805 in [here](https://github.com/reposense/RepoSense/pull/1189), the current `authorEmailsAndAliasesMap` in the class `AuthorConfiguration` has the following structure:

[code]
while the naming entails the structure to be:
`email -> alias`

Perhaps we can rename the map to `authorDetailsToAuthorMap`?

or perhaps we can separate to few maps instead

[2020-04-03 05:18] Tejas2805 commented on #1207
I am all up for option 2. It will make the code more readable.

[2020-04-03 10:28] Tejas2805 commented on #1004
But will have the color background in the right panel have some use? We are using it in the left panel, to show colors that are being shown in the contribution bar. No such use case in right panel. Should I still go ahead with it ?

[2020-04-03 12:56] Tejas2805 commented on #1205
What all we plan to have in Help Page? Some specific sections of the UG?

[2020-04-03 13:30] anubh-v commented on #1207
The first option: renaming to `authorDetailsToAuthorMap` sounds better to me.

Is there any additional benefit from splitting into distinct maps? (I don't see the benefit currently)
Having multiple maps may be slightly cumbersome as we have to update multiple objects when modifying an author in the author config.

Additionally, (at the moment), there isn't any behaviour that we need that requires

[2020-04-03 13:38] Tejas2805 commented on #1207
Can do this too. It will be easier to implement agreed.

True.

[2020-04-03 13:40] Tejas2805 commented on #1207
This will make the code more readable. But implementation wise might be cumbersome as pointed out by @anubh-v

[2020-04-03 13:49] #1097 closed

[2020-04-03 13:49] #929 closed

[2020-04-03 13:49] #1002 closed

[2020-04-03 16:58] anubh-v commented on #1163
Removing the FirstTimers issue as it may be better to fix the test case ASAP
(in order to catch possible regressions)

[2020-04-04 08:00] anubh-v commented on #1202
I think our checkstyle config does check for presence of javadocs.
Perhaps we can investigate if the config is sufficiently strict in detecting missing javadoc comments?

For the specific case you mentioned, I think it can be a first timer issue, but perhaps issue #1207 should be resolved first as it affects the same data structure

[2020-04-04 09:14] anubh-v opened #1212 "RepoLocation: Redundant backslashes in regex used for parsing repo url"
Our current regex is:
https://github.com/reposense/RepoSense/blob/7fe12bf20b3a1a771f79c4dd808f5511fe9bfeba/src/main/java/reposense/model/RepoLocation.java#L17-L18

I believe we can simplify it to:
`^https?://github.com/(?<org>.+?)/(?<repoName>.+?)\.git$`

I.e. there is no need to escape the forward slash `/` character with the `\\` characters, as
the forward slash does not have a special meaning w

[2020-04-04 09:16] anubh-v commented on #1212
@fzdy1914 @jylee-git may I confirm this with you?
Please let me know if I'm wrong

[2020-04-04 12:30] anubh-v commented on #1204
Shall we decide between the 2 options before making it a first timers' issue?

Option 1: Rename the method `resetAuthorInformation` to `resetFromAuthorList`
Option 2: Break `resetAuthorInformation` into 2 methods:
- `authorConfig.clear` : this will clear the author configuration's internal data structures
- `authorConfig.buildFromAuthorList` : this will re-populate the author config's internal dat

[2020-04-04 12:44] jamessspanggg commented on #1204
I'm up for option 2 as it will be much clearer in my opinion.

[2020-04-04 13:54] jylee-git commented on #1212
Yes I believe forward slashes without any escaping it should work. But please help to test and ensure that forward-slash without escaping works in Java.

[2020-04-04 14:47] Tejas2805 commented on #1204
Can go ahead with option 2.

[2020-04-04 14:55] jamessspanggg opened #1213 "Regressions from #1059"
PR #1059 separates extracts `v_summary_charts` out of `v_summary`, while passing data through props from `v_summary` to `v_summary_charts`.

Props such as `sortingOption`, `sortingWithinOption`, `isSortingDsc`, `isSortingWithinDsc` were not passed to `v_summary_charts`, even though they were used in `openTabZoom`.

Hence, in some cases, the zoom tab is not restorable after reloading the page.

[2020-04-04 22:11] Tejas2805 commented on #1213
Can close this too then?

[2020-04-04 22:12] Tejas2805 commented on #1004
@damithc Need your opinion on it.

[2020-04-05 01:27] jamessspanggg commented on #1213
The issue still occurs where zoom tab isn’t restorable. Check merge group -> click show all commits in a group -> change sorting option -> reload.

[2020-04-05 05:56] damithc commented on #1004
I think we should do it if only for consistency's sake. We might also find some use for it later. e.g., we can use the repeat the file type label for each file to indicate under which file type we consider the file.

[2020-04-05 16:01] anubh-v commented on #1212
Ok. This issue can be solved after PR #528, because that PR introduces tests that verify the correctness of the regex expressions

[2020-04-05 16:49] anubh-v opened #1215 "Consider using a git hook to run the linters before `git push` is executed"
There are often cases when we:
- Push our work to our remote repo
- Realise the CI checks failed due to a code style issue
- Resolve the style issues locally and push to the remote repo again

This process can be avoided if we automatically run the linters before `git push` is executed.
We can use a git hook for this

[2020-04-06 13:23] jamessspanggg opened #1216 "Download Node task failing for Continuous Integrations"
The `downloadNode` task seems to be failing for our CIs. Currently happening for PRs #1037 and #1192

<img width="823" alt="Screen Shot 2020-04-06 at 9 22 12 PM" src="https://user-images.githubusercontent.com/32864116/78562904-b18ee100-784c-11ea-80eb-ffb998a42e55.png">

[2020-04-07 05:17] jamessspanggg commented on #1216
This fails sometimes, I had to retrigger my CIs a few times for it to pass.

[2020-04-08 10:36] fzdy1914 commented on #1111
GO AHEAD

[2020-04-08 11:59] Tejas2805 commented on #1207
Will do this once, #1189 and #1187 are merged.

[2020-04-08 12:07] jamessspanggg commented on #1216
Closing this as no longer occurring.

[2020-04-08 12:07] #1216 closed

[2020-04-08 16:19] fzdy1914 commented on #1199
I actually don't think it is so necessary to do so.

[2020-04-08 16:21] #1201 closed

[2020-04-08 16:25] fzdy1914 commented on #1212
OK

[2020-04-09 06:44] #1137 closed

[2020-04-09 06:44] #1138 closed

[2020-04-09 07:19] #1081 closed

[2020-04-09 07:25] fzdy1914 opened #1217 "Authorship: Allowing to click of whole title area to toggle file"
![image](https://user-images.githubusercontent.com/35621726/78868796-1e38f400-7a76-11ea-8eb3-4aa5756be0ab.png)

As title. Now, only clicking the text will toggle the file. Personally feels more intuitive to allow clicking for whole area.

[2020-04-09 07:34] #1130 closed

[2020-04-09 13:32] #956 closed

[2020-04-09 17:02] Tejas2805 commented on #1217
Actually, I had the exact opposite in mind. That, since we are adding the right-down icon to indicate file, is collapsible I was thinking we should make it as the only thing that will allow toggling the file.

[2020-04-10 07:40] jylee-git commented on #1118
I don't think there's a need for any validations required for the author names/IDs.

An author ID should be valid as long as it's not empty.

[2020-04-10 07:54] jylee-git opened #1219 "Dev related code appeared on the UG"
![image](https://user-images.githubusercontent.com/35756209/78973909-66721800-7b43-11ea-8bed-dc82a434416b.png)

[2020-04-10 08:00] damithc commented on #1219
I think this is unavoidable as MarkBind files (same with Jekyll etc.) contain some meta information at the top of the file. The more advance MarkBind features we use, the less the GitHub markdown preview is going to be. That's why all readers should be directed to the html version of the file.

[2020-04-10 08:22] jamessspanggg opened #1220 "More robust front end tests"
Our front end testing coverage is rather low, hence UI regressions can happen very often.

Let's add more front end tests, in particular:
- summary view's functionalities:
  - [x]  `ctrl-clicking and zooming into specific range`
  - [x]  `ctrl-clicking and zooming into specific range when merge group`
  - [x]  `clicking on view all commits icon`
  - [x]  `merge group features`
  - [x] `filter brea

[2020-04-10 15:58] niqiukun opened #1221 "Improve the flexibility of merge group feature"
Currently the merge group feature only supports merging/expanding all groups. However, it may be useful if the user can merge all groups first, find a particular group, and expand that group to see the detailed distribution within the group. This is especially the case when there are many people and repos involved in the dashboard (e.g. [this one](https://nus-cs3281.github.io/2020-dashboard/)).

O

[2020-04-10 17:35] damithc commented on #1221
Could be useful. I'll put it as low priority because we can live without it. If the cost is low, I don't mind adding it.

[2020-04-11 02:53] anubh-v commented on #1215
@jylee-git  @fzdy1914 what do you think about this suggestion?

[2020-04-11 08:03] anubh-v commented on #1118
I agree with this.
Shall we remove the regex validation then?
@fzdy1914 would you agree?

[2020-04-11 09:13] 0blivious opened #1224 "Implement style check on spacing"
1. there should be space before curly bracket in scss file, e.g.
[code]
2. there should be check for spacing before : in pug file, e.g.
[code]

[2020-04-11 11:25] niqiukun commented on #1224
First one can be fixed by adding `"block-opening-brace-space-before": "always"` to `stylelintrc`. Second one I think so far there is no official support? Since it is linting `style=""` blocks in `pug` files I think should be done by `stylelint` as well.

[2020-04-11 15:12] Tejas2805 opened #1226 "Remove Acknowledgement to Netlify"
Since we do not use netlify anymore in our project, we can remove it from our acknowledgements.

[2020-04-11 15:13] Tejas2805 commented on #1226
@eugenepeh @damithc

[2020-04-11 15:53] damithc commented on #1226
Let's keep it for a while at least. It was useful for us for quite a long time; no harm giving them a bit of publicity in return.

[2020-04-11 16:26] fzdy1914 commented on #1226
We do, for the netlify preview of master branch.

[2020-04-11 19:26] Tejas2805 commented on #1226
Closing this issue.

[2020-04-11 19:26] #1226 closed

[2020-04-12 06:40] eugenepeh opened #1227 "CLI: add minify option to reduce json files size"
Spaces and indentation take up a huge amount of space in the file size.

[2020-04-12 07:23] jamessspanggg commented on #1220
@eugenepeh @fzdy1914 is it okay for us to have a more robust set of front end tests? This is so that we can better prevent the front end regressions. However, the downside is that running the tests will take slightly longer.

[2020-04-12 07:52] eugenepeh commented on #1220
Yes, we should.

[2020-04-12 09:50] niqiukun opened #1229 "Author display name changes as sort within group changes"
Discovered in https://github.com/reposense/RepoSense/pull/1223

The author's display name should stay consistent on summary view when grouped by author, but currently it changes as the sorting within the group changes, since it takes the display name of the first repo sorted within the group.

Can be reproduced at https://reposense.netlify.com/. Choose group by author and change sort within groups

[2020-04-12 10:15] niqiukun opened #1230 "Show all commit messages link shown when no messages available"
The `show all commit messages` link still shows when there is no commit messages available for all commits. Clicking on the link gives no effect.

![image](https://user-images.githubusercontent.com/5328196/79066300-6ca1f900-7ce9-11ea-9e4f-2a352e53545b.png)

[2020-04-12 15:59] Tejas2805 opened #1232 "Link in footer to RepoSense UG"
Once PR #1222 gets merged, we can point the link in the footer to the UG in the website.

[2020-04-12 16:00] Tejas2805 commented on #1219
Once #1222 gets merged, we can remove all links pointing to the files and this way make sure the users/readers reach the html version only,

[2020-04-13 08:20] 0blivious commented on #1229
The problem is the author did have 2 different display name and we can't judge which display name we want to use. Now we use the first display name after sorting. Maybe we should use name instead of display name if sort by author?

[2020-04-13 09:56] anubh-v commented on #1227
Currently, we are using the pretty printing option provided by Gson.
I can explore the difference if we create a compact json instead.

[2020-04-13 13:22] anubh-v opened #1233 "RepoLocation: URL validation can be simplified by using a more specific regex"
Currently, we instantiate a `URL` object to check if the repo url is a valid URL, as seen in the snippet below:

https://github.com/reposense/RepoSense/blob/0f57aab1deb97699e3b8d59ddca0ef492bbdc89d/src/main/java/reposense/model/RepoLocation.java#L69-L74

However, this can also be done by using a stronger regex.
Currently, our regex is: `^.*github.com\\/(?<org>.+?)\\/(?<repoName>.+?)\\.git$`

We ca

[2020-04-14 05:03] anubh-v opened #1234 "ArgsParserTest: Some tests should be moved to separate file, as they test logic in RepoSense driver class"
The majority of the test cases in `ArgsParserTest` test whether the `CliArguments` object is correctly created by `ArgsParser` , in various situations.

However, there are a few tests which test whether the results of processing the `CliArguments` object in RepoSense's driver class are correct.

I am referring to the following tests:

- `parse_validGitRepoLocations_repoConfigurationListCorrectSize

[2020-04-16 07:27] jamessspanggg opened #1235 "Minimist version causes vulnerabilities"
GitHub is providing a security vulnerability warning with regards to the `minimist` dependency in our Cypress folder. Details are shown below:

<img width="762" alt="Screen Shot 2020-04-16 at 3 23 26 PM" src="https://user-images.githubusercontent.com/32864116/79426894-6b791080-7ff6-11ea-9c7f-bf5978368ce5.png">

[2020-04-16 08:27] 0blivious opened #1236 "Weird line number in chartView when break down by file type"
As shown below
![image](https://user-images.githubusercontent.com/39231750/79432610-a4b57e80-7ffe-11ea-8b21-3121ab3ec548.png)

The doc type icon is displayed even the LoC is 0. Also, the group did have some contribution in adoc in the commit https://github.com/reposense/testrepo-Delta/commit/588963c9e80c35a765753837618b4b32b7aa11dc

[2020-04-16 14:43] jamessspanggg commented on #1236
We display the docs file type even though LoC is 0, this is because within `group-config.csv`, the types `code`, `tests` and `docs` were specifically listed.

Not so sure about this. Perhaps can investigate further?

[2020-04-16 15:25] jamessspanggg commented on #1236
<img width="991" alt="Screen Shot 2020-04-16 at 11 24 35 PM" src="https://user-images.githubusercontent.com/32864116/79474823-7903ba00-8039-11ea-9690-b9ea457a4d54.png">

It is due to our `repo-config.csv`, only analysing files with the extensions `.java` and `.md`. The commits that you shown were `.adoc` files.

[2020-04-16 15:29] jamessspanggg commented on #1236
Closing this, as it is intentional and not a bug.

[2020-04-16 15:29] #1236 closed

[2020-04-17 08:32] #927 closed

[2020-04-17 08:32] #798 closed

[2020-04-17 09:05] 0blivious opened #1237 "Authorship: file type tag"
We should not bold the file type tag text to make it more consistent with the tag above
Idea effect as below
![image](https://user-images.githubusercontent.com/39231750/79552420-96826380-80cd-11ea-827b-f83d69fc4809.png)

[2020-04-17 09:06] 0blivious commented on #1237
Not open until #1093 got merged

[2020-04-17 09:15] #1237 closed

[2020-04-17 09:32] #1147 closed

[2020-04-17 12:01] #1181 closed

[2020-04-17 12:04] ang-zeyu opened #1238 "Reorganise commit extraction, analyzing, aggregation architecture"
This is the current architecture of processing commits for `authorship.json`:

[code]

Briefly, this causes commits in the analyzing stage to unable to be tagged back to the `Author` that was responsible for extracting it in the first place, which causes problems such as duplicate commits for a single author. ( see #1050 for a more detailed discussion )

To fix the root cause of this, it would rou

[2020-04-17 12:05] jamessspanggg opened #1239 "Commits Panel: add filetype tag to each commit"
With the recent merged #1192, we have the file type info of each commit.

With this info, we can easily add the filetype tag(s) to each commit and allowing the filter of commits based on filetypes.  Similar to the UI implemented [here](https://github.com/reposense/RepoSense/pull/1093), but in Commits Panel.

[2020-04-17 12:06] jamessspanggg commented on #1239
@damithc your opinion on this?

[2020-04-17 12:22] jamessspanggg opened #1240 "Remove insertion and deletion of each commit in commits.json"
_Based on my discussion with @eugenepeh in #1192_

Since we have the line contribution info of each file type within a commit, we can remove the insertion and deletion info of each commit in the `commits.json` file.

The insertion and deletion info can be calculated in the front end instead, by summing up all the insertion and deletion of all filetypes within a commit. More info shown in screensho

[2020-04-17 12:29] jamessspanggg opened #1241 "Save checked file types as hash parameters"
So that reloading the page will show the same checked file types

[2020-04-17 12:45] #1188 closed

[2020-04-17 13:41] damithc commented on #1239
Go ahead.

[2020-04-18 03:15] #996 closed

[2020-04-18 13:03] #1052 closed

[2020-04-18 14:48] ang-zeyu opened #1242 "Investigate moving zoom tab hash removal to zoom component"
**Is the feature request related to a problem?**

Zoom hashes are removed when the tab is deactivated and when the authorship tab is switched to.

This likely means that like the authorship view hashes, the removal can be moved into the zoom component itself so that `main.js` is cleaner.

**If possible, describe the solution**

Let's investigate whether this is really the case, and if so, move it

[2020-04-18 21:56] Tejas2805 commented on #1111
Removing assignment and moving this to a `firstTimers` issue as we need more of them.

[2020-04-19 03:31] #1213 closed

[2020-04-19 07:08] Tejas2805 opened #1244 "Possibility of Regression Bug"
The Travis build which hadn't been failing upto 3 days ago, has started failing. This is when we started merging all the PRs again. We might have a regression bug. Let's look into this and find out the reason.

Can check the travis build [here](https://travis-ci.org/github/nus-cs2103-AY1920S2/ip-dashboard/builds).

This is related to individual project dashboard for CS2103T

[2020-04-19 07:18] Tejas2805 commented on #1244
Could have been due to #1050 or #1189 . Other PRs seem unlikely.

[2020-04-19 07:19] Tejas2805 commented on #1244
@ang-zeyu @jamessspanggg Could you guys take a look into this.

[2020-04-19 08:01] jamessspanggg commented on #1244
On first glance, it is due to the student having a file name called `..\data\duke.txt`, which leads to the file not being matched in the `isFileGlobMatching` method. Don't think it's due to any of our recent PRs merged as we did not touch the functionality of the file matching. [Student's repo](https://github.com/EdmondOng/duke)
<img width="1013" alt="Screen Shot 2020-04-19 at 3 58 38 PM" src="htt

[2020-04-19 08:52] jamessspanggg commented on #1244
@Tejas2805 can you inform the prof to temporarily fix the issue by adding `..\data\duke.txt` in the Ignore Glob List column of `https://github.com/EdmondOng/duke.git` in `author-config.csv`?

[2020-04-19 09:14] damithc commented on #1244
Which repo? Can do a PR?

[2020-04-19 09:17] jamessspanggg commented on #1244
Created a PR here: https://github.com/nus-cs2103-AY1920S2/ip-dashboard/pull/1

[2020-04-19 09:29] damithc commented on #1244
Actually, that will update that semester's dashboard which is supposed to frozen in time at the end of that semester. At lease we should also add an end-date the CLI parameters to prevent it analyzing repos until today. Also, the PR fails the build.

[2020-04-19 10:41] Tejas2805 commented on #1244
I thought it could be due to the same file too, but the thing is the file has been there from before. Therefore, that shouldn't have been the cause of the build to fail.

[2020-04-19 11:00] Tejas2805 commented on #1244
The build hasn't failed due to the initial reason. But the same error at a different repo.

[2020-04-19 11:34] jamessspanggg commented on #1244
The problem is due to **_git specifically prints out filename surrounded by double quotes_**, if the filename contains any special characters (in this bug's case, it is due to the special character "\"). I have tested the behaviour, and an example is shown below:

<img width="1145" alt="Screen Shot 2020-04-19 at 7 27 58 PM" src="https://user-images.githubusercontent.com/32864116/79686659-abe5c200-

[2020-04-19 11:43] Tejas2805 commented on #1244
Ah I see. Is it some new update though? As initially it wasn't failing.

[2020-04-19 15:49] jamessspanggg commented on #1244
I'm not so sure, I tried checking out to the version of the last successful Travis build (commit 0f57aab1de) and ran the same build, and there were still errors.

Still need some time to figure out the bugs, as the one described above is not the only issue. Would appreciate it if we can investigate together.

[2020-04-20 04:02] jamessspanggg commented on #1244
Update: the bug is due to #1192 not handling files with names that are automatically escaped and double quoted by GitHub. For e.g. file name `..\data\duke.txt` -> `"..\\data\\duke.txt"`.

Upon investigating further, the code in `FileInfoExtractor#getEditedFileInfos` also made the same mistake of not handling this case, but not reflected in the bug as they simply skip the processing of these files

[2020-04-20 06:41] #1084 closed

[2020-04-20 08:51] #1244 closed

[2020-04-20 12:59] ang-zeyu opened #1248 "Remove unused / undefined styles"
**Is the feature request related to a problem?**

There's some amount of unused classes in `authorship.pug` which don't have corresponding classes, e.g. `.file-picker`. ( likely more in other places )

**If possible, describe the solution**

Let's investigate and remove all unused classes, or classes used in templates without corresponding class definitions in stylesheets

**If applicable, describ

[2020-04-20 14:50] #910 closed

[2020-04-21 03:15] #1178 closed

[2020-04-21 03:15] #1191 closed

[2020-04-21 03:30] #1170 closed

[2020-04-21 04:53] jamessspanggg opened #1249 "View code icon shows when group by authors and merge group"
**Tell us about your environment**

* **RepoSense Version:** latest master
* **OS and Version:** MacOS Catalina 10.15.4
* **Web Browser and Version (if applicable):** Chrome

**Please include the steps to reproduce the bug.**

1. Check merge group
2. Select group by authors

**What was expected to happen?**
The view code icon should be disabled or not shown, since the functionality is not implemen

[2020-04-21 06:15] #1249 closed

[2020-04-21 07:08] jamessspanggg opened #1251 "Set font weight of file type label to be normal"
**What feature(s) would you like to see in RepoSense?**
The file type label in file title should not be bold for consistencies' sake.
<img width="852" alt="Screen Shot 2020-04-21 at 3 03 41 PM" src="https://user-images.githubusercontent.com/32864116/79835633-9b9f2580-83e1-11ea-81cb-3580b12a51cb.png">

**Is the feature request related to a problem?**
No. Just UI nit.

**If possible, describe the so

[2020-04-21 07:50] #1146 closed

[2020-04-21 08:20] #1163 closed

[2020-04-21 13:14] Tejas2805 opened #1252 "Make adding front-end tests compulsory"
**What problem(s) did you run into that caused you to request additional documentation? What, if any, existing documentation relates to this proposal?**

Currently, we do not enforce developers to add frontend tests whenever they make a change. This has caused a lot of regression bugs in recent times related to the front-end.

**What would you like added or modified in the documentation?**

Let's

[2020-04-21 20:46] Tejas2805 commented on #1232
![Screen Shot 2020-04-22 at 4 45 04 AM](https://user-images.githubusercontent.com/35946746/79912140-2587d680-8454-11ea-964d-f12beeda1708.png)

@damithc Planning to remove the highlighted part since `RepoSense` will take the user to the deployed site where UG is available.

[2020-04-22 03:02] damithc commented on #1232
Note that at some point we should start having two versions of the UG. One for the latest release and one for the latest master, similar to what MarkBind does.

[2020-04-22 06:22] damithc opened #1253 "Code view: follow file group selection of the ramp chart"
When a user clicks on a `</>` to open a code view, if a certain file group selection has already been made in the ramp chart view, it's better for the code view to follow the same selection automatically.

[2020-04-22 11:04] Tejas2805 commented on #1253
Duplicate of #1150 . PR #1152 is solving this issue.

[2020-04-22 11:04] #1253 closed

[2020-04-22 11:06] Tejas2805 commented on #1232
Ya realized the same. I will do this deployment once the examinations end.

[2020-04-24 23:24] Tejas2805 opened #1257 "Refactor flow of AuthorConfiguration"
**What feature(s) would you like to see in RepoSense?**

**Currently:** The `processLine` method calls `config.addAuthor` before the `Author` object is initialized with any emails and aliases. This means that no emails and aliases are stored in the `AuthorConfiguration` when `config.addAuthor` is called - because the Author object is not fully initialized yet.

**Suggestion:** Refactor the flow of

[2020-04-25 11:48] anubh-v commented on #1257
Thanks for creating this issue @Tejas2805
I removed the enhancement label, as this is a proposed refactor, and not an improvement of any functionality.

[2020-04-25 14:46] jylee-git opened #1258 "v1.11 jar file fails to capture the program arguments and crashes"
**Tell us about your environment**

* **RepoSense Version:**
v1.11 release jar file
* **OS and Version:**
MacOS, OpenJDK13

**Please include the steps to reproduce the bug.**
Run `java -jar RepoSense.jar --repo https://github.com/reposense/RepoSense.git -v` on v1.11 release jar file

**What was expected to happen?**
Should work normally

**What actually happened? Please include a screenshot of the

[2020-04-26 04:15] jamessspanggg commented on #1258
@jylee-git I have updated the jar file again (and checked), could you re-check if the jar file for v1.11 is working fine now?

[2020-04-26 06:34] anubh-v commented on #1258
I tried `java -jar RepoSense.jar --repo https://github.com/reposense/RepoSense.git -v` with the updated jar, and it works without issues. I am using Linux Mint v19.3, OpenJDK 11.

[2020-04-26 06:47] anubh-v commented on #1258
Just curious - would it be useful to perform our system tests using the jar file?
This would verify the behaviour of the jar file.

[2020-04-26 07:21] jylee-git commented on #1258
Yes it works now. Thanks for the fix

[2020-04-26 07:21] jylee-git commented on #1258
Not really sure if it would be useful. You may want to create a new issue to see what the others think.

[2020-04-26 07:23] #1258 closed

[2020-05-03 14:55] jamessspanggg commented on #1195
@eugenepeh should we do the same for summary as well as authorship? the hash params for these views are increasing as well

[2020-05-04 01:54] eugenepeh commented on #1195
Yes ideally all should be combined into a single base64 encoding, which would then be pre and post processed on every save/reload.

[2020-05-05 08:46] Tejas2805 commented on #1248
Making it a first-timer issue.

[2020-05-07 06:23] damithc opened #1259 "Show index number and file count"
I realized that the dashboard doesn't show the number of files modified by the author. Perhaps we can,
- [ ] show the file count somewhere
- [ ] show index number in the file list

![image](https://user-images.githubusercontent.com/1673303/81261132-0ef59800-906e-11ea-8831-666b575956b1.png)

[2020-05-08 08:21] #997 closed

[2020-05-08 14:56] #1242 closed

[2020-05-09 10:23] jamessspanggg opened #1260 "Bug when restoring zoom tab"
**Tell us about your environment**

* **RepoSense Version:**
Latest master branch.

* **OS and Version:**
MacOS 10.15.4

* **Web Browser and Version (if applicable):**
Chrome.

**Please include the steps to reproduce the bug.**

1. Go to any PR preview.
1. Select group by authors, check merge group and select granularity as week.
1. Zoom into the author Eugene (eugene peh) (note that there are two

[2020-05-10 16:28] anubh-v opened #1263 "Csv Parser tests: Code used to load resources can be simplified"
In all the tests for our csv parsers (`AuthorConfigParserTest`, `GroupConfigParserTest`, `RepoConfigParserTest`), we make *repeated* use of the ClassLoader to obtain the path to each resource used in the tests. This results in verbose code.

Instead of repeatedly using the ClassLoader, we can get the path to the parent directory *once* and then use the file name of each resource to get the individ

[2020-05-11 16:13] anubh-v commented on #1263
I've created a PR (#1264) to demonstrate this suggestion.
I think this change makes the code less verbose.
@fzdy1914 @jylee-git do you agree?

[2020-05-12 11:38] #719 closed

[2020-05-12 11:38] #1161 closed

[2020-05-12 12:00] Tejas2805 commented on #1257
I think we should solve this first? This will help in solving the issue with false positives. Better to solve the root first. What do you think @anubh-v ?

[2020-05-12 12:03] #1230 closed

[2020-05-12 12:22] fzdy1914 commented on #1263
The only issue is if we want to load resources from multiple class loaders.
But instead of the suggestion you made, I have the idea to make it a util method, the input is the class name and its relevant path.

[2020-05-12 14:18] ang-zeyu opened #1265 "Small UI regression from #1231 for authorship view"
### Closed, was due to viewing a merge conflict regression

**Tell us about your environment**

* **RepoSense Version:** latest master
* **OS and Version:** surge preview

#1231

**Please include the steps to reproduce the bug.**

![Untitled](https://user-images.githubusercontent.com/3306138/81702872-6d6fab80-949e-11ea-9978-6b0ce9576e77.png)

**What was expected to happen?**

The two texts / butto

[2020-05-12 14:24] #1265 closed

[2020-05-13 08:07] damithc opened #1266 "Make RepoSense resilient to data overload"
We can make RepoSense more resilient to data overload problems. Some examples:
- [ ] large files
- [ ] long lines e.g., a minified file
- [ ] high number of filers per repo/author
- [ ] high number of commits

What we are trying to avoid are:
* Report not loading
* Certain pages freezing
* Report generation taking too long
* Report taking too much space

For each case, we can consider solutions su

[2020-05-15 04:46] 0blivious opened #1268 "Moving props to Vuex global constant"
Currently we are passing many variables as props across the components. As now we implemented Vuex, we can store some of the variables as Vuex global variables to simplify the structure. Some of these variables include

- [ ] fileTypeColors
- [ ] fileTypeColors
- [ ] fileTypeColors

[2020-05-17 02:26] anubh-v commented on #1257
I've created a PR for this.

[2020-05-19 12:52] #1260 closed

[2020-05-23 09:25] jylee-git opened #1271 "Missing radio button option to filter by filetype"
The option to filter by filetype is missing (see below for a snapshot).

![image](https://user-images.githubusercontent.com/35756209/82726994-3a3ce000-9d1a-11ea-91a7-65cfa8c36a3a.png)

[2020-05-23 09:42] fzdy1914 opened #1272 "The Branch is showing not deployed:"
![image](https://user-images.githubusercontent.com/35621726/82727370-a7517500-9d1c-11ea-9b8a-467054aaee34.png)

[2020-05-23 09:42] fzdy1914 commented on #1272
Can try to investigate how to integrate the surge deployment to this?

[2020-05-23 09:49] #1259 closed

[2020-05-23 14:19] #1241 closed

[2020-05-24 07:03] damithc commented on #1271
Oops. Good catch @jylee-git
As this is an important feature, might not want to wait till a first timer fix it.

[2020-05-25 06:36] niqiukun commented on #1271
But as a user I would be quite confused by the use of radio button here. Because selecting all would mean no filtering and selecting individual types would enable the filter, the only purpose of the radio button is to choose between filter by glob and filter by file type. But maybe both filters can be applied?

[2020-05-25 06:50] damithc commented on #1271
Good point @niqiukun . There is some merit in using the filter value itself to determine if the user intends to apply that filter. That also means to 'not apply' a glob filter, the user has to clear the glob box. What if the user wants to alternate between the two for some reason e.g., apply the glob filter -> check for something -> apply the files filter -> check for something -> go back to the g

[2020-05-25 07:23] niqiukun commented on #1271
I see.

It turns out to be a small css glitch that can be fixed easily. If there is really a need to apply both filters we can have a separate issue for that. But maybe on hold for now.

[2020-05-25 08:11] damithc commented on #1271
Yes, the two things can be done as separate PRs.

[2020-05-25 15:36] anubh-v commented on #1263
Sure, we can go with this. I'll update the PR.

[2020-05-26 11:41] #1198 closed

[2020-05-26 13:27] #1221 closed

[2020-05-26 13:34] niqiukun opened #1274 "Refactor merged group status as object attribute of groups"
Currently the record of groups merged is implemented as a list. However, this is not the ideal implementation. Another way of implementation would be making merged group status as object attributes of individual groups, and that requires refactoring the current structure of groups from lists of repos to objects.

[2020-05-26 13:37] niqiukun opened #1275 "Error related to file type filter being printed to console"
**Tell us about your environment**

* Latest master

**Please include the steps to reproduce the bug.**

1. Go to master's preview
2. Open browser console

**What was expected to happen?**

No error should appear.

**What actually happened? Please include a screenshot of the output.**

![image](https://user-images.githubusercontent.com/5328196/82907266-f9063380-9f98-11ea-8f4a-ae0ee2c0f143.png)

[2020-05-26 13:42] niqiukun opened #1276 "Remove the delay before restoring merged groups"
Currently there is a delay while restoring merged groups as the user refreshes the page. This is because the use of `setTimeout` which allows the merged groups to be restored after the watch hooks finish executing, in order to prevent the merged groups information being reset when `group by` is restored from hash. We can try figure out a way to preserve the information after `group by` is changed

[2020-05-28 11:49] #1271 closed

[2020-05-29 17:17] #1103 closed

[2020-05-29 17:18] jamessspanggg commented on #950
Closing this as surge works fine now

[2020-05-29 17:18] #950 closed

[2020-05-30 06:29] jamessspanggg commented on #1275
This is due the following lines, it should check if the checked file types are `undefined` instead of `null`.

https://github.com/reposense/RepoSense/blob/4292889a1c91dc83a6f22ff28d3226b69ca60099/frontend/src/static/js/v_summary.js#L262-L265

First timers are welcomed to fix this!

[2020-05-30 08:10] #1173 closed

[2020-06-04 07:55] damithc opened #1278 "PublishReposense default settings fail"
If you use the PubishReposense repo template and run the run.sh without any changes, it fails to generate a report.

What I did was,
1. fork PubishReposense
1. Set up Netlify with build command `pip install requests && ./run.sh`

But works with `--master` flag. I guess some bug got fixed since the last release? Should be do a new release?

[2020-06-04 13:51] niqiukun commented on #1278
Just to check if this is the error produced:
[code]

[2020-06-04 16:36] damithc commented on #1278
Yes, that's the error. In case you can see it, here is the link https://app.netlify.com/sites/lucid-booth-976d1f/deploys/5ed8a64d5d4068df8cbbf077

[2020-06-04 16:38] damithc commented on #1278
Unrelated but I also see this error in Netlify logs, although the build succeeds (with the latest master branch)
![image](https://user-images.githubusercontent.com/1673303/83786091-d379d800-a6c4-11ea-80e4-e38a7fdcef09.png)

[2020-06-04 16:42] niqiukun commented on #1278
I suspect that the latest release jar file is not actually compiled by Java 8 (although the target platform is set to Java 8). There is a similar discussion about this: https://stackoverflow.com/questions/61267495/exception-in-thread-main-java-lang-nosuchmethoderror-java-nio-bytebuffer-flip

We can follow the second approach outlined in this answer to fix this.

[2020-06-04 17:46] niqiukun commented on #1278
@jamessspanggg I downloaded the latest release (`v1.11`) jar file and tried using `jdk1.8.0_45` to run it on my local. I get the same error here.

<img width="569" alt="Screenshot 2020-06-05 at 01 42 19" src="https://user-images.githubusercontent.com/5328196/83792716-02e11280-a6ce-11ea-889b-fcfda1f75362.png">

The jar file I generated myself using ShadowJar can run without this error. Can you help

[2020-06-05 04:59] damithc opened #1279 "Provide a way to run analysis for a moving window"
Suggestion: give a CLI option that runs the analysis for a period of specific length e.g., `--period 7d` runs the analysis for the last 7 days

Rationale: some users might want to monitor repositories for a moving window rather than from a specific date

Notes: minimally, we can support specifying period using days. Ability to use weeks can be provided as a convenience feature although not strictl

[2020-06-05 06:10] jamessspanggg commented on #1278
Updated the jar file for the latest `v1.11` release, thanks for the help @niqiukun

[2020-06-06 04:25] damithc opened #1282 "Trailing white spaces in issue templates"
Spotted in travis logs. Not sure if intended.

![image](https://user-images.githubusercontent.com/1673303/83935932-da056e00-a7f0-11ea-9428-ac9ed9b62e86.png)

[2020-06-06 05:14] damithc opened #1283 "linebreak-style lint error on Windows"
I get this error when running `npm run lint` on Windows. Using Intellij.

![image](https://user-images.githubusercontent.com/1673303/83936533-19cf5400-a7f7-11ea-8183-5e4e3e6845b2.png)

These errors don't actually affect the build as the actual build is run on Unix. However, these errors prevent me from locating potential other problems that can actually break the build.

[2020-06-06 05:23] damithc commented on #1278
Thanks both. Seems to be working now.

[2020-06-06 05:23] #1278 closed

[2020-06-06 07:10] fzdy1914 commented on #1283
Yes, I got this error too on windows.

[2020-06-06 07:20] damithc commented on #1283
I think we need to find a solution as we encourage devs to lint before they create PRs.

[2020-06-06 07:30] #1139 closed

[2020-06-06 15:33] damithc opened #1284 "Update design documentation"
To be done after merging #1281

See @fzdy1914 's comments for #1281 for some areas to improve

[2020-06-09 05:05] damithc opened #1285 "Set up the workflow for deploying the reposense.org website after a release"
The reposense.org needs to be updated after each release and the website deployment is slightly different from the regular reposense/RepoSense website i.e., it needs to use a slightly different site.json file.

Suggestion: tweak the `site.json` in the `release` branch. One downside is that merge conflict might arise (rare) when merging `master` to the `release` branch (i.e., if the `master` branch

[2020-06-10 09:52] Tejas2805 commented on #1285
We can follow what MarkBind does in this case. I think they have a separate json for the release website.

[2020-06-10 09:59] Tejas2805 commented on #1219
Issue has been solved in #1281

[2020-06-10 09:59] #1219 closed

[2020-06-11 04:10] damithc opened #1286 "DG: Confirm/remove npm prerequisite"
https://reposense.org/dg/settingUp.html mentions npm as a prerequisite. @jylee-git asked if it really needed or is npm installed automatically by our build scripts.

We should either confirm it is correct or remove it if npm is installed automatically.

[2020-06-15 06:37] Tejas2805 opened #1290 "DG page title should be 'Project management'"
Is it supposed to look like this? @damithc

1)
![Screen Shot 2020-06-15 at 2 32 45 PM](https://user-images.githubusercontent.com/35946746/84625045-0f0e7080-af15-11ea-894c-b6788ad36f6c.png)

The dark blue in the middle looks a bit weird to me.

2)
![Screen Shot 2020-06-15 at 2 37 29 PM](https://user-images.githubusercontent.com/35946746/84625271-8512d780-af15-11ea-8241-a96f095271c2.png)

They shoul

[2020-06-15 06:53] damithc commented on #1290
First one is intended. The blue ones are linked, other ones are just headings (ideally, should not be bullets, but unavoidable because I'm reusing the siteNav here).

The second one is a bug. Will fix.

[2020-06-15 08:57] Tejas2805 commented on #1205
Do we still intend to provide this after the change in our docs? If yes, then what's the intendedd plan? I can work on this accordingly.

[2020-06-22 01:36] Tejas2805 opened #1293 "Remaining erros in documentation"
Few observations and nits:

1) This should be `report`

![Screen Shot 2020-06-20 at 2 10 39 PM](https://user-images.githubusercontent.com/35946746/85194632-989cb480-b300-11ea-809c-083017605fa1.png)

2) This should be `Commits panel`

![Screen Shot 2020-06-20 at 2 11 31 PM](https://user-images.githubusercontent.com/35946746/85194664-af430b80-b300-11ea-920d-233361e93d1e.png)

3) Let's make it consis

[2020-06-22 03:23] damithc commented on #1293
For 3, the `step` style makes the code more complicated and used only where the normal numbered lists cannot be used due to some steps needing embedded content (which breaks list auto numbering). I don't think there is a lot to gain by using the `step` style everywhere. That is, we can consistently use two style: one for normal cases and one for more complicated cases.

[2020-06-23 10:55] #1290 closed

[2020-06-30 14:21] #1150 closed

[2020-07-09 16:36] Tejas2805 opened #1301 "Outdated links in showcase"
The links to reports in the showcase for the first two examples are outdated and don't show the latest features of RepoSense.

[2020-07-09 16:44] Tejas2805 opened #1302 "AppVeyor Integration failing"
AppVeyor Integration is failing.

This is because the version of com.liferay.node that we use directs to an http site. According to the new guidelines of gradle, https sites are allowed only.

Can check [link](https://ci.appveyor.com/project/eugenepeh/reposense/builds/34003652) for the build.

[2020-07-18 12:59] #1302 closed

[2020-07-19 00:36] Tejas2805 commented on #1232
Now that both sites are deployed. I was thinking of fixing this.

Based on the previous conversation we had decided to make the `User Guide` point to the UG in the Production Site.

The issue with this is, in most places we use the master branch for generating the dashboard. So, in this case it is possible that the features visible in the dashboard and the features showcased in UG do not match wit

[2020-07-19 03:58] damithc commented on #1232
Sounds good.

[2020-07-19 10:08] Tejas2805 opened #1304 "Migration to Java 11"
We should start migrating our code to Java 11 because from Gradle Version 6.0 onwards, it's compatible with Java 11.

As seen recently, our Gradle version was outdated and this led to 1/2 breaking changes. If we start moving to Java 11 from beforehand,  we can be ready and update our Gradle version as and when required.

[2020-07-21 08:42] Tejas2805 opened #1306 "Wrong naming conventions for frontend test"
The front-end test **codeView_toolBar_searchBox** written under `codeView` is actually meant for `chartView`. The codeView test was created before we refactored the pug and js files and that is why the error is present.

Let's change the name of the test so that it correctly points to `chartView`.

[2020-07-25 07:28] damithc commented on #1301
Can only be updated when the dashboards for new semester is available, around Sep 2020.

[2020-07-25 13:37] #1306 closed

[2020-08-01 10:46] anubh-v commented on #1227
To accommodate a minify option, here is the key method that we need to change:
https://github.com/reposense/RepoSense/blob/abd896c584f321d349a02e8f6deab3c2360f1aa6/src/main/java/reposense/util/FileUtil.java#L91-L107

On line 95, we are turning on the "pretty print" option for the Gson instance, which results in nicely formatted JSON files.
If we do not use pretty printing, Gson will create a compa

[2020-08-01 13:27] #1193 closed

[2020-08-02 02:03] #1279 closed

[2020-08-02 06:32] fzdy1914 opened #1312 "Make deploy to gh-page CD only run for master branch"
![image](https://user-images.githubusercontent.com/35621726/89117024-dfb7c100-d4cc-11ea-8531-f0bb1e16f078.png)

[2020-08-02 07:03] #1240 closed

[2020-08-02 09:10] jamessspanggg commented on #1312
For more info, can refer here: https://docs.travis-ci.com/user/conditional-builds-stages-jobs/#conditionally-excluding-jobs

[2020-08-08 12:45] lm5lm5 commented on #1204
Hi, I am a first-time contributor and I would like to submit a PR for resolving this issue.

[2020-08-09 15:54] #1263 closed

[2020-08-10 11:43] #1204 closed

[2020-08-10 13:50] Boon-Jun commented on #1282
Hi, first time contributor here.  If no one else is fixing this, can I submit a PR for this issue to get use to the workflow?

[2020-08-10 14:21] Boon-Jun commented on #1251
Hi, first time contributor here. Can I submit a PR for this if no one is fixing this issue?

[2020-08-10 14:25] jamessspanggg commented on #1251
Hi @Boon-Jun, definitely! Please check the [guidelines](https://se-education.org/guides/guidelines/PRs.html#submitting-a-pr) before submitting a PR.

[2020-08-11 10:32] dcshzj commented on #1275
Hello, I am a first time contributor to this project. I would like to work on this issue if it is possible?

[2020-08-12 13:46] #1129 closed

[2020-08-12 15:29] #1251 closed

[2020-08-12 15:51] jamessspanggg commented on #1282
sure!

[2020-08-12 15:52] jamessspanggg commented on #1275
Thanks for notifying! There are other first timer issues that u can pursue!

[2020-08-12 15:52] #1275 closed

[2020-08-13 15:10] fzdy1914 commented on #1086
After reviewing your comment, I believe what you think is correct.  I thought we got a PR fixing this? It seems that I cannot find it anymore.

[2020-08-13 15:13] anubh-v commented on #1086
I have tried addressing this issue in [this PR](https://github.com/reposense/RepoSense/pull/1270)

[2020-08-13 15:13] fzdy1914 commented on #1086
OK

[2020-08-13 15:14] fzdy1914 commented on #1086
Closing this issue as we got another similar one.

[2020-08-13 15:14] #1086 closed

[2020-08-14 01:32] #1282 closed

[2020-08-15 18:36] Boon-Jun commented on #1268
Hi, I would like to submit some changes for this. But I think this could be large enough of refactoring that spans across multiple PRs.

[2020-08-16 12:57] #1232 closed

[2020-08-17 11:30] Boon-Jun commented on #1180
Can someone help me verify whether if the weird highlighting is still a problem? I've tried on multiple browsers(chrome included) and i'm unable to replicate this issue.

[2020-08-17 19:11] Tejas2805 commented on #1180
Looks like, after the most recent update of google chrome, this issue is fixed. Can't seem to replicate it too.

@jamessspanggg @fzdy1914 Can either of you confirm too. Then we can go-ahead with closing the issue.

[2020-08-18 07:49] fzdy1914 commented on #1180
Can't reproduce also, closing it.

[2020-08-18 07:49] #1180 closed

[2020-08-19 02:09] dcshzj commented on #938
I am a new contributor and I hope to work on this task if it is still relevant?

[2020-08-26 14:34] #938 closed

[2020-08-28 15:44] vig42 commented on #968
We could enforce this using the [ESLint Vue plugin](https://eslint.vuejs.org/rules/). The ['order-in-components' rule](https://eslint.vuejs.org/rules/order-in-components.html) does exactly this; there are also several other rules which could be worthwhile for us to include.

If we do so, we should probably update the DG as well, as it currently does not reference any style guide for Vue.

[2020-08-30 05:54] fzdy1914 opened #1322 "Refine RepoSense Loading Page"
![image](https://user-images.githubusercontent.com/35621726/91652287-5b0a9380-eac8-11ea-82ab-599f286fcda3.png)

There are a few seconds of the weird message appearing before the actual loading/request for the upload page. Can we alter the Vue life cycle to prevent them from showing?

[2020-08-30 05:56] #1111 closed

[2020-08-30 12:54] anubh-v commented on #1266
For the issue of "reports taking too much space", I have measured the file space saved when we remove whitespace from the JSON files. The measurements are in [this comment](https://github.com/reposense/RepoSense/issues/1227#issuecomment-667512152)

[2020-08-30 13:20] damithc commented on #1227
Looks like the gains are significant. Nice!

[2020-08-31 16:33] #1257 closed

[2020-09-05 16:06] Boon-Jun commented on #1239
Hi. I will be continuing the work on this issue.

[2020-09-06 13:12] #1128 closed

[2020-09-08 20:36] lm5lm5 commented on #1293
I have made the correction for the first 2 errors and created a PR.

[2020-09-08 20:57] lm5lm5 commented on #1285
Hi Prof Damith, how will `site-release.json` be different from the original `site.json`? I'm checking if I can help solve this issue.

[2020-09-09 04:53] damithc commented on #1285
Don't really remember now :-p  you'll have to compare the two files. If you tell me the difference, I can tell you the reason though.

[2020-09-09 06:12] Tejas2805 commented on #1285
@lm5lm5 You can go through MarkBind's `site-release.json` and `site.json` to get a better understanding of it.

On a high level:
1. `site-release.json` contains documentation up to the latest UG. `site.json` contains documentation based on master branch.
2. Markbind has this feature of **tags** which you can use to easily distinguish between different sites.

And as Prof said you can go through th

[2020-09-13 06:05] damithc opened #1327 "Provide a way to go to the code view directly"
Consider a link like [this one](https://nus-cs2103-ay2021s1.github.io/ip-dashboard/#sort=groupTitle&groupSelect=groupByAuthors&search=daongochieu2810&sortWithin=title&timeframe=commit&mergegroup=false&breakdown=false&tabOpen=true&tabType=authorship&since=2020-08-14&tabAuthor=daongochieu2810&tabRepo=daongochieu2810%2Fip%5Bmaster%5D&authorshipIsMergeGroup=false&authorshipFileTypes=java~md~fxml~sh~ba

[2020-09-18 10:51] Boon-Jun opened #1328 "File types in code panels are not restored from hashes in URL"
**Tell us about your environment**

* **RepoSense Version:**
Bug exists as of commit 168be78f8945a4bdde5758a79807bc82e6928963 on master
* **OS and Version:**
macOS Version 10.15.6
* **Web Browser and Version (if applicable):**
Safari Version 13.1.2

**Please include the steps to reproduce the bug.**
This bug can be reproduced on previews deployed on netlify
1. Open any code panel
2. Ensure that so

[2020-09-22 17:16] lm5lm5 commented on #1207
Hi @Tejas2805 , I notice that #1187 has not been merged. Is it because it didn't pass Travis CI test?

[2020-09-26 04:20] #155 closed

[2020-09-26 12:26] damithc opened #1329 "CS2103T iP: Fails to load one repo"
This report is failing to load one repo https://nus-cs2103-ay2021s1.github.io/ip-dashboard

![image](https://user-images.githubusercontent.com/1673303/94340730-753b8100-0036-11eb-8bc3-6fa206e706f9.png)

This is the error message in the CI log https://github.com/nus-cs2103-AY2021S1/ip-dashboard/runs/1169901121

04:42:13 - [ERROR] java.lang.IndexOutOfBoundsException: Index: 10, Size: 10
	at java.uti

[2020-09-27 06:20] #1329 closed

[2020-09-29 09:22] #1328 closed

[2020-09-29 12:17] jamessspanggg opened #1333 "Locally ran report loads infinitely"
**Tell us about your environment**

* **RepoSense Version:**
Master branch

* **OS and Version:**
MacOS Catalina 10.15.7

* **Web Browser and Version (if applicable):**
Chrome

**Please include the steps to reproduce the bug.**

1. Run a reposense analysis locally
2. Open the report, report loads infinitely

**What was expected to happen?**
Report should finish loading after awhile.

**What actual

[2020-09-29 12:18] jamessspanggg commented on #1333
Caused by #1305 @Tejas2805

[2020-09-29 13:13] fzdy1914 commented on #1333
I forget in which case the `repoSenseVersion` can be `None`, but see the previous code, it is indeed possible.

[2020-09-29 13:30] fzdy1914 commented on #1333
Can you try to use `-v` tags in local development first to avoid this issue?

[2020-09-29 13:33] jamessspanggg commented on #1333
Running `-v` in local development still has this issue tho

[2020-09-29 13:53] Tejas2805 commented on #1333
That’s weird. I have run locally a few times after it, has worked okay for me.

Can share the command you used to build?

I will look into the issue and submit PR in some time.

[2020-09-29 14:17] jamessspanggg commented on #1333
I used `--config ./config -v -s d1`

[2020-09-29 16:04] Tejas2805 commented on #1333
Just checked. Making the PR.

[2020-09-30 04:40] #1322 closed

[2020-10-01 06:05] damithc opened #1336 "Show non-blank lines count instead of blank-lines count"
Current: blank lines count is shown within brackets
![image](https://user-images.githubusercontent.com/1673303/94773661-d5dc0c80-03ee-11eb-943e-482a640f1063.png)

Suggestion: It's more useful to show the non-blank links count instead?

Reason: To save the user from having to do the mental calculation.

[2020-10-01 08:04] jamessspanggg commented on #1327
@damithc do u mean allow to use a link to automatically load the code specific for a file?

Currently we allow the code to load automatically when shared the link, but it will only remember the checked file types. i.e.  like this [link](https://dashboard-1335-pr-reposense-reposense.surge.sh/#search=&sort=groupTitle&sortWithin=title&since=2017-10-09&timeframe=commit&mergegroup=&groupSelect=groupByR

[2020-10-01 08:31] damithc commented on #1327
That's the type of link I meant but how does one get such a link?
My steps:
1. Click on the `</>` icon --> full code appears on the code panel
2. Copy the link from the Browser

But the link copied that way does not load the code automatically when someone else use it.

[2020-10-01 08:40] jamessspanggg commented on #1327
Hmm, using the same steps u listed, if you use this [link](https://dashboard-1335-pr-reposense-reposense.surge.sh/#search=&sort=groupTitle&sortWithin=title&since=2017-10-09&timeframe=commit&mergegroup=&groupSelect=groupByRepos&breakdown=false&tabOpen=true&tabType=authorship&tabAuthor=eugenepeh&tabRepo=reposense%2FRepoSense%5Bmaster%5D&authorshipIsMergeGroup=false&authorshipFileTypes=tests~docs~oth

[2020-10-01 08:51] damithc commented on #1327
yes, it seems to work for that dashboard.
But can't seem to be able to do it with this one https://nus-cs2103-ay2021s1.github.io/ip-dashboard
It's using a very recent master branch (about a week old).

[2020-10-01 08:52] jamessspanggg commented on #1327
Ahh, It is fixed by a PR [here](https://github.com/reposense/RepoSense/pull/1332) merged two days ago.

[2020-10-01 08:56] damithc commented on #1327
Got it :-p Thanks for the troubleshooting @jamessspanggg
Should be fine them. Closing.

[2020-10-01 08:56] #1327 closed

[2020-10-01 09:08] #1312 closed

[2020-10-01 09:50] Tejas2805 commented on #1301
@damithc Hi Prof, can these updates be made now?

[2020-10-01 12:27] damithc commented on #1301
Yes, I think so.

[2020-10-03 07:28] #1333 closed

[2020-10-05 04:30] lm5lm5 commented on #1336
I will create a PR fixing this issue.

[2020-10-06 13:12] dcshzj opened #1340 "Deprecate use of window.toggleNext in zoom panel"
Currently, `window.toggleNext` is being used by the ~segment, summary chart and~ zoom panels to toggle between displaying and hiding information. However, the authorship panel uses `v-show` to handle the same functionality. Even for the segment, summary chart and zoom panels, they each have their own ways of handling the toggling of the content.

We should deprecate the use of `window.toggleNext`

[2020-10-08 17:19] Boon-Jun opened #1341 "Hashing of settings in commits panel"
Originally posted by @damithc in #1239
It would be good if we can hash the settings of commits panel for the above mentioned reasons.
Potential settings that can be hashed includes sort by attribute, sorting order, hiding of commit messages.

[2020-10-15 17:08] vig42 opened #1342 "Report generation is slow on large repos"
RepoSense takes a very long time to generate report for large repos - notably those with a long history of commits, and with frequent changes to binary files. One of the main bottlenecks is the time taken to clone the repo. I tried it on [chromium](https://github.com/chromium/chromium), which took over 45min on my home wifi, and [nerd-fonts](https://github.com/ryanoasis/nerd-fonts), which took mor

[2020-10-20 06:42] #1239 closed

[2020-10-23 18:45] Boon-Jun opened #1344 "Unused variable isFileTypesLoaded"
An unused variable in v_zoom.js was unintentionally introduced with commit ae5405e

![image](https://user-images.githubusercontent.com/35420846/97041720-81b5e980-15a2-11eb-84b6-97aead9ddf8f.png)

[2020-10-24 03:06] damithc opened #1345 "Authorship.json: give per-line last-modified-date"
Current:
![image](https://user-images.githubusercontent.com/1673303/97066478-74235280-15e8-11eb-809d-9dd6cd757c59.png)

I'm wondering is it possible to also give last-modified-date for each line. While not strictly not necessary for the dashboard, I can use that data in further processing when I grade students' work.

This will increase the size of the file significantly though. Perhaps we can dis

[2020-10-24 03:07] damithc commented on #1345
@jamessspanggg @fzdy1914 Is this data readily available to be added to the json file or the processing logic needs to change significantly for this?

[2020-10-24 04:30] fzdy1914 commented on #1345
I am not so familiar with the logic of this side. @jamessspanggg Your thought?

[2020-10-26 01:42] Tejas2805 commented on #1345
As far as I know, Git blame provides the time of the last change for each line along with the timezone. And it is included in the code we already have written. We just need to make it accessible I think.

![Screen Shot 2020-10-26 at 9 42 27 AM](https://user-images.githubusercontent.com/35946746/97125676-9abfc580-176f-11eb-9e7b-73852b8e3d2a.png)