[2020-10-26 06:07] #1301 closed

[2020-10-27 06:20] jamessspanggg commented on #1345
Yes I believe this data is readily available and it doesn't need too much processing logic, just need to add the `lastModifiedDate` field to each line.

[2020-10-27 06:21] jamessspanggg commented on #1345
Yes agreed.

[2020-10-27 06:55] damithc commented on #1345
Great. Let's go ahead with it then. First, let's add it to the json file (no need to show in the UI).
It can be enabled or disabled by default (based on the performance cost) with the flag to enable/disable it as necessary.

[2020-10-31 17:20] dcshzj opened #1349 "Test repositories should be cloned only once when testing"
Currently, the test repositories are cloned for every test that performs cloning. This results in lengthy tests as a significant amount of time is spent on cloning the same repository for different tests. This can be reproduced by running `systemTest` to see that the same repositories are cloned multiple times.

The repositories should be cloned only once when running the entire test suite, whethe

[2020-11-01 05:36] damithc opened #1351 "Dashboard: show a spinner when the view is changing"
For reports with large amount of data, the view can take some time to change.  Take https://nus-cs2103-ay2021s1.github.io/tp-dashboard/#breakdown=true for example. It takes about 5 seconds to change the view from group-by-repo to group-by-author.

It would be good to show some sort of activity indicator (e.g., a spinner) during that period.

[2020-11-01 05:43] damithc opened #1352 "Dashboard: the chart view should indicate which author is shown in code view"
![image](https://user-images.githubusercontent.com/1673303/97795999-1a560480-1c48-11eb-97f5-839d1f12cdee.png)

Steps:
* Click on the `</>` icon on the chart view
* Scroll down the code view

Problem: need to scroll to the top of the code view to recall who's code is being viewed

Suggestion: Highlight the `</>` icon when clicked? Not sure about the coding and performance costs though.

[2020-11-01 15:31] #1293 closed

[2020-11-02 06:42] fzdy1914 commented on #1352
It should be easy to implement.

[2020-11-05 08:13] Krit-K commented on #1344
@damithc i'm interested in joining RepoSense for CS3281, may I work on this issue?

[2020-11-05 08:22] damithc commented on #1344
Sure @Krit-K

[2020-11-07 05:18] damithc opened #1354 "empty author tags not honored"
![image](https://user-images.githubusercontent.com/1673303/98432653-4ca9ab00-20fb-11eb-8f8a-49c9a1fcc396.png)

Guys, in the example above, the empty @@author tag at line 18 should mean the lines below it are not to be attributed to anyone until we encounter another non-empty @@author tag. But looks like some lines are being attributed to an author.
Is this a bug in the current logic?

File https:/

[2020-11-07 07:56] jamessspanggg commented on #1354
Yes it is due to a bug in our current logic and it was due to: https://github.com/reposense/RepoSense/pull/1067

To provide more info, in `findAuthorInLine` it returns an `Optional.Empty()` when the author name is not provided in the `@@author` tag. This causes only the line of `@@author` to be set to author UNKNOWN whereas the rest to not be affected. @anubh-v correct me if im wrong here
https://

[2020-11-07 08:02] jamessspanggg commented on #1354
Here's a breakdown of the logic used in processing the `@@author` tags.

- If we encounter a start tag (i.e. `@@author GIT_AUTHOR_NAME`), then:
  - If `GIT_AUTHOR_NAME` belongs to an author within the `AuthorConfiguration`, then `AnnotatorAnalyzer` will attribute the subsequent lines to this author (until an end tag `@@author` is encountered, or till end of file if no end tag is encountered).

  -

[2020-11-07 08:31] damithc commented on #1354
I see. Thanks for the investigation @jamessspanggg
Any idea if this can be fixed quickly? If not, we can ask students to use a dummy username e.g., `@@author unknown`, right?

[2020-11-07 08:36] jamessspanggg commented on #1354
Yes asking the students to use a dummy username would solve the problem temporarily.

[2020-11-07 08:38] jamessspanggg commented on #1354
I'm not too familiar with the following code. @anubh-v any ideas if this can be fixed quickly>?

[2020-11-07 15:32] anubh-v commented on #1354
Sorry @jamessspanggg , @damithc, may I look into this in the second half of next week?

[2020-11-07 15:44] damithc commented on #1354
Sure @anubh-v

[2020-11-09 15:02] damithc opened #1356 "Not use # in URLs"
Looks like the # in the RepoSense URLs are causing some problems. Is it possible not to use # in URLs?

https://github.com/nus-cs2103-AY2021S1/forum/issues/404

[2020-11-10 05:20] jamessspanggg commented on #1356
I think its possible to use `?` to encode the params but that will introduce a lot of changes within the front end code. @fzdy1914 your thoughts on this?

A simple manual workaround to this is to ask them to use url shortener (e.g. bitly) to shorten the link first, then place the shortened link in their pdf.

[2020-11-10 06:08] damithc commented on #1356
Probably too much to expect from users as this can affect any RepoSense user.

Can we make the code to work for either `#` or `%23`?
Was there some compelling reason to choose `#` in the first place?

[2020-11-10 13:15] fzdy1914 commented on #1356
Yes, I agrees that `?` should be a better choice. And we may utilize the functionality of `vue-router` to do parameter handling.

Meanwhile, I don't think we can make it work for both `#` or `%23`.

[2020-11-10 13:16] jamessspanggg commented on #1356
@fzdy1914 do u know the rationale of using `#` initially?

[2020-11-10 13:28] fzdy1914 commented on #1356
Don't know though. May because it is easy to implement?

[2020-11-11 16:24] Tejas2805 commented on #1352
If the user scrolls down the summary panel too, the error will still remain. Better to have some mechanism of knowing whose code we are viewing at all points of time?

[2020-11-11 16:48] dcshzj opened #1358 "Find an alternative to TravisCI"
TravisCI has [announced changes to its pricing model](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing) which will limit free and open source projects to a fixed amount of credits (currently 10,000), unless a higher and renewable limit is requested. We will be affected when we are forced to migrate to `travis-ci.com` at the end of the year.

We might have to look for an alternative for

[2020-11-11 17:02] damithc commented on #1358
Thanks for bringing this up @dcshzj
We should explore moving to GitHub Actions.

[2020-11-11 19:13] Tejas2805 commented on #1358
Actually I explored a bit of this on my FYP.

1) GitHub Actions will give us 2000 build mins per month. But they charge 10x times the rate for macOS and 2x times the rate for Windows. So, building for one actual minute on Mac will actually cost us 10 minutes of actual build time.
2) Travis is actually 1000 Linux build minutes in total. As 1000 actual Linux build minutes make it 10,000 credits. The

[2020-11-12 01:30] dcshzj commented on #1358
I think the 2000 build minutes per month is for private repositories. It looks like GitHub Actions is completely free (no limits) for public repositories, they only impose a [usage limit to prevent abuse](https://docs.github.com/en/free-pro-team@latest/actions/reference/usage-limits-billing-and-administration#usage-limits).

[2020-11-12 01:35] Tejas2805 commented on #1358
Ya, realiised. I kind of misinterpreted that we will fall under the organisation criteria.

[2020-11-12 02:29] anubh-v commented on #1354
I have started a PR to treat empty author tags as new author annotations, if there isn't already an existing authorship annotation being applied.

The code change is minor. However, the expected output for our system tests needs to be changed. I'll need 3 - 4 days to finish this up.

[2020-11-15 11:53] #1336 closed

[2020-11-15 12:58] #590 closed

[2020-11-15 17:34] #816 closed

[2020-11-15 17:56] #1276 closed

[2020-11-16 04:37] #460 closed

[2020-11-16 16:13] #1341 closed

[2020-11-16 19:01] Boon-Jun opened #1360 "Report-config.json: Support more fields"
We have added a report-config.json file that can be used for the configuration of report generation.
Right now, it only allows users to specify a report title.

We can support more fields with this config file, especially if they can be applied to all repositories during report generation.
The following are some of the fields I think we can include:
- [ ] sinceDate
- [ ] untilDate
- [ ] timeZone

[2020-11-17 12:53] dcshzj commented on #1360
We can also extend it to configure the introductory text as outlined in #467.

[2020-11-17 15:49] Boon-Jun commented on #1360
I think we have to what extent should we allow the customization of the introductory text. If its just basic text replacement, then it can be done, but if the users are allowed to modify the html themselves, then it might not be suitable

[2020-11-21 14:19] #1345 closed

[2020-11-25 06:59] jamessspanggg commented on #1345
@damithc the last modified date of each LoC is available now. How would u want to display the last modified date in the front end?

[2020-11-25 07:00] #1344 closed

[2020-11-25 08:32] damithc commented on #1345
Let's leave it aside for now. I dont' want to add any more overheads to the front end as it's already slow for big classes.

[2020-12-06 16:20] #436 closed

[2020-12-08 11:43] hopinxian commented on #1207
Hi, I am looking for a first timer issue to work on. I was redirected here after reading the issue at #1202 . Is it fine if I take on this?

[2020-12-08 12:19] jamessspanggg commented on #1207
go ahead @hopinxian

[2020-12-09 11:04] hopinxian commented on #1207
Just to clarify, can I confirm that the conclusion of the discussion is to rename ```authorEmailsAndAliasesMap``` to ```authorDetailsToAuthorMap```?

[2020-12-10 05:43] HCY123902 commented on #1202
Hello, I am looking for a first time issue, and I am wondering whether this issue is still open? I seem to have found some functions without documentation and I think this may be a point for me to start.

[2020-12-10 17:58] wltan opened #1365 "Unit tests fail on Windows"
**Tell us about your environment**

* **RepoSense Version:** Latest `master` commit https://github.com/reposense/RepoSense/commit/60de6237039041e7b2dfe9af208d3775fa61fb51
* **OS and Version:** Windows 10 (20H2 update)

[code]

**Please include the steps to reproduce the bug.**
I was following the setup instructions in the developer guide: https://reposense.org/RepoSense/dg/settingUp.html
After clo

[2020-12-11 06:01] gerhean opened #1367 "Add confirm button for filter and sorting"
**What feature(s) would you like to see in RepoSense?**

![image](https://user-images.githubusercontent.com/16630400/101868642-c2041200-3bb8-11eb-906c-f7688c45f405.png)

Add confirm button for filter and sorting somewhere at the circled area.

**Is the feature request related to a problem?**

Right now changing any parameter causes the whole page to re-render, taking up to 20s for long lists. Indi

[2020-12-11 06:08] fzdy1914 commented on #7
@damithc Is this issue still relevant?

[2020-12-11 06:10] fzdy1914 commented on #1367
We have the plan to revamp the whole control panel. But we haven't decided how to do so now. See issue  #509.

[2020-12-11 06:12] damithc commented on #7
I think we don't need it anymore. Closing.

[2020-12-11 06:12] #7 closed

[2020-12-12 04:37] wltan opened #1369 "Update contribution workflow to include drafting a commit message for PRs"
From https://github.com/reposense/RepoSense/pull/1368#issuecomment-743164813

**What problem(s) did you run into that caused you to request additional documentation? What, if any, existing documentation relates to this proposal?**

I was informed in #1368 that PRs should be accompanied with a proposed commit message when the PR is to be merged.

However, this step is not well-documented in the dev

[2020-12-12 04:48] damithc opened #1370 "Use light theme for code"
RepoSense docs were written when MarkBind supported only the light theme for code. Recently, MarkBind switched to the dark theme as the default. However, our documentation doesn't look nice in the dark theme as there are many inline code fragments in the docs. An example is given below.
Perhaps switch back to light theme? Instructions for adding the setting to the `site.json` are [here](https://ma

[2020-12-13 10:09] kkangs0226 commented on #1370
Hi Prof. Damith and team, I am a first timer here and would like to contribute to this issue!
I've noticed that the label states "s.ToDiscuss", and if the team to decides to work on this, I would like to help resolve this issue.
Please let me know if it is ok for me to do so, after your discussion!

[2020-12-13 10:24] kkangs0226 commented on #1370
Dear Prof. Damith, could I ask how I could reproduce this issue? The inline code are still in light theme on my side. (using Chrome)

Thank you!
![image](https://user-images.githubusercontent.com/66008784/102009120-43ea6b80-3d70-11eb-9054-d48378f27442.png)

[2020-12-13 12:05] damithc commented on #1370
As there have been no objections to the suggested change so far, we can go ahead. I've removed the `toDiscuss` label.

[2020-12-14 05:15] gerhean commented on #1356
I can take this issue, doesn't actually need much changes in frontend.

The use of `#` is by convention + browser support, see: https://www.w3schools.com/jsref/prop_loc_hash.asp

[2020-12-14 05:48] gerhean commented on #1365
I do not believe it is a platform specific issue as it runs properly on my Windows laptop.

[code]

[2020-12-14 09:15] #1207 closed

[2020-12-14 16:05] jamessspanggg opened #1374 "Documentation preview in PRs no longer exists"
**Tell us about your environment**

* **RepoSense Version:** Not important
* **OS and Version:** Not important
* **Web Browser and Version (if applicable):** Not important

**Please include the steps to reproduce the bug.**

1. Head to any pull requests
1. Click on the github checks, click on the surge docs deployment
1. Observe that the site does not exist

**What was expected to happen?**
The do

[2020-12-14 16:18] jamessspanggg commented on #1374
Here's where it went wrong, can find it here https://travis-ci.org/github/reposense/RepoSense/jobs/749603168:

<img width="1200" alt="Screen Shot 2020-12-15 at 12 17 33 AM" src="https://user-images.githubusercontent.com/32864116/102105976-fe5e9900-3e6a-11eb-88cb-2769ab07d7eb.png">

[2020-12-14 16:20] jamessspanggg commented on #1374
@ang-zeyu could this be an issue from the Markbind side?

[2020-12-15 12:39] #1370 closed

[2020-12-15 15:42] ang-zeyu commented on #1374
try ^

would recommend fixing the version as well in case there's more breaking changes; We listed node `v10` but never really quite used it till v2.17

[2020-12-16 02:51] kkangs0226 opened #1375 "Some typos, grammatical errors and inconsistencies in the User Guide and Developer Guide"
**What problem(s) did you run into that caused you to request additional documentation? What, if any, existing documentation relates to this proposal?**

I have found some minor grammatical errors/typos/inconsistencies in the User Guide and Developer Guide, as shown in the screenshots below.

Example of grammatical errors:
![Screenshot 2020-12-16 at 10 33 22 AM](https://user-images.githubuserconte

[2020-12-16 07:11] #1356 closed

[2020-12-16 12:06] #1233 closed

[2020-12-17 06:01] damithc commented on #1375
Thanks for reporting these @kkangs0226
Yes, these should be fixed.

[2020-12-17 09:29] rolandyuwy opened #1377 "Minor improvement to consistency and readability of Developer Guide section"
**What problem(s) did you run into that caused you to request additional documentation? What, if any, existing documentation relates to this proposal?**

A minor improvement to the **Setting Up** section in the Developer Guide would allow the setting up process to be more seamless.

**What would you like added or modified in the documentation?**
For each bullet point, include a tip to find out the

[2020-12-17 12:22] damithc commented on #1377
Yes, that can be helpful. Not to make a big deal out of it, we can simply mention all three together in the tip. i.e.,

[2020-12-17 15:14] rolandyuwy commented on #1286
**Preliminary steps done thus far:**
1) Uninstall Node.js and npm.
2) Check that npm and node.js is uninstalled with `node -v` and `npm -v` in OS terminal.
3) Clone repository and completed set up procedure according to https://reposense.org/RepoSense/dg/settingUp.html without node.js and npm installed.
4) Run `gradlew clean build` to ensure project is successfully built.

**Findings:**
- Running

[2020-12-17 23:13] Tejas2805 commented on #1375
@kkangs0226 @HCY123902 Glad to see you all so excited to contribute to RepoSense! Just a suggestion: Avoid opening duplicate PRs that fix the same issue, unless your way of fixing it is different. This will help the senior developers go through the PRs faster and look at one PR clearly. Keep up the good work!

[2020-12-18 09:49] #1374 closed

[2020-12-19 09:23] gerhean opened #1382 "Avoid rerendering tabs unnecessarily."
**What feature(s) would you like to see in RepoSense?**

Currently, tab info is passed from `store.js` to `main.js` to `v-authorship.js` and `v-zoom.js`.
**Suggestion:** to pass info directly from `store.js` to `v-authorship.js` and `v-zoom.js`.

Each time tab information is updated, we destroy old component by the key, and the new component is generated based on the info in store instead of a pro

[2020-12-19 09:48] gerhean opened #1383 "Add virtual scrolling"
**What feature(s) would you like to see in RepoSense?**

`v-ramp` is clearly very expensive to render. More likely than not the user will not scroll through the entire list of repos rendered, making it a waste.

Let's try to render components only when they become visible. This will hopefully improve front end performance.

**If possible, describe the solution**

Can consider using: https://github

[2020-12-19 12:23] damithc commented on #1383
Alternative: render to top part first, and continue to render the rest in the background (no need to wait for user to scroll).

[2020-12-20 14:51] #1248 closed

[2020-12-20 15:41] gerhean opened #1385 "Reduce delay before loading screen is rendered"
**What feature(s) would you like to see in RepoSense?**
Extension of PR #1372.

**Additional context**

Might not actually be fixable. Needs testing.

[2020-12-21 15:57] Tejas2805 commented on #1217
@fzdy1914 What about this one? I feel that now that we have the icon showing whether collapsed or expanded, the current implementation (consisting of clicking on the icon and the file name) works well enough. Or would you still prefer the whole area?

[2020-12-21 16:02] HCY123902 commented on #1118
Hello, I am wondering if this issue is still under discussion, or will it be acceptable for me to work on this issue?

[2020-12-22 03:25] fzdy1914 commented on #1217
Yep, I agree that the current implementation is good enough

[2020-12-22 03:25] fzdy1914 commented on #1118
I am OK with it.

[2020-12-22 03:27] damithc commented on #1217
I still prefer the whole area. It saves the user extra effort to move the mouse icon to a tiny icon. :-)

[2020-12-22 03:34] fzdy1914 commented on #1217
@damithc Actually, clicking the file name will also toggle the file. The effective area is listed below.

![image](https://user-images.githubusercontent.com/35621726/102845715-1e80f000-4449-11eb-9db0-90fc77a2d94b.png)

Now, there is an extra file type label that takes some space in the whole title area, it is less meaningful to support clicking on the space that is on the right side of the file ty

[2020-12-22 03:36] Tejas2805 commented on #1217
Yup.

[2020-12-22 03:39] Tejas2805 commented on #435
@jamessspanggg your PR fixed this issue too right? Or was it just for spaces in the file name and not the file path?

[2020-12-22 04:16] damithc commented on #1217
I see. In that case, should be fine. Thanks both for checking. 👍

[2020-12-22 04:16] #1217 closed

[2020-12-22 14:05] Tejas2805 commented on #917
@jamessspanggg Does your PR that handles special characters solve this issue?

[2020-12-22 14:26] jamessspanggg commented on #917
do u mean https://github.com/reposense/RepoSense/pull/1247? yes i believe the PR solves the issue.

[2020-12-22 14:26] #917 closed

[2020-12-24 04:07] #1377 closed

[2020-12-31 11:37] gerhean opened #1391 "Optimise v_ramp by converting it into a functional component"
**What feature(s) would you like to see in RepoSense?**

Over a thousand v_ramp components can be rendered on a larger page. Let's optimize it by converting it into a functional component.

**Is the feature request related to a problem?**

Need more testing but since so many v_ramp is rendered it might be one of the reasons why the site loads slowly.

**If possible, describe the solution**

Accord

[2020-12-31 11:42] fzdy1914 commented on #1391
Can have a try, seems promising.

[2021-01-02 07:39] #1351 closed

[2021-01-02 08:20] #1227 closed

[2021-01-02 13:22] #1375 closed

[2021-01-04 03:16] jamessspanggg opened #1397 "Long contribution bar causes UI issue"
**Tell us about your environment**

* **RepoSense Version:** master
* **OS and Version:** Mac OS
* **Web Browser and Version (if applicable):** Chrome

**Please include the steps to reproduce the bug.**

1. Visit http://tnb-contribution-04-01-2020.surge.sh/?search=&sort=groupTitle&sortWithin=totalCommits%20dsc&since=2020-06-04&timeframe=commit&mergegroup=thenewboston-developers%2FAccount-Manager%5

[2021-01-04 03:23] damithc commented on #1397
I would like to fix the UI issue while keeping the contribution bar length though. The highly visual nature of the contribution bar is a lot more useful than just numbers. If someone contributed way may than others, I want it to catch the eye immediately. But this is often a result of a student incorrectly committing library code. In such cases, it is good if the bar becomes an eye sore so that so

[2021-01-04 03:49] damithc commented on #1397
Good catch with the bug 👍 . I've seen a few cases of long contribution bars I failed to notice the bug :-(

[2021-01-04 03:53] jamessspanggg commented on #1397
Note that the first group is merged, while the rest aren't 😬

[2021-01-08 03:28] damithc opened #1401 "Use PlantUML for some diagrams"
As MarkBind has native support for PlantUML, we can consider using PlantUML for some of the diagrams (when suitable) in the DG.

Rationale: easier to update in the future

[2021-01-08 07:58] #1252 closed

[2021-01-11 07:47] #1358 closed

[2021-01-16 03:15] #1367 closed

[2021-01-16 09:07] HCY123902 opened #1404 "Update the documentation for running RepoSense from code"
**What problem(s) did you run into that caused you to request additional documentation? What, if any, existing documentation relates to this proposal?**

I cannot view the RepoSense report generated in the browser following the Running the app from code section in the Developer Guide because some gradle instructions seem to be missing.

**What would you like added or modified in the documentation?

[2021-01-17 10:14] HCY123902 opened #1407 "Add gradle instructions in the workflow section of Developer Guide"
**What problem(s) did you run into that caused you to request additional documentation? What, if any, existing documentation relates to this proposal?**

The workflow section in the Developer Guide can contain more specific instructions on back-end testing and check style.

**What would you like added or modified in the documentation?**

I would like to propose to add the relevant gradle instructi

[2021-01-17 14:17] Tejas2805 opened #1409 "Typo in CLI syntax reference"
There is a typo in the example given in CLI syntax reference.

![Screen Shot 2021-01-17 at 10 15 29 PM](https://user-images.githubusercontent.com/35946746/104845684-b1f6f500-5911-11eb-86a5-9ec34b207b6c.png)

The actual parameter is:

![Screen Shot 2021-01-17 at 10 15 39 PM](https://user-images.githubusercontent.com/35946746/104845698-bd4a2080-5911-11eb-9526-0a2258ff13ef.png)

[2021-01-17 14:17] Tejas2805 commented on #1409
@HCY123902 Maybe you can do it in your PR itself since you are touching that part of the document

[2021-01-17 15:25] HCY123902 commented on #1409
Sure, no problem

[2021-01-19 03:07] damithc opened #1414 "add a message when the bot closes a stale issue/PR"
We can add an explanatory message when the bot closes a stale PR e.g., https://github.com/reposense/RepoSense/pull/1308#event-4220302825

[2021-01-19 06:29] Tejas2805 commented on #1414
Let me see if we can modify the action in some way.

[2021-01-19 10:55] gerhean opened #1415 "Rewrite segment"
**What feature(s) would you like to see in RepoSense?**
Rewrite `v_segment.js`

**Is the feature request related to a problem?**
`v_segment.js` is written confusingly. It is not clear how exactly it works.

**If possible, describe the solution**
Opened PR.

[2021-01-19 11:06] fzdy1914 commented on #1365
Actually, I got some different errors on my laptop with windows but not on my PC with windows. Not sure why it happens though. Closing it as it is not always occurring.

[2021-01-19 11:06] #1365 closed

[2021-01-19 11:14] fzdy1914 commented on #1304
@damithc What do you think of this issue? Do you think we still need java8 compatibility?

[2021-01-19 11:20] fzdy1914 commented on #18
@damithc Do the current `merge group` for the `group by author` does what you need? Now, we can use the commit panel already. Do you need to view the authorship pannel also? The authorship panel may be a bit confusing if we combine it from different repos.

[2021-01-19 11:24] gerhean opened #1417 "Change the way api.js loads json files"
**What feature(s) would you like to see in RepoSense?**
Use fetch over XMLHttpRequest in `api.js`.
Use async await over promises.
Also make it possible to load zip files.

**Is the feature request related to a problem?**

![image](https://user-images.githubusercontent.com/16630400/105028223-b9420e00-5a8b-11eb-8fc3-bc98377a3ad3.png)
`const` so it can't actually be modified.

**If possible, describe

[2021-01-19 11:29] fzdy1914 commented on #675
I will leave two related issues here for reference but close them.
Issues are: #63, #148.

[2021-01-19 11:29] fzdy1914 commented on #63
Close for #675.

[2021-01-19 11:29] #63 closed

[2021-01-19 11:29] fzdy1914 commented on #148
Close for #675.

[2021-01-19 11:29] #148 closed

[2021-01-19 11:39] #1415 closed

[2021-01-19 11:42] fzdy1914 commented on #330
Closing it as we are using standardlized:

- Standalone Config
- CSV Config - repo-config, author-config
- Chart Panel
- Code Panel

[2021-01-19 11:42] #330 closed

[2021-01-19 12:19] damithc commented on #18
Yes, it does. And yes, I guess no need for the code panel to show all code.

[2021-01-19 12:21] damithc commented on #1304
Would be nice to have (I think it was the last 'free' version of Java and some people might not upgrade beyond Java 8 fora while) but OK not to have it too.

[2021-01-19 12:25] #18 closed

[2021-01-19 12:52] fzdy1914 commented on #1304
OK, will only upgrade it when we truly have to do so.

[2021-01-19 13:07] #1417 closed

[2021-01-19 13:11] #1404 closed

[2021-01-19 13:11] #1407 closed

[2021-01-19 13:35] gerhean opened #1420 "Abstract code out from summary.js"
**What feature(s) would you like to see in RepoSense?**
Move code which does not rely on the state of `summary.js` out of `summary.js` to somewhere else.
Also can apply to other files.

**Is the feature request related to a problem?**
`summary.js` has over 900 lines and is very messy. Looking for relevant code can be hard
Also would help if we decide to move handling of repo data out of `summary.j

[2021-01-19 13:36] fzdy1914 commented on #1420
Yes, can go ahead. And you can choose to do it before or after morphing.

[2021-01-19 14:50] damithc commented on #1360
I think it would be support basic HTML but if that's too hard, even just text is good enough. We also need to figure out where we are going to display that text, in what format.

[2021-01-20 08:53] fzdy1914 opened #1423 "Fix vue build warning"
![image](https://user-images.githubusercontent.com/35621726/105150592-ebad4300-5b3f-11eb-8100-9fb43b397810.png)

We should try to look into these Vue warnings and try to fix them.

[2021-01-20 14:18] gerhean opened #1424 "decodeHash is being called multiple times."
**What feature(s) would you like to see in RepoSense?**
`window.decodeHash` seems to called several times throughout the code.
What this piece of code does is read params from the url.
This means it does not make sense for it to be called any more than once per page reload.
![image](https://user-images.githubusercontent.com/16630400/105187332-a1db5180-5b6d-11eb-8c73-38f1ee62d33a.png)

Furthermore,

[2021-01-22 03:03] gerhean opened #1425 "Upgrading to Vue3 in projectify frontend"
**What feature(s) would you like to see in RepoSense?**
Upgrading to Vue3 in projectify frontend [#1412].

I have already been given the ok by fzdy1914 but it occurred to me that it would be a good idea to post this as an issue as well for further confirmation.

Vue3 is supposedly faster than Vue2 and has several features which seems to be useful,
most notedly being compatible with typescript.

**

[2021-01-22 06:15] #1272 closed

[2021-01-22 15:41] 0blivious opened #1426 "Zoom reloading not function properly"
**Tell us about your environment**

* **RepoSense Version:** master
* **OS and Version:** windows10
* **Web Browser and Version (if applicable):** Chrome

**Please include the steps to reproduce the bug.**

1. Visit https://nus-cs2103-ay2021s1.github.io/tp-dashboard/#breakdown=true&search=&sort=groupTitle&sortWithin=title&since=2020-08-14&timeframe=week&mergegroup=&groupSelect=groupByRepos&checked

[2021-01-22 17:12] fzdy1914 commented on #1426
Seems can not reproduce. Any other parameter specified?

[2021-01-23 06:45] rolandyuwy opened #1427 "Some PlantUML diagrams will not render in deployed RepoSense website"
**Tell us about your environment**

* **RepoSense Version:** master
* **OS and Version:** windows10
* **Web Browser and Version (if applicable):** Chrome

**Please include the steps to reproduce the bug.**

1. Visit https://docs-1406-pr-reposense-reposense.surge.sh/dg/report.html for the surge preview of #1406, which replaces images in the Developer Guide with PlantUML diagrams, to incorporate Mar

[2021-01-23 06:57] damithc commented on #1427
I'm not even sure PlantUML diagrams will work with surge/netlify previews. You may want to ask the MarkBind guys (e.g., file a bug report or query in their issue tracker)

[2021-01-23 08:11] gerhean commented on #1426
Can guess what happened, but cannot reproduce either.

[2021-01-23 11:31] fzdy1914 commented on #1426
We need to reproduce it by `groupByRepos` option. I successfully reproduced it. That link is useful.

[2021-01-24 12:04] gerhean commented on #1426
I still cannot reproduce it. In any case this link does not reflect the current master branch.

In the current master branch, clicking on the ramp at the zoom panel brings one to the commit on the github website and should not cause any changes to state. Hence this issue might not be relevant anymore.

[2021-01-25 03:24] dcshzj commented on #1360
Related task for setting `sinceDate` and `untilDate`: #634

[2021-01-25 03:57] fzdy1914 commented on #1426
Step to reproduce on current master:
1. open report
2. breakdown by filetyple
3. granularity by week
4. view any commit pannel
5. click on ramp
6. refresh

[2021-01-25 04:08] dcshzj opened #1429 "GitHub Actions conflict if multiple deployments are done in a short amount of time"
This issue is a follow up from #1408.

Due to the way the `dawidd6/action-download-artifact` action handles the detection of artifacts, it often results in a race condition where the wrong artifacts are used for certain `workflow_run` runs.

We should explore how to obtain the correct artifact for each `workflow_run`.

[2021-01-25 04:10] fzdy1914 commented on #1429
![image](https://user-images.githubusercontent.com/35621726/105660610-5aa2e700-5f06-11eb-8787-dd646d57bf78.png)
Go check this.

[2021-01-25 04:14] fzdy1914 commented on #1429
And do care about this attribute.

![image](https://user-images.githubusercontent.com/35621726/105660722-9fc71900-5f06-11eb-8c01-6c567f399913.png)

I think the best way to fix this is not adding this `auto_inactive` but to edit the name of the `env` to match the PR, i.e., dashboard-1444, docs-1444.

[2021-01-25 05:19] dcshzj opened #1430 "Walk users through creating and deploying their first report"
**What feature(s) would you like to see in RepoSense?**
There should be a way to walk users through creating and deploying their first RepoSense report. This includes forking the [publish-RepoSense](https://github.com/reposense/publish-RepoSense) repository automatically as well as creating the necessary changes to the configuration files to match the requirements of the user.

These requirements

[2021-01-25 06:03] rolandyuwy opened #1431 "Support a way for an individual to use RepoSense to showcase their code in multiple projects written in multiple periods"
**What feature(s) would you like to see in RepoSense?**
RepoSense can support a way for an individual to use RepoSense to showcase their code in multiple projects written in multiple periods. _e.g., a student to showcase code written over a few years to an interviewer._ Each ramp depicts the code contributions of the individual from one project/repository.

**Is the feature request related to a pr

[2021-01-25 09:28] damithc commented on #1431
BTW, don't mix up the _analysis period_ with the _display period_. The drop-down is to specify the display period only. I think we need a way to specify different _analysis periods_ for different repos to begin with. Providing a way to change the display period of different repos would be a nice-to-have thing.

[2021-01-25 15:04] #1429 closed

[2021-01-25 16:00] dcshzj opened #1435 "Expand integration testing to other environments"
Now that #1358 has been resolved, the continuous integration tests run much faster than before. We should explore expanding the testing to other environments such as Windows as well as other versions of Ubuntu and MacOS.

Currently, the test environments are limited to `ubuntu-16.04` and `macos-10.15` and testing using JDK 8.

[2021-01-26 07:54] 0blivious opened #1436 "Error in filtering of commits in Zoom"
**Tell us about your environment**

* **RepoSense Version:** master
* **OS and Version:** windows10
* **Web Browser and Version (if applicable):** chrome

**Please include the steps to reproduce the bug.**

1. open report
1. set granularity to week
2. untick all file types except others
3. click to open zoom panel for James (jamessspanggg)
4. click on the 2nd pink triangle ramp

**What was expecte

[2021-01-26 11:46] #1424 closed

[2021-01-28 08:07] gerhean commented on #1426
Actually what exactly should be happening when i click the ramp.
![image](https://user-images.githubusercontent.com/16630400/106108054-b7aad100-6182-11eb-8eea-3a8d22a82709.png)
Why is it that when I filter by scss, when I click the ramp, the zoom page appears with commits without scss?

[2021-01-29 07:28] gerhean commented on #1423
Is it ok to just tell eslint to ignore the alert? Unless there's any better alternatives to telling users that a zip file is bad?

[2021-01-29 10:18] gerhean opened #1440 "Call `this.getFiltered()` only once during initialization."
**What feature(s) would you like to see in RepoSense?**

Call `this.getFiltered()` only once during initialization.

**Is the feature request related to a problem?**

![image](https://user-images.githubusercontent.com/16630400/106261970-41c76800-625d-11eb-9139-c42904400d68.png)

When opening the website, `getFiltered()` is being called multiple times by `v-summary`.

This is due to watched propert

[2021-02-01 04:05] HCY123902 opened #1444 "Some backend unit test cannot pass on Windows"
**Tell us about your environment**

* **RepoSense Version:** master
* **OS and Version:** Windows10
* **Web Browser and Version (if applicable):** Edge

**Please include the steps to reproduce the bug.**

1. Run `gradlew test` in the project directory

**What was expected to happen?**

All the unit test should pass successfully, as is the case when running them using Github Actions.

**What actual

[2021-02-01 10:40] gerhean commented on #1431
I think the current way is fine, but here's some things I want to see:
- it would be good if zoom tab would stretch the ramp to fit
- option to sort by last commit date
- perhaps a drag slider to indicate the date instead of the current calender?

[2021-02-03 04:51] #1409 closed

[2021-02-07 11:51] #1423 closed

[2021-02-09 08:32] gerhean opened #1445 "Should URL validation be added?"
**What feature(s) would you like to see in RepoSense?**
Currently, when certain URL which should not be generated by the website is used, the website can encounter console errors.

For example:
`https://dashboard-1432-pr-reposense-reposense.surge.sh/?sort=badvalue`
`https://dashboard-1432-pr-reposense-reposense.surge.sh/?tabOpen=true&tabType=zoom&zA=fakeman`

**Is the feature request related to a

[2021-02-09 13:57] gerhean opened #1446 "Authorship name not showing on refresh."
**Please include the steps to reproduce the bug.**

1. Go to https://dashboard-1418-pr-reposense-reposense.surge.sh/
2. Click any authorship tab
3.  Refresh

**What was expected to happen?**
![image](https://user-images.githubusercontent.com/16630400/107372999-02ccc880-6b21-11eb-80aa-80ebfd1ca959.png)

**What actually happened? Please include a screenshot of the output.**
![image](https://user-ima

[2021-02-10 01:11] damithc opened #1448 "Auto-publishing using GitHub actions: explore using default access token"
Current: Users need to set an ACCESS_TOKEN as a secret when setting up auto-publishing using GitHub actions
Suggested: Investigate if GitHub actions can use a default access token instead

[2021-02-11 14:49] vig42 opened #1450 "Implement shallow cloning to speed up cloning"
**What feature(s) would you like to see in RepoSense?**
Typically, RepoSense is used to display the contributions made to a repo over a relatively short period, e.g. a few months. This means the commit history prior to these months is not required to generate the report.

However, RepoSense still downloads the full commit history of the repo when cloning it. For repos with a long history of commit

[2021-02-11 15:00] vig42 opened #1452 "Implement multi-threading"
**What feature(s) would you like to see in RepoSense?**

Currently, RepoSense performs cloning and analysis in parallel; i.e. while Repo 1 is being analyzed, Repo 2 is being cloned. When we are running RepoSense on a large number of repos, we could achieve better performance if we clone and analyse more repos simultaneously using multi-threading.

**If possible, describe the solution**

We could i

[2021-02-11 15:10] damithc commented on #1452
Yes, a 50% reduction is certainly not trivial. I wonder if we'll see a similar improvement when the report is generated in a CI environment, which is the more common case.

[2021-02-13 15:40] dcshzj commented on #442
This is quite an epic issue and in the interest of reporting my progress so far, here are some notes on my attempt to perform this migration.

**Potential replacements**

The following is a table of the various CommandRunner usages and their potential replacements in JGit:

| Usage            | JGit API                        | JGit Class               | Remarks

[2021-02-15 04:12] dcshzj commented on #1369
Fixed in #1378.

[2021-02-15 04:12] #1369 closed

[2021-02-15 04:59] dcshzj commented on #1414
@Tejas2805 Are you still working on this? I can take it up if not.

[2021-02-15 05:29] HCY123902 opened #1455 "Reloading hides the display name in authorship contribution"
**Tell us about your environment**

* **RepoSense Version:** master
* **OS and Version:** Windows10
* **Web Browser and Version (if applicable):** Edge

**Please include the steps to reproduce the bug.**

1. Open a generated report, select an anthor and view the authorship contribution
1. Refresh the page

**What was expected to happen?**
The display name should be shown along with the author name

[2021-02-15 05:47] dcshzj commented on #1455
I think this is a duplicate of #1446.

[2021-02-15 05:59] gerhean commented on #1452
Have you tested how much time is spent cloning and downloading the repos vs analyzing the code? Since they have different bottlenecks (cloning is io heavy and analyzing is cpu heavy) and it might be better to parallelize them differently.

[2021-02-15 06:09] #1455 closed

[2021-02-16 03:55] gerhean commented on #1430
Started work on 1430_feature_branch

[2021-02-20 09:49] HCY123902 commented on #1283
The style check `npm run lint` seems to work appropriately on Windows without throwing error on my side when running it from the terminal. Is there any more detailed steps about how this can be reproduced?

[2021-02-20 11:32] fzdy1914 commented on #1283
This is fixed in a recent PR. Closing this.

[2021-02-20 11:32] #1283 closed

[2021-02-21 11:23] vig42 commented on #1452
Agreed, this definitely makes more sense, since the bottleneck resource is different for each of the 2 steps.

I did not do this initially since I was unsure about how to "schedule" the threads to ensure that the analysis for each repo would be done after it is cloned. Since then I have found a way to implement this using the CompletableFuture class. I also implemented [@dcshzj's suggestion](https

[2021-02-24 03:26] #1401 closed

[2021-02-24 03:47] #1382 closed

[2021-02-25 12:45] #1414 closed

[2021-03-01 06:30] fzdy1914 commented on #442
@damithc Your input for this change? It is quite a big change though. We should not worry about the feature of JGit can provide as it is still being maintained quite often.

[2021-03-01 12:13] damithc commented on #442
Given that we already has a working implementation, we'll need a pretty strong reason to migrate i.e., either something very negative about the current choice or a big value added by the alternative.
I'm not sure if there is enough incentive for as of now. 🤔  But I'm open to be convinced otherwise. @dcshzj is the value add worth the cost of changing? If not, we can put this on hold for now. The wo

[2021-03-02 09:36] HCY123902 commented on #1229
Hello, is this issue still active? I also think that it may be suitable to only use the author name when grouped by author.

[2021-03-02 12:22] 0blivious commented on #1229
This is one solution, but it is kinda misaligned with the purpose of using the display name. We might possibly want to have some UI like authorname (display name 1, display name 2)?

@fzdy1914 @damithc

[2021-03-02 14:24] damithc commented on #1229
Can provide an example to understand the problem? :-p

[2021-03-02 16:37] damithc opened #1460 "Charts panel: header info misplaced"
![image](https://user-images.githubusercontent.com/1673303/109681409-65613380-7bb8-11eb-89b2-9e813e73ba20.png)

https://nus-cs2103-ay2021s2.github.io/tp-dashboard/?search=&sort=totalCommits%20dsc&sortWithin=title&since=2021-02-19&timeframe=commit&mergegroup=&groupSelect=groupByRepos&breakdown=true&checkedFileTypes=docs~functional-code~test-code~other

[2021-03-03 04:55] HCY123902 commented on #1229
According to my understanding, the problem happens when the report is grouped by author, and when the category used to sort within group changes, the display name of each of the author changes, and as a result the sorting order between different group also changes.

![image](https://user-images.githubusercontent.com/54735123/109754522-24503a00-7c1f-11eb-9e8b-75884a0ec0b9.png)

This is the state wh

[2021-03-03 05:05] damithc commented on #1229
Thanks for the explanation @HCY123902
Perhaps we should choose the author name based on some algorithm so that we always end up choosing the same name no matter what's the sorting order is. .e.g., we choose the longest name
What do you think?

[2021-03-04 08:41] HCY123902 commented on #1229
Yeah I agree. However, it is also possible that 2 display name can be of the same length. Will it be suitable to choose the name according to the alphabetical order instead?

[2021-03-04 08:42] damithc commented on #1229
Yes.

[2021-03-05 02:27] gerhean commented on #1229
Actually why not use the github name which seems to be consistent?

[2021-03-07 06:34] gerhean commented on #1460
I will try to fix.

[2021-03-07 06:53] damithc opened #1463 "Warnings in the log"
Refer to the following warnings:

![image](https://user-images.githubusercontent.com/1673303/110231751-8dec8300-7f54-11eb-8b8a-5b4ddd3e118d.png)

https://github.com/nus-cs2103-AY2021S2/tp-dashboard/runs/2048437170?check_suite_focus=true

Are they necessary? At least some of them don't seem necessary e.g., ones caused by case difference

[2021-03-07 06:56] fzdy1914 commented on #1463
I doubt they have used an improper standalone config though.

[2021-03-07 07:03] damithc commented on #1463
I don't think so. These warnings show up at the very beginning when I set up the dashboard (not enough time or reason for students to add stand alone configs). These could be cases where the student configured the GitHub username to be Git username as well, but the two differ in upper/lower case.

[2021-03-07 07:39] damithc opened #1464 "Incorrect highlighting after merging/unmerging groups"
Example:

Highlighting is correct before merging groups:
![image](https://user-images.githubusercontent.com/1673303/110232780-e030a280-7f5a-11eb-9662-55198b7b1360.png)

After clicking on 'merge groups', the high-lighting is incorrect.
![image](https://user-images.githubusercontent.com/1673303/110232828-166e2200-7f5b-11eb-8990-2ecbbf9e9405.png)

I think highlighting should be removed upon merging/u

[2021-03-07 08:31] Tejas2805 commented on #1464
I think the current implementation highlights the entire group right? So wish for that to be removed? Or is the wrong group being highlighted?

[2021-03-07 08:34] Tejas2805 commented on #1463
The issue occurs because in the configs the same aliases are found for two different usernames. We don't look for case difference, and just duplicates and that's why even if the difference is just case, the issue persists.

[2021-03-07 08:49] damithc commented on #1464
The correct group is being highlighted. But the code panel is not showing anything related to the entire group (it shows only the code of one member). That's the mismatch.

[2021-03-07 08:54] Tejas2805 commented on #1464
Ah true. That is the current implementation. We were thinking of it more in terms of the user gets to know where the highlight is coming from. If it's looking like a mismatch, then maybe better to remove this implementation and keep the highlight for the merged group, if the group code is being shown. @HCY123902 can take a look?

[2021-03-07 09:02] HCY123902 commented on #1464
Sure, no problem

[2021-03-07 09:36] HCY123902 commented on #1464
How about the situation where the group is expanded but the tab is still on the merged group? In this case, should the group still be highlighted?

[2021-03-07 11:59] damithc commented on #1464
The requirement is, the highlighted item on the charts panel should match what is shown on the other tab. If there is no match, remove the highlight.

[2021-03-07 13:05] damithc opened #1468 "Dashboard loading empty if base URL is given"
Any idea why https://nus-cs3281.github.io/2021-dashboard is loading empty? The data shows up only if I click on the 'reset date' button

![image](https://user-images.githubusercontent.com/1673303/110240850-d2921180-7f88-11eb-8e91-22af998068e9.png)

Any recent change to URL parameters that could have caused this?

[2021-03-07 13:06] fzdy1914 commented on #1468
@gerhean Can you check this one? It may cause by the `only filter once` PR or the `use computed since date` PR?

[2021-03-07 13:10] fzdy1914 commented on #1468
Error warning.
![image](https://user-images.githubusercontent.com/35621726/110241005-8bf0e700-7f89-11eb-98e3-90ac7081543b.png)

[2021-03-07 14:10] damithc commented on #1468
Other things don't work too. e.g., can't load the code view. Need to locate the problematic PR and revert to quickly as all modules are using the latest version of RepoSense.

[2021-03-07 14:16] gerhean commented on #1468
This is a regression by #1421,
Ill try to fix by today.

[2021-03-07 14:25] damithc commented on #1468
@fzdy1914 can you revert the PR for the time being?

[2021-03-07 14:27] HCY123902 commented on #1464
Thanks for the reply. I will remove the highlight when the group is merged

[2021-03-08 01:49] damithc commented on #1468
It doesn't seem to some dashboards though e.g., https://nus-tic4002-ay2021s2.github.io/ip-dashboard/

[2021-03-08 05:50] HCY123902 opened #1470 "Release for v1.13"
Let's make a release for v1.13. Please comment below and indicate the changes you think is necessary to be included in the release note. The current plan is to make a release up to the commit #1390, this is also to be discussed in the comment

# Documentation
* [v1.13 User Guide](https://reposense.org/ug/)

# Breaking Changes
 None

# New Features

## CLI and Behavioural Changes

* Add your change

[2021-03-08 05:53] HCY123902 commented on #1470
@reposense/21-22-active-developer Please indicate the changes that you think is appropriate to be included in the release note. Thanks

[2021-03-08 06:31] damithc commented on #1470
This doesn't need to be very elaborate though. See https://github.com/TEAMMATES/teammates/releases for an example.
I believe they auto-generate these release notes from the PR list. You can ask them for the script.

[2021-03-08 06:40] fzdy1914 commented on #1468
@damithc, gerhean have identified the issue. I will merge his fix quickly.

[2021-03-08 12:27] #1468 closed

[2021-03-09 17:05] HCY123902 commented on #1470
Thanks for the suggestion. I will take a look at it

[2021-03-10 03:44] damithc opened #1471 "Dashboard failing on CI after the new release"
v1.13

See https://github.com/nus-cs3281/2021-dashboard/runs/2072256241?check_suite_focus=true

[2021-03-10 03:47] fzdy1914 commented on #1471
The most possible reason is that the JAVA file is not generated using JAVA 1.8.

[2021-03-10 03:58] HCY123902 commented on #1471
Let me check immediately

[2021-03-10 05:05] HCY123902 commented on #1471
@damithc Hello professor, I have updated the release. Can you try again to see if it works now on your side?

[2021-03-10 05:23] #1471 closed

[2021-03-10 07:43] HCY123902 opened #1472 "Add release guide"
**What problem(s) did you run into that caused you to request additional documentation? What, if any, existing documentation relates to this proposal?**

There are currently no detailed specification in the Developer Guide about the steps to make release for the project, such as how the jar file should be built and what the versioning convention should be. This can cause issue for developers who n

[2021-03-10 07:58] HCY123902 opened #1473 "Checkbox not working properly in break down by file type"
**Tell us about your environment**

* **RepoSense Version:** master
* **OS and Version:** Windows10
* **Web Browser and Version (if applicable):** Edge

**Please include the steps to reproduce the bug.**

1. Open a report
1. Tick the `break down by file type` checkbox
1. Tick the `All` checkbox
1. Untick the `All` checkbox
1. Tick any checkbox of a specific file type
1. Untick the checkbox
1. Tick

[2021-03-12 09:12] #1440 closed

[2021-03-12 09:22] gerhean opened #1476 "Highlighting persists even when tab closed."
**Tell us about your environment**

https://dashboard-1466-pr-reposense-reposense.surge.sh/

**Please include the steps to reproduce the bug.**

When I close the side tab the highlighting persists.

![image](https://user-images.githubusercontent.com/16630400/110919544-55cfb080-8357-11eb-9096-0ee65bd83f9b.png)

**What was expected to happen?**

When I close the side tab the highlighting is removed.

[2021-03-12 11:41] #1470 closed

[2021-03-12 14:02] dcshzj commented on #442
I think if we manage to migrate to JGit, we would be able to avoid using Git itself, so that we can skip the step of having the user to install Git on their local machine.

Currently, the main selling point is better error handling, as the environment is better controlled compared to using the existing CommandRunner approach which could have many different possible Git versions and configurations

[2021-03-14 10:11] dcshzj opened #1479 "Allow disabling of the code panel for private repositories"
**What feature(s) would you like to see in RepoSense?**
There should be a way for users of RepoSense to disable access to the code panel for specific repositories. This is mainly intended for allowing RepoSense to generate a report for private repositories without disclosing the underlying code unintentionally.

**Is the feature request related to a problem?**
Currently, users are limited to using

[2021-03-15 04:55] dcshzj commented on #1479
Putting this task on hold unless there is significant interest in having this feature. On a side note, RepoSense should be tested to ensure that it actually works for private repositories when generating reports locally, and also that RepoSense works for other Git repository platforms such as GitLab and BitBucket.

[2021-03-15 04:56] dcshzj commented on #442
Leaving this task up for grabs. This task is ideal for an FYP project.

[2021-03-15 05:43] damithc commented on #442
Thanks for the initial investigation @dcshzj Yes, let's put it on hold for the time being given that it requires rewriting a lot of code and we are not 100% sure if all the current features can be supported with JGit. We can revisit this later.

[2021-03-15 05:50] damithc commented on #1479
Yup, I think some may want to use RepoSense on Private repositories but I don't think many will want to publish the dashboard of such repos, even if we disable the code panel.

[2021-03-15 05:50] damithc commented on #1479
Let me close this for now, to keep the issue tracker clean. We can reopen it later.

[2021-03-15 05:50] #1479 closed

[2021-03-15 08:35] fzdy1914 commented on #442
@dcshzj Thanks for your effort on this issue.

[2021-03-15 08:41] #1426 closed

[2021-03-15 08:42] #1352 closed

[2021-03-15 09:11] #1446 closed

[2021-03-15 09:40] #674 closed

[2021-03-16 02:01] damithc opened #1481 "Report auto-generation failed"
https://github.com/nus-cs2103-AY2021S2/tp-dashboard/runs/2117899153?check_suite_focus=true

Doesn't seem to be our fault, but failed even after retrying

[2021-03-16 08:35] damithc commented on #1481
Seems to be working now.

[2021-03-16 08:35] #1481 closed

[2021-03-18 05:40] gerhean opened #1483 "Choosing language for reposense wizard backend."
Why we need a backend:

We decided that we do not want to prompt users for token.
However token is needed to modify any github repository.
We can use our own token but it must be used in the backend as it is unsafe to store tokens in the frontend.

Choosing language:

Nodejs (javascript):
The wizard is a small application so ideally it can be managed by 1 person working on both the front and backe

[2021-03-18 05:55] damithc commented on #1483
My vote is for Nodejs.

[2021-03-18 21:40] Tejas2805 opened #1484 "Author profile not found in deployed dashboard"
The deployed dashboard doesn't show the profile for the author Eugene Peh. It works for all other authors.

The link that should open should be [this link](https://github.com/EugenePeh) instead of [the wrong link](https://github.com/Eugene%20Peh).

Notice the addition of `%20` in the latter URL.

[2021-03-18 21:47] Tejas2805 opened #1485 "Error in connection between chart panel and code panel."
Can check the video below.
1: The file-breakdown doesn't go away from the commits panel though the commit goes.
2: On restoring, the ramp appears first but the commits don't appear.

https://user-images.githubusercontent.com/35946746/111701934-81322e00-8876-11eb-8e08-d61844cf85b9.mov

[2021-03-19 09:54] HCY123902 commented on #1484
Maybe this particular author can be ignored using the `repo-config.json` in this case? Not sure about the exact cause but it seems that the Github Id for this particular author generated in the json file is incorrect.

[2021-03-19 14:33] HCY123902 opened #1486 "Restoring not working properly for zoom panel"
**Tell us about your environment**

* **RepoSense Version:**master
* **OS and Version:**Windows10
* **Web Browser and Version (if applicable):**Edge

**Please include the steps to reproduce the bug.**

1. Open the zoom panel of an individual author
1. Merge the group and open the group zoom panel
1. Reload the page

**What was expected to happen?**
The zoom panel of the merged group should be show

[2021-03-20 16:27] gerhean commented on #1486
Bug is actually a regression due to #1457 changing only some instances of isMerge to isMerged.

The only real change which needs to be made is to rename all isMerge to isMerged, and:

v_summary_charts.js line 178:
from
`zAuthor: user.name,`
to
`zAuthor: isMerged ? '' : user.name,`
which I believe is the reasonable change to make as there should not be an author when the group is merged.

[2021-03-20 17:42] gerhean commented on #1485
Regression caused by #1390.

[2021-03-20 17:55] gerhean commented on #1484
%20 is hexadecimal for ' ' or whitespace, seems like someone did not enter the correct information in `author-config.csv`

[2021-03-22 05:54] dcshzj opened #1493 "Move DevOps guide in the wiki to the developer guide"
The [DevOps guide](../wiki/DevOps-guide) in the wiki should be moved to a page of its own in the [RepoSense developer guide](https://reposense.org/dg/index.html).

This task is good for first timers to understand the workflow for contributing to RepoSense.

[2021-03-22 06:21] dcshzj commented on #1483
I'm curious how CATcher is able to do it without a backend it seems. The authentication logic is in [`src/app/core/services/auth.service.ts`](https://github.com/CATcher-org/CATcher/blob/ccd7754c215deec50b3ceff9474940a87930a4ba/src/app/core/services/auth.service.ts#L113-L127) and it looks like it is able to popup the OAuth page for the user to authorise the app.

If we are able to achieve something

[2021-03-22 06:37] damithc commented on #1483
CATcher has a backend just for authentication. That part is hosted on DigitalOcean while the rest is hosted on github.io

[2021-03-22 07:24] dcshzj commented on #1483
@damithc Is CATcher hosted on a droplet? I was wondering if we can host it together with them, since the usage rate of the wizard should be very little and would be more cost efficient if the server was shared.

[2021-03-22 07:44] damithc commented on #1483
Yes, it's a free-tier account. No need to share costs -- in fact, best not to share as it can increase the usage beyond the free limit.

[2021-03-22 07:50] dcshzj commented on #1483
@gerhean I think let's go ahead with NodeJS as you suggested for authentication purposes. We will work out on how to deploy to DigitalOcean on another issue.

[2021-03-22 07:50] #1483 closed

[2021-03-22 09:29] gerhean opened #1498 "Zoom inconsistent labels"
![image](https://user-images.githubusercontent.com/16630400/111968088-c33bc800-8b33-11eb-9751-3a3784596c95.png)

![image](https://user-images.githubusercontent.com/16630400/111968051-b9b26000-8b33-11eb-8474-5d9d8b11f551.png)

When I untick `tests`, the commit containing both `tests` and `backend` remain, but the label for `tests` disappears.

Even if this is intended behavior, I find it rather uni

[2021-03-22 13:13] gerhean opened #1499 "Declare props explicitly and give proptypes"
**What feature(s) would you like to see in RepoSense?**

For props to be explicitly declared for every component, and for the proptype to be added.

**If possible, describe the solution**

Declare at the top like this:
![image](https://user-images.githubusercontent.com/16630400/112822578-b3376180-90ba-11eb-9090-4a68dbdc602b.png)

https://vuejs.org/v2/guide/components-props.html

[2021-03-22 13:55] gerhean commented on #1484
Referring to: https://api.github.com/repos/reposense/testrepo-Alpha/commits

Seems like backend uses `commit.author.name` to determine the gitId.
This is consistent with the fakeauthor's username which leads to a person who never contributed to reposense.

However it should be using `author.login` instead.

[2021-03-23 07:42] damithc opened #1500 "Add a 'Learn the basics' section to the DG"
In https://reposense.org/dg/index.html , we can insert the following step (and a page to go with it).

This step is to guide new developers on what basic tools/technologies they need to know to be able to work in RepoSense.
It can contain what to learn, in what order, which resources are recommended, and small tasks the reader can do to test their knowledge (e.g., modify a certain feature in RepoS

[2021-03-23 07:47] damithc commented on #1493
Related: When adding info to the DG, try not to mix info needed by developers at different levesl e.g., those needed by new/regular devs, those needed by senior devs, those needed by maintainers

[2021-03-23 08:47] #93 closed

[2021-03-23 08:48] #101 closed

[2021-03-23 08:51] damithc commented on #135
Let's put this on hold as keeping data from the previous runs is not feasible when the report generation is done in a CI environment (e.g., on GitHub Actions), as is the case for all our RepoSense reports that are online at the moment.

[2021-03-23 08:51] #135 closed

[2021-03-23 08:53] damithc commented on #192
Didn't affect any ongoing RepoSense reports since then. Let's close for now. Can reopen if it becomes relevant again.

[2021-03-23 08:53] #192 closed

[2021-03-23 08:59] dcshzj commented on #1061
Lowering priority as the build is now performed on GitHub Actions.

Also related: #1349

[2021-03-23 09:06] dcshzj commented on #1304
Lowering priority, as OpenJDK 1.8 is [supported until at least May 2026](https://access.redhat.com/articles/1299013).

[2021-03-23 09:16] damithc commented on #351
Closing for the time being as this doesn't seem to affect current use cases.

[2021-03-23 09:16] #351 closed

[2021-03-23 09:21] #378 closed

[2021-03-23 09:29] damithc commented on #379
Students rarely run RepoSense locally these days. Hence, this use case is rare. Closing.

[2021-03-23 09:29] #379 closed

[2021-03-23 09:31] damithc opened #1502 "User Guide: Mention that the config file needs to be committed first"
https://reposense.org/ug/customizingReports.html#get-target-repos-to-provide-more-info

In the above UG page, mention that any changes to the standalone config file (or even @@author tags) need to be committed first, if running RepoSense locally. If not, the changes will not be reflected in the generated report.

[2021-03-23 12:00] dcshzj commented on #1500
Related issue: #1200

[2021-03-23 12:04] damithc commented on #1200
Closing in favor of #1500

[2021-03-23 12:04] #1200 closed

[2021-03-23 12:05] dcshzj commented on #1196
We should make use of the publish-RepoSense repository to automatically pull and generate from the latest release branch.

[2021-03-23 12:20] damithc commented on #1196
I changed it to https://reposense.org/ as that's our main website which also contains a separate page showcasing various demo sites.

[2021-03-23 12:20] #1196 closed

[2021-03-23 12:22] dcshzj commented on #1196
@damithc I think we can also delete the [reposense/dashboard-demo](https://github.com/reposense/dashboard-demo) repository, since it is no longer needed and outdated.

[2021-03-23 12:34] dcshzj commented on #954
The original PR was merged and this task is ideal for first timers. The code snippet to change is:

https://github.com/reposense/RepoSense/blob/8c052946cee72d757fcdf013c42d31ff27fc28c5/src/main/java/reposense/model/RepoConfiguration.java#L211-L216

Line 214 should be written as:

[code]

[2021-03-23 12:34] damithc commented on #1196
Yup. No objections from me.

[2021-03-23 12:48] dcshzj commented on #937
Most of the exceptions thrown in tests are now using Exception except for the following:

- `git/GitLsTreeTest.java`
- `parser/ArgsParserTest.java`
- `template/GitTestTemplate.java`
- `util/TestUtil.java`

This task is ideal for first timers and involves changing any other type of exceptions thrown into the generic Exception class.

[2021-03-23 12:51] dcshzj commented on #975
@fzdy1914 Is this still valid? My understanding is that reports should be viewed using `--view` and not directly from the HTML document.

[2021-03-23 13:06] #975 closed

[2021-03-23 14:28] damithc commented on #509
The toolbar seems to be stable now. Will reopen this at a later time.

[2021-03-23 14:28] #509 closed

[2021-03-23 14:45] damithc commented on #562
As of now, we are unlikely to go into features requiring GitHub API. Closing for now.

[2021-03-23 14:45] #562 closed

[2021-03-23 14:46] #548 closed

[2021-03-23 14:52] #517 closed

[2021-03-23 14:58] #649 closed

[2021-03-23 15:03] damithc opened #1504 "Fail gracefully for large commits"
In case a commit is huge (e.g., someone committed a huge library by accident), ensure RepoSense fails gracefully. Might need to check the following areas:
* during analysis
* chart view
* code view

[2021-03-23 15:05] damithc opened #1505 "Fail gracefully for large files"
Similar to #1504, fail gracefully when a huge file (e.g., someone committed a huge data file) is in a commit

[2021-03-23 15:07] damithc opened #1506 "Fail gracefully when an author has a large number of files"
Similar to #1504

[2021-03-23 15:35] damithc commented on #654
Closing for now. Will reopen later, if needed.

[2021-03-23 15:35] #654 closed

[2021-03-23 15:39] damithc commented on #746
Seems to be fixed now.

[2021-03-23 15:39] #746 closed

[2021-03-23 15:54] damithc commented on #807
Let's put on hold as supporting local repos is not a priority.

[2021-03-23 15:54] #807 closed

[2021-03-23 15:55] #863 closed

[2021-03-23 16:01] damithc commented on #873
I think we've done as much as reasonable for this issue. Closing.

[2021-03-23 16:01] #873 closed

[2021-03-23 16:07] damithc commented on #923
Putting on hold as no plans to support other platforms anytime soon.

[2021-03-23 16:07] #923 closed

[2021-03-23 16:16] damithc commented on #953
I think we can let this one slide. Probably the benefit is too small to justify the effort to fix.

[2021-03-23 16:16] #953 closed

[2021-03-23 16:24] damithc commented on #1004
The two look more compatible now, but still feels like designed by different people. e.g., one side has a title while the other side doesn't. More can be done by someone with a good eye for design.

![image](https://user-images.githubusercontent.com/1673303/112181281-3f6b0400-8c37-11eb-9ec8-2e4f69470541.png)

[2021-03-23 16:26] damithc commented on #989
Putting on hold as we are not going in this direction for now.

[2021-03-23 16:26] #989 closed

[2021-03-23 16:27] #979 closed

[2021-03-23 16:34] #1007 closed

[2021-03-23 16:35] damithc commented on #1037
I think we can let this one slide as it is rare and low-impact.

[2021-03-23 16:35] #1037 closed

[2021-03-23 16:36] #1041 closed

[2021-03-25 15:42] damithc commented on #1126
Closing for now as not a big issue. Will reopen later if needed.

[2021-03-25 15:42] #1126 closed

[2021-03-25 15:46] damithc commented on #1118
@fzdy1914 is this suitable for first-timers?

[2021-03-25 15:53] #1182 closed

[2021-03-25 16:03] damithc commented on #1190
@reposense/21-22-active-developer What is the recommended solution here?

[2021-03-25 16:07] #1183 closed

[2021-03-25 16:12] damithc commented on #1205
Let's add a `how to interpret this report` link somewhere appropriate and link it to the relevant place of the user guide.

[2021-03-25 16:16] damithc commented on #1202
I think it's best if someone who knows the codebase well writes the javadoc comments. The outcome can be of better quality that way.

[2021-03-25 16:17] damithc commented on #1199
Yes, probably not worth the trouble.

[2021-03-25 16:17] #1199 closed

[2021-03-25 16:22] gerhean commented on #1190
I think it is fine either way, reposense fails gracefully when unable to clone the repo so not a big concern. Most normal users will not ever think of doing this anyway.

Prefer that ftp be recognised as invalid, in order to prevent any abuse of the system (in case using ftp can be some security or privacy risk but I doubt it.)

[2021-03-25 16:28] gerhean commented on #1504
How big is big? And can we really determine if the large commit is really by accident? I think we all seen the type of people who only push once the entire feature is complete?

[2021-03-25 16:50] damithc commented on #1504
The whole report should not crash (i.e., it should instead 'fail gracefully') even if the commit has 500 LKoC. Last time, a student committed a data file with 200 KLoC. In such cases, the rest of the report should work even if that commit/repo has to be omitted from the report.

[2021-03-26 13:31] fzdy1914 commented on #1118
Yes, it is quite simple to remove the validation.

[2021-03-26 13:44] HCY123902 commented on #1151
I think file type selection in chart panel, authorship panel, and zoom panel have already been implemented. However, currently the behavior of the synchronization between the chart panel, authorship panel, and zoom panel does not seem to be consistent.

An example is that when a file type checkbox in the chart panel is unticked, if the authorship panel is open, after reloading, the checkbox in the

[2021-03-26 14:07] HCY123902 commented on #1190
![image](https://user-images.githubusercontent.com/54735123/112643543-6f0c4d00-8e7f-11eb-9014-3287b4451818.png)

![image](https://user-images.githubusercontent.com/54735123/112643561-73d10100-8e7f-11eb-95bc-961fd13ceaec.png)

After trying it locally, it seems that this protocal has already been recognized as invalid location. However, there does not seem to be corresponding message shown on the ge

[2021-03-26 14:17] HCY123902 commented on #1185
Actually, is there a way to reproduce this now? I think currently the profile can still be accessed even if the configuration file is not provided.

[2021-03-26 15:04] dcshzj commented on #1190
Yes, let's fail gracefully if the URL contains FTP with a warning message, but I don't think we need to mention explicitly in the documentation, since it is hardly used.

[2021-03-26 15:20] dcshzj commented on #1215
Let's abandon this. I think that it is better if such errors appear on GitHub itself instead of locally as a Git hook, so that it is easier for senior developers to guide newcomers if necessary. In other cases, code style issues are minor and does not affect the review workflow.

Having this hook requires writing a custom script which adds additional maintenance burden.

[2021-03-26 16:01] damithc commented on #1190
If we fail to clone a normal Git repo, we show it as an error message in the report, right? In that case this should produce a similar error.

[2021-03-26 16:11] damithc commented on #1151
I don't think there should be any link between the file types of the different panels. If such a syncing is needed, the file types should have been specified in a single place rather than multiple places.
That means file types need to be specified twice in the URL, once for the charts panel and once for the code panel.

[2021-03-26 16:39] HCY123902 commented on #1151
In that case, will it be necessary to remove the existing synchronization behavior instead?

[2021-03-26 16:44] damithc commented on #1151
Yes, I think so.

[2021-03-26 16:46] #1450 closed

[2021-03-26 16:50] fzdy1914 commented on #1342
Close by 1449

[2021-03-26 16:51] #1342 closed

[2021-03-26 17:01] #1485 closed

[2021-03-28 15:16] #1229 closed

[2021-03-29 01:49] gerhean commented on #1215
Pretty sure that when code style issues are detected the CI tests would just fail, and senior developers usually do not look at PR with failed tests. I think a hook which checks for code style would be nice since if I forgot to run the linter before I push, I get reminded of my mistakes immediately instead of 5min later when the CI fails.

[2021-03-29 01:59] gerhean commented on #1151
behavior of the synchronization between the chart panel, authorship panel, and zoom panel does not seem to be consistent.
An example is that when a file type checkbox in the chart panel is unticked, if the authorship panel is open, after reloading, the checkbox in the authorship panel will be unticked but it will not disappear along with the content. However, if this happens to a zoom panel, after

[2021-03-29 02:04] gerhean commented on #1185
Suspect is the same issue as #1484

[2021-03-29 02:13] damithc commented on #1215
We don't use this technique in our other projects. Which means we can survive without it. But I don't mind giving it a try just to see how it goes. There might be _some_ value if not a lot. Let's keep it, but with a low priority.

[2021-03-29 02:14] gerhean commented on #1116
The latest Highlight.js is at v10.7.1, so can be fixed easily. However the given code does not exist anymore so can't really test.

[2021-03-29 02:17] gerhean commented on #961
I am in favor of this.

[2021-03-29 02:53] gerhean commented on #849
Don't think this issue is relevant, seeing deprecated packages is annoying so people naturally will make PR to remove them.

Also the deps shown here are no longer in the project.

[2021-03-29 03:09] gerhean opened #1510 "Unchecking breakdown by file type does not reset the file type boxes."
**Tell us about your environment**

* **RepoSense Version:**
* **OS and Version:**
* **Web Browser and Version (if applicable):**

https://dashboard-1490-pr-reposense-reposense.surge.sh/

**Please include the steps to reproduce the bug.**

1. Check breakdown by file type
2. Uncheck `All`
3. Uncheck breakdown by file type
4. Open authorship tab
5. Check breakdown by file type

**What was expected t

[2021-03-29 03:59] damithc commented on #849
This is enough justification to close this issue.

[2021-03-29 03:59] #849 closed

[2021-03-29 04:29] fzdy1914 commented on #961
Closed due to issue #1268

[2021-03-29 04:29] #961 closed

[2021-03-29 05:46] damithc commented on #1268
As this is a wide-spread refactoring, I think it's best done by someone who is already familiar with the codebase.

[2021-03-29 05:52] HCY123902 commented on #1118
Note for first timers who want to work on this issue:

The basic idea is to change or remove the validation for the author name tag located in `AnnotatorAnalyzer.java` by modifying the`REGEX_AUTHOR_NAME_FORMAT` argument.

https://github.com/reposense/RepoSense/blob/451f11b74cb895b079c14316a4fd323f2eccff1c/src/main/java/reposense/authorship/analyzer/AnnotatorAnalyzer.java#L17-L21

You may need to c

[2021-03-29 09:13] gerhean opened #1512 "Seemingly random disappearance of dates"
**Tell us about your environment**

* **RepoSense Version:**
* **OS and Version:**
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

Compare:
https://dashboard-1509-pr-reposense-reposense.surge.sh/?search=&sort=groupTitle&sortWithin=title&since=&timeframe=commit&mergegroup=&groupSelect=groupByRepos&breakdown=false&tabOpen=true&tabType=authorship&ta

[2021-03-29 10:11] gerhean opened #1514 "Reloaded authorship panel-heading link not working"
**Tell us about your environment**

* **RepoSense Version:**
* **OS and Version:**
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

Reload a page with authorship tab open.
https://dashboard-1509-pr-reposense-reposense.surge.sh/?search=&sort=groupTitle&sortWithin=title&since=&timeframe=commit&mergegroup=&groupSelect=groupByRepos&breakdown=false&tab

[2021-03-31 04:21] vig42 commented on #1506
One possible consequence of this is that the `authorship.json` file could exceed the limit of 100MB imposed by GitHub, which means that the dashboard cannot be deployed using GitHub Actions.

This bug can be observed when running RepoSense on the [servo](https://github.com/servo/servo) repository, using GitHub Actions.

[2021-03-31 07:25] dcshzj commented on #1166
This was done in #1299 and #1456.

Can I suggest instead of replying using GitHub Actions, we can use a [pull request template](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/about-issue-and-pull-request-templates#pull-request-templates) which nudges the contributor to fill in the necessary details. Something similar to [the one done in MarkBind

[2021-03-31 08:52] dcshzj commented on #726
I'm not sure what the file system test is referring to, @eugenepeh are you able to elaborate more on this issue?

[2021-03-31 08:56] damithc opened #1515 "run.sh: Support using a version at a specific commit"
See https://reposense.org/ug/runSh.html

Current: We can configure run.sh to use a specific tag (as long as there is a matching RepoSense release).

Suggested: Is it possible to support running RepoSense at a specific commit?

Reason: If the master branch breaks, we can use this feature to freeze run.sh at the commit immediately before the broken commit until we can use the latest tip of the branc

[2021-03-31 09:18] dcshzj commented on #1515
Should be trivial to implement, as the `get_reposense.py` script already supports building the Jar file from source, although we will need to check if the commit exists first, similar to how the tags are checked. I'll propose a patch in a while.

[2021-03-31 10:12] #1448 closed

[2021-03-31 11:48] #1452 closed

[2021-03-31 14:22] 0blivious opened #1517 "repo-config regression from #1449"
The line https://github.com/reposense/testrepo-Delta.git,nonExistentBranch,,,,, is missing from repo-config.csv. As such, the deployment preview does not contain the binary test repo now.

[2021-03-31 16:32] dcshzj commented on #452
The issue is due to Git not being able to handle timestamps before Unix epoch. On any Git repository, the following command should not give you any results:

[code]

However, the following command will give you results (which was the original test case):

[code]

Interestingly, it gives you all commits up till the final commit of the previous year. For example, running this command in 2021 will gi

[2021-03-31 16:36] dcshzj commented on #1134
I'm on Windows but I can't seem to reproduce this error. @0blivious do you have any reproducible steps for this bug?

[2021-03-31 17:17] dcshzj commented on #1184
I think it would be good to make the tests more robust and specific.

[2021-04-01 16:09] damithc opened #1519 "Fix dependabot alerts"
https://github.com/reposense/RepoSense/security/dependabot

[2021-04-01 16:28] damithc commented on #1354
@reposense/21-22-active-developer Guys, this is a high-priority issue. Can someone fix this soon?

[2021-04-01 16:42] damithc commented on #1420
@gerhean is there more to do for this issue or done already?

[2021-04-01 16:42] dcshzj commented on #1354
Let me see if I can build on from the work on #1357.

[2021-04-01 16:50] damithc commented on #1444
@HCY123902 this is still happening?

[2021-04-02 02:22] gerhean commented on #1420
I'll close this first, not planning to do much about this at the moment.

[2021-04-02 02:22] #1420 closed

[2021-04-02 03:04] dcshzj commented on #864
I think this can be closed. Reducing code duplication is important, but the number of lines are small and is not a priority now.

[2021-04-02 04:17] damithc commented on #864
@dcshzj thanks for looking into this. Can post the two code segments here?

[2021-04-02 04:20] dcshzj commented on #864
This is for GroupConfigCsvParser:
https://github.com/reposense/RepoSense/blob/9609c591f7e3a4c8d3a1f8acf2f71f7aec15b043/src/main/java/reposense/parser/GroupConfigCsvParser.java#L73-L92

This is for AuthorConfigCsvParser:
https://github.com/reposense/RepoSense/blob/9609c591f7e3a4c8d3a1f8acf2f71f7aec15b043/src/main/java/reposense/parser/AuthorConfigCsvParser.java#L96-L116

The main difference is in l

[2021-04-02 04:42] damithc commented on #864
Yup. I think the gain is too small in this case. Closing.

[2021-04-02 04:42] #864 closed

[2021-04-02 04:48] #1472 closed

[2021-04-02 05:30] dcshzj commented on #1212
I think this task is still relevant and the fix is relatively trivial, which is suitable for first timers. The proposed fixed is in the issue description.

However, there is a lack of tests in this area and should be added (as `RepoLocationTest`). Some of the tests in #1098 can be used to test for valid and invalid locations. This is to also verify that the new regex is correct.

[2021-04-02 05:44] dcshzj commented on #1116
The bug still seem to exist even in v10.7.1. You can reproduce this by specifying the date range to generate the report:

[code]

Click on the Code Panel for Metta (ongspxm) to see the weird syntax highlighting.

We should prepare a custom report and submit an upstream task, so that they are able to fix this.

[2021-04-02 06:03] gerhean commented on #1116
![image](https://user-images.githubusercontent.com/16630400/113386146-2f33f100-93bc-11eb-8cc1-f597a10eaf0f.png)

Fixed by v10.7.1

Will be doing PR soon.

[2021-04-02 06:37] #1464 closed

[2021-04-03 15:35] #1517 closed

[2021-04-04 15:36] damithc commented on #1463
I think it's best to remove it (i.e., do a case-insensitive match) as it can be confusing to the user.

[2021-04-04 15:47] damithc commented on #1498
I don't think that is ideal. As long as the commit remains, the label should remain as well, or else it can be misleading, right?

[2021-04-05 05:48] HCY123902 commented on #1444
@damithc Sorry for the late reply. This is still happening on my local computer but it may depend on the system environment. @dcshzj @gerhean Can I check whether you can reproduce it on your side? Thanks

[2021-04-05 06:00] HCY123902 commented on #734
The current behavior is that when the date is changed to a non existing date, it will be automatically set to the earliest since date or lastest until date. This seems to be the default behavior of the browser calender, which looks acceptable to me from a user perspective

[2021-04-05 06:07] HCY123902 commented on #1397
This is potentially related to #1467

[2021-04-09 07:12] damithc opened #1532 "URL for a dashboard is quite long when the `merge groups` is used"
It looks like the URL for a dashboard is quite long when the `merge groups` is used e.g.,

[code]
![image](https://user-images.githubusercontent.com/1673303/114142763-eb099900-9945-11eb-82e4-4dcbb11b1a8a.png)

URLs have length limits. We might break such a limit if we are not careful.

[2021-04-09 08:33] damithc opened #1533 "Some CS2103 commits not showing up in the reposense dashboard"
Bug reported by student https://github.com/nus-cs2103-AY2021S2/forum/issues/302
Config https://github.com/nus-cs2103-AY2021S2/tp-dashboard/tree/master/configs
Dashboard https://nus-cs2103-ay2021s2.github.io/tp-dashboard
[Commits by author](https://nus-cs2103-ay2021s2.github.io/tp-dashboard/?search=w14&sort=groupTitle&sortWithin=title&since=2021-02-19&timeframe=commit&mergegroup=&groupSelect=groupB

[2021-04-10 02:54] damithc commented on #1533
@gerhean @dcshzj @HCY123902 need help with this

[2021-04-10 03:59] damithc opened #1536 "Commits view: show commit hash"
We can show the last part of the commit hash here so that it is easy to uniquely identify a commit. The commit subject may not be unique.

[2021-04-10 04:05] damithc opened #1537 "Merged group view: show author in code view"
When the `merge all groups` option is used, the code view shows code of all authors in the group.
![image](https://user-images.githubusercontent.com/1673303/114257748-a5f07000-99f4-11eb-8172-0d7689052932.png)

It would be nice if we can distinguish which author wrote which part of the code, (similar to GitHub blame view?)

Reason: it allows the user to see the code authorship distribution among th

[2021-04-10 04:15] HCY123902 commented on #1533
After trying it locally, removing `src/main/resources` in the `Ignore Glob List` column in `repo-config.json` seems to make the report include commits that only involves changes with Fxml and CSS files. The possible cause of the original problem is that these files resides in `src/main/resources` and the changes made to them are not recognized by the report

[2021-04-10 04:22] damithc commented on #1533
Thanks for the investigation @HCY123902
How come .fxml files still appear in the code view? Perhaps 'ignore glob' is not working fully?

[2021-04-10 04:50] HCY123902 commented on #1533
I think using `src/main/resources/**` instead of `src/main/resources` will remove the Fxml file changes and commits that only involves Fxml and CSS files from the report, which should give the intended behavior. The current issue seems to be that, when path glob such as `src/main/resources` is used in the column, some file changes in the path glob are still captured by the authorship contribution

[2021-04-10 04:56] damithc commented on #1533
Thanks for the further investigation @HCY123902
Yes, we can update the documentation if necessary.

[2021-04-10 05:03] gerhean commented on #1537
Seems feasible, shouldn't have a large performance hit since we are still rendering the same lines of code.

[2021-04-10 05:16] gerhean commented on #1532
This is because each group can be merged or unmerged independently.

[2021-04-10 05:34] gerhean commented on #1533
Should we remove `src/main/resources/view` from the Ignore Glob List? So something like `src/main/resources/!(view)/**`

[2021-04-10 06:26] damithc commented on #1532
I see. I guess we can optimize e.g.,  have two parameters `merged` and `unmerged` and use the one that gives a shorter URL, based on how many are merged. We can also use something like `merged=all` when applicable.

[2021-04-10 06:31] damithc commented on #1533
Can try that. Confirmed that's the correct glob syntax?

[2021-04-10 07:06] damithc commented on #1533
Seems to work. Thanks for the top @gerhean
We can add a few examples like these in the documentation.

[2021-04-10 07:48] gerhean commented on #1533
I just assumed that it was the same as the frontend minimatch, but I can't say for sure.

[2021-04-10 08:06] damithc opened #1538 "Code view: make the glob filter input box wider"
![image](https://user-images.githubusercontent.com/1673303/114263140-73f00580-9a16-11eb-8a53-162a1550967c.png)

We can make this input text box wider as there is plenty of spare space here.

[2021-04-10 08:11] damithc commented on #1537
Good. We need to figure out a good UI design though. We don't want to spend a lot of display space for this either. Perhaps use different colors (instead of the current color green)?

[2021-04-10 08:13] gerhean opened #1539 "Console error when doing individual merge group"
**Tell us about your environment**

https://dashboard-1530-pr-reposense-reposense.surge.sh/?search=&sort=groupTitle&sortWithin=title&since=2017-10-09&timeframe=commit&mergegroup=&groupSelect=groupByRepos&breakdown=false

**Please include the steps to reproduce the bug.**

1. Open console
2. Click this:
![image](https://user-images.githubusercontent.com/16630400/114263352-874fa080-9a17-11eb-9f6f-ec

[2021-04-10 08:22] gerhean commented on #1537
We also need to decide how to display the matching of name to the color, something like the breakdown by filetype, but different so as to not be confusing.

[2021-04-10 08:25] damithc commented on #1533
I'm also not sure if this expression is a good fit, although doesn't seem to break anything ATM.
In any case, we should provide better documentation of glob patterns supported.
Might depend on the libraries used by the frontend and backend as globs are used in both parts.

[2021-04-10 08:56] gerhean opened #1540 "Remove Cypress.wait() at the start of cypress tests."
**What feature(s) would you like to see in RepoSense?**
Remove Cypress.wait() at the start of cypress tests.

**Is the feature request related to a problem?**
None

**Additional context**

`Cypress.wait()` seems to be placed at the start of every cypress test, however they do not seem to serve any purpose but to slow down the tests.

Removing them might make the tests run faster.

[2021-04-10 09:02] gerhean commented on #1540
Will work on this soon once #1529 is merged if no objections.

[2021-04-10 09:06] gerhean commented on #1532
Another idea is to use bitmap or the index of the repo in the report.

[2021-04-10 09:33] gerhean commented on #1533
This is fairly comprehensive https://mywiki.wooledge.org/glob

[2021-04-10 09:37] damithc commented on #1533
Nice. Let's point to it from our UG.

[2021-04-10 10:08] HCY123902 commented on #1533
Actually, there is already a link in User Guide pointing to https://docs.oracle.com/javase/tutorial/essential/io/fileOps.html#glob

[2021-04-10 10:11] HCY123902 commented on #1533
@gerhean Do you mind if I start a PR on it? I think it is just a minor change that adds some link to the User Guide

[2021-04-12 03:09] dcshzj commented on #1540
I couldn't find the documentation for that particular function, but is it used to get Cypress to wait for the page to fully load before progressing with the test?

[2021-04-13 04:22] #1184 closed

[2021-04-13 04:55] #1486 closed

[2021-04-20 14:22] #1397 closed

[2021-04-20 14:22] #1460 closed

[2021-04-22 12:41] #1476 closed

[2021-04-22 13:47] #1515 closed

[2021-04-23 06:16] #1473 closed

[2021-04-23 09:32] #1116 closed

[2021-04-23 11:20] fzdy1914 commented on #1234
Close with the discussion in #1530 .

[2021-04-23 11:20] #1234 closed

[2021-04-26 07:33] #1519 closed

[2021-04-27 02:53] dcshzj commented on #1533
#1541 has been merged, any other tasks still pending for this issue?

[2021-04-28 15:58] dcshzj opened #1543 "Commits Panel: "Show ramp chart for this period" does nothing"
**Tell us about your environment**

* **RepoSense Version:** c176c03da990669634a7d725ec97e97bc6ec001b
* **OS and Version:** Windows 10 Build 19041
* **Web Browser and Version (if applicable):** Google Chrome 90.0.4430.93

**Please include the steps to reproduce the bug.**

1. Visit https://dashboard-1529-pr-reposense-reposense.surge.sh (preview dashboard for the commit above).
1. Click on Commits

[2021-05-06 16:24] #1435 closed

[2021-05-07 12:22] #1512 closed

[2021-05-07 12:36] #1190 closed

[2021-05-07 17:33] #1500 closed

[2021-05-08 03:59] gerhean opened #1544 "Ubuntu CI failing with no backend code changes."
**Tell us about your environment**

* **RepoSense Version:** PR #1527
* **OS and Version:** ubuntu-20.04 JDK 8
* **Web Browser and Version (if applicable):**

**What was expected to happen?**

Since I did not change any backend code (and lint passed), I expected the CI to pass.

**What actually happened? Please include a screenshot of the output.**

![image](https://user-images.githubusercontent.c

[2021-05-11 03:33] damithc opened #1545 "User trying to run RepoSense with private repos"
A user is trying to run RepoSense with private repos. He has tried running it against GitHub and against a local copy of the private repo, but failing in both. I'm waiting for more info from the user.
Meanwhile, should the above be possible with the current release version? Can do a trial to confirm?

[2021-05-11 03:36] damithc commented on #1545
@reposense/21-22-active-developer @reposense/stage-1-active-reviewer  any ideas?

[2021-05-11 04:18] damithc commented on #1545
Thanks for checking @gerhean  Will update here if I receive further info.

[2021-05-11 05:38] damithc opened #1546 "Generating reports for local repos: relative paths don't work"
When generating a report for a local repository, the following cases don't seem to work.
* Relative paths
* Paths containing a space in them
* If there is a trailing `\` at the end

![image](https://user-images.githubusercontent.com/1673303/117763782-f4946280-b25d-11eb-8bb6-bc66b111318c.png)

[2021-05-11 06:18] gerhean commented on #1545
(Windows) Confirmed that it can analyze online private repo if you can already access them from command line with git commands (or that running `git ls-remote https://github.com/username/reponame` shows that the repo can be accessed).

[2021-05-11 08:52] gerhean commented on #1543
What that link does is that it forces this:
![image](https://user-images.githubusercontent.com/16630400/117787547-22d36b80-b279-11eb-82bc-dd09109e6ffb.png)
to match with this:
![image](https://user-images.githubusercontent.com/16630400/117787611-3252b480-b279-11eb-893e-4b708d32cb4d.png)

I have no idea why this exists however.

[2021-05-11 09:04] damithc commented on #1546
Thanks for checking @gerhean Let's fix all three cases.
Is this of suitable difficulty for first-timers? Or perhaps break into three PRs?

[2021-05-11 13:37] leongwaikay commented on #1546
Git definitely supports relative paths and trailing slash:
![image](https://user-images.githubusercontent.com/2689401/117824382-0519fc80-b2a1-11eb-8400-af083fb0e131.png)

[2021-05-11 13:48] gerhean commented on #1546
I guess I tested it wrongly, git works with relative paths but it bases itself on the top level of the current repository.

[2021-05-11 15:11] gerhean commented on #1543
Since it is just removing a feature, I think this can be a good first timer issue.

[2021-05-11 15:36] damithc commented on #1543
Yes, but need to trace back when the feature was added to find all relevant code and remove the feature _fully_. Just removing it from the front end is not enough.

[2021-05-21 12:31] #1354 closed

[2021-05-21 13:17] fzdy1914 opened #1547 "Use ternary operator to make the code style cleaner"
for future reference, this may be a good place to use the ternary operator.

[code]

_Originally posted by @damithc in https://github.com/reposense/RepoSense/pull/1520#discussion_r636888963_

[code]

[2021-05-23 03:56] dcshzj commented on #1430
This looks like a good example that we can reference: https://cauldron.io/projects/new

[2021-06-02 14:57] dcshzj commented on #1544
Couldn't reproduce, probably a hiccup with GitHub Actions.

[2021-06-02 14:57] #1544 closed

[2021-06-03 12:57] #1349 closed

[2021-06-15 02:43] aidoxe-123 commented on #1212
Hi, I am wondering if it is OK for me to work on this issue as a first-timer?

[2021-06-15 02:45] dcshzj commented on #1212
@aidoxe-123 Please go ahead! Let us know if you require any assistance. :)

[2021-06-18 07:54] aidoxe-123 commented on #382
Hi, can i still work on this?

[2021-06-19 04:12] litone01 opened #1551 "[Help Requested] Gradlew run failed with unexpected error"
**Tell us about your environment**

* **RepoSense Version:** master
* **OS and Version:** Window 10
* **Web Browser and Version (if applicable):** Chrome, but not applicable

**Please include the steps to reproduce the bug.**

0. Followed the 'setting up' guide, run 'gradlew clean build' and 'gradlew test systemtest' finished with message 'SUCCESSFUL'.
1. at project root,  enter 'gradlew run'

**W

[2021-06-19 04:25] damithc commented on #1551
I could be wrong but based on the log message, that error message seems to be expected i.e., a test case seems to be checking if RepoSense is able to detect if a config file specified a non-existent branch and give the appropriate error message.

So, the problem you are encountering is unlikely related to that error message shown in the log.

The `analysis terminated` refers to that repo only. The

[2021-06-19 04:47] litone01 commented on #1551
@damithc Thanks Prof. In this case, where should I look into further? Maybe the log file?

[2021-06-19 04:56] #1551 closed

[2021-06-19 05:00] damithc commented on #1551
Glad to hear you sorted it out @litone01 👍

[2021-06-19 16:03] litone01 commented on #605
Hi @fzdy1914, I have also encountered the same problem, can I kindly check what have you done to resolve the issue?

[2021-06-19 16:20] litone01 opened #1552 "[Help Requested] No change after gradlew run despite change in files for front end"
**Tell us about your environment**

* **RepoSense Version:** master
* **OS and Version:** Window 10
* **Web Browser and Version (if applicable):** Chrome 91.0.4472.101

**Please include the steps to reproduce the bug.**

1. I was following the [learning the basics section for the front end part](https://reposense.org/RepoSense/dg/learningBasics.html). The first task about 'Highlight the selected a

[2021-06-19 16:21] litone01 commented on #1552
It may be linked to this issue https://github.com/reposense/RepoSense/issues/605, but no solution or cause provided.

[2021-06-19 16:35] fzdy1914 commented on #605
@litone01 Try to run the command twice? The first `gradlew run` after code change will not take effect though.

[2021-06-19 16:38] litone01 commented on #605
@fzdy1914 I tried several times but it's the same:(

[2021-06-19 16:49] litone01 commented on #1552
[Update] it works now, and let me try to figure out what is the cause if I can.

[2021-06-19 16:49] #1552 closed

[2021-06-21 14:38] fzdy1914 commented on #605
@litone01 No worries.

[2021-06-25 12:45] HCY123902 commented on #1552
I think when `./response-report` is used, the rendering will be based on the report that was built previously

[2021-06-25 12:46] HCY123902 commented on #1552
![image](https://user-images.githubusercontent.com/54735123/123426723-57677080-d5f6-11eb-8090-67727e42fcda.png)

[2021-06-26 06:30] chan-j-d commented on #435
Hi, I would like to work on this issue even though it is marked as `ToVerifyRelevance`. I believe I already have most of the fix after spending some time on it as the project couldnt be built on my own computer because of the issue.

[2021-06-26 06:55] fzdy1914 commented on #435
Go ahead.

[2021-06-26 06:55] damithc commented on #435
Go ahead @chan-j-d

[2021-06-26 11:20] HCY123902 commented on #435
I previously worked on this issue. I think part of the reason why it is marked as ToVerifyRelevance is that the problem with Path.toString() does not exist when used along with Paths.get() for higher version of Java. Additionally, the suggestion of using URLDecoder.decode() may bring problem when parsing path containing special character such as the plus sign. You may need to pay attention to this

[2021-06-27 10:35] litone01 commented on #954
Hi @dcshzj @anubh-v , can I kindly check if I can work on this issue? Thanks!

[2021-06-28 01:51] dcshzj commented on #954
@litone01 Sure! You can refer to my earlier comment above on how to start.

[2021-07-01 04:36] HCY123902 opened #1557 "Update documentation website to use MarkBind v3"
**Tell us about your environment**

* **RepoSense Version:** master
* **OS and Version:** Windows10
* **Web Browser and Version (if applicable):** Edge

**Please include the steps to reproduce the bug.**

1. Open the Dev site of RepoSense at https://reposense.org/RepoSense/

**What was expected to happen?**

The rendered layout should be similar to the layout in the production site at https://repo

[2021-07-01 05:06] dcshzj commented on #1557
This is likely due to the upgrading of MarkBind from v2 to v3, which requires changing the way we handle layouts. Marking as high priority as it breaks documentation previews.

[2021-07-01 05:22] dcshzj commented on #1557
A quick fix was applied in d40f71f66077c2c6b5b20f5090de7109bc478e6a, but we should move to MarkBind v3 once it is stable.

[2021-07-01 05:34] damithc commented on #1557
@dcshzj did the fix work?

[2021-07-01 05:37] dcshzj commented on #1557
@damithc The following line needs to be updated too:
https://github.com/reposense/RepoSense/blob/d40f71f66077c2c6b5b20f5090de7109bc478e6a/.github/workflows/integration.yml#L82

[2021-07-01 06:20] damithc commented on #1557
Did it just now.

[2021-07-05 13:47] dcshzj commented on #1557
@damithc You mentioned that MarkBind v3 is not stable yet, should we try to attempt this migration and provide feedback to the MarkBind team, or wait till say next year?

[2021-07-05 14:29] damithc commented on #1557
I'll do the migration soon (and provide feedback to the MarkBind team). Probably sometime in this month.

[2021-07-05 15:11] FH-30 commented on #569
Hi, can I try working on this issue?

[2021-07-06 04:14] #1493 closed

[2021-07-06 10:21] chan-j-d commented on #1546
Hi, is anyone handling this issue at the moment? Else I would like to attempt it.

[2021-07-06 10:34] gerhean commented on #1546
Seeing how there hasn't been any PR made for this issue for over a month, I believe that no one is currently tackling this issue

[2021-07-06 17:21] damithc opened #1560 "https://reposense.org outdated"
It looks like https://reposense.org/ was updated last in Jun 2020. That means it's not matching the current release version, right?

[2021-07-07 09:06] damithc commented on #569
@FH-30 you can give it a try and share what you come up with (e.g., as a draft PR) to get feedback from others. @reposense/active-devs let @FH-30 know if you have objections/inputs.

[2021-07-07 10:06] HCY123902 commented on #1560
Yes, it has not been updated since release V1.12

[2021-07-07 10:08] HCY123902 commented on #1560
Yes, it has not been updated since V1.12. I will try to make a documentation release this week

[2021-07-07 12:21] damithc commented on #1560
Thanks @HCY123902

[2021-07-09 15:21] #1212 closed

[2021-07-09 15:32] #435 closed

[2021-07-10 08:14] litone01 commented on #452
Hi @dcshzj As discussed in the previous MR, I am planning to take a more complicated first-timer issue, and this one seems nice! Can I do this? Thanks!

[2021-07-10 08:34] dcshzj commented on #452
@litone01 Sure, please go ahead!

[2021-07-11 16:46] dcshzj opened #1563 "Allow forcing of a fresh repository close for some test cases"
As identified in #1562, #1478 introduced a regression that caused certain test cases that test the cloning mechanism to skip cloning entirely. One such example is `GitClone.java` and the two system tests, `testSinceBeginningDateRangeWithShallowCloning` and `test30DaysFromUntilDateWithShallowCloning`, which handles shadow cloning.

There should be a mechanism for individual tests to specify if they

[2021-07-12 17:35] gerhean opened #1564 "Cypress tests folder is not linted"
**What feature(s) would you like to see in RepoSense?**
Lint `frontend/cypress/tests`

**Is the feature request related to a problem?**

In `./package.json` line 10:
https://github.com/reposense/RepoSense/blob/c2a25380a3bdd678483223ccf3aca139f33ee76b/package.json#L10

We see that `frontend/cypress/**.js` is being linted. However this only lints `frontend/cypress/support.js`

The correct expression

[2021-07-12 17:43] gerhean commented on #1564
I believe fixing this isn't very hard, so newcomers can try.

If nobody attempts this by the weekend I'll probably attempt it.

[2021-07-14 07:55] FH-30 commented on #937
Hi, can I work on this issue?

[2021-07-14 08:37] FH-30 commented on #937
![Screen Shot 2021-07-14 at 4 35 59 PM](https://user-images.githubusercontent.com/61911161/125590986-07a9ef1e-baa8-4964-8d32-2d9b3c062e03.png)

I also noticed that in GitCloneTest.java the throws Exception clause is redundant, should it be removed?

[2021-07-14 08:54] FH-30 commented on #937
![Screen Shot 2021-07-14 at 4 52 33 PM](https://user-images.githubusercontent.com/61911161/125593513-25ec991b-cdb5-473b-a52c-dd6b9f1d2eec.png)
I also noticed that if you change the throws IoException clause to throws Exception in TestUtil.java the following catch clause will have to be changed to catch Exception in ConfigSystemTest.java. Is that alright?
![Screen Shot 2021-07-14 at 4 54 02 PM](htt

[2021-07-14 08:56] FH-30 commented on #937
![Screen Shot 2021-07-14 at 4 56 10 PM](https://user-images.githubusercontent.com/61911161/125594042-8118d5da-b0ff-4443-9e44-3c850ed01c00.png)
There is also another unnecessary throws Exception clause in TimeUtilTest.java

[2021-07-14 09:08] FH-30 commented on #634
Hi, can I try working on this issue?

[2021-07-15 03:34] damithc commented on #634
Go ahead @FH-30

[2021-07-15 03:36] dcshzj commented on #634
Sorry @FH-30 @damithc I am currently working on this in #1501. This issue is currently assigned to myself.

[2021-07-15 12:27] damithc commented on #937
@FH-30 I think you can go ahead and create a PR for this with the suggested changes so that others can comment on each.

[2021-07-15 13:40] FH-30 commented on #1536
Hi, can I try working on this issue?

[2021-07-15 14:07] #954 closed

[2021-07-15 15:23] chan-j-d commented on #1546
Hi @damithc, for the case of the trailing '\' is there a sample execution which causes the issue? I have had difficulty replicating for that specific case as it seems to work fine on my computer when using the jar file of the current master branch. Works with quotes and without.

![image](https://user-images.githubusercontent.com/65345505/125813627-252214fc-2f6f-4bd4-a3c1-5e8839010c85.png)

[2021-07-16 03:21] damithc commented on #1546
Perhaps it is no longer a problem @chan-j-d You can ignore it if you can no longer reproduce it.

[2021-07-17 11:46] aidoxe-123 opened #1568 "RepoSense incorrectly identify tagged authors"
RepoSense incorrectly identify tagged author if the tag is found in documentation files

![image](https://user-images.githubusercontent.com/58925632/126035842-419af8af-e677-4462-91fc-9ca57a49b589.png)

![image](https://user-images.githubusercontent.com/58925632/126035845-770c9591-c63a-4a34-b87f-71e7b6bf2c3e.png)

![image](https://user-images.githubusercontent.com/58925632/126035861-8e16bc08-e786-4

[2021-07-17 11:51] aidoxe-123 commented on #1568
I will try to fix it in #1554

[2021-07-17 14:24] litone01 commented on #452
@dcshzj Hi Zhong Jun, I have investigated the issue and your suggested direction to solve the issue. After premilinary investigation, I think I can notice that in `ArgsParser.java`, we will check the validlity of the sincedate and untildate using some functions provided by `TestUtils.java`. In particular, `TimeUtil.verifySinceDateIsValid(sinceDate);` and `TimeUtil.verifyDatesRangeIsCorrect(sinceDa

[2021-07-19 06:28] aidoxe-123 commented on #1563
Can I work on this?

[2021-07-19 16:01] dcshzj commented on #1563
Sure! Let us know if you need any assistance.

[2021-07-21 03:10] aidoxe-123 commented on #1224
Can I work on this?

[2021-07-21 18:55] chan-j-d opened #1571 "Analysis incorrectly identifies valid file path as invalid"
**Tell us about your environment**

* **RepoSense Version:** master
* **OS and Version:** Windows 10
* **Web Browser and Version (if applicable):** N.A.

**Please include the steps to reproduce the bug.**

1. Run program on intellij with the following CLI arguments `--repos https://github.com/reposense/RepoSense.git --since 31/12/2018`

**What was expected to happen?**
Analysis completed without i

[2021-07-21 19:03] chan-j-d commented on #1571
On further investigation, the exception is thrown in the method `FileUtil::isValidPath`. The point where the error occurs seems to be from
https://github.com/reposense/RepoSense/blob/6b94f82545bbd84852f7bd110af72e495ad23652/src/main/java/reposense/authorship/FileInfoExtractor.java#L104-L121

where the regex matching seems to cause additional spaces to be added to the end of the file path causing i

[2021-07-24 18:10] chan-j-d opened #1572 "Remote repos: allow different types of URLs besides the `http`s `github` type"
**What feature(s) would you like to see in RepoSense?**

Allow for Reposense to accept Git URLs other than the `https` `github` one. Idea originates from the following comment https://github.com/reposense/RepoSense/issues/1546#issuecomment-838572658.

**Is the feature request related to a problem?**

N.A.

**If possible, describe the solution**

We can remove the location verification performed. T

[2021-07-25 04:50] damithc commented on #1572
No objections from me but I'd like to hear from the dev team too. @reposense/active-devs

[2021-07-26 09:39] chan-j-d commented on #1571
Upon further investigation, it seems the regex as is works fine and it is the git diff output that has peculiar behaviour.

Image below is the git diff output placed into a text file.
![image](https://user-images.githubusercontent.com/65345505/126967459-7117c844-1462-4509-9b25-c8581a691ef3.png)

The file at the bottom contains spaces and as a result has a tab (`\t`) character at the end. I further

[2021-07-26 10:56] damithc commented on #1571
@chan-j-d what's the impact of this issue on users/devs?

[2021-07-26 12:02] chan-j-d commented on #1571
For users of reposense, all files within a repo that contains a space will be skipped over. I believe in theory, control characters (like tab) in filenames would cause a similar problem.

[2021-07-26 14:03] damithc commented on #1571
If this is indeed the case, this is a serious problem that need to be fixed as having a space in the _middle_ of a file/folder name is legit and even a common practice.

@chan-j-d However, check if the problem applies to trailing/leading spaces only, as the examples you have given have trailing spaces in the file name, which is not a common practice. If that is the case, the problem is not severe

[2021-07-26 15:46] damithc commented on #1571
Thanks for the investigation @chan-j-d
In that case, it's a severe problem and we need to fix it, even if it is less common to use spaces in names of files containing source code.

[2021-07-27 06:57] FH-30 opened #1573 "SE Principle: Catch Non PR commits and flag them against the contributors of the analyzed repositories"
**What feature(s) would you like to see in RepoSense?**

Allow for RepoSense to catch commits that didn't go through a pull request. Idea originated from the PR I worked on for phase 2 of IWM and the fact that such commits do not adhere to good software engineering principles.

**Is the feature request related to a problem?**

N.A.

**If possible, describe the solution**

In the PR I made for Phas

[2021-07-27 09:22] FH-30 commented on #1571
Hi @chan-j-d and @damithc , I tried running RepoSense with ```--repos https://github.com/reposense/RepoSense.git --since 31/12/2018``` as the CLI Argument but I did not come across the same issue. As shown here:

![Screen Shot 2021-07-27 at 5 21 13 PM](https://user-images.githubusercontent.com/61911161/127129875-78aab91a-935d-4242-8a80-b17832518ae3.png)

I'm not sure if its Operating System relate

[2021-07-27 10:53] chan-j-d commented on #1571
@FH-30 My windows runs git on `2.31.1.windows.1`. I have also run `git diff` on ubuntu 18.04 with git version 2.17.1 where the additional tab character also appears, though I have not tried running Reposense on it specifically.

Would be nice to have some confirmation that others are also facing the same issue with windows or linux

[2021-07-27 11:09] FH-30 commented on #1571
If git diff happens to have spaces and tab characters in both OSes but it can work in Ubuntu but not in Windows, I guess the problem is not with git diff then?

[2021-07-27 12:31] chan-j-d commented on #1571
It appears that `git diff` still is the problem with the additional tab character. On Ubuntu and mac, the `\t` is a valid character in file paths so the validity check in `FileUtil::isValidFile` passes since it uses `Paths.get()` which only checks if the given string can be converted into a path and not if the path exists. On windows however, it does check if the char is valid, causing it to fail

[2021-07-28 06:02] damithc commented on #1573
Interesting idea @FH-30 Didn't occur this feature to me before. My reservations:
* We want RepoSense to be independent of GitHub so that it can be used with other tools
* We don't want RepoSense to be prescriptive of a certain process. While most OSS projects use a PR-based workflow, that doesn't mean that is better than other workflows or it is 'wrong' to push commit outside of a PR
* Also note t

[2021-07-28 06:45] FH-30 commented on #1573
Thanks for the insights prof, so I guess I'll close the issue?

[2021-07-28 09:19] damithc commented on #1573
Yup. I'm closing it for now. We can reopen if we decide to go in this direction in the future.

[2021-07-28 09:19] #1573 closed

[2021-07-28 10:13] chan-j-d opened #1575 "Analysis of edited files misidentifies deleted files"
**Tell us about your environment**

* **RepoSense Version:** master branch
* **OS and Version:** Windows 10
* **Web Browser and Version (if applicable):** N.A.

**Please include the steps to reproduce the bug.**

1. Add the following 2 println statements to the `FileInfoExtractor` beginning at line 116. (Or any means of viewing the value of `filePath` at these lines).
![image](https://user-images.

[2021-07-28 10:14] chan-j-d commented on #1575
At the moment, this issue has no results on the output as the deleted files do not get pass the second `if` statement.

[2021-07-28 10:15] FH-30 commented on #1571
@chan-j-d I can double confirm that you are correct! Since you seem to have come up with a fix based on slack, I'll leave the rest to you.

[2021-07-28 14:26] dcshzj commented on #634
@FH-30 I have closed my PR as it is not progressing. Feel free to work on it if you wish.

[2021-07-28 15:13] FH-30 commented on #634
Thanks for notifying @dcshzj , I would like to work on this issue!

[2021-07-28 15:21] dcshzj commented on #634
@FH-30 Please do so. You may refer to the original PR I have created if you wish to.

[2021-07-28 18:04] FH-30 commented on #1463
Hi prof @damithc, when diving into the code actually the reason why the warnings occur is due to case insensitivity (though this behavior is actually necessary). The warnings occurs due to the following code flow:
* ```processLine``` method in ```AuthorConfigCsvParser.java``` executes ```config.addAuthor(author);```
* ```addAuthor``` method in ```AuthorConfiguration.java``` executes ```setAuthorDe

[2021-07-28 18:05] FH-30 commented on #1463
@damithc do inform me if you want any changes to the current implementation of the log above after reading my comment above, I will be happy to assist!

[2021-07-29 02:44] damithc commented on #1463
@FH-30 thanks very much for the investigation. Can you also frame your findings in this way?
* Anything needs changing?
* Alternative ways of changing, and their pros/cons

[2021-07-30 10:21] FH-30 commented on #1463
Prof @damithc,

Before reading my reply to your questions, do take note of this:
 ```authorDetailsToAuthorMap``` in ```AuthorConfiguration.java``` is used only in ```AnnotatorAnalyzer.java``` (This file contains methods for implementing the @@author annotation feature of RepoSense).

* In my opinion, it will be good to remove ```String.CASE_INSENSITIVE_ORDER``` from the instance of ```authorDetail

[2021-07-30 11:23] damithc commented on #1463
@FH-30 Sorry, I wasn't clear earlier. My question should have been, from the _external behavior_ point of view, what are the options, pros/cons? Can you separate out that part? Reason: my inputs are usually w.r.t. external behavior only.

The decisions w.r.t. internal implementation details need to be taken by the senior devs. I might be able to comment on them at a higher level, but I'm not famil

[2021-07-30 16:41] FH-30 commented on #1463
@damithc thanks prof for rephrasing the question.

We have two options as to how to proceed with the implementation:

To note: changes in code concerning when the above log occurs will affect the behavior of ```@@author <name>``` feature of RepoSense (they are linked due to how RepoSense is currently implemented).

* We can leave it as it is
pros:
-No need for code change
-Scenarios where it can g

[2021-07-30 18:22] damithc commented on #1463
Thanks for the detailed analysis @FH-30

For the warning triggered by case sensitivity, perhaps the log message can be tweaked so that the reader will know it was cased by case sensitivity? e.g., mention both aliases in the log message so that reader can see that they are the same but different case. Is that possible, suitable?

Yes, detecting overlap of GitHub username and Git aliases can be usef

[2021-07-30 19:00] FH-30 commented on #1463
As for the warning, I agree with you that it can be made clearer if both aliases are mentioned in it, however it wouldn't mitigate the scenario I cited above from happening. Nor will it give the user an idea of why it happened.

This odd behavior is due to this:
![Screen Shot 2021-07-31 at 2 55 14 AM](https://user-images.githubusercontent.com/61911161/127699169-8a911e4b-c5a2-49f8-b6de-d5966d7ff199

[2021-07-31 03:57] damithc commented on #1463
Turns out the log message has both aliases already. I guess no further action is necessary.
However, I noticed in the example log messages above that even differences in symbols cause the log messages to appear? e.g., `wei yutong` vs `wei-yutong`

This is an implementation detail, not part of the external behavior that we are discussing. Resist the urge to digress into implementation details. :-)

[2021-07-31 04:53] FH-30 commented on #1463
Yes, with the current implementation of RepoSense the logged warning is still confusing in a case like this. Why the warning occurs here is because how this author is declared in author-config.csv is as follows:
* Author with githubId wei-yutong and with gitIds(aliases) Wei Yutong and wei yutong.
Duplicates in aliases also trigger the warning as githubIds and gitIds are treated as the same (duplic

[2021-07-31 05:31] damithc commented on #1463
@FH-30 From the user POV, how does the bug fix change the @@author behavior?

[2021-07-31 06:14] FH-30 commented on #1463
In ```author-config.csv``` if we add two authors:
1. Author with GithubId FH-30
2. Author with GithubId Anonymous and git name (alias) fh-30

The warning logged:
```Duplicate alias fh-30 found. The alias will belong to the last author - Anonymous```.

Now when this happens, whenever the repository consisting the two authors above are analyzed and the actual author FH-30 uses ```@@author FH-30``` w

[2021-07-31 06:22] damithc commented on #1463
Sounds good @FH-30. I was prepared to accept a better detection only but it seems we can actually fix the problem proper. I'm OK with the change to the external behavior. Perhaps create a PR so that senior devs can comment on the implementation?

[2021-07-31 06:25] FH-30 commented on #1463
Alright will do so, thanks for the feedback prof!

[2021-08-05 16:25] #937 closed

[2021-08-05 16:41] #1575 closed

[2021-08-06 07:33] aidoxe-123 opened #1579 "ConfigSystemTest run shallow-cloning test as normal cloning"
**Steps to reproduce:**

1. Run ConfigSystemTest.testSinceBeginningDateRangeWithShallowCloning()

**Expected:**
The repoConfigs created in ConfigSystemTest.generateReport will have isShallowCloningPerformed = true

**Actually:**
The repoConfigs created in ConfigSystemTest.generateReport will have isShallowCloningPerformed = false

![image](https://user-images.githubusercontent.com/58925632/1284740

[2021-08-07 07:03] yhtMinceraft1010X commented on #1579
I did some debugging and I believe that for each repoConfig, the isShallowCloningPerformed boolean is taken from the relevant entry in the repo-config.csv file:
![image](https://user-images.githubusercontent.com/69678785/128591569-9e79effe-63d2-4fc3-a4a9-004ae4e1b7d3.png)

Because the shallow cloning field is blank, isShallowCloningPerformed is set to false:
![image](https://user-images.githubuser

[2021-08-07 08:13] aidoxe-123 commented on #1579
I will try to fix this in #1570

[2021-08-09 16:57] FH-30 commented on #1560
![Screen Shot 2021-08-10 at 12 00 29 AM](https://user-images.githubusercontent.com/61911161/128744416-d5e9113b-fa3e-42e3-9bac-6251695a0004.png)

Hi, just wondering if the lack of documentation for the git folder here is intended or is it because the UG is outdated as mentioned in this issue?

[2021-08-12 06:59] yhtMinceraft1010X commented on #1536
Is it okay if I take this issue?

[2021-08-13 03:07] litone01 commented on #1444
Hi @HCY123902, I have tested on:

RepoSense Version: master
OS and Version: Windows10

following the instructions provided and found no errors and no failed cases.

Do you still face the same issue now?

[2021-08-13 04:27] HCY123902 commented on #1444
Thanks for the verification. I think this is caused by local setting. The issue will be closed at the moment

[2021-08-13 04:27] #1444 closed

[2021-08-16 11:36] yhtMinceraft1010X commented on #1274
I would like to try my hand at this issue

[2021-08-16 11:46] yhtMinceraft1010X commented on #1510
Related to this issue, I noticed that if I were to open commits tab at step 4, all file type boxes in commits tab would be checked.

On the other hand, opening the authorship tab at step 4 shows that none of the boxes in authorship tab would be checked.

I would like to try my hand at this issue.

[2021-08-22 04:23] gerhean opened #1584 "Clicking on commit message causes it to shift slightly"
Clicking on commit message in commits panel causes it to shift slightly which is slightly disorientating

**Tell us about your environment**

* **RepoSense Version:**
* **OS and Version:**
* **Web Browser and Version (if applicable):**

https://dashboard-1581-pr-reposense-reposense.surge.sh/

**Please include the steps to reproduce the bug.**

1. Open commits panel
1. Click on a commit message

**

[2021-08-22 07:15] #1463 closed

[2021-08-22 07:26] #1546 closed

[2021-08-22 10:01] #382 closed

[2021-08-22 10:01] #1568 closed

[2021-08-23 13:53] #1547 closed

[2021-08-23 14:21] #1536 closed

[2021-08-23 14:32] dcshzj commented on #452
@litone01 Your implementation plan sounds correct. For now, let's reset the dates but send a warning message to the log to let the user know that we are resetting the dates.

[2021-08-23 14:34] #1510 closed

[2021-08-24 14:42] #1571 closed

[2021-08-24 14:56] #1557 closed

[2021-09-10 07:50] #569 closed

[2021-09-13 10:38] FH-30 opened #1588 "Investigate occasionally failing test when running system tests on Github CI Ubuntu 18.04"
**Tell us about your environment**

* **RepoSense Version:** Most recent commit hash `387401fa99f8cdb5db65938e4e3e5aa82c85d38c` (Not yet part of official release)
* **OS and Version:** MacOS Big Sur 11.5.2 (Bug does not appear in this environment)
* **Web Browser and Version (if applicable):** NA

**Please include the steps to reproduce the bug.**

1. Make a PR to the master branch (Assuming you a

[2021-09-13 10:43] FH-30 commented on #1588
This issue might potentially be because of how RepoSense employs concurrent cloning making the behaviour a bit unpredictable, it will be best if someone with an Ubuntu 18.04 device can look into this.

[2021-09-14 15:50] #1563 closed

[2021-09-14 15:50] #1579 closed

[2021-09-15 07:53] HCY123902 commented on #1560
Yes, this is created in #1449. I will adjust the documentation accordingly

[2021-09-26 05:12] damithc opened #1591 "Omit percentile if the list is sorted alphabetically"
This percentile is meaningless and potentially confusing to the viewer when the list is sorted alphabetically.

![image](https://user-images.githubusercontent.com/1673303/134794571-f0d68178-0dd7-4d5a-b7e0-92f2756505da.png)

Suggested: omit it if the list is sorted by title

[2021-09-28 15:02] dcshzj commented on #1560
The website still seems to be outdated even with the v2.0 release. @HCY123902 are you able to update the website?

[2021-09-29 08:32] HCY123902 commented on #1560
I have attempted to deploy the documentation, It seems that the changes cannot be pushed to /reposense with empty `baseUrl` in `site.json`. Let me create a corresponding issue on the Markbind side

[2021-09-29 09:28] gerhean commented on #1591
Actually I'm not very sure of why the percentile is even there for in the first place.

From what I have seen it is just the index of the repo in the list divided by number of repos, which is mostly useless since you can already easily gauge which index you are at by looking at scroll bar.

[2021-09-29 09:32] dcshzj commented on #1591
It was originally introduced in #922 which I understand is to help in the grading.

[2021-09-29 09:36] gerhean commented on #1591
In that case I think it's better to just leave it for consistency, since it would be even more confusing to have a number which only appears there sometimes for a seemingly arbitrary reason (It's not obvious to anyone who isn't grading what this number is for).

[2021-09-29 09:42] damithc commented on #1560
@HCY123902 Are you following the instructions in https://reposense.org/dg/projectManagement.html#deploying-the-production-website ?

In particular, are you on the release branch? It has a slightly different site.json file

[2021-09-29 09:50] damithc commented on #1591
It is not a major feature; just to easily find things such as _what is the 20th percentile of LoC contribution_. It only matters when the list is sorted by a quantitative criterion. In fact the only time I use it is when the sorting is done by the contribution. Perhaps we show it only when sorted by contribution?

[2021-09-29 10:56] HCY123902 commented on #1560
Yes, there is the `CNAME` pointing at `reposense.org` and the `filterTags` has been set to `production` in `site.json`, as is indicated in the deploy guide. However, the site is still deployed to `reposense.org/RepoSense`

[2021-09-30 07:06] HCY123902 commented on #1560
Can I check who published the site in June last year?

[2021-09-30 07:41] damithc commented on #1560
Looks like it was me :-p

@HCY123902 I think the site.json should be updated as follows (on the `release` branch):

[code]

[2021-09-30 07:43] HCY123902 commented on #1560
Oh I see. Can I get the push access to the repository?

[2021-09-30 07:44] damithc commented on #1560
Let me do it this time too, and figure out exactly how things need to change in the release branch. Will let you know.

[2021-09-30 07:52] HCY123902 commented on #1560
Sure, no problem. According to https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site, the site deployed with the `gh-pages` branch in `RepoSense` seems to be a project site attached to the organization

![image](https://user-images.githubusercontent.com/54735123/135410131-3ede7591-f643-475e-a5c0-d1e20fd60503.png)

[2021-09-30 07:58] damithc commented on #1560
Guys, I think we need to do a new release first. The current release branch was last updated in Dec 2020, and hence, doesn't contain the MarkBind V3 compatible site that we migrated recently. We can update the main website after the release -- given it was showing an outdated version all this time, it can remain outdated for a few more days :-p
Can we do a new release soon?

[2021-09-30 08:28] HCY123902 commented on #1560
Actually, the release 2.0 already polished the latest documentation with MarkBind 3.0.6

![image](https://user-images.githubusercontent.com/54735123/135416320-4c571f6f-1105-4f91-a857-45fb3eb18a1d.png)

I will push the latest changes to the `release` branch separately today

[2021-10-02 06:05] damithc opened #1594 "Omit 'ignore globs' files from processing"
This dashboard takes about 9 minutes, whereas it should take about 3-4 minutes only.
I suspect it is because one team has included a 9K data files https://github.com/AY2122S1-CS2113T-W12-2/tp/tree/master/data
However, even after I add `/data/**` to the 'Ignore globs' of that repo (in repo-config.csv), it still takes 9 minutes. So, I suspect even ignored files undergo heavy processing at first and

[2021-10-02 08:32] HCY123902 commented on #1560
The release branch should match release version 2.0 now

[2021-10-02 09:02] damithc commented on #1560
@HCY123902 I've updated the production website and also pushed a commit to the release branch, to tweak the site.json to match the production website.

[2021-10-02 09:02] #1560 closed

[2021-10-02 09:14] damithc opened #1595 "Dev Guide: Tweak documentation of doing a release"
Suggested tweaks to documentation:
* Before doing a release, merge master to the release branch, and do the release using the release branch rather than the master branch.
* Use a merge commit for the above, so that we have a visual history of releases

We can also document the procedure for hot-patching a past release
1. PR against the release branch
2. Merge the PR, and release a new version (us

[2021-10-02 09:28] HCY123902 commented on #1595
I agree with the hot patching process. Let me create a pull request for this

[2021-10-02 10:16] HCY123902 commented on #1595
Is there a need to create a separate pull request to merge the release branch back to the master branch? It is usually not possible to merge directly

[2021-10-02 12:34] damithc commented on #1595
Yes, I guess so (because the master branch is protected).

[2021-10-10 04:50] damithc opened #1597 "Duplicate error message for missing repos"
Each error is shown twice:
![image](https://user-images.githubusercontent.com/1673303/136682644-daab28b3-0db8-4619-a3ef-778daf1c9f39.png)

https://nus-tic2002-2021.github.io/ip-dashboard/?search=&sort=groupTitle&sortWithin=title&timeframe=commit&mergegroup=&groupSelect=groupByRepos&breakdown=true&checkedFileTypes=java~md~fxml~sh~bat~gradle~txt&since=2021-08-09

Settings:

https://github.com/nus-ti

[2021-10-10 10:40] gerhean commented on #1597
Multiple error as the problem repo is listed in both `author-config.csv` and `repo-config.csv` and Reposense does not really record down problematic repos to skip.

Solution is probably to remove duplicates in error message list before writing to json

[2021-10-17 14:26] yuejunfeng0909 opened #1599 "Unexpected error with RepoSense version v1.14"
Unexpected error stack trace for https://github.com/AY2122S1-CS2113T-F11-4/tp.git:

	at java.base/jdk.internal.math.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:1842)
	at java.base/jdk.internal.math.FloatingDecimal.parseDouble(FloatingDecimal.java:110)
	at java.base/java.lang.Double.parseDouble(Double.java:543)
	at java.base/java.text.DigitList.getDouble(DigitList.java:169)
	at java.b

[2021-10-22 09:03] aditichadha1310 opened #1600 "Unexpected error with RepoSense version v1.14"
Unexpected error stack trace for https://github.com/AY2122S1-CS2113T-W12-2/tp.git:

	at java.base/java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
	at java.base/java.lang.Long.parseLong(Long.java:702)
	at java.base/java.lang.Long.parseLong(Long.java:817)
	at java.base/java.text.DigitList.getLong(DigitList.java:195)
	at java.base/java.text.DecimalFormat.parse(DecimalFor

[2021-10-27 06:28] damithc opened #1601 "Intermittent NumberFormatException"
See #1600 #1599

Perhaps we should add a retry mechanism as a temporary workaround, until we are able to pin down the exact cause?

[2021-11-03 06:00] Chen-Yiyang opened #1602 "Unexpected error with RepoSense version v1.14"
Unexpected error stack trace for https://github.com/AY2122S1-CS2103-T14-1/tp.git:

	at java.base/jdk.internal.math.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:1842)
	at java.base/jdk.internal.math.FloatingDecimal.parseDouble(FloatingDecimal.java:110)
	at java.base/java.lang.Double.parseDouble(Double.java:543)
	at java.base/java.text.DigitList.getDouble(DigitList.java:169)
	at java.ba

[2021-11-03 08:12] gerhean commented on #1601
[code]

This should actually be simple to fix.

Error is due to only catching ParseException but not NumberFormatException here.

https://github.com/reposense/RepoSense/blob/0c605e0e7fd77347c5cbd46b4783b1b8b7485699/src/main/java/reposense/commits/CommitInfoAnalyzer.java#L91-L95

Can be easily made to go away by just catching NumberFormatException.

[2021-11-03 08:35] damithc commented on #1601
Yes, something else could be wrong. Note that this error is intermittent. It goes away upon re-running.

[2021-11-03 08:41] gerhean commented on #1601
Actually there's already something mentioned in the slack chat, just that nobody is addressing right now.

[2021-11-25 04:56] damithc opened #1603 "Warn if a config file has an unknown column"
RepoSense requires config file column headers to follow the exact column name as specified.

Suggestion: If a column name doesn't match an expected column name, give a warning (even aborting might be appropriate) as it is likely to be a user mistake that could affect the output.

On a side note, perhaps column name matching can be case-insensitive?

[2021-12-11 14:17] gerhean opened #1606 "ubuntu-16.04 JDK 8 checks are missing"
**Tell us about your environment**

* **RepoSense Version:**
* **OS and Version:**
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

Just push a PR

**What was expected to happen?**

Github workflow checks run

**What actually happened? Please include a screenshot of the output.**

![image](https://user-images.githubusercontent.com/16630400/1456797

[2021-12-11 14:27] gerhean opened #1607 "Github action deployments are not working"
**Tell us about your environment**

* **RepoSense Version:**
* **OS and Version:**
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

Check any recent PR

**What was expected to happen?**

The changes are deployed to surge.

**What actually happened? Please include a screenshot of the output.**

![image](https://user-images.githubusercontent.com/166

[2021-12-12 08:54] dcshzj commented on #1606
This was [removed as a possible image](https://github.com/actions/virtual-environments/pull/4336) on 16 October 2021. Let me remove that option from the workflow file.

[2021-12-12 09:15] dcshzj commented on #1607
This is a side effect of #1606, as the deployments will not happen if there are any jobs that failed along the way.

[2021-12-12 09:15] #1607 closed

[2021-12-12 09:26] #1606 closed

[2021-12-12 12:06] #1595 closed

[2021-12-17 12:45] #1564 closed

[2022-01-10 08:48] dcshzj commented on #1599
I am closing this as it is part of #1601 where most of the discussion lives.

[2022-01-10 08:48] #1599 closed

[2022-01-10 08:48] dcshzj commented on #1600
I am closing this as it is part of #1601 where most of the discussion lives.

[2022-01-10 08:48] #1600 closed

[2022-01-10 08:48] dcshzj commented on #1602
I am closing this as it is part of #1601 where most of the discussion lives.

[2022-01-10 08:48] #1602 closed

[2022-01-14 10:56] gerhean opened #1613 "Add plugin to perform visual testing with cypress"
**What feature(s) would you like to see in RepoSense?**
Testing to prevent visual regressions.

**Is the feature request related to a problem?**
Cypress is unable to test for visual regressions as [stated here](https://docs.cypress.io/guides/tooling/visual-testing#Functional-vs-visual-testing)

If implemented, we can catch problems such as regressions to #1584

**Additional context**

The cypress

[2022-01-15 05:10] yhtMinceraft1010X commented on #1539
I tried looking at this and noticed that it's due to the slice.repoId being passed in at the getLink() function in [v-ramp.vue](https://github.com/reposense/RepoSense/blob/master/frontend/src/components/v-ramp.vue) which may not have been recognised.

<img width="902" alt="Screenshot (17)" src="https://user-images.githubusercontent.com/69678785/149609777-694a74b9-abea-4d32-84fc-c5dbb1110339.png">

[2022-01-15 06:58] dcshzj opened #1615 "GitHub Environments should be cleaned up after a pull request is merged"
The current setup of our GitHub Actions workflow is that 2 deployments are made for every pull request. However, these deployments are not deleted once the pull request is merged, which can cause lots of stale environments to be present:

<img width="317" alt="Screenshot 2022-01-15 at 14 55 29" src="https://user-images.githubusercontent.com/27919917/149612607-5c04e816-5fe6-4d34-9986-ff603d374e31.p

[2022-01-15 07:33] chan-j-d opened #1616 "Unable to generate report on Windows for repos containing files with special characters"
**Tell us about your environment**

* **RepoSense Version:** master branch
* **OS and Version:** Windows 10
* **Web Browser and Version (if applicable):** N.A.

**Please include the steps to reproduce the bug.**

1. Run the command `java -jar RepoSense.jar --repos https://github.com/AY2122S1-CS2113T-W12-2/tp.git --since 12/10/2021 --until 12/10/2021 --view`

**What was expected to happen?**
Reposi

[2022-01-15 07:42] #1584 closed

[2022-01-15 07:45] chan-j-d commented on #1616
This is somewhat of a meta (and likely rare) problem as it seems the most common occurrence of this would be repositories containing filenames with special characters for test cases.

On a related note, for Linux and likely Mac, files with command characters in their filenames are still skipped over due to the issue mentioned here https://github.com/reposense/RepoSense/issues/1571#issuecomment-886

[2022-01-15 09:31] chan-j-d opened #1619 "Refactor file validation method in GitLsTree"
**Currently**: `GitLsTree` contains only one public method, `validateFilePaths` and two private methods. Of the two private methods, only one of them uses a Git command directly.

**Suggestion**: Move the `validateFilePaths` and `isValidWindowsFilename` methods to `FileUtil` and change the method `getFilePaths` (that uses the `git ls-tree` command) to `public`.

This would put the `GitLsTree` clas

[2022-01-15 09:32] chan-j-d commented on #1619
@dcshzj Seeking approval for this refactoring suggestion. Thanks!

[2022-01-18 05:19] dcshzj commented on #1619
This sounds like a good idea to do, feel free to perform this refactoring!

[2022-01-19 02:57] yhtMinceraft1010X opened #1621 "Documentation Showcase: Case 3 report and settings links do not match"
**Tell us about your environment**

* **RepoSense Version:**
* **OS and Version:**
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. Go to [showcase](https://reposense.org/showcase.html)
2. Click the report link
3. Click the settings link
4. Compare the URLs

**What was expected to happen?**
Settings link should lead to the [cs3281 2020 dashboar

[2022-01-19 04:09] #1543 closed

[2022-01-19 04:32] dcshzj opened #1622 "Upgrade highlight.js to version 11"
The highlight.js package used by the frontend is currently using version 10.7.3, which is [no longer supported](https://github.com/highlightjs/highlight.js/blob/main/SECURITY.md). The package should be upgraded to version 11 by following [the upgrading guide](https://github.com/highlightjs/highlight.js/blob/main/VERSION_11_UPGRADE.md).

[2022-01-19 06:38] dcshzj commented on #1601
I did some investigations and it turns out that the problem is due to concurrency, as [explained in this StackOverflow question](https://stackoverflow.com/questions/63500822/returning-numberformatexception-form-simpledateformat-in-java-code). Simply put, `SimpleDateFormat` is not thread-safe, and this happens to us because we process the commits in parallel, which causes multiple threads to call t

[2022-01-19 06:50] dcshzj commented on #1588
I am closing this as it is part of #1601 where most of the discussion lives.

[2022-01-19 06:50] #1588 closed

[2022-01-20 01:35] yhtMinceraft1010X opened #1624 "Propose moving bottom "Generated by" statement to top"
**What feature(s) would you like to see in RepoSense?**

The URLs for the RepoSense webpage, version and user guide are currently at the bottom of the report page. I propose moving these links and the bottom "Generated by..." statement to the top along with the report settings.

**Is the feature request related to a problem?**

For large reports with many repositories, it may be tedious to scroll

[2022-01-20 03:39] damithc commented on #1624
hmm... this kind of info usually belongs in a footer? They have no functional value to the user (except perhaps the link to the UG) -- so, not sure we should use prime screen real estate on them at the top of the report.

[2022-01-20 03:56] yhtMinceraft1010X commented on #1601
Sounds like an interesting issue. I would like to try my hand at this.

[2022-01-20 07:44] gerhean commented on #1624
Can confirm that I have never ever clicked on the "generated by" link. The generation date is also not really important to end users since the filter clearly states the "until" date.

[2022-01-20 08:08] dcshzj commented on #1624
I have to agree that this information is usually only relevant for debugging, and a user of the report should not be concerned about the version that they use. I think this information should remain at the bottom of the report where it currently is.

[2022-01-21 15:32] #1591 closed

[2022-01-22 11:42] Zhou-Jiahao-1998 commented on #1622
@dcshzj I am not too sure if I am doing it correctly. After upgrading to version 11, everything seems to work fine. All the test passed and there are no errors in the project. Is that normal?

[2022-01-22 12:02] gerhean commented on #1622
Usually nothing breaks when package is upgraded to be honest.

[2022-01-22 12:18] gerhean commented on #1624
Can we close this issue?

[2022-01-22 12:19] #1624 closed

[2022-01-22 12:19] yhtMinceraft1010X commented on #1624
Closing since the consensus is to keep the statement at the bottom of the page.

[2022-01-22 12:27] gerhean opened #1626 "Gradle lint duplicate dependency"
**Tell us about your environment**

* **RepoSense Version:**
Master branch

* **OS and Version:**
Github actions

* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

[code]

As detected with #1096

**If possible, include the URL to your RepoSense report or log files (if any).**

https://github.com/reposense/RepoSense/runs/4906908212?check_suite_focus

[2022-01-22 12:37] #1425 closed

[2022-01-22 12:48] gerhean opened #1627 "Upgrade frontend to Vue3"
**What feature(s) would you like to see in RepoSense?**

Upgrade to Vue3

**Is the feature request related to a problem?**

Vue3 has better support for TypeScript, and TypeScript works well with most text editors to easily check what are in those 3 to 4 layer nested data objects passed to various functions.

Also Vue3 might be faster, current frontend is quite slow for large reports.

**If applica

[2022-01-23 13:07] chan-j-d commented on #1619
While working on #1616, I'm not entirely sure if the validation method for Windows filenames is still necessary. The `validateFilePaths` method is currently only used once in a line of code that I am suggesting to be removed in PR #1628.

Additionally, perhaps a better way to implement it would be to use Java's `Paths.get(...)` which already performs an identical series of check by checking OS and

[2022-01-24 05:32] dcshzj commented on #1626
The issue is in #1096 itself and not in the master branch, the PR added a duplicate line.

[2022-01-24 05:32] #1626 closed

[2022-01-25 14:47] yhtMinceraft1010X opened #1630 "Remove building of frontend when running backend tests"
**What feature(s) would you like to see in RepoSense?**

Currently, when running `gradlew test` or `gradlew test systemtest`, the frontend is built even though running the backend tests do not appear to require frontend in any way.

I propose restructuring the dependencies in `build.gradle` such the frontend is not built when running `test` or `systemtest` alone. (I.e. not part of build)

[2022-01-26 04:26] #1597 closed

[2022-01-26 04:39] #1621 closed

[2022-01-26 04:48] gerhean commented on #1630
@dcshzj I have copied my comments over from #1631

Is it possible to just remove zipReport since it is just zipping an empty folder if buildFrontend is not run? Or is the real problem that buildFrontend needs to be run at least once, but the current script runs it multiple times which is redundant (Which means your code will cause unexpected bugs by not requiring buildFrontend)?

Actually the enti

[2022-01-26 04:56] gerhean commented on #1630
I propose for the gradle build to be overhauled, with the following functions:

- Build frontend only
- Build backend only
- Build both
- Build if not found in `\reposense-report`
- `startServerInBackground` which only depends on  "Build if not found in `\reposense-report`"

Existing to modify (?)
- Copy files from `\reposense-report` to frontend public folder should check that relevant files exis

[2022-01-26 11:48] gerhean opened #1632 "Add TypeScript"
**What feature(s) would you like to see in RepoSense?**

I want to see TypeScript being used.

**Is the feature request related to a problem?**

![image](https://user-images.githubusercontent.com/16630400/151157039-71df8d3e-78c0-4121-bb54-e529a383bc94.png)

Trying to find the answer to the simple question above has been a very tiring journey...

**If possible, describe the solution**

Unlike other

[2022-01-27 07:38] dcshzj commented on #1284
Was done in #1583.

[2022-01-27 07:38] #1284 closed

[2022-01-27 07:39] dcshzj commented on #1285
Was done in #1474.

[2022-01-27 07:39] #1285 closed

[2022-01-28 07:55] gerhean opened #1633 "Fix HighlightJS regression"
**Tell us about your environment**

* **RepoSense Version:**
Master
* **OS and Version:**
* **Web Browser and Version (if applicable):**

Possible regression by #1412

**Please include the steps to reproduce the bug.**

Compare the authorship tab between a deployment from [Jan 2021](https://nus-cs2103-ay2021s1.github.io/ip-dashboard/?search=&sort=groupTitle&sortWithin=title&since=2020-08-14&until=

[2022-01-28 08:00] gerhean opened #1634 "Replace cdn links to import from `node_modules` instead"
**What feature(s) would you like to see in RepoSense?**
Replace [this](https://github.com/reposense/RepoSense/blob/c4d7690e7b2c3b2626187a2c26ee447d99adf15a/frontend/src/app.vue#L317-L322) with `node_module` imports

**Is the feature request related to a problem?**

Dependabot can track outdated packages in `package-lock.json` files, but not if they are imported directly in the code. Furthermore, i

[2022-01-28 08:46] gerhean commented on #795
Done in #1412

[2022-01-28 08:46] #795 closed

[2022-01-29 14:10] Zhou-Jiahao-1998 opened #1635 "Update User Guide Java Version"
**What problem(s) did you run into that caused you to request additional documentation? What, if any, existing documentation relates to this proposal?**

The User Guide states Java 8 or later. However, I was unable to run RepoSense on Java 17.

**What would you like added or modified in the documentation?**

Update the User Guide to show the compatible Java versions accurately.

[2022-01-30 18:04] chan-j-d opened #1636 "ArrayIndexOutOfBoundsException generating report with RepoSense"
**Tell us about your environment**

* **RepoSense Version:** master branch
* **OS and Version:** Windows 10
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. Run `java -jar RepoSense.jar --repos https://github.com/AY2021S1-CS2103-F09-1/tp.git --since 01/06/2020 --view`

**What was expected to happen?**
Report generated and displayed without issu

[2022-01-30 18:07] chan-j-d commented on #1636
Running on Ubuntu 18.04 gives a different error message but also caused by `FileInfoAnalyzer::generateBinaryFileResult`. There might be more info such as the specific command ran so I am sharing the additional log file as well.

[ubuntu-log.txt](https://github.com/reposense/RepoSense/files/7966568/ubuntu-log.txt)

[2022-01-30 18:19] chan-j-d opened #1637 "Multiple local paths with the same final directory causes one report to overwrite others"
**Tell us about your environment**

* **RepoSense Version:** master branch
* **OS and Version:** Windows 10
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. Run `git clone https://github.com/chan-j-d/ip.git parent1/same-name`
2. Run `git clone https://github.com/chan-j-d/tp.git parent2/same-name`
1. Run `java -jar RepoSense.jar --repos parent1/

[2022-01-30 19:04] gok99 opened #1638 "Wrongly scaled contribution bar when contribution is significantly lower than average"
**Tell us about your environment**

* **RepoSense Version:** c4d7690
* **OS and Version:** Fedora 34
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. Generate reposense report for https://github.com/cheeaun/sgbusdata.git since 01/01/2021

**What was expected to happen?**

Correct report with appropriately scaled contribution bars

**What actual

[2022-01-30 19:38] gok99 opened #1640 "Unable to open github commits on a cloned repository"
**Tell us about your environment**

* **RepoSense Version:** c4d7690
* **OS and Version:** Fedora 34
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. Clone https://github.com/cheeaun/sgbusdata.git
1. Generate a reposense report since 01/01/2021
1. Open the report and click on a commit ramp

**What was expected to happen?**

Opens the correct co

[2022-01-30 19:39] gok99 commented on #1640
I am able to access github commits using gitlens on vscode, so it seems remote user information might be accessible somehow.

[2022-01-30 19:50] gok99 commented on #1640
I noticed that there is already an open issue from 2018 #231 about this same issue. So I'll close this one.

[2022-01-30 19:50] #1640 closed

[2022-01-31 03:21] damithc commented on #1638
Looks like a serious bug. Thanks for catching it @gok99 How often can this occur?

[2022-01-31 03:24] damithc commented on #1637
Thanks for catching this @chan-j-d
Might cause issues for cases where we are dealing with forks of the same upstream repo, as they could all have the same folder name locally.
Lets fix this soon.

[2022-01-31 03:27] damithc commented on #1636
Let's investigate to figure out what's going on and how serious this bug is.

[2022-01-31 04:04] gok99 commented on #1638
@damithc The bug occurs when a committer's contributions are low enough that Javascript represents the ratio of their contributions to the average in scientific notation (e.g. `3.2301723943006836e-7`).

Javascript seems to start doing this only at 10^-7, so I suspect this will only happen in large enough repositories with contributors who make small changes (which seems quite likely in big open so

[2022-01-31 04:59] chan-j-d opened #1641 "`~` in config file used for relative file pathing does not work for generating reports"
**Tell us about your environment**

* **RepoSense Version:** master branch
* **OS and Version:** Windows 10
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1.  Run `git clone https://github.com/reposense/RepoSense ~/test` on a Linux terminal to clone a repo (any repo will do) into a relative directory.
1. Run `java -jar RepoSense.jar --repos ~/te

[2022-01-31 07:28] damithc commented on #1638
Thanks for the investigation @gok99 Yes, looks like rare to happen. We should fix it nevertheless, as it still _can_ happen.

[2022-02-01 06:37] yhtMinceraft1010X commented on #1202
Do we also need javadoc for private functions like the one below from `CommitResultAggregator`?
[code]

I can add them in if needed since I've explored most of the backend code while fixing #1601.

[2022-02-01 08:36] Zhou-Jiahao-1998 commented on #1391
@gerhean
Quoting from [Vue document](https://v3.vuejs.org/guide/migration/functional-components.html#_2-x-syntax):
[code]

Furthermore, the Vue 2.x syntax will break in 3.x. Therefore, I think this might not
worth the time and effort. This issue will be solved if we eventually upgrade to Vue 3.

[2022-02-01 09:08] gerhean commented on #1391
We can't say for sure until we upgraded to Vue3 and tested this. However I will say that the code for functional components is somewhat hard to read and inconsistent with the rest of the code base, which was the reason I had abandoned this issue despite the increase in performance. Vue3 might have something to declare a component as static without making it functional, I'm not sure.

I think this

[2022-02-01 12:25] Zhou-Jiahao-1998 commented on #1540
After some investigation, I found that `Cypress.wait()` is actually in the `support.js` file under `cypress` folder. The function simply waits for 1500 ms if it is in non-CI environment. I am not entirely sure of the reason for treating non-CI environment differently. However, this use of `wait` is an anti-pattern according to the [official documentation](https://docs.cypress.io/guides/references/

[2022-02-02 11:52] chan-j-d opened #1645 "Change how `ConfigSystemTest` is done by using `RepoSense::main`"
**What change(s) would you like to see in RepoSense?**

Change how system tests are run by using the `RepoSense::main` method to provide full end-to-end validation through supplying CLI arguments and comparing the output JSON files.

**Is the feature request related to a problem?**
Adding new system tests can be difficult as the existing methods use the config files in the `resources` folder by de

[2022-02-04 06:56] #1638 closed

[2022-02-04 07:22] #1540 closed

[2022-02-07 01:58] #1603 closed

[2022-02-07 02:09] #1391 closed

[2022-02-07 02:11] dcshzj opened #1648 "Report does not display the value of reportTitle in <title>"
**Please include the steps to reproduce the bug.**

1. Visit the RepoSense preview website for the latest master branch: https://reposense.netlify.app
1. Observe that the tab title (obtained from &lt;title>) says "reposense" instead of "RepoSense Report" configured in summary.json.

**What was expected to happen?**
The page title should say "RepoSense Report", or whatever the value of `title` is c

[2022-02-07 02:15] dcshzj commented on #1635
Are we able to make RepoSense work on Java 17?

[2022-02-07 02:59] #1539 closed

[2022-02-07 03:50] Zhou-Jiahao-1998 commented on #1635
@dcshzj I believe the reason why it did not work on Java 17 now is because we are currently using `Gradle 5.2.1`. According to the [Gradle User Manual](https://docs.gradle.org/current/userguide/compatibility.html), the first Gradle version that supports Java 17 is `7.3`. I think we will have to upgrade our Gradle version first. Maybe we can consider opening an issue regarding this?

[2022-02-07 04:08] gerhean commented on #1635
Does the new Gradle work with our currently supported Java versions?

[2022-02-07 05:46] Zhou-Jiahao-1998 commented on #1635
@gerhean I think it does. You can find the list of Java versions [Enum JavaVersion](https://docs.gradle.org/current/javadoc/org/gradle/api/JavaVersion.html) and support since which Gradle version.

[2022-02-08 13:08] dcshzj commented on #1630
@yhtMinceraft1010X Are you still working on this?

[2022-02-08 13:09] yhtMinceraft1010X commented on #1630
I'm putting it on hold for now. But I hope to revisit it after finishing up #1625

[2022-02-09 14:36] yhtMinceraft1010X opened #1651 "Enhance Checkstyle"
**What feature(s) would you like to see in RepoSense?**

Checkstyle 8.1 does not have checks for certain Javadoc standards like empty line between description and block tags. At the same time, it is tedious to type out `gradlew checkstyleMain checkstyleTest checkstyleSystemtest` when doing these 3 tasks.

**Is the feature request related to a problem?**

As a result of Checkstyle 8.1 limitations,

[2022-02-11 12:39] chan-j-d commented on #1636
It seems like for Linux systems, the file in question is an image file with path ending with `../$Remark.png` which causes bash to attempt to replace it with a value as evidenced by `docs/images/add-remark/.png` showing up in the log.

However, Windows command prompt does not seem to treat the '$' as a special character so I'm still unsure why there is an exception.

[2022-02-11 20:21] gok99 opened #1655 "Duplicated method in GitRevList.java"
**Currently**

`getCommitHashBeforeDate` and `getCommitHashUntilDate` in `GitRevList` have identical logic. This can be confusing for readers who are deciding between the methods to use. It is also easy to forget to update one of the methods because it's not immediately obvious that they do the same thing.

https://github.com/reposense/RepoSense/blob/728a9f9c14f706ace6873cae8696647b91ff3ffb/src/ma

[2022-02-12 01:53] chan-j-d commented on #1655
Seems like according to the specification at https://git-scm.com/docs/git-rev-list#Documentation/git-rev-list.txt---untilltdategt, there are actually two flags that do the same thing as seen in the image below
![image](https://user-images.githubusercontent.com/65345505/153691741-7cc68837-9b44-4e26-a1e1-80d4c167a0d5.png).

I think we should actually retain the `UntilDate` one and actually replace t

[2022-02-12 04:51] chan-j-d commented on #1636
It seems there are two separate bugs for these two issues. The main problem causing the issue in this post is that some commits do not have an email tagged to them. Most commits show up something like this
![image](https://user-images.githubusercontent.com/65345505/153696868-562e5e2c-9c7c-4879-aacb-ca6a3bfadf76.png)
even if I selected my email setting as private, there is still a dummy email addre

[2022-02-12 04:52] gok99 commented on #1655
Thanks for taking a look at this! It seems then that `getCommitHashBeforeDate` is using the wrong flag value semantically.

I agree with this. We can retain both date formats, and `getCommitHashUntilDate` can actually use the `--until` flag in the command.

[2022-02-12 04:54] chan-j-d opened #1657 "Special characters such as $ not properly escaped in BASH commands"
**Tell us about your environment**

* **RepoSense Version:** master branch
* **OS and Version:** Ubuntu 18.04
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. Run `java -jar RepoSense.jar --repos https://github.com/AY2021S1-CS2103-F09-1/tp.git --since 01/06/2020 --view`

**What was expected to happen?**
Report generated and displayed without is

[2022-02-12 04:55] chan-j-d commented on #1657
A possible fix for this issue is to manually check paths for non-windows environment that use Bash and replace all such characters with special meanings.

[2022-02-12 14:04] gok99 opened #1659 "Backend tampering with frontend build files"
**Currently:**

In ReportGenerator.java, the backend makes edits to the content of index.html generated by the frontend (for changing the title of the generated report). This breaks the separation of responsibility of the files generated by the frontend and backend. Even if only the title is being modified, there can arise hard-to-catch bugs like the one fixed in #1656. `index.html` is also not in

[2022-02-12 14:07] gok99 commented on #1659
If we choose to keep with the current implementation, we should probably consider including `index.html` in the systemtests.

[2022-02-12 14:12] dcshzj commented on #1659
This was discussed in #1343 where this functionality was introduced. I personally would prefer a separation.

[2022-02-13 06:06] gerhean commented on #1659
I am in favor of the separation in order to ensure that frontend builds and report generation are independent, as I mentioned in #1630

[2022-02-13 06:11] yhtMinceraft1010X commented on #1630
Will wait for the following before continuing on this:
- #1659 to be resolved since the backend currently uses `templateZip.zip` generated by building frontend.
- A potential upgrade to Gradle 7.3 or [7.4](https://docs.gradle.org/current/release-notes.html), as mentioned in #1635.

[2022-02-13 07:31] #1616 closed

[2022-02-13 10:42] yhtMinceraft1010X opened #1661 "Upgrade Gradle to at least 7.3"
**What feature(s) would you like to see in RepoSense?**

As mentioned in #1635, Gradle 5.2.1 doesn't support Java 17. There is thus a need to move to a minimum of Gradle 7.3 since that is the first Gradle version to support Java 17.

**If applicable, describe alternatives you've considered**

~~Gradle has also released 7.4 very recently. This version also incorporates the [latest mitigation for th

[2022-02-13 11:26] gerhean commented on #1661
Seems fine, you don't need to create an issue for simple tasks like this, if it involves only a simple version upgrade (with no refactoring), and does not break backwards compatibility (which you should mention).

[2022-02-13 13:40] yhtMinceraft1010X commented on #1661
I have encountered some issues with third-party plugins when attempting to move to Gradle 7.4:

**1. Property without annotation error in `com.liferay.gradle.plugins.node.tasks.ExecutePackageManagerTask`**

When running `gradlew`, I noticed this error:
![Screenshot (91)](https://user-images.githubusercontent.com/69678785/153754619-d5112a08-7b7b-41b8-b5d1-20171dce05c6.png)

After some googling, I d

[2022-02-13 13:58] gerhean commented on #1661
I am in favour of changing plugins if you believe that the plugins currently being used are not well maintained and causing problems.

Preferably switch to a popular plugin with more than 1000 github stars.

[2022-02-13 14:47] dcshzj commented on #1134
Sure, thanks for your help @chan-j-d!

[2022-02-13 14:47] #1134 closed

[2022-02-13 17:47] gerhean commented on #968
Just want to add that the [ESLint Vue plugin](https://eslint.vuejs.org/rules/) is already part of the project, and this particular rule can immediately be enforced just by removing this line:

https://github.com/reposense/RepoSense/blob/ed131f6294bf83fac436a6265bc4d53b022739f7/frontend/.eslintrc.json#L12

[2022-02-13 17:50] gok99 commented on #1655
@dcshzj I'll proceed to do this refactor if it makes sense.

[2022-02-13 18:14] gerhean opened #1665 "Rename frontend component files to remove `v-`"
**What feature(s) would you like to see in RepoSense?**

Rename frontend component files to remove the `v-` in front of every file.

I would also like some input on whether the names should be changed within the code, for example from `v-summary` to `summary` or some other standardized way to refer to components. Most reserved syntax used by Vue uses the `v-` prefix, like `v-bind`, so I would pref

[2022-02-13 19:23] chan-j-d commented on #659
@dcshzj possibly related to #1134? I think it is safe to close this as well.

[2022-02-14 00:04] dcshzj commented on #659
Yup, thanks @chan-j-d!

[2022-02-14 00:04] #659 closed

[2022-02-14 09:39] chan-j-d opened #1667 "Refactoring `AnnotatorAnalyzer` class"
**What ideas would you like to see in RepoSense?**

Refactoring the `AnnotatorAnalyzer` class.

**Is the feature request related to a problem?**

The current `AnnotatorAnalyzer` class' methods are difficult to understand. There are many null checks even though the optional class is being used. Additionally, there is a `ArrayIndexOutOfBoundsException` caught that seems to perform normal program flo

[2022-02-14 09:41] chan-j-d commented on #1667
@dcshzj would like to move forward on this refactoring suggestion if it makes sense.

[2022-02-14 10:07] gerhean opened #1668 "Deploy environment even if test cases fails"
**What feature(s) would you like to see in RepoSense?**
Deploy environments even if test cases fail
![image](https://user-images.githubusercontent.com/16630400/153843338-785576f5-c880-411a-8fc7-12e769cbf4d1.png)

**Is the feature request related to a problem?**

Easier for reviewers to test why bugs might happen.

[2022-02-14 10:42] gerhean commented on #1235
Already upgraded, can be closed.
https://github.com/reposense/RepoSense/blob/ed131f6294bf83fac436a6265bc4d53b022739f7/frontend/cypress/package-lock.json#L475

[2022-02-14 10:42] #1235 closed

[2022-02-14 12:41] yhtMinceraft1010X opened #1669 "Concurrency Overhaul for RepoSense"
**Related to issue #1601 and PR #1625**

Although I have a PR for migrating to thread-safe date-time APIs, after some research, I believe that this may not fully solve the concurrency issue that was exposed in #1601.

**Resources on other non-thread-safe APIs:**

* https://www.quora.com/What-are-some-commonly-used-Java-API-classes-that-are-not-thread-safe
* https://stackoverflow.com/questions/3362

[2022-02-15 04:14] chan-j-d commented on #1669
From my experience, the concurrent collections are noticeably slower in performance than their non-thread safe counterparts. Also I'm not too sure if there are that many asynchronous tasks in RepoSense right now that can cause race conditions. The main asynchronous tasks that I am aware of are the cloning and analyzing done here:

https://github.com/reposense/RepoSense/blob/ed131f6294bf83fac436a62

[2022-02-15 08:53] yhtMinceraft1010X commented on #1669
I also encountered something similar to that error in one [workflow run](https://github.com/reposense/RepoSense/runs/5186440334?check_suite_focus=true), unlike the one in #1664, this one happens in testrepo-Delta instead of testrepo-Charlie.

![Screenshot (106)](https://user-images.githubusercontent.com/69678785/154019961-56c152f5-8010-472a-b306-b930d6b364f7.png)
Here's a picture of the difference

[2022-02-15 08:54] yhtMinceraft1010X commented on #1669
In this case, merging PR #1625 should be sufficient. I'll close this issue.

[2022-02-15 08:54] #1669 closed

[2022-02-15 09:56] chan-j-d commented on #1669
I guess we can reopen this if we encounter this issue after merging #1625. Thanks for the investigation!

[2022-02-16 02:39] yhtMinceraft1010X opened #1674 "Convert zoneId String in RepoConfiguration and SummaryJson to ZoneId object"
**What feature(s) would you like to see in RepoSense?**

I noticed that although `zoneId` is stored as a `ZoneId` object in `CliArguments.java`, it is then converted to a `String` when stored in `RepoConfiguration.java`, subsequently, when `zoneId` needs to be used in places like `FileInfoAnalyzer.java`, it has to do the conversion back to `ZoneId`.

**Is the feature request related to a problem?*

[2022-02-16 04:02] #1615 closed

[2022-02-16 04:19] #1648 closed

[2022-02-16 06:28] dcshzj commented on #1668
I suspect this might be difficult to do, as the test cases may fail because there are actual issues with the code which makes deployments not possible. Also, the environments erroneously reports the deployments as abandoned, but they should be marked as failures (which is already supported in the `deploy.sh` script).

[2022-02-16 07:42] dcshzj commented on #1667
Sounds like a good idea, I think we can go ahead with your proposed refactoring.

[2022-02-16 09:41] yhtMinceraft1010X opened #1676 "Config and repo flag priority is vague in User Guide"
**What problem(s) did you run into that caused you to request additional documentation? What, if any, existing documentation relates to this proposal?**

The current `cli.md` for the user guide only mentions that the `--repos` and `--config` flags cannot be used with each other. This however is vague on which one is preferred over the other.

**What would you like added or modified in the document

[2022-02-20 22:53] gok99 opened #1680 "Delete all deployments for environments with more than 100 deployments"
**What feature(s) would you like to see in RepoSense?**

The delete deploy workflow currently only deletes 100 of the most recent deployments for a closed PR. While it is unlikely that a PR has more than 100 deployments, it still is possible and the workflow would be more complete accounting for this case as well.

**If possible, describe the solution**

GitHub [deployments API](https://docs.githu

[2022-02-21 02:44] #1601 closed

[2022-02-21 02:51] dcshzj commented on #1655
Sorry @gok99 I missed out this one. Do you mean that you wish to replace the `--before` flag with the `--until` flag in `getCommitHashUntilDate`, and no other changes are to be made?

[2022-02-21 04:32] chan-j-d opened #1681 "Log file for failure while executing `cloneFromBareAndUpdateBranch` not descriptive"
**Tell us about your environment**

* **RepoSense Version:** Bug was found on [this PR branch](https://github.com/chan-j-d/RepoSense/tree/1572-experimental-implementation) but the same issue should be present on the master branch.

**Please include the steps to reproduce the bug.**

Not too sure how to reliably produce it for an individual machine. A possible run would be to run
`gradlew run -Darg

[2022-02-21 04:40] chan-j-d opened #1682 "Space in local repo final directory causes cloning exception"
**Tell us about your environment**

* **RepoSense Version:** master branch
* **OS and Version:**
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. Clone any repository to a local directory containing a space. E.g. `git clone https://github.com/reposense/RepoSense "output directory"
1. Run reposense on this directory. `java -jar RepoSense.jar --r

[2022-02-21 06:59] yhtMinceraft1010X opened #1684 "Quiet mode for logging"
**What feature(s) would you like to see in RepoSense?**

Currently, RepoSense logs are quite detailed, which may not always be useful to the layperson. An example would be "Waiting for cloning of... to complete..." messages seen below, which seem redundant since there is already a "Cloning in parallel..." message for each waiting message.

**If possible, describe the solution**

![Screenshot (126)

[2022-02-21 07:33] gok99 commented on #1655
@dcshzj This will also remove `getCommitHashBeforeDate`, replacing all references to it with `getCommitHashUntilDate`.

[2022-02-21 10:37] yhtMinceraft1010X commented on #1073
For anyone who's keen to work on this issue, we no longer have an `index.pug` file. The code mentioned can now be found here:

https://github.com/reposense/RepoSense/blob/51cb75848327bf02f7d064602a31f9995fa198bc/frontend/src/components/v-summary-charts.vue#L163-165

[2022-02-21 12:43] dcshzj commented on #1655
I see, yes I think you should proceed with this proposed refactoring.

[2022-02-24 02:12] #1619 closed

[2022-02-24 02:24] #1657 closed

[2022-02-24 02:35] #1681 closed

[2022-02-24 21:21] gok99 opened #1689 "Broken links to remote repositories"
This issue consolidates issues with links in the report to remote repositories. These links should be fixed for when (a) no remote repositories exist or (b) remote repository is not yet supported by RepoSense (is not Github, GitLab or Bitbucket). The following report links redirect to broken links if either of the above conditions are satisfied.

1. Commit ramp link (also mentioned in #231):
![ima

[2022-02-24 21:23] gok99 commented on #1689
Report links with remote repositories that are supported and not GitHub (either GitLab or Bitbucket) is expected to be fixed in #1644

[2022-02-28 07:58] #1166 closed

[2022-03-01 03:54] yhtMinceraft1010X commented on #1635
I think this issue concerns the developer guide rather than the user guide. I tested the `RepoSense.jar` for both the release version and the master branch (compiled using Java 8) with Java 17 runtime. The RepoSense.jar still works.

![Screenshot (132)](https://user-images.githubusercontent.com/69678785/156100806-65dd7c40-5ef3-4da2-92e8-0ab336c2b50b.png)
Above is the command prompt showing that bo

[2022-03-04 15:13] #1636 closed

[2022-03-05 02:51] gerhean commented on #1622
Want to close this in favor of #1633.

[2022-03-05 03:04] dcshzj commented on #1622
Yup, let's do that.

[2022-03-05 03:04] #1622 closed

[2022-03-05 12:05] yhtMinceraft1010X opened #1703 "Upgrade to Node.js 16"
**What feature(s) would you like to see in RepoSense?**

Currently, the version of Node.js used in GitHub workflows is `12.x`. On the other hand, `build.gradle` uses Node.js version `10.16.0`. I recommend switching both to version `16.14.0` since this is the latest LTS version.

[2022-03-05 12:15] yhtMinceraft1010X opened #1704 "Upgrade to JUnit 5"
**What feature(s) would you like to see in RepoSense?**

JUnit 5 has more features such as the usage of lambdas in test methods, as described by [Oracle's JUnit Migration Guide](https://blogs.oracle.com/javamagazine/post/migrating-from-junit-4-to-junit-5-important-differences-and-benefits). It's currently used by [AddressBook3](https://github.com/se-edu/addressbook-level3), which runs on Java 11,

[2022-03-07 03:02] Zhou-Jiahao-1998 commented on #1634
@gerhean Looking at [normalize.css@8.0](https://classic.yarnpkg.com/en/package/normalize.css), it seems like it is not reviving any updates. After removing the import, the visual changes are insignificant. Do you think we can simply remove this import?

[2022-03-07 03:16] gerhean commented on #1634
@Zhou-Jiahao-1998 may I know what insignificant visual changes they are?

[2022-03-07 03:21] #1655 closed

[2022-03-07 03:54] Zhou-Jiahao-1998 commented on #1634
![Screenshot 2022-03-07 at 11 38 42](https://user-images.githubusercontent.com/54730603/156964139-66557725-1550-482f-b0cb-f4fa0591df77.png)
![Screenshot 2022-03-07 at 11 40 10](https://user-images.githubusercontent.com/54730603/156964152-15595c71-6b27-4bcd-82ce-46e185e20898.png)
The middle line is slightly thicker and the + icon in the code is more centred.

[2022-03-07 04:20] gerhean commented on #1634
@Zhou-Jiahao-1998 actually let's leave it in so that web pages styles behave and look consistent across web browsers. As described [here](https://jeffry.in/normalize-css-or-not/).

[2022-03-07 04:37] Zhou-Jiahao-1998 commented on #1634
@gerhean Alright! I am looking into this issue now while Vue 3 upgrade is in progress.

[2022-03-07 04:42] damithc opened #1706 "Syntax coloring for the code view"
I'm wondering how feasible it is to apply syntax coloring to the code view, for known file types. Is it feasible at all, and if yes, what kind of a performance hit it would result in, etc. ...

[2022-03-07 04:43] dcshzj commented on #1706
It used to exist, but it was possibly broken in #1412. The issue tracking this regression is in #1633.

[2022-03-07 05:00] damithc commented on #1706
Oh, I forgot we had it before. Some things you don't notice when they are around but you start missing them when they are gone ha ha :-D I'll close this now, as it is already being looked into.

[2022-03-07 05:00] #1706 closed

[2022-03-07 05:01] damithc commented on #1633
Upping the priority as this affects the usefulness of the code view.

[2022-03-07 07:09] dcshzj commented on #1633
@Zhou-Jiahao-1998 Are you able to prioritize this task as part of your ongoing efforts to upgrade to Vue 3?

[2022-03-07 07:12] Zhou-Jiahao-1998 commented on #1633
@dcshzj I am looking into #1634 now. Once I clear up the extra import for highlight.js, it will be easier to upgrade it to the latest version. Does that sound ok?

[2022-03-07 07:13] dcshzj commented on #1633
Sure, sounds good. Thanks!

[2022-03-07 08:15] Zhou-Jiahao-1998 commented on #1633
@dcshzj May I know if you know what exactly is the problem here?

From what I see so far, the first screenshot is taken from the duke individual project. Since it is written from scratch, it makes sense to highlight every single line. The second screenshot is a team project, so some parts are not written by that particular user.

When I looked into the Vue components, the segment (which is sub uni

[2022-03-07 08:27] damithc commented on #1633
@Zhou-Jiahao-1998 although the plugin is called highlight.js, it is actually being used for syntax coloring, not highlighting lines. The problem is that we seem to have lost syntax coloring in the code view.

[2022-03-07 08:28] dcshzj commented on #1633
You are correct about this. However, that's referring to the background highlighting, not the syntax highlighting. The background highlighting is working as intended (green for additions, red for deletions), but the issue is with the syntax highlighting (the color of the text itself).

The issue is that the HighlightJS library, which we use for syntax highlighting, is not working as intended. By i

[2022-03-07 08:31] Zhou-Jiahao-1998 commented on #1633
@damithc @dcshzj Alright I understand the problem now. Will fix it asap.

[2022-03-07 09:01] Zhou-Jiahao-1998 commented on #1633
@dcshzj Can you take a look at my #1646 to see if this is the effect we want? For some reason, syntax highlighting is working after I upgrade to Vue 3.

[2022-03-07 09:09] dcshzj commented on #1633
@Zhou-Jiahao-1998 Yup, that looks correct to me. I am not too well versed with Vue but my hunch is that it has got something to do with the changes you made to `frontend/src/main.js`, as there is where the highlight.js library is loaded.

[2022-03-10 05:58] #1627 closed

[2022-03-10 05:58] #1633 closed

[2022-03-10 07:18] gerhean commented on #1676
I don't think undefined or unallowed flag combinations need to be documented. In fact would it not be better to just throw an error if users use both these flags together?

[2022-03-10 17:15] yhtMinceraft1010X opened #1711 "Upgrade to Cypress 9.5.1"
**What feature(s) would you like to see in RepoSense?**

Currently, Cypress is at version `^7.0.1`. However, the latest version available is [`9.5.1`](https://docs.cypress.io/guides/references/changelog#9-5-1).

**If possible, describe the solution**

The [migration guide](https://docs.cypress.io/guides/references/migration-guide#Migrating-from-cypress-file-upload-to-selectFile) provides more deta

[2022-03-13 05:35] #1659 closed

[2022-03-13 19:52] gok99 opened #1715 "RepoSense CLI set-up walkthrough"
**What feature(s) would you like to see in RepoSense?**

The RepoSense command line arguments may be hard to navigate and takes some effort to reference (from the user guide) or commit to memory. Ideally, running the jar file should walk the user through the most relevant settings to get a report up and running.

This convenience feature should probably work something like `yarn init` which prompt

[2022-03-13 19:52] gok99 opened #1716 "File-size limit for backend processing"
**What feature(s) would you like to see in RepoSense?**

Part of #1504.

The PR #1647 currently processes all files, and ignores sufficiently large files (in file size) that could potentially crash the frontend. It might be a good idea to introduce a similar limit for files that the backend processes as well (i.e. if a file exceeds a limit, the backend will skip the file instead of analyzing it),

[2022-03-14 05:09] yhtMinceraft1010X opened #1717 "Question on indentation for throws statements"
While working on #1692, I noticed in the [Java coding standard](https://se-education.org/guides/conventions/java/index.html#comments) Javadoc example that the `throws` statement in the method header has an indentation of 4. However, I could not find a specific rule for `throws` line-wrapping. The closest rule I can think of is the [general 8 spaces rule](https://se-education.org/guides/conventions

[2022-03-14 06:00] damithc commented on #1717
Thanks for spotting this @yhtMinceraft1010X It's a bug in the coding standard. I've fixed it now. It should be 8 spaces.

[2022-03-14 08:15] #1711 closed

[2022-03-14 08:17] dcshzj commented on #1717
Seems to be fixed.

[2022-03-14 08:17] #1717 closed

[2022-03-15 08:48] gerhean opened #1718 "Check relevance of muicss package in frontend."
**What feature(s) would you like to see in RepoSense?**

Consider replacing `muicss` with a more popular package, as it has not been maintained recently (2 years since last PR).

**Is the feature request related to a problem?**

I generally prefer to use more popular dependencies, as they are usually better documented, and are typically better compatible with other packages.

**If possible, descri

[2022-03-15 08:59] gerhean commented on #1716
Personally I feel that most code files are under 1mb. Anything more can be marked as too large to process. Furthermore can consider having an command line argument to process these files regardless.

[2022-03-15 09:03] gerhean commented on #1715
This idea is nice to have, but I believe that most people use the github fork instead of jar file to create a reposense report. So probably low priority.

[2022-03-17 06:03] #1634 closed

[2022-03-17 08:00] gerhean opened #1720 "Confirm/remove/modify npm prerequisite for github actions"
**What feature(s) would you like to see in RepoSense?**

Probably related to #1286.

This package installs node into `./build/node/` directory when gradle is set up.
https://github.com/reposense/RepoSense/blob/a4ee1877a9fc47abde0592201ae489911a4bb604/build.gradle#L10

Tasks of type `com.liferay.gradle.plugins.node.tasks.ExecuteNpmTask` uses the node in `./build/node/` to run.
https://github.com/re

[2022-03-20 15:17] gok99 opened #1723 "Windows CI on GitHub actions"
**What feature(s) would you like to see in RepoSense?**

Ubuntu and Mac CI is currently run on GitHub actions, while Windows CI is run on Appveyor. This is done to limit our reliance on a single CI provider. However, GitHub CI does make maintaining and monitoring CI much more convenient. Furthermore, when updates need to be made to CI scripts, it is easy to forget to also update Appveyor scripts.

[2022-03-20 15:39] damithc commented on #1723
At the beginning, we were using Travis for Linux/Mac and AppVeyor for Windows because Travis didn't have Windows support. When Travis became less-friendly for free users, we moved from Travis to Github Actions. So, the split (at least the initial split) was accidental rather than intentional. I don't mind moving everything to GitHub actions.

[2022-03-21 05:42] yhtMinceraft1010X opened #1725 "The package.json version is 1.0.0"
**Tell us about your environment**

* **RepoSense Version:**
* **OS and Version:**
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. Found in [`frontend/package.json`](https://github.com/reposense/RepoSense/blob/master/frontend/package.json) line 3.

**What was expected to happen?**
The version field lists the latest release version available or

[2022-03-21 16:25] chan-j-d opened #1726 "Tracking tasks related to supporting other types of remote repo URLs in PR#1644"
The following are a list of necessary tasks related to but not implemented in PR#1644. This issue is meant to document and track the necessary changes.

- [ ] [Docs] Update UG, DG and codebase for direct references to GitHub to use more general language
- [x] [Docs & Backend] Change `author-config.json` column header `Author's GitHub ID` to `Author's Git Host ID`  while maintaining backward compat

[2022-03-22 03:54] chan-j-d opened #1728 "`git` requirement of 2.14 in DG not sufficient for passing test cases"
**Tell us about your environment**

* **RepoSense Version:** master branch
* **OS and Version:** Ubuntu 18.04
* **Web Browser and Version (if applicable):**
* Git version: 2.17

**Please include the steps to reproduce the bug.**

Precondition: Git version lower than 2.23.0 (2.22.5 or earlier)
1. `./gradlew test`

**What was expected to happen?**
All test cases passed without issue.

**What actuall

[2022-03-22 05:00] dcshzj commented on #1728
I think the issue is that the git version is not checked properly before the call to `--ignore-revs-file` is called. It should not happen that the flag is still called when we know it is not available to be used (i.e. version is not new enough).

Personally I would prefer if we fix this like how it is done for ConfigSystemTest. A couple of reasons:
1. At least for Ubuntu 18.04 LTS, the [bundled gi

[2022-03-22 05:03] dcshzj commented on #1723
I was always under this impression as well. I would support moving away from AppVeyor and using GitHub Actions for all our CI needs, so that it is easier to maintain in the future.

[2022-03-22 05:41] chan-j-d commented on #1728
Hmm I was thinking more along the lines of a new developer having the required tools at a sufficiently high version (git 2.14) but being unable to build the project since it fails a test case. At the time of creating this, it didn't cross my mind that the same issue exists in the main codebase.

I went to double check and it seems like the UG also has the same version requirement though I haven't

[2022-03-24 14:01] yhtMinceraft1010X commented on #1304
As a side note, [Checkstyle 10](https://checkstyle.sourceforge.io/releasenotes.html) is now available but requires a minimal version of Java 11. If we decide to move fully to Java 11 and raise the minimum Java version, we can consider upgrading Checkstyle at the same time.

[2022-03-24 14:39] gerhean commented on #1725
Reposense is not published on npm, and nobody really reads the `package.json` for version, so I feel this might be redundant.

[2022-03-24 15:14] #1635 closed

[2022-03-25 03:48] #1651 closed

[2022-03-25 10:23] #1682 closed

[2022-03-26 02:21] #1202 closed

[2022-03-26 02:58] dcshzj opened #1734 "Update how Codecov is invoked in pull requests"
We have always been using [Codecov Bash uploader](https://docs.codecov.com/docs/about-the-codecov-bash-uploader) to perform code coverage checks for our pull requests, and to annotate on the pull request files on the specific lines that are not covered by tests. However, this practice [has been deprecated since 1 February 2022](https://about.codecov.io/blog/introducing-codecovs-new-uploader/).

We

[2022-03-26 04:02] damithc commented on #1734
@dcshzj does this apply to AB3 too? https://github.com/se-edu/addressbook-level3

[2022-03-26 04:06] dcshzj commented on #1734
Seems like it, because AB3 is using `codecov/codecov-action@v1` from [what I see in the gradle.yml file](https://github.com/se-edu/addressbook-level3/blob/865de62540a50cf0690abc36a212eea1e0b4617a/.github/workflows/gradle.yml#L41), and [based on their changelog](https://github.com/codecov/codecov-action/blob/master/CHANGELOG.md#200), they will sunset that version at the same time as the bash upload

[2022-03-26 05:24] damithc commented on #1734
Thanks for checking @dcshzj . Is the deprecated one still working? If yes, when is it expected to stop working altogether?

[2022-03-26 13:36] #1667 closed

[2022-03-27 02:15] dcshzj commented on #1734
I could not find any authoritative information about the exact deprecation timeline. There is [one pending PR to update the deprecation warning](https://github.com/codecov/codecov-action/pull/661) but it has not yet been merged or looked into. I am guessing that we can expect it to stop working "very soon".

[2022-03-27 11:09] #1704 closed

[2022-03-27 11:31] sophiastr commented on #1538
Hello, i want to deal with this issue.
Can i have it?

[2022-03-28 04:58] #1728 closed

[2022-03-28 05:12] #1572 closed

[2022-03-28 05:14] Zhou-Jiahao-1998 commented on #1538
@sophiastr Thank you for your interest. We welcome any form of contribution!

You might want to checkout our [developer guide](https://reposense.org/RepoSense/dg/index.html) for more info on the basics. As this is a frontend issue, you might also want to check out the section on [frontend](https://reposense.org/RepoSense/dg/report.html). Hope this helps!

[2022-03-30 01:17] #1723 closed

[2022-03-30 02:54] gerhean opened #1736 "Cypress test failing"
**Tell us about your environment**

* **RepoSense Version:**
Master
* **OS and Version:**
* **Web Browser and Version (if applicable):**

[code]

**Please include the steps to reproduce the bug.**

Just run it.

**What was expected to happen?**

Pass

**What actually happened? Please include a screenshot of the output.**

Fail

**Extra Information**

Caused by #1731 deleting a yml file. When files

[2022-03-30 04:13] #1736 closed

[2022-03-30 04:17] gerhean opened #1738 "Remove dependence of frontend Cypress test on Reposense master branch"
**What feature(s) would you like to see in RepoSense?**
Remove dependence of frontend Cypress test on Reposense master branch.

**Is the feature request related to a problem?**

We are using Reposense master branch for frontend testing, which is highly unstable. This can cause CI tests to fail when old files are modified such that the author attributions change.

See #1736 for example.

**If possi

[2022-03-30 04:24] #1632 closed

[2022-03-30 06:41] Zhou-Jiahao-1998 opened #1739 "Add schema for json data files"
**What feature(s) would you like to see in RepoSense?**

I want to see json schema added for data files generated.

**Is the feature request related to a problem?**

It is troublesome troublesome to manually check what went wrong with the data file. Having a schema will allow easy debugging and see which specific field is missing/incorrect.

[2022-03-31 18:09] chan-j-d commented on #1689
**Current links behaviour on master branch as of 1 April 2022**

#1644 has standardized the behaviour of links to be
- Repository cloned from GitHub/GitLab/BitBucket - All links work
- All other types of repos (local or unsupported remote) - Links are disabled but buttons look identical

#1679 should allow partial support of local repos cloned from remote repos to support links that are already pr

[2022-03-31 18:10] chan-j-d commented on #1689
Besides the two suggestions you have, I might add an 'intermediate' suggestion where
- The buttons are present but the hover message states that the link does not work

[2022-03-31 18:21] chan-j-d opened #1742 "Implement a way for users to manually add support for other remote repo domains"
**What feature(s) would you like to see in RepoSense?**
Implement a way for users to manually add support for other remote repo host domains besides GitHub, GitLab, BitBucket.

**Is the feature request related to a problem?**
Currently, only links from the above 3 domains are supported. If a user would like to generate a fully functioning report for a repo hosted on a different domain, there is cu

[2022-04-01 08:09] p770820 opened #1743 "Can it suppert Chinese word?"
**What feature(s) would you like to see in RepoSense?**
Can suppert Chinese word?

**Is the feature request related to a problem?**
commit using Chinese word, commit content become garbled.
![image](https://user-images.githubusercontent.com/9010279/161222703-73df1964-20d5-4d3b-b072-07afc3673a5a.png)

[2022-04-01 08:13] p770820 commented on #1743
maybe author'name contains Chinese word, it not shown.

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABysAAAMGCAYAAABCvGg2AAAgAElEQVR4Aey9e3Ab153nm7/3/1u1/7LubK3rzr3XtVs1rJ2dGY5mJxzvrjmZO+Iks4NEmUXimSCRY8ZOFMaJwjhxOHIURrFlWjENy1FoSzJMWzZkPWCbFvSELUvQy5AsinoZfAoSHxAJskVT/t46jT6N0w+8AQokvqyiu/v06dPnfM6vYeJ8dE5/AXl+hm7fBX9rg8HA+B080zug/8o+cUuT5+ptOzIxieSxDv233trO9tbGM8p+YD8wBhgDjAHGAGOAMVAr

[2022-04-01 13:29] Zhou-Jiahao-1998 commented on #1689
@chan-j-d Actually I prefer the button to be hidden entirely or disabled because sometimes we click the button before seeing the hover message.

[2022-04-02 10:33] gok99 commented on #1743
Thanks for raising this issue @p770820! Foreign language support would be a great feature to have. Unfortunately, this might take some time to implement since most of the team is occupied at the moment.

If you've got a suggestion for a fix, feel free to suggest it or better yet, open a PR! :smiley: If you're interested in contributing, our [Developer Guide](https://reposense.org/RepoSense/dg/) pr

[2022-04-02 19:56] gok99 opened #1748 "Frontend follow-up tasks relating to #1647"
**What feature(s) would you like to see in RepoSense?**

Part of #1504

This issue is a result of discussion in PR #1647. The following are the features to build upon the features in this PR.

- [ ]  Lazy renders of code in authorship view for files that do not exceed a character limit
- [ ]  Partial renders of code that exceeds a character limit with a 'Load more' button for users to view more un

[2022-04-03 16:36] chan-j-d commented on #1637
Changing priority as this should have been fixed together with #1644 as a consequence of the generalized naming system used in the PR that resolves this issue. I think the issue can be properly closed once #1746 is merged for system tests catering to this scenario to prevent regression.

[2022-04-03 21:26] gok99 opened #1751 "Windows CI consistently slower than on other systems"
Windows CI on GitHub actions is generally the slowest to finish. It might be worth investigating if this is due to issues with caching and if there is something we can do to speed this up.

![image](https://user-images.githubusercontent.com/34594184/161449186-ed00981f-34ed-4a1e-a972-9a4445fd8565.png)
[Taken from a build for #1745 but should be observable in any CI run]

Note: Ubuntu 20.04 has more

[2022-04-09 00:46] gok99 opened #1753 "Refactoring `processLine` in `RepoConfigCsvParser` class"
This is a follow-up issue from discussions in https://github.com/reposense/RepoSense/pull/1647#discussion_r841910967

**What ideas would you like to see in RepoSense?**

The `processLine` method is now at more than a 100 lines, and getting hard to maintain. It might be a good idea to break them apart.

Perhaps the config parser could be broken down into a collection of parser subclasses that are l

[2022-04-10 06:06] damithc opened #1754 "Ignore case when comparing GitHub usernames to Git author name"
Is it possible to ignore case when identifying the author of a commit based on the Git author name (as given in `author-config.csv`), or at least for the GitHub username?
Reason: in some cases students give us the GitHub username that may be case-wise different to the actual username (because GitHub usernames are case insensitive)

[2022-04-10 06:17] #1738 closed

[2022-04-10 12:20] #1739 closed

[2022-04-11 01:30] zhoukerrr opened #1756 "Add support for json validation"
**What feature(s) would you like to see in RepoSense?**

Add support for json validation during runtime for frontend.

**Is the feature request related to a problem?**

Having json validation can avoid unexplained runtime errors due to incorrect json data.

**If possible, describe the solution**

[zod](https://github.com/colinhacks/zod#comparison) can be used. It is a TypeScript-first schema decla

[2022-04-11 02:23] #1630 closed

[2022-04-11 02:39] #1734 closed

[2022-04-11 02:58] #1641 closed

[2022-04-11 03:57] yhtMinceraft1010X opened #1758 "Refactor integration.yml"
**What feature(s) would you like to see in RepoSense?**

Currently, the CI for each OS is defined separately (1 for ubuntu, 1 for macos, 1 for windows) while the steps for each of them tend to be similar.

**Is the feature request related to a problem?**

Such a setup violates the DRY principle and is difficult to maintain. In particular, when updating the `node-version`, it had to be done 4 times

[2022-04-11 07:36] gerhean commented on #1758
I don't really like the first approach, since in the future when we want to upgrade the Windows CI, we will have to change all the ` if: ${{ matrix.os == 'windows-2022' || matrix.os == 'windows-2019' }}` and so on.

[2022-04-11 07:57] dcshzj commented on #1758
We can make use of `runner.os` to [specify Windows only](https://docs.github.com/en/actions/learn-github-actions/contexts#runner-context), so it should not be an issue.

[2022-04-11 08:50] gerhean commented on #1758
I am ok with that.

[2022-04-11 10:35] gok99 commented on #1758
[code]
[This](https://github.com/actions/cache/blob/main/.github/workflows/workflow.yml) workflow has a general solution for node caching using `npm config get cache`. If gradle has similar functionality, perhaps something similar can be done.

[2022-04-14 01:05] #231 closed

[2022-04-14 01:41] #1502 closed

[2022-04-14 01:41] #1676 closed

[2022-04-14 02:33] gok99 commented on #1689
I think I agree. There is no ambiguity that a link is not supported if there isn't a link (icon) in the first place

[2022-04-14 04:14] damithc opened #1759 "Images missing in dev guide"
See https://reposense.org/dg/report.html

e.g.,

![image](https://user-images.githubusercontent.com/1673303/163312489-7fd727b3-8443-4735-99f6-66e2ddf8b234.png)

[2022-04-14 06:47] tlylt commented on #1759
Doing an investigation on the above issue...
- PR Preview sites seem to have no issue displaying the two broken images: E.g [Docs: update, fix typos and improve docs for flag conflicts #1724 ](https://docs-1724-pr-reposense-reposense.surge.sh/dg/report.html#summary-view-v-summary-vue)
- Master branch deployment of the DG seems to have no issue displaying the two broken images: [here](https://repos

[2022-04-14 23:33] #1716 closed

[2022-04-16 03:56] #1680 closed

[2022-04-23 13:35] yhtMinceraft1010X opened #1764 "Cypress CI: Install packages step gives warning"
**Please include the steps to reproduce the bug.**

1. Go to `Cypress frontend tests` in a recent integration workflow run
1. Select `Install packages`

**What was expected to happen?**
No warning is thrown.

**What actually happened? Please include a screenshot of the output.**
A warning is thrown which states that there is no file or directory for `/home/runner/work/RepoSense/RepoSense/package.j

[2022-04-24 02:06] yhtMinceraft1010X opened #1765 "Developer Guide: Change npm requirement to Node"
**What would you like added or modified in the documentation?**

In the [Setting Up page](https://reposense.org/RepoSense/dg/settingUp.html) of the Developer Guide, the requirements are for `git`, `npm` and `JDK`. I am of the opinion that using `Node.js` in place of `npm` is better since `npm` is usually installed as part of `Node.js`. Other NUS-OSS projects also describe `Node.js` as a requiremen

[2022-04-28 03:00] yhtMinceraft1010X commented on #1764
Additional notes about possible redundant steps:
* The `Install packages` step in the Cypress CI is redundant since we do not have a `package.json` file in our project root. I think we should remove it.
* Related to #1720, the `Set up Node.js` step (and possibly `Set up Node caching`) may not be needed.
* The Cypress CI also has a `Set up Cypress` step which may also be redundant since there is an

[2022-04-28 03:15] yhtMinceraft1010X commented on #1286
As mentioned in #1720, the `npm` used in Gradle is from the `./build/node/` directory, which is within the project itself. However, a manual installation of Node.js and npm would be done on a directory outside of the project, with the `PATH` variable set.

The reason why npm commands fail without the npm prerequisite is because the npm installed by Gradle is not added to the system `PATH` variable

[2022-04-29 08:51] tlylt opened #1768 "publish-reposense's author-config.csv is out of date"
**Tell us about your environment**
Ubuntu-latest (In GitHub Actions CI)

* **RepoSense Version:** a4ee1877a9
* **OS and Version:** Ubuntu-latest (In GitHub Actions CI)
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**
Check the config file at https://github.com/reposense/publish-RepoSense/blob/master/configs/author-config.csv

**What was expected to

[2022-04-29 16:35] yhtMinceraft1010X opened #1769 "Implement more Checkstyle checks"
**What feature(s) would you like to see in RepoSense?**

While working on https://github.com/se-edu/addressbook-level3/pull/133, I found additional checks that could be useful for us:
* [JavadocTagContinuationIndentation](https://checkstyle.sourceforge.io/config_javadoc.html#JavadocTagContinuationIndentation) - Check for Google Java Style Guide requirement of [4 whitespaces for continuation lines

[2022-04-29 16:58] yhtMinceraft1010X opened #1770 "Parallelize backend tests"
**What feature(s) would you like to see in RepoSense?**

The `Test` class in Gradle has a [`maxParallelForks` property](https://docs.gradle.org/6.9.2/dsl/org.gradle.api.tasks.testing.Test.html#org.gradle.api.tasks.testing.Test:maxParallelForks) that would allow multiple JUnit test classes to run at the same time. Running test classes in parallel can reduce the build time.

**Potential Problem**

A

[2022-04-29 17:42] tlylt opened #1771 "Add/Document a GitHub Action to automate publishing of the report"
**What problem(s) did you run into that caused you to request additional documentation? What, if any, existing documentation relates to this proposal?**

Hi RepoSense devs,

I was looking through the UG, especially the section on deploying RepoSense report via GitHub Actions here: https://reposense.org/ug/withGithubActions.html

I thought the need to fork a repository in order to set up a RepoSens

[2022-05-03 05:55] yhtMinceraft1010X commented on #1759
I made a new release and updated the docs. The images are working fine now:
![Screenshot (274)](https://user-images.githubusercontent.com/69678785/166409983-24cf784d-f08e-4283-abef-acabfdbd4539.png)