[2022-05-03 10:39] tlylt commented on #1205
Hi @damithc, currently the page does include a link to the `user guide > Using reports` here:

Would this be sufficient already or is there anything else left for this issue?

Screenshot for reference:
![image](https://user-images.githubusercontent.com/41845017/166439249-e7065050-632c-4e54-83a8-e21f29c507df.png)

[2022-05-03 10:53] damithc commented on #1205
And there is another link to the user guide at the bottom of the left panel. Yes, I guess this is enough.

[2022-05-03 10:53] #1205 closed

[2022-05-05 10:34] damithc opened #1772 "Code panel collapses files even if there are only a few files"
I noticed that the code panel collapses some files even when the number of files is small (e.g., there were only 4 files and 3 were collapsed). What's the threshold condition for collapsing the code view of files?

![image](https://user-images.githubusercontent.com/1673303/166906590-c43819e8-d2dc-47a2-8fa6-04e4dc3a3e6c.png)

Report in concern is [here](https://nus-cs2103-ay2122s2.github.io/ip-dash

[2022-05-06 01:20] tlylt commented on #1102
Hello,

I think making deployment of the dashboard independent of the outer site that is currently utilizing the GitHub Pages may indeed be troublesome due to interference (being overridden by the outer layer static site generator).

From my investigation, I realize that if we can make use of the existing support of the static site generators to include the dashboard without making further unwante

[2022-05-06 01:25] tlylt commented on #1759
Thanks, @yhtMinceraft1010X! I can verify that indeed the images are correctly displayed in the production DG now. Wonder if it is beneficial to put a note in the project management section of the DG as something to check after deploying to production? If not, perhaps we can safely close this issue for now:)

[2022-05-06 07:03] damithc commented on #1772
@gok99 any idea about this one?

[2022-05-06 09:28] gok99 commented on #1772
It seems like the overall character threshold set it in #1647, somewhat arbitrarily at 100k characters, is hit if both `DeveloperGuide.md` and `UserGuide.md` were to be un-collapsed. The overall character limit has a few associated issues and was largely meant to be a temporary solution until lazy-loading is fully realized in #1750.

As a temporary fix, we could raise the overall character limit t

[2022-05-06 09:31] damithc commented on #1772
Thanks for the followup @gok99
Yes, let's raise the limit for the time being, as it would be an easy fix (right?).

[2022-05-06 10:03] gok99 commented on #1772
Yes it should, after some playing around my computer seems to able to handle up to 3M character files without much trouble. I'll set the new limit at 3M.

[2022-05-06 12:48] yhtMinceraft1010X opened #1774 "GitHub Actions: Failing CI for system tests and frontend tests"
**Tell us about your environment**

* **RepoSense Version:** varies
* **OS and Version:** Any OS
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. Re-run CI for `ubuntu-18.04 JDK 8` (can substitute with any other OS) and `Cypress frontend tests` (Example given [here](https://github.com/reposense/RepoSense/runs/6322483468?check_suite_focus=true))

[2022-05-06 18:07] damithc commented on #1102
Thanks for looking into this @tlylt
I'm not sure if it will work for the use case of deploying code dashboards as part of CS2103 website. This is because CS2103 website is already heavy and the build is slow, I'd rather not add RepoSense report to it.
I think for now we can put this on hold because the the requested feature (I'm the guilty party) is not very sound, in retrospect. This is because t

[2022-05-07 00:14] tlylt commented on #1102
That's very true. My suggested integration can't work well if the generation step takes a long time (might still work in CI to just let it run to completion behind the scene, but for larger sites indeed it might be too slow and doesn't make sense to involve the redeployment of the main site for the sake of the report).

As for the navigating to the report part, I agree that the integration only to

[2022-05-12 11:51] yhtMinceraft1010X opened #1778 "Combining --since d1 with --period gives invalid date ranges"
**Tell us about your environment**

* **RepoSense Version:** Latest commit in `master` branch as well as a branch for fixing CI fails related to `--since d1`
* **OS and Version:** Windows 11
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. (For developers) Run `gradlew run -Dargs="--config frontend/cypress/config --since d1 --period 30d --view"

[2022-05-12 11:52] yhtMinceraft1010X commented on #1778
I'm assigning this to myself since I'm already fixing `--since d1` behaviour in #1776

[2022-05-12 12:09] yhtMinceraft1010X opened #1779 "Pretty print JSON files from report generation"
**What feature(s) would you like to see in RepoSense?**

The contents of `summary.json`, `authorship.json` and `commits.json` are in one single line. For very large json files, the content is arranged such that it can fit on the screen but it is still very messy.

**Is the feature request related to a problem?**

Whenever a system test fails due to differences in the expected vs actual json file,

[2022-05-12 13:05] yhtMinceraft1010X commented on #1779
Closing issue since this was an intentional change: https://github.com/reposense/RepoSense/commit/8667b67d7019a969c6463686b0c8855f46894359

[2022-06-05 07:09] Punpun1643 opened #1782 "Build failed when verifying the setup"
Hi! I am trying to set up the project. However, while verifying my setup, I face build failure issue below:

**Tell us about your environment**

**RepoSense Version:** `master` branch ([my forked repo](https://github.com/Punpun1643/RepoSense.git))
**OS and Version:** macOS Monterey 12.2.1

**Please include the steps to reproduce the bug.**
1. `./gradlew clean build`
2. `./gradlew test systemtest`

[2022-06-05 07:41] SkyBlaise99 opened #1783 "System Test Failed"
**Tell us about your environment**

* **RepoSense Version:** `master` branch in [my forked repo](https://github.com/SkyBlaise99/RepoSense)
* **OS and Version:** Windows 11
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

Following the [setup guide](https://reposense.org/dg/settingUp.html#verifying-the-setup) here until step 3

1. `./gradlew clean

[2022-06-05 08:01] yhtMinceraft1010X commented on #1783
Thanks for opening this issue.

I have opened PR #1776 to fix the failing system test issue. Feel free to contribute what's mentioned in the **Note** .

[2022-06-05 08:05] yhtMinceraft1010X commented on #1782
Thanks for opening this issue. There are already PRs available for some of what is mentioned:
* #1762 - Update of node packages.
* #1780 - Upgrade to Gradle 7.

As for the `installFrontend` failure, I am not sure what is happening at the moment.

[2022-06-05 08:10] SkyBlaise99 commented on #1783
I'm not sure if this is the intended behavior since I'm new here. I did try to add a `h` into it and it seems to fix the error but the passing rate drops from 57% to 14%.

[2022-06-05 08:12] yhtMinceraft1010X commented on #1783
Actually, this is intended. The missing `h` is meant to demonstrate logging the detection of an invalid link, but this shouldn't result in the test failing.

[2022-06-05 08:16] SkyBlaise99 commented on #1783
So it's ok to leave the `system test` as such?

[2022-06-05 10:45] yhtMinceraft1010X commented on #1783
Yes.

[2022-06-05 15:29] #1774 closed

[2022-06-05 15:29] #1778 closed

[2022-06-06 01:03] yhtMinceraft1010X opened #1784 "GitHub Actions: Cypress tests are failing"
**Tell us about your environment**

* **RepoSense Version:** `master` latest
* **OS and Version:** GitHub Actions CI
* **Web Browser and Version (if applicable):** Chrome 102
* **Cypress Version:** 9.7.0

**Please include the steps to reproduce the bug.**

1. Run the cypress frontend tests on GitHub Actions for the latest CI

**What was expected to happen?**
All the tests pass

**What actually hap

[2022-06-06 01:05] yhtMinceraft1010X commented on #1784
I have created a [new branch](https://github.com/reposense/RepoSense/tree/1784-investigate-failing-cypress) to investigate this since I intend to use `{force: true}` as a hotfix to get CI to pass again.

[2022-06-06 05:03] yhtMinceraft1010X commented on #1784
To add-on, I noticed these 2 lines in the GitHub Actions whenever Cypress fails:
![Screenshot (290)](https://user-images.githubusercontent.com/69678785/172097758-00e7901c-b261-4d24-8bbe-73938e4f9b46.png)

The elements that are blocking interaction with the elements being checked are `vld-background` and `vld-icon`, which are for the `vue-loading-overlay`. My hypothesis is that the tests are stuck

[2022-06-06 05:18] damithc commented on #1784
Not sure if related but these recent iP dashboards are stuck at loading screen too:

https://nus-cs2103-ay2122s2.github.io/ip-dashboard/
https://nus-tic4002-ay2122s2.github.io/ip-dashboard/

But these tP dashboards are not stuck
https://nus-cs2103-ay2122s2.github.io/tp-dashboard/
https://nus-tic4002-ay2122s2.github.io/tp-dashboard/

[2022-06-06 16:31] Punpun1643 commented on #1782
Hi @yhtMinceraft1010X, thank you for the response!

I tried doing the necessary updates to match both the PRs mentioned. Link to the updates could be found in [this branch](https://github.com/Punpun1643/RepoSense/tree/fix-setup)
I think the Gradle upgrade seems to work. However, I am still facing issues on the task `:installFrontend` even after updating the node packages as per https://github.com/

[2022-06-07 08:30] #1783 closed

[2022-06-07 12:04] yhtMinceraft1010X commented on #1782
@Punpun1643 What's your Node version?

We currently use Node 14.

[2022-06-11 08:19] Punpun1643 commented on #1782
@yhtMinceraft1010X, sorry for the late response. I have managed to set up successfully after downgrading to `v14.19.0`. Thanks a lot for the help!

[2022-06-11 08:19] #1782 closed

[2022-06-15 00:45] #1784 closed

[2022-06-15 05:02] yhtMinceraft1010X commented on #1784
Branch is deleted now that issue is solved.

[2022-06-15 05:17] damithc commented on #1784
These two are working now. Thanks everyone who helped to solve it 💯

[2022-06-15 07:09] christophhalbi opened #1788 "Option to merge/map git-users"
**What feature(s) would you like to see in RepoSense?**

It would be quite useful to merge/map git-users of same origin to one user.

**Is the feature request related to a problem?**

Problem: the "same" (git-)user commits into the repo with different usernames like

[code]

**If possible, describe the solution**

You could bring in an option to merge/map git usernames into one user.

[2022-06-15 08:08] damithc commented on #1788
@christophhalbi Indeed, authors using different git usernames is a problem. The current remedy is to specify those different git usernames in the `Author's Git Author Name` of the author-config.csv https://reposense.org/ug/configFiles.html#author-config-csv after which RepoSense will consider all of them as one author and merge their activities together.
Is that along the lines of what you had in

[2022-06-15 08:10] christophhalbi commented on #1788
@damithc Thx! That looks great, I'll have a look.

[2022-06-15 11:43] SkyBlaise99 opened #1789 "Intended behavior of `extractDate()` in `TimeUtil`?"
Hi RepoSense devs,

In Phase 2, I discovered this weird part of `extractDate()` in `TimeUtil`. As seen [here](https://github.com/reposense/RepoSense/blob/master/src/main/java/reposense/util/TimeUtil.java#L165-L175), `extractDate()` extracts the date only if it matches `DATE_FORMAT_REGEX`, else returns the input `date`.

According to `DATE_FORMAT_REGEX`, I believe the accepted format is in `dd/mm/y

[2022-06-15 11:44] SkyBlaise99 commented on #1789
I'm not sure how to add a `c.Question` tag for this

[2022-06-16 02:13] SkyBlaise99 commented on #1674
Hi, I would like to ask if it is ok for me to work on this issue?

[2022-06-16 05:39] yhtMinceraft1010X commented on #1674
Sure.

[2022-06-16 05:43] yhtMinceraft1010X commented on #1674
I've edited the recommended approach.

[2022-06-16 09:04] SkyBlaise99 commented on #1674
Ok thank you 😄

[2022-06-16 09:34] SkyBlaise99 commented on #1674
Should I keep some of the setters to allow `String` inputs? Basically there will be 2 setters for `ZoneId`.

[code]

[2022-06-17 01:47] SkyBlaise99 commented on #1789
Hi, any update on whether this is a bug that need to be fixed?

[2022-06-17 10:29] SkyBlaise99 commented on #1726
Hi, I wonder if this is still ongoing and if I can attempt it? I have an idea for the 2nd point regarding `author-config.json`.

[2022-06-17 12:32] yhtMinceraft1010X commented on #1789
`1/1/2022` is also intended to work here.

The real problem lies in the use of `01/01/2022addedstring` vs `1/1/2022addedstring`. For the former, the `DATE_FORMAT_REGEX` can extract out `01/01/2022`. For the latter, it will fail.

Feel free to fix this peculiarity. Do take note of the following:
* It's great that your PR also takes into account `dd/m/yyyy` and `d/mm/yyyy`
* Right now, we are not su

[2022-06-17 12:41] SkyBlaise99 commented on #1789
Sure, I will make it a feature request and put my PR under that. Will this be ok?

[2022-06-17 13:42] yhtMinceraft1010X commented on #1789
Ok. For the PR for this issue, please remove the changes which add new date formats or uses `.` or `-` instead of `/` before opening the PR.

[2022-06-17 13:54] SkyBlaise99 commented on #1789
Alright, thank you!

[2022-06-17 13:54] #1789 closed

[2022-06-17 14:07] yhtMinceraft1010X commented on #1725
Closing this issue since it's likely to be a hassle to update `package.json` every time a new release is made.

[2022-06-17 14:07] #1725 closed

[2022-06-17 14:26] yhtMinceraft1010X opened #1791 "Continuous Integration: Switch to package-lock.json and npm ci"
**What feature(s) would you like to see in RepoSense?**

As mentioned in https://github.com/reposense/RepoSense/pull/1785#issue-1262024127, we should consider switching to using [`package-lock.json`](https://docs.npmjs.com/cli/v8/configuring-npm/package-lock-json) and [`npm ci`](https://docs.npmjs.com/cli/v8/commands/npm-ci) to ensure that dependency versions are fixed when running CI. This allows

[2022-06-17 14:45] yhtMinceraft1010X opened #1792 "Frontend DevOps: Use task type NpmInstallTask for npm install"
**What feature(s) would you like to see in RepoSense?**

The node plugin that we use for Gradle has an [`NpmInstallTask`](https://github.com/liferay/liferay-portal/tree/master/modules/sdk/gradle-plugins-node#npminstalltask). This is purpose-built and has properties which are specific to the use of `npm install`. Related to #1791, this task also comes with an option to use `npm ci`.

**If possible,

[2022-06-19 08:27] SkyBlaise99 commented on #1726
Hi @chan-j-d, any update on this?

[2022-06-19 08:51] chan-j-d commented on #1726
Hi @SkyBlaise99, apologies I missed your original message. You're welcome to attempt any of them!

[2022-06-20 03:22] SkyBlaise99 opened #1793 "`extractDate()` unable to process `1/1/2022addedstring`"
**Tell us about your environment**

* **RepoSense Version:** [`70b7185`](https://github.com/reposense/RepoSense/commit/70b71850c4ef2d6757ea993f69398a55a5244b78)
* **OS and Version:** Windows 11
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. Run `main` with `-s 1/1/2022addedstring` as input argument.

**What was expected to happen?**

As discu

[2022-06-20 03:23] SkyBlaise99 commented on #1793
I will just grab from my [Phase 2](https://github.com/SkyBlaise99/RepoSense/pull/2) for this

[2022-06-20 03:41] SkyBlaise99 opened #1794 "Allow other date formats"
**What feature(s) would you like to see in RepoSense?**

Currently the only supported date format is `d/M/yyyy`. We can allow other different formats such as `d-M-yyyy`, `d.M.yyyy`, or even reverse the order (e.g. `yyyy/M/d`).

**If possible, describe the solution**

[`DATE_FORMAT_REGEX`](https://github.com/reposense/RepoSense/blob/master/src/main/java/reposense/util/TimeUtil.java#L19-L20) and [`e

[2022-06-20 07:20] damithc commented on #1789
I think this (un-advertised) behavior is good to retain. Reason: It allows a slightly looser interpretation of the given format, as some users might not realize `dd` means strictly two digits.

[2022-06-21 02:22] SkyBlaise99 commented on #1789
I agree it should be retained.

As a quick summary of my doubt, I found out that

1. `01/01/2022`: accepted
1. `01/01/2022 abc`: accepted
1. `1/1/2022`: accepted
1. `1/1/2022 abc`: error

Hence I was confirming that we are allowing single digit dates as inputs, and depending on the answer, update the behavior for the last row.

This [PR]() that I created resolves this by updating the regex. Now th

[2022-06-21 04:51] damithc commented on #1789
Regarding 2 and 4, either both should be allowed or both should be rejected. So, there's definitely something to be fixed. What's the justification for allowing it?

[2022-06-21 09:41] SkyBlaise99 commented on #1789
Basically the same reason as you mentioned here.

[2022-06-21 15:08] damithc commented on #1789
Right. At first I thought `01/01/2022 abc` was actually an incorrect input due to `abc` but realized it's a legit input.

[2022-06-21 17:06] bingsen0806 commented on #1118
Hi @damithc can I confirm that no one is currently working on this? I would like to take on this issue as a first timer.

[2022-06-21 17:22] litone01 commented on #452
Hi so sorry for holding off this issue. I am not working on it currently. Please check with the maintainers and if they are ok with it, please feel free to proceed. Thanks.

[2022-06-22 11:27] SkyBlaise99 commented on #1789
`01/01/2022 abc` is a valid input as it will be processed by `extractDate()` which will return `01/01/2022`. Since `01/01/2022` and `01/01/2022 abc` are both accepted, I believe that both `1/1/2022` and `1/1/2022 abc` should be accepted. Therefore it is a bit strange to only accept one of them.

And I think it is pity to drop this feature, hence I modified the regex to accept it.

[2022-06-22 12:33] damithc commented on #1789
Yes, I agree @SkyBlaise99

[2022-06-24 03:51] SkyBlaise99 commented on #1726
@chan-j-d I have a question regarding my part about the backward compatibility.

Would you like the program to just be able to read from older `author-config.json`, or to also update the header from `Author's GitHub ID` to `Author's Git Host ID` also?

[2022-06-24 10:42] SkyBlaise99 commented on #1726
The part on the backward compatibility might involve changing quite a lot of the codes. Currently the parsers recognize the header using the `XXX_HEADER` strings that we defined.

What I have in mind is to change this into an array that stores both the new and old headers. So something like

[code]

Doing so will allow the parser to scan through the array to ensure that none of the headers match.

[2022-06-24 13:34] chan-j-d commented on #1726
I think I prefer the first solution, allowing the program to read the additional header. If I'm understanding what you mean by the second solution correctly, I think updating the user's file is not a simple task. What I had in mind is more in line with what you're suggesting in the next comment though I didn't actually think it would require a lot of changes.

[2022-06-24 15:20] damithc commented on #1794
Decided against this enhancement, due to low value (see #1794 for details). Can be revived in future, is the value of supporting more data formats increases due to changes in other features.

[2022-06-24 15:24] SkyBlaise99 commented on #1726
Ok noted.

For this, I had already given it a quick try. Basically when I change to `String[]`, a lot of the type needs to be changed as well. For example, `String[] mandatoryHeaders()` will have to be changed to `List<String[]> mandatoryHeaders()`. And since it extends from CsvParser, the other files will also need to be updated as well. As a side effect, `String[] optionalHeaders()` is also affe

[2022-06-26 07:34] Punpun1643 commented on #1538
Hi, is this issue still relevant? Would it be ok for me to work on this?

[2022-06-26 09:06] chan-j-d commented on #1538
@Punpun1643 You're welcome to work on the issue

[2022-06-26 13:39] jbkim1999 commented on #1514
Hi! May I take this issue?

[2022-06-27 15:46] chan-j-d commented on #1514
@jbkim1999 It has been assigned to you

[2022-06-29 08:25] SkyBlaise99 commented on #1726
I'm giving part 4 a try also.

[2022-06-29 15:34] SkyBlaise99 commented on #1726
Any chance there is some dummy repo from gitlab and bitbucket to be used directly?

[2022-06-30 07:24] SkyBlaise99 commented on #1726
For part 3, does unsupported link refer to those links other than github, gitlab and bitbucket? If so, I can just do it together with part 4 to avoid future merge conflict.

[2022-06-30 08:02] SkyBlaise99 opened #1801 "Wrong URL for author's profile link for supported repos (GitLab and BitBucket)"
**Tell us about your environment**

* **RepoSense Version:** [`44c44f5`](https://github.com/SkyBlaise99/RepoSense/tree/1726-more-icons)
* **OS and Version:** Windows 11
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. Run `hotReloadFrontend` or
[code]
1. Select `Click to view author's profile` for `GitLab` or `BitBucket`

**What was expected to

[2022-06-30 13:59] gok99 commented on #1726
There currently exists an issue #1689 documenting broken report links. You could see if it makes sense to fix those issues with this one, and possibly add details / discussion.

[2022-06-30 14:09] SkyBlaise99 commented on #1801
@gok99 I think it is better to discuss what you mentioned ([link](https://github.com/reposense/RepoSense/issues/1726#issuecomment-1171256530)) here.

I feel like this is 2 separate issues. In #1689, you mentioned that either (a) or (b) is satisfied. In my case, both are not. That is, the remote repo exists and is supported by RepoSense. What I found is that the link for Github works but not for Gi

[2022-06-30 14:13] SkyBlaise99 commented on #1726
@gok99 do take a look [here](https://github.com/reposense/RepoSense/issues/1801#issuecomment-1171269376)

[2022-06-30 22:19] gok99 commented on #1726
@SkyBlaise99 oh yes, apologies for the confusion (I should have specified what I was responding to).

I meant to suggest that the two issues are in fact separate with separate fixes.

I was responding to your earlier reply to this issue on part 3's warning message where issue #1689 would be relevant.

[2022-07-01 03:24] SkyBlaise99 commented on #1726
@gok99 OK now I get what you mean. For task 3, I agree it is similar to #1689. In fact the only difference should be the handling of merge conflict actually. Perhaps @chan-j-d can take a look and decide what to do with task 3.

As for #1801, I agree that more discussion would be needed before implementing the solve. We can discuss more there.

[2022-07-01 19:23] chan-j-d commented on #1801
Add this line
`https://bitbucket.org/skyblaise/testrepo-bitbucket.git,master,skyblaise,,Shichen Zhang,SHICHEN ZHANG,`
to your `author-config.csv` file.

I am not sure if a cloned remote repo actually has information relating to your actual GitHub ID that is part of your GitHub URL. When cloning a remote repo where all the commits are merged directly on the site itself via pull requests, the defaul

[2022-07-01 19:40] chan-j-d commented on #1801
Side note, should probably link the branch itself (https://github.com/SkyBlaise99/RepoSense/tree/1726-more-icons) and specify `HEAD` commit instead of referencing it from `reposense` as I cannot directly clone from the link you provided. Had to browse around to find which remote branch the commit existed on.

Additionally, I believe the steps for replication could be simplified to something like r

[2022-07-01 19:56] chan-j-d commented on #1726
Apologies for the confusion. My original intention with part 3 was a direct result of the way I implemented handling of remote repo link generation that isn't GitHub, GitLab or BitBucket in that the URL generated is some variant of `UNSUPPORTED` which was not a good look. But it seems the core issue directly overlaps with #1689.

Also for this,

Probably shouldn't combine PRs together just to avoi

[2022-07-02 01:39] SkyBlaise99 commented on #1726
Ok, but my part 4 indirectly covers part 5 as a result of me adding the new repos to try out if the icons are working. But I think this is fine?

[2022-07-02 10:34] SkyBlaise99 commented on #1801
I see, I will update `author-config.csv` into #1800.

Thanks for the side notes, still quite new to this. I have updated it accordingly.

[2022-07-02 10:39] #1801 closed

[2022-07-02 14:25] jbkim1999 commented on #1498
I agree with @damithc. I believe that CSVParser commit should still have test label in it.

Perhaps I can take on with this issue? :)

[2022-07-02 18:20] chan-j-d commented on #1726
I don't think part 5 is quite that simple. I'll mention first that I was not the one who thought of part 5 for this issue. My understanding of it would be to not just add gitlab and bitbucket repos to `repo-config.csv` but also create an 'official' reposense organization and relevant test repos to be featured in the dashboard preview.

Perhaps @dcshzj can help clarify

[2022-07-03 09:19] chan-j-d commented on #1498
@jbkim1999 Issue has been assigned to you

[2022-07-09 05:56] SkyBlaise99 commented on #1770
For this, I think maybe we can try to change `outputFolderName`. So even if they are the same repo, the `outputFolderName` will be different and hence the 2 tests that relies on the same repo can be executed concurrently.

[2022-07-09 06:39] SkyBlaise99 commented on #1770
According to this [website](https://www.baeldung.com/junit-5-parallel-tests), the following can be added to `junit-platform.properties` file in `src/test/resources folder`.

Test Parallelization Within a Class: `junit.jupiter.execution.parallel.mode.default=concurrent`
Test Parallelization Within a Module: `junit.jupiter.execution.parallel.mode.classes.default=concurrent`

[2022-07-09 08:41] SkyBlaise99 commented on #1770
Currently I can lower it down to about 25s (originally ~40s?). But there are still some test cases that didnt pass. Got a half working branch [here](https://github.com/SkyBlaise99/RepoSense/tree/1770-parallelize-backend-tests).

Only problem left is the `.git-blame-ignore-revs` as it is now in a different directory as the others.

[2022-07-10 14:46] SkyBlaise99 commented on #1726
@dcshzj any updates on part 5?

[2022-07-11 03:33] dcshzj commented on #1726
Hello @SkyBlaise99, my apologies. I can't remember exactly the context when I added part 5, but I believe my intent was to add more repositories that clones from other git hosting providers. It does not necessarily need to be test repos, but just a generic repository so that we can verify that RepoSense works for places other than GitHub. With #1800, it also helps to ensure that code designed for

[2022-07-11 03:54] SkyBlaise99 commented on #1726
So I take it that part 5 is purely adding 2 repos that are not GitHub and testing out if the current code is able to work with them? Then how about my proposed solution for part 5 above? Just add 2 dummy repos I created? Would there be needs for more test cases?

[2022-07-11 04:02] SkyBlaise99 commented on #1770
@yhtMinceraft1010X what do you think about my idea?

[2022-07-11 04:23] dcshzj commented on #1726
Yup I think using 2 dummy repos is sufficient, I doubt there would be more test cases needed.

[2022-07-11 07:13] jbkim1999 commented on #946
Hi, I would like to attempt on this issue if this is still relevant.

[2022-07-11 11:08] SkyBlaise99 commented on #1726
Ok. In that case, can you assign me part 5 and I'll add my test repos back @chan-j-d? I'll see what I can do with the GitLab repo to make it public and accessible. If can't, I'll make a new one.

[2022-07-11 14:46] chan-j-d commented on #1726
It has been assigned to you. I would request that you also add some commits to the dummy repos such that when it shows up in the dashboard, there are also commits to click on in order to test those links

[2022-07-13 10:10] SkyBlaise99 commented on #1770
@yhtMinceraft1010X

For `systemtest`, I realized that it may not be possible to achieve parallel execution since the code for RepoSense doesn't really support parallelism. There are a lot of `static` variables that causes error when I try to run something in parallel.

I tried to break the methods down to achieve as much parallelism as possible. But the improvement in timing is pretty small (~3s).

[2022-07-13 14:43] #1764 closed

[2022-07-14 15:56] #1674 closed

[2022-07-16 12:51] SkyBlaise99 commented on #1753
I observed a lot of `logger.warning(...);` within the method. Perhaps I can shorten this method by extracting all the `logger` stuff into a new method that will be called at the end of the `processLine` method?

[2022-07-16 19:15] gok99 commented on #1753
Hey @SkyBlaise99. Moving out the logging would certainly reduce the method length but will probably adversely effect code quality. Some concerns:
- Method calls to the new logger method would probably need a very large (and ever growing) number of arguments. So, maintenance unpleasantness might just get shifted from `processLine` to the new logger method.
- Logging close to where relevant variable

[2022-07-17 02:12] SkyBlaise99 commented on #1753
I see, let me think about it again. Thank you.

[2022-07-17 08:55] ianfromdover commented on #1743
Might want to check out this internationalization plugin. https://kazupon.github.io/vue-i18n/

[2022-07-17 09:12] SkyBlaise99 commented on #1753
To address your conserns, I tried a new way. Code is available [here](https://github.com/SkyBlaise99/RepoSense/blob/trial-refactor-processLine/src/main/java/reposense/parser/RepoConfigCsvParser.java#L78).

Instead of calling the log msgs at the end, each msg is now called right after the variables are initialized with its value, just like how the current program flow is.

So for a typical part of

[2022-07-17 11:22] jbkim1999 commented on #946
Hi @damithc @chan-j-d

For `File Type` and `LoC`, since they are in the same icon label under current design,
I suggest when these are set as the sorting parameter, the icon label can be placed in front of others.

Specifically, for `LoC`, I would want to suggest flipping the file type and LoC to clearly depict the sorting parameter.

For `Path` and `File Name`, I want to follow one of the suggest

[2022-07-17 13:34] damithc commented on #946
@jbkim1999 as this is a visual tweak, it's hard to predict which one is best. Try different options and see how they appear to the user. When you have narrowed it down to a few equally good choices, you can post screenshots here to seek others' opinions too.

[2022-07-17 13:36] jbkim1999 commented on #946
@damithc I see. In that case, can I make a PR and show the screenshots there? Since it requires a code change I might need to create a branch for the change.

[2022-07-17 13:38] jbkim1999 commented on #946
Now that I see, I think I would create a separate branch and try out different options, post the screenshots here, and make a PR once that visual changes are approved.

[2022-07-18 10:22] SkyBlaise99 commented on #1684
Can I attempt this or is it still under discussion?

[2022-07-19 02:28] SkyBlaise99 commented on #1753
Hi @gok99 any feedbacks? Or would it be better if I make a PR to show you.

[2022-07-19 03:25] damithc commented on #1769
Looks like the bot auto-closed this. Should it be closed?

[2022-07-19 05:27] yhtMinceraft1010X commented on #1769
I plan to keep this open since there may be more checks that we need to implement.

[2022-07-19 05:29] yhtMinceraft1010X commented on #1684
This is still under review. One concern I have is that the proposed usage of logging levels here may be incorrect/against convention.

[2022-07-19 05:30] yhtMinceraft1010X commented on #1758
Reopening as this is worth looking at.

[2022-07-19 05:35] yhtMinceraft1010X commented on #1765
This issue should be left open until #1786 is either merged or closed with the conclusion that using `npm` suffices.

[2022-07-19 06:01] SkyBlaise99 commented on #1684
I see. Just some clarification regarding this improvement that you might want to add on to the description.

Currently `LogsManager` controls logging to both console and file. I believe what you want is to only change the level of logging for the console. `currentFileLogLevel` should be now set to `Level.FINER` so all the logs will still be shown in the files.

Actually my idea for this will be th

[2022-07-20 02:52] SkyBlaise99 commented on #1684
Anyways I wrote some code [here](https://github.com/SkyBlaise99/RepoSense/tree/trial-quiet-mode-for-logging) which can be used in the future when the details are finalized. Just need to update the levels etc. I have included the `quiet` and `debug` flags and updated `InputBuilder` for `systemtest`.

[2022-07-20 03:53] SkyBlaise99 commented on #1754
Hi prof, can I take this issue?

I would also want to clarify that `GitHub usernames` refers to `Author's GitHub ID` and `Git author name` refers to `Author's Git Author Name`?

[2022-07-21 17:03] damithc commented on #1754
@SkyBlaise99 sure, go ahead. Yes, in your case it would be `SkyBlaise99`

[2022-07-22 02:12] #1637 closed

[2022-07-22 03:18] #1661 closed

[2022-07-23 12:27] jbkim1999 commented on #946
@damithc

Hi Prof,

Here is one implementation I tried. The idea is to put whichever sort parameter being used in front of the title.

There are four sort parameters: `lineOfCode`, `fileName`, `path`, and `fileType`.

I noticed `lineOfCode` and `fileType` are merged together in an icon (`fileTypeLabel`).
When these two are used, then `fileTypeLabel` should be placed in front.
More specifically, wh

[2022-07-23 14:33] jbkim1999 opened #1809 "Unclear percentage meaning under summary-charts when groups are sorted by contribution"
**What feature(s) would you like to see in RepoSense?**

<img width="705" alt="image" src="https://user-images.githubusercontent.com/60286063/180609307-cce9cf74-0772-40e8-a61b-008e3df6b349.png">
When the groups are sorted by the amount of contribution, a percentage label appears; however, no other information is provided for that number, which could be confusing to the viewers. <br/><br/>

**If po

[2022-07-23 14:49] dcshzj opened #1810 "Filter by glob input does not allow user input"
**Tell us about your environment**

* **RepoSense Version:** https://github.com/reposense/RepoSense/commit/11421c8394bdca3464957d550186715e9a94bf0a (bug seems to have appeared since a very long time ago)
* **OS and Version:** macOS 12.3.1
* **Web Browser and Version (if applicable):** Google Chrome 103.0.5060.53

**Please include the steps to reproduce the bug.**

1. Navigate to the RepoSense dash

[2022-07-23 15:19] damithc commented on #1809
Yes, a popup containing a short description might work. But watch out for the increase in page size too. I'm a bit worried that adding a repetitive content can bloat the page size too much.

[2022-07-23 15:30] jbkim1999 commented on #1809
@damithc

I see your concern.

Is there a way to verify whether the page size has increased?
Is looking at the file size for `index.html` under `reposense-report` directory a correct way to verify it?

[2022-07-23 16:36] damithc commented on #1809
Probably, but best verified by a senior dev.

[2022-07-23 17:15] Punpun1643 commented on #1810
Hi, I also notice this bug earlier when working on the issue. Can I work on this?

[2022-07-23 18:10] damithc commented on #946
@jbkim1999 yes, that approach might work.
For the `fileName` case, should we put the file name itself in front? e.g., `variables.md [_markbind/site/]`

[2022-07-24 01:26] dcshzj commented on #1810
@Punpun1643 Sure! Please go ahead, I have assigned the issue to you.

[2022-07-24 01:32] dcshzj commented on #1809
The page size would be affected by the size of `js/app.js` in the `reposense-report` directory. I think this change should be not too significant, and only the text needs to be adjusted for each instance of the modal.

In the future, it is likely that we need to do proper profiling of the frontend performance to see where our bottlenecks are.

[2022-07-24 03:23] jbkim1999 commented on #1809
@dcshzj

I see. Then could you assign me on this one? I will see how the size varies after the change.

[2022-07-24 03:25] SkyBlaise99 commented on #1754
Hi prof @damithc, I need some clarification from you regarding this.

Does this apply to `Git author name` as well? Currently what I'm doing is to store `gitId` and `authorAliases` in lower case when `Author` object is constructed. Therefore when `getAuthor` is called, the lowercase will give a match which is case-insensitive.

[2022-07-24 03:32] jbkim1999 commented on #946
@damithc

I thought about that one too, but I was a bit worried that it would make the path look broken, looked more complete when filePath and fileName were put together.

[2022-07-24 06:02] damithc commented on #1754
@SkyBlaise99 We automatically consider the GitHub username as one of the Git author names. So, at least that author name needs to be case insensitive. But it's OK to make the reset of the Git author names case insensitive as well.

[2022-07-24 08:40] jbkim1999 commented on #946
For `path` and `fileName`, I also tried making the sort parameter bold instead of a square bracket,
but the bold effect was too weak, so I believe square bracket is a better approach.

<img width="706" alt="image" src="https://user-images.githubusercontent.com/60286063/180639373-dc9b1f00-6254-4613-b11b-31a565981bae.png">

[2022-07-24 10:36] fyusuf-a opened #1813 "Bug: RepoSense cannot clone a repository"
**Tell us about your environment**

* **RepoSense Version: 07d6ce9e9c**
* **OS and Version: Ubuntu 20.04.4 LTS**
* **git version: 2.25.1**

**Please include the steps to reproduce the bug.**

1. Run `java -jar RepoSense.jar --repos https://github.com/fyusuf-a/ft_transcendence.git --view`

**What was expected to happen?**

Cloning of the repository should work. A `git clone https://github.com/fyusu

[2022-07-25 12:35] yhtMinceraft1010X opened #1815 "ESLint Indentation Check level is Incorrect"
**What was expected to happen?**
According to our [JavaScript coding standards](https://se-education.org/guides/conventions/javascript.html), an indentation level should have 2 spaces. Therefore code like the below should fail `lintFrontend`:

https://github.com/reposense/RepoSense/blob/11421c8394bdca3464957d550186715e9a94bf0a/frontend/cypress/tests/chartView/chartView_contributionBar.js#L11-L12

[2022-07-26 05:44] SkyBlaise99 commented on #1645
@chan-j-d, I think this can be done using `InputBuilder`. I realise that in `generateReport()`, these 2 are handled by

[code]

I believe the same can be done for the other variables. Namely `TEST_REPORT_GENERATION_TIME` and `shouldFreshClone` can be included into `ArgsParser`. Perhaps we can specify a `Test Mode Flag` in `ArgsParser` which is used for this senario.

[2022-07-26 08:39] SkyBlaise99 commented on #1645
@chan-j-d can I try this issue? My idea is to add new flags into `ArgsParser`, like a `-T` test flag etc, and make `main` react differently, but minimally, when this flag is found.

[2022-07-26 15:01] #1538 closed

[2022-07-26 15:15] #1498 closed

[2022-07-26 17:33] chan-j-d commented on #1645
I'm not too sure I understand the approach you're taking. Drawback 3 has been somewhat addressed in this PR https://github.com/reposense/RepoSense/pull/1746. I think that PR was the main direction I had in mind where we construct tests in the form of CLI command arguments and just pass it into `main` instead of doing part of the parsing and config setting in the system test class.

You could share

[2022-07-27 02:52] SkyBlaise99 commented on #1645
A new flag is definitely required for `shouldFreshClone` though

[2022-07-27 09:31] SkyBlaise99 commented on #1645
@chan-j-d you can take a look at PR #1816 I just made.

[2022-07-27 09:44] SkyBlaise99 opened #1817 "Continuous Integration for macos-10.15 is always cancelled"
**Tell us about your environment**

* **RepoSense Version:** linked the PRs
* **OS and Version:** Windows 11
* **Web Browser and Version (if applicable):**

**Please include the steps to reproduce the bug.**

1. push my branch to trigger github checks

**What was expected to happen?**
The checks run and either pass or fail.

**What actually happened? Please include a screenshot of the output.**
`C

[2022-07-27 10:05] SkyBlaise99 opened #1818 "Use `InputBuilder` for `LocalRepoSystemTest`"
**What feature(s) would you like to see in RepoSense?**

In #1746, all the test cases uses CLI inputs like this:

[code]

This can be troublesome and error-prone.

**If possible, describe the solution**

`ConfigSystemTest` on the other hand uses `InputBuilder` which offers methods to craft and build CLI inputs.

[code]

[2022-07-27 10:08] SkyBlaise99 commented on #1818
@chan-j-d what do you think about this?

[2022-07-29 05:37] yhtMinceraft1010X commented on #1813
Thank you for raising this up. I tried this on Windows 11 with git `2.35.1.windows.2`. This is my log output:
[code]

In your case, this may have happened: https://stackoverflow.com/questions/43989902/git-pull-smudge-filter-lfs-failed

[2022-07-29 05:43] yhtMinceraft1010X commented on #1817
The GitHub Action for `macos-10.15` is being [deprecated](https://github.com/actions/virtual-environments/issues/5583).

I noticed from your screenshot timestamp that the date and time is within the brownout period of `July 27, 00:00 UTC - July 28, 00:00 UTC`.

We are in the midst of [removing support for this version](https://github.com/reposense/RepoSense/pull/1811). There is no need to worry ab

[2022-07-29 06:22] yhtMinceraft1010X commented on #1813
You may be able to find something similar in your logs. The directory for RepoSense logs is `<working directory>/<output directory>/logs`. For `<output directory>`, the default name is `reposense-report`.

[2022-07-29 18:09] chan-j-d commented on #1818
@SkyBlaise99 Sounds good to me. If you don't intend to work on this issue, I think we can set it as a good first timer issue

[2022-07-30 00:47] SkyBlaise99 commented on #1818
Sure no problem.

[2022-07-31 06:57] #1817 closed

[2022-07-31 07:38] #1754 closed

[2022-07-31 08:01] #1753 closed

[2022-08-01 10:35] SkyBlaise99 commented on #1770
Note to anyone who wishes to work on this, `test` is now running in parallel. More details are in the merged PR above.

`systemtest` is not in parallel, which you can still work on. Of course, you are still welcome to improve on `test` if you wish to.

[2022-08-02 05:33] SkyBlaise99 commented on #1818
@chan-j-d gentle reminder to add the first timer tag if you still want to.

[2022-08-04 08:45] fyusuf-a commented on #1813
Yes, it seems to be a `git-lfs` error. Please note that I have `git-lfs` installed and that a `git clone` of the project works.
[code]

[2022-08-06 05:08] lawwm commented on #1818
I'll be working on this issue.

[2022-08-07 09:52] dcshzj commented on #1818
@lawwm Sure! I've assigned you the task, let us know if you have any questions!

[2022-08-07 13:52] #1645 closed

[2022-08-09 03:05] #1765 closed

[2022-08-11 02:56] #946 closed

[2022-08-13 13:00] #1818 closed

[2022-08-14 15:58] lawwm commented on #1813
Hi, I would like to investigate this issue.

[2022-08-15 02:25] #1748 closed

[2022-08-15 07:47] lawwm commented on #1813
This is what I think causes the error. In the application, it first runs `git clone --bare` into a local directory. Then it tries to `git clone` from that bare local directory later on which is what causes the exception.

1. The tracked LFS files are stored in the remote git repo on the Git host.
2. During the first `git clone --bare`, the remote origin of the first local repo is set to the remote

[2022-08-16 00:33] LuoZhijie-tom commented on #1689
Hi is this issue still open? It is OK to work on this issue?

[2022-08-16 01:45] gok99 commented on #1689
Sure, I've assigned you the issue!

[2022-08-16 01:50] LuoZhijie-tom commented on #1689
OK thanks! Shall I hide the button when the link doesn't work?

[2022-08-16 01:58] gok99 commented on #1689
Yes, that appears to be the conclusion from above.

@Zhou-Jiahao-1998, do update this thread if you have better ideas for handling missing/unsupported remotes.

[2022-08-16 02:08] Zhou-Jiahao-1998 commented on #1689
@gok99 Actually now that I think about it again, I prefer disabling the button and add a hover message. That way the user won't be able to click and is likely gonna see an explanation in the hover message. Hiding without stating anything might cause confusion?

[2022-08-16 02:24] gok99 commented on #1689
@Zhou-Jiahao-1998 That makes sense!

@LuoZhijie-tom You could do this instead

[2022-08-17 02:54] LuoZhijie-tom commented on #1689
OK sure!

[2022-08-17 09:14] damithc opened #1825 "User Guide: Give more info on the File Size Limit"
In https://reposense.org/ug/configFiles.html#repo-config-csv the following description of the `File Size Limit` appears.

![image](https://user-images.githubusercontent.com/1673303/185080994-9da6fad4-2560-45d5-80d4-a0fa3c5b6779.png)

Suggestions/questions:
* Specify the default file size referred in the description
* Give an example
* Also mention how the file size limit (default or otherwise) aff

[2022-08-17 09:51] gok99 commented on #1825
Hi prof @damithc,

- I think it makes sense to include the exact limit in the documentation. I believe I omitted it at the time to avoid having to remember to fix documentation if/when we decide to adjust the limits, but the benefits of clarity from including it in the documentation is probably greater than the cost.
- There exists an example of the file size limit column in the example [repo-conf

[2022-08-17 17:14] damithc commented on #1825
👍

Good to give one here too. For example, how to indicate a size of 1MB.

👍

Ah, misread it. Somewhat related: add a line break here?
![image](https://user-images.githubusercontent.com/1673303/185201210-e3c5c4a0-0d22-41b9-aacc-528494b13afe.png)

[2022-08-24 15:18] #1825 closed

[2022-08-24 15:38] #1809 closed

[2022-08-27 06:49] LuoZhijie-tom commented on #1613
Hi is this issue still open? It is OK to work on this issue?

[2022-08-27 06:51] LuoZhijie-tom commented on #1613
Hi is this issue still open? It is OK to work on this issue?

[2022-08-27 07:33] LuoZhijie-tom commented on #1665
Hi is this issue still open? It is OK to work on this issue?

[2022-08-27 07:39] dcshzj commented on #1665
@LuoZhijie-tom Sure! I have assigned you this issue. Let us know if you have any questions!

[2022-08-27 07:43] dcshzj commented on #1613
Hi @LuoZhijie-tom, this issue is still open but it might be a little difficult for new contributors. Perhaps I can suggest to [work on other tasks suitable for contributors](https://github.com/orgs/reposense/projects/1/views/1?filterQuery=status%3A%22For+contributors%22) instead?

[2022-08-27 08:50] LuoZhijie-tom commented on #1665
Thanks! May I ask do I need to remove the "v-" prefix from all components in the front end? Or do I need to replace "-v" with "-c"?

[2022-08-27 14:38] dcshzj commented on #1665
I think it would be good to just remove the "v-" prefix, not just for components but for all the files that contain it.

[2022-08-28 02:44] LuoZhijie-tom commented on #1613
OK sure!

[2022-08-29 00:56] LuoZhijie-tom commented on #1665
Hi can I add "-c" in front of each component? It turns out that "summary" is a build in html element, thus "v-summary" can't be renamed to "summary". But except for that, all other components can be renamed.

[2022-08-30 02:20] damithc opened #1831 "Glob filter is not editable"
Using latest master branch, on Chrome 104.0.5112.102

https://nus-cs2103-ay2223s1.github.io/ip-dashboard/?search=&sort=groupTitle&sortWithin=title&timeframe=commit&mergegroup=&groupSelect=groupByRepos&breakdown=true&checkedFileTypes=java~md~fxml~sh~bat~gradle~txt

![image](https://user-images.githubusercontent.com/1673303/187333747-e66f0774-2e8b-422f-83cd-b35b018d1431.png)

I'm not able to enter a

[2022-08-30 02:35] damithc opened #1832 "Repeat footer on both panels"
It's a bit odd that this footer appears on one panel only.
![image](https://user-images.githubusercontent.com/1673303/187335771-8c821431-2103-421f-a435-51e00ecc44e7.png)

Should we repeat it on both sides?

Other suggestions welcome.

[2022-08-31 02:11] gok99 commented on #1831
@damithc This issue has been documented in #1810 and should be fixed by #1827 (still open currently)

[2022-08-31 02:20] damithc commented on #1831
Got it. Thanks for checking @gok99  Let's get it merged soon as it is main feature in the UI.

[2022-08-31 02:20] #1831 closed

[2022-08-31 13:02] #1810 closed

[2022-09-01 04:58] Zhou-Jiahao-1998 opened #1833 "Add Test Cases for Filter Glob User Input"
**What feature(s) would you like to see in RepoSense?**

#1810 was fixed by #1827. However, no frontend test cases were added for this PR due to the high priority.
Please add Cypress test cases to ensure this feature works as expected and facilitate future testing.

**Is the feature request related to a problem?**

**If possible, describe the solution**

**If applicable, describe alternatives you'

[2022-09-01 05:42] Zhou-Jiahao-1998 commented on #1833
@Punpun1643 Hi you can work on this issue now. I am unable to assign the issue to you. Can you try assigning it to yourself?   You can refer to other test cases under `cypress` to get an idea on how to write the frontend test cases.

[2022-09-01 05:50] Punpun1643 commented on #1833
@Zhou-Jiahao-1998 Yup ok 👍

[2022-09-03 03:17] LuoZhijie-tom commented on #1340
Hi is this issue still open? Is it ok to work on it?

[2022-09-15 00:51] LuoZhijie-tom commented on #1340
Hi @dcshzj, I wonder if this is still ongoing and if I can attempt it?

[2022-09-24 12:23] damithc commented on #1340
@dcshzj what do you think?

[2022-09-26 15:33] lawwm commented on #1788
I will be looking into this.

[2022-10-09 09:44] lawwm commented on #1594
I will be looking into this.

[2022-10-09 14:03] lawwm commented on #1788
I've tried looking into the issue, but I'm not exactly sure what the problem is. It is possible that I missed out on something.

When I specify multiple `Author's Git Author Name` in the `author-config.csv`, it manages to merge them together into one author, so that method already works.

Is the issue then merging users when `author-config.csv` is not specified? In that case, `GitShortlog.getAutho

[2022-10-09 14:16] damithc commented on #1788
@lawwm Yes, the proposed feature is an alternative (or can be complementary) to the current way of specifying multiple author names.

[2022-10-12 14:47] lawwm commented on #1131
I will be looking into this.

[2022-10-15 04:18] LuoZhijie-tom commented on #1340
Hi @dcshzj, is this issue still unsolved? I wonder can I have a try?

[2022-10-16 07:31] #1689 closed

[2022-10-16 07:53] #1813 closed

[2022-10-24 02:21] Punpun1643 commented on #1833
Hi @Zhou-Jiahao-1998, I have made a PR for this at #1841, may I have a review for this? Thank you!

[2022-10-26 16:30] lawwm commented on #1788
`GitShortlog.getAuthors(config)` is used to get author names, which runs `git log --pretty=short | git shortlog --summary` to get git usernames. An email flag `--email` can be added to `git shortlog` to include git email.

Maybe different usernames can be mapped to the same email? However, I'm not sure if it would be a useful feature?

[2022-10-30 08:47] Punpun1643 opened #1842 "Request for reviews for PR #1841"
Hi reviewers, may I kindly request reviews for this PR #1841 that fixes #1833 as I'm hoping to wrap up this PR before the end of the semester.

Thank you so much for the help!

[2022-11-04 06:59] #1842 closed

[2022-11-04 07:05] damithc opened #1843 "Code view LoC numbers don't match the ramp view LoC numbers"
Example https://nus-cs2113-ay2223s1.github.io/tp-dashboard

![image](https://user-images.githubusercontent.com/1673303/199912234-0442bdb4-27d8-45b4-a813-ab3f46a72fa0.png)

[2022-11-27 04:07] damithc opened #1844 "Support Markdown comments for @@author tagging"
See https://github.com/nus-cs2103-AY2223S1/forum/issues/501

We can either support Markdown comment format, or minimally, document clearly that users need to use HTML comment format for @@author tags in Markdown files.